/* Estilo para el contenedor del chat en estado cerrado */
.chatAtc {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 150px;
  background: #ff4e56;
  height: 81.25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
  line-height: 12px;
  z-index: 200;
  cursor: pointer;
}

/* Estilo para el contenedor del chat en estado abierto */
.chatSTAtc {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 340px;
  background: white;
  max-height: 70vh; /* Define la altura máxima como un porcentaje del viewport */
  max-width: 340px; /* Define el ancho máximo */
  overflow-y: auto; /* Permite el scroll vertical si el contenido es más grande que el contenedor */
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del alto total */
  border-radius: 10px;
  z-index: 200;
  box-shadow: 0px 0px 2px 0px #c3c3c3;
}

/* Estilo para el botón de cerrar el chat */
.cerrarChatAtc {
  position: fixed;
  bottom: 10px;
  right: 30px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  z-index: 1000000;
  background: #ff4e55;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el botón de cerrar el chat en dispositivos móviles */
.cerrarChatMediaAtc {
  display: none;
}

/* Estilo para el triángulo del chat */
.trianguloChatAtc {
  position: fixed;
  transform: rotate(45deg);
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #ff4e56;
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 15px;
  z-index: 1;
}

/* Estilo para el header del chat */
.headerChatAtc {
  background: #ff4e55;
  border-radius: 8px 8px 0px 0px;
  .imgAsesorAtc {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    img {
      width: 55px;
      height: 55px;
    }
    .nombreAsesorAtc {
      width: calc(80% - 15px);
      text-align: left;
      font-size: 16px;
      padding: 10px 10px;
    }
    .stateAsesorAtc {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #c23616;
      bottom: 15px;
      left: 52px;
      border: solid 1px white;
    }
  }
  .textoAsesorAtc {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 10px 10px 10px;
  }
}

/* Contenedor del fondo de la interacción */
.PrimeraInteraccionAtcFondo {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
  padding: 10px 45px 35px 20px;
  font-family: "Arial", sans-serif; /* Tipo de letra */
  position: relative;
  max-height: calc(100vh - 80px); /* Máximo alto ajustado restando 80px */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del alto total */
  /* Elimina overflow: hidden; */
}

/* Estilo del contenedor principal de la interacción */
.PrimeraInteraccionAtc {
  background-color: #ecedef;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 20px #0000001a;
  width: 100%;
  max-width: 100%; /* Ajusta el ancho máximo al 100% */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 100%; /* Limita la altura máxima al 100% del contenedor padre */
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  overflow-x: hidden;
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del alto total */
}

/* Estilo para el texto del chat */
.LetraChat {
  font-size: 11px;
}

/* Estilo para el ícono del corner */
.corner {
  position: absolute;
  bottom: -35px;
  right: 19.5rem;
  width: 25px;
  height: 0px;
  border-left: 25px solid transparent;
  border-top: 25px solid #ecedef;
  transform: rotate(0deg);
}

/* Estilo para dispositivos móviles */
@media (max-width: 690px) {
  .chatAtc {
    border-radius: 0px !important;
    bottom: 0px;
    width: 100%;
    right: 0px !important;
    height: auto !important;
    padding: 10px;
  }

  .chatSTAtc {
    width: 80%;
    left: 10%;
  }
}

.contentChatMsj {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.visitanteMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  margin-right: 10px;
  .cntnmsj {
    // background: #9df5c9;
    background: #ccf5ff;
  }
}
.asesorMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  margin-left: 10px;
  .cntnmsj {
    background: #eef3f9;
  }
}

.cntnmsj{
  width: 75%;
  padding: 10px;
  border-radius: 3px;

  .statemsjEnviado{
    display: flex;
    justify-content: flex-end;
    position: relative;
    i{
      color:#92a58c;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .statemsjleido{
    display: flex;
    justify-content: flex-end;
    position: relative;
    i{
      color:#4fc3f7;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .statemsjnoleido{
    display: flex;
    justify-content: flex-end;
    position: relative;
    i{
      color:#92a58c;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .remitente{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
  .msj{
    font-size: 10px;
    text-align: left;
    img{
      width: 80%;
    }
  }
}

.error-mensaje {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.chat-cerrado-mensaje {
  color: black;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}


:host ::ng-deep markdown {
  font-size: 10px;
}

:host ::ng-deep markdown h1,
:host ::ng-deep markdown h2,
:host ::ng-deep markdown h3,
:host ::ng-deep markdown h4,
:host ::ng-deep markdown h5 {
  font-size: 10px;
  font-weight: bold;
}

.material-icons {
  font-weight: 600;
  font-size: 9px !important;
}

.footerChatAula {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #FF4E56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  .chat-box-textinput {
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 4px 10% 4px 10px;
    //font-size: 10px;
  }
  /*.chat-box-textinput::placeholder {
    font-size: 10px;
    //color: #999;
  }*/

  i {
    color: #ff8610;
    cursor: pointer;
  }
  .addfile {
    color: black;
    position: absolute;
    top: 30%;
    right: 15%;
  }
  .mensaje-finalizado {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 4px 10% 4px 10px;
    text-align: center;
    background-color: #ecedef;
  }
}

.chat-box-textinput:focus-visible {
  outline: none;
}

.error-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contentChatMsj {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Garantiza un scroll suave */
}
