
<!-- holax1 -->
<div class="cursoTitle">{{Capitulo}}</div>
<div class="row" style="align-items: center;">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
    <i class="material-icons">group_work</i>
    <div style="font-weight: bold;">Simuladores</div>
  </div>
</div>
<ng-container *ngIf="simuladores==undefined || simuladores.length==0">
  <div style="text-align: left; margin-bottom: 20px;">
    Por el momento no cuenta con clases online
  </div>
</ng-container>
<ng-container *ngIf="simuladores!=undefined && simuladores.length>0">
  <ng-container *ngFor="let item of simuladores">
    <div class="row contentCursoModulo" (click)="Ir(item.dominioWeb)">

      <div class="titleCursoModulo col-12 col-md-8 col-lg-9" style="display: flex;
      align-items: center;">
        {{item.nombre}}
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="display: flex;
      align-items: center;justify-content: flex-end;">
        <app-default-button [confs]="{color:'primary',titulo:'Ir a simulador'}"
          [style]="'padding:0px 20px;margin:0px'">
        </app-default-button>
      </div>
    </div>
  </ng-container>
</ng-container>
