.modal-certificado-estudios-carreras-profesionales-container{
  mat-dialog-container{
    padding: 15px !important;
    height: auto;
    border-radius: 15px !important;
    line-height: 26px !important;
  }
}
