<br>
<div class="container" *ngIf="resultVisa!=undefined">
  <div class="row rowpaddAv" style="justify-content: center;">
    <div class="col-12 col-md-10 col-lg-8" *ngIf="resultVisa.estadoOperacion!='Processed'">
      <ng-container *ngIf="resultVisa.estadoOperacion=='Pending'">
        <div>
          <img [src]="'../../../assets/icons/iconcharge/'+imgAc" alt="" *ngIf="imgAc!=''">
        </div>
        <div class="titleResultPago">
          <div>Procesando pago</div>
        </div>
        <div style="margin-top: 15px;
        font-size: 15px;">
          Te agradecemos por tu paciencia, en este momento estamos procesando tu pago
        </div>
      </ng-container>

      <ng-container *ngIf="resultVisa.estadoOperacion!='Pending'">
        <div class="titleResultPago">
          <div >No se realizó el pago</div>
          <img src="../../../assets/icons/denegado-error-21.svg" alt="">
        </div>
        <div class="textResultPago">
          <ng-container *ngIf="resultVisa.estadoOperacion =='No Process'">
            No hemos podido procesar su pago, debido a un error con su entidad bancaria,  comuniquese con
            su Banco para solucionar el error en el pago; o intente con otro medio de pago.
          </ng-container>
          <ng-container *ngIf="resultVisa.estadoOperacion=='Declinado'">
            <ng-container >
              No hemos podido procesar su pago, debido a un error en nuestra plataforma de pagos.
              <br>
              Escríbenos a nuestro chat de soporte técnico para poder ayudarlo.
            </ng-container>
          </ng-container>
          <ng-container *ngIf="resultVisa.estadoOperacion =='Processed-'">
            No hemos podido procesar su pago, debido a un error con su entidad bancaria,  comuniquese con
            su Banco para solucionar el error en el pago; o intente con otro medio de pago.
          </ng-container>

          <div class="textC">Si tiene alguna consulta adicional, escriba un correo a: <a
              href="mailto:matriculas@bsginstitute.com">matriculas@bsginstitute.com</a></div>
        </div>
        <div class="row" >
          <div class="col-12 col-md-6 col-lg-6" style="display: flex;justify-content: center;">
            <app-default-button-flecha [confs]="{color:'primary',titulo:'Volver a Intentar'}" [style]="'margin-top:15px;padding: 0px 40px;border-radius:20px;'"
            (ButtoclClick)="RedireccionarModalIntentoPago()"></app-default-button-flecha>
          </div>
          <div class="col-12 col-md-6 col-lg-6" style="display: flex;justify-content: center;">
            <app-default-button-flecha [confs]="{color:'primary',titulo:'Salir'}" [style]="'margin-top:15px;padding: 0px 40px;border-radius:20px;'"
            [ruta]="'/'+AreaCapacitacion+'/'+ProgramaNombre"></app-default-button-flecha>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="col-12 col-md-12 col-lg-12" *ngIf="resultVisa.estadoOperacion=='Processed'">
      <div class="titleResultPago" style="justify-content: center;margin-bottom: 1rem;">
        <img src="../../../assets/icons/positivo-hecho-20.svg" alt="" style="height: 2.5rem;width: 2.5rem;margin-right:10px;">
        <div>¡Pago exitoso!</div>
      </div>
      <div class="SubTitulo"style="margin-top: 5px;font-size: 14px;justify-content: center;display: flex;">
        {{resultVisa.registroAlumno.nombre}}, tu compra ha sido realizada con exito.
      </div>
      <div class="contentCardPago">
        <div class="row" style="justify-content: center; display: flex;">
          <div style="width: 60vw;">
            <div style="margin: 20px 0px;">Detalle de tu pago:</div>
          </div>
        </div>
        <div class="row" style="justify-content: center; display: flex;">
          <div class="cardPago">
            <div class="row" style="align-items: center; padding: 0px 5rem">
              <div class="col-12 col-md-5 col-lg-4"><b>Nro. de Compra:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.identificadorTransaccion}}</div>
              <div class="col-12 col-md-5 col-lg-4"><b>Monto:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.montoTotal}}</div>
              <div class="col-12 col-md-5 col-lg-4"><b>Moneda:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.moneda}}</div>
              <div class="col-12 col-md-5 col-lg-4"><b>Nombres y Apellidos:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago"><b>{{resultVisa.registroAlumno.nombre}}
                  {{resultVisa.registroAlumno.apellido}}</b></div>
              <ng-container *ngIf="resultVisa.nombrePrograma!=null">
                <div class="col-12 col-md-5 col-lg-4"><b>Programa:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.nombrePrograma}}</div>
              </ng-container>
              <ng-container *ngIf="resultVisa.listaCuota!=null && resultVisa.listaCuota.length>0">
                <div class="col-12 col-md-5 col-lg-4"><b>Razón:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago" >
                  <div *ngFor="let item of resultVisa.listaCuota">
                    {{item.nombre}}
                  </div>
                </div>
              </ng-container>
              <div class="col-12 col-md-5 col-lg-4"><b>Fecha de transacción:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.fechaTransaccion | date:'dd-MM-yyyy'}}
              </div>
              <div class="col-12 col-md-5 col-lg-4"><b>Hora de transacción:</b></div>
              <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultVisa.fechaTransaccion | date:'hh:mm'}}</div>

            </div>
          </div>
        </div>

        <!-- <app-default-button-flecha [confs]="{color:'primary',titulo:'Ir a mis cursos ahora'}" [style]="'margin-top:40px;padding: 0px 40px;border-radius:20px'"
            [ruta]="rutaMisCursos"></app-default-button-flecha> -->
      </div>
      <div class="row mt-2" style="justify-content: center;">
        <button [routerLink]="ruta" class="btn btn-primary m-2" style="width: 14vw; border-color: transparent; border-radius: 25px;">
          Ver estado de cuenta
        </button>

        <button  [routerLink]="rutaCursos" class="btn btn-primary m-2" style="width: 14vw; border-color: transparent; border-radius: 25px;">
          Ir a mi curso
        </button>
      </div>
    </div>
  </div>
</div>
