<!-- holax1 -->
<div class="titleDialogAprovacion" *ngIf="data.titulo!=null"
  [ngStyle]="{'color': data.titulo.color,'font-size':data.titulo.sise}">{{data.titulo.text}}
  <i class="material-icons cerrarDialogAprovacion" (click)="dialogRef.close(false)">close</i>
</div>
<div style="display: flex;" *ngIf="data.titulo==null">
  <div class="TitleModal col-11">
  </div>
  <div class="col-1" style="text-align: end;font-weight: bold;cursor: pointer;" (click)="dialogRef.close(false)">
    X
  </div>
</div>
<div class="contentDialogAprovacion" style="font-weight: bold;">{{data.contenido}}</div>
<div class="contentDialogAprovacion" style="font-size: 14px;">Queremos recordarle que al desafiliarse, podrías generar cargos adicionales por atrasos en tu cronograma de pagos</div>
<div class="buttonsDialogAprovacion">
  <div style="margin: 0px 5px;">
    <app-default-button [confs]="{color:'danger',titulo:'Confirmar'}"
    [style]="'width: 100%;'" [icon]="''"
    (ButtoclClick)="dialogRef.close(true)"></app-default-button>
  </div>
  <div style="margin: 0px 5px;">
    <app-default-button [confs]="{color:'primary',titulo:'Continuar Afiliado'}"
    [style]="'width: 100%;background: #28a745;border-color: #28a745;'" [icon]="''"
    (ButtoclClick)="dialogRef.close(false)"></app-default-button>
  </div>
</div>
