.custom-dialog-aprovacion{
  mat-dialog-container{
    height: auto;
    border-radius: 20px !important;
  }
}
.buttonsDialogAprovacion{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: -20px;
}

.titleDialogAprovacion{
  padding: 10px 20px;
  border-bottom: solid 1px #dee2e6;
  width: 100%;
  position: relative;
}
.contentDialogAprovacion{
  padding: 10px 20px;
}
.cerrarDialogAprovacion {
  position: relative;
    top: 0px;
    right: 0px;
    left: 25px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px !important;
    color: white;
    background-color: #b0b0b0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

