<div class="container">
  <div style="font-size: 16px;font-weight: 600;margin: 10px 0px;">Google Workspaces</div>
  <div style="font-size: 15px;">Estimado alumno. En este apartado podrás ingresar a la plataforma Google Workspace, y
    hacer uso de:
  </div>
  <div style="font-size: 15px;">
    <ul>
      <li>Correo</li>
      <li>Drive</li>
      <li>Videoconferencias</li>
      <li>Chats</li>
      <li>Cuestionarios</li>
    </ul>
  </div>
  <div style="font-size: 15px;">
    Recuerda solicitar a tu asesora académica tu usuario y contraseña, y colocarlos en este enlace:
  </div>
  <div style="font-size: 15px;margin-left: 15px;">
      https://accounts.google.com
  </div>
</div>
