<div class="container">
  <div style="font-size: 16px;font-weight: 600;margin: 10px 0px;">Google Workspaces</div>
  <div style="font-size: 15px;">
    Recuerda solicitar a tu asesora académica tu usuario y contraseña, y colocarlos en este enlace:
  </div>
  <div style="font-size: 15px;margin-left: 15px;">
      <a href="https://accounts.google.com" target="_blank">https://accounts.google.com</a>
  </div>
  <br>
  <div style="font-size: 15px;">
    Una vez que hayas ingresado podrás hacer uso de las siguientes herramientas digitales:
  </div>
  <!-- <div style="font-size: 15px;display: flex;">Estimado
    <div *ngIf="Tipo=='Alumno'" style="margin-left: 5px;">alumno</div>
    <div *ngIf="Tipo=='Docente'"style="margin-left: 5px;">docente</div>. En este apartado podrás ingresar a la plataforma Google Workspace, y
    hacer uso de:
  </div> -->
  <div style="font-size: 15px;">
    <ul>
      <li>Correo - <a href="https://mail.google.com" target="_blank">https://mail.google.com</a></li>
      <li>Drive - <a href="https://drive.google.com" target="_blank">https://drive.google.com</a></li>
      <li>Videoconferencias - <a href="https://meet.google.com" target="_blank">https://meet.google.com</a></li>
      <li>Chats - <a href="https://chat.google.com" target="_blank">https://chat.google.com</a></li>
      <li>Cuestionarios - <a href="https://forms.google.com" target="_blank">https://forms.google.com</a></li>
    </ul>
  </div>
</div>
