.openClose {
  .contentIconMenu{

    background: #0684f2;
    .material-icons{
      color: white;
      font-size: 30px !important;
    }
  }
}
.reverse{
  justify-content: flex-start !important;
}
