<div *ngIf="TituloCarreras != ''">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-sm-12" style="margin-bottom: 30px">
        <h1 class="subtitulo" style="text-align: center; margin: 0px;line-height: 150%;">
          {{ TituloCarreras }}
        </h1>
        <h2 class="parafoS" style="font-size: 22px;line-height: 150%">
          Formamos Profesionales Competitivos
        </h2>
      </div>
      <div
        class="col-12 row"
        style="justify-content: space-between; padding: 0px; margin: 0px"
      >
        <div
          class="col-12 col-sm-12 col-md-6"
          *ngFor="let item of Carreras; let i = index"
        >
          <div
            style="
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              padding: 20px 0px;
            "
          >
            <img
              *ngIf="i % 2 == 0"
              style="width: auto; height: 230px"
              src="../../../assets/imagenes/arquetipo-administracion-hombre-index.png"
              alt="Profesional en {{item.Nombre}}"
            />
            <img
              *ngIf="i % 2 != 0"
              style="width: auto; height: 230px"
              src="../../../assets/imagenes/arquetipo-mujer-home.png"
              alt="Profesional en {{item.Nombre}}"
            />

            <div class="cardCarrerasV2">
              <h2 class="titleV2" style="font-size: 1rem;line-height: 150%;">{{ item.Nombre }}</h2>
              <div class="underl"></div>

              <div
                class="subtitleCarreras orange"
                (click)="EventoInteraccionCarreras(item.Nombre)"
                [routerLink]="item.Url">
                <div class="vinculo">Más Información</div>
                <i class="material-icons">keyboard_arrow_right</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
