<!-- holax -->
<app-cargando *ngIf="cargando==true"></app-cargando>
<div class="TitleCardAgregarTarea"  style="display: flex;">
  <div class="col-11">
    {{Title}}
  </div>
  <div class="col-1" style="text-align: end;font-weight: bold;cursor: pointer;" (click)="dialogRef.close()">
    X
  </div>
</div>
<div class="TitleAgregarTarea"><strong>Sesión</strong> {{data.sesion.orden}} de
  {{data.sesion.maximo}} - <strong>Fecha:</strong> {{data.sesion.fechaHoraInicio | date:'dd-MM-yyyy'}} </div>
<form [formGroup]="formularioTarea">
  <div class="row">
    <div class="col-4 col-md-2 col-lg-2 labelTarea">Título</div>
    <div class="col-8 col-md-10 col-lg-10 InputsDocencia">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Ingresar Título de la Tarea</mat-label>
        <input type="text" placeholder="Ingresar Título de la Tarea" formControlName="Titulo" matInput>

        <mat-error *ngIf="!formularioTarea.get('Titulo')?.valid">Ingrese el titulo</mat-error>
      </mat-form-field>

    </div>
    <div class="col-4 col-md-2 col-lg-2 labelTarea">Descripción</div>
    <div class="col-8 col-md-10 col-lg-10 InputsDocencia">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Ingresar Descripción de la Tarea (Opcional)</mat-label>
        <input type="text" placeholder="Ingresar Descripción de la Tarea (Opcional)" formControlName="Descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="col-4 col-md-2 col-lg-2 labelTarea">Adjuntar Archivo</div>
    <div class="col-8 col-md-10 col-lg-10 row" style="margin:0px">
      <div (click)="fileInput.click()" style="height: 38px;width: 100%;border:solid 1px #c2c2c2;border-radius: 5px;display: flex; align-items: center;
        padding: 0px 5px;cursor: pointer;">
        <button style="border: solid 1px #767676;
          margin-right: 5px;    white-space: nowrap;">Seleccionar archivo</button>
        <div style="    white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;">{{nombrefile}}</div>
      </div>
      <input #fileInput type="file" id="file" (change)="getFileDetails($event)" style="    width: 100%;
        border: solid 1px #c2c2c2;
        padding: 7px;
        border-radius: 5px;display: none;">
      <div *ngIf="!filestatus && fileErrorMsg!=''">{{fileErrorMsg}}</div>
    </div>
    <div class="col-4 col-md-2 col-lg-2 labelTarea">Fecha de Entrega</div>
    <div class="col-8 col-md-2 col-lg-2 InputsDocencia">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Entrega</mat-label>
        <input matInput [min]="fecha" [matDatepicker]="picker" placeholder="Fecha de Entrega" formControlName="FechaEntrega" >

        <mat-datepicker-toggle matSuffix [for]="picker" placeholder="Fecha de Entrega" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!formularioTarea.get('FechaEntrega')?.valid">Ingrese la fecha de entrega</mat-error>
      </mat-form-field>

    </div>
    <div class="col-12 col-md-4 col-lg-4 row" style="margin: 0px;">
      <div class="col-4 col-md-4 col-lg-4 labelTarea">Hora de Entrega</div>
      <div class="col-4 col-md-4 col-lg-4 InputsDocencia">

        <mat-form-field appearance="outline">
          <mat-label>Horas</mat-label>
          <mat-select #myselsetc formControlName="HoraEntrega" >
              <mat-option *ngFor="let item of Horas" [value]="item">
                {{item}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="!formularioTarea.get('HoraEntrega')?.valid">Ingrese la hora</mat-error>
        </mat-form-field>

      </div>
      <div class="col-4 col-md-4 col-lg-4 InputsDocencia">

        <mat-form-field appearance="outline">
          <mat-label>Minutos</mat-label>
          <mat-select #myselsetc formControlName="MinutoEntrega" >
              <mat-option *ngFor="let item of Minutos" [value]="item">
                {{item}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="!formularioTarea.get('MinutoEntrega')?.valid">Ingrese los minutos</mat-error>
        </mat-form-field>

      </div>
    </div>

    <div class="col-4 col-md-2 col-lg-2 labelTarea">Calificación Maxima</div>
    <div class="col-8 col-md-2 col-lg-2 InputsDocencia">
      <mat-form-field appearance="outline">
        <mat-label>Calificación Maxima</mat-label>
        <mat-select #myselsetc formControlName="CalificacionMaxima" [disabled]="true" >
            <mat-option *ngFor="let item of Calificaciones" [value]="item">
              {{item}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!formularioTarea.get('CalificacionMaxima')?.valid">Ingrese la calificacion maxima</mat-error>
      </mat-form-field>
    </div>
    <div class="col-4 col-md-2 col-lg-2 labelTarea">Fecha de Entrega Ampliada</div>
    <div class="col-8 col-md-2 col-lg-2 InputsDocencia">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Entrega Ampliada</mat-label>
        <input matInput [min]="!formularioTarea.get('FechaEntrega')?.valid?fecha:formularioTarea.get('FechaEntrega')?.value"
        [matDatepicker]="picker2" placeholder="Fecha de Entrega ampliada" formControlName="FechaEntregaSecundaria" >

        <mat-datepicker-toggle matSuffix [for]="picker2" placeholder="Fecha de Entrega Ampliada" ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="!formularioTarea.get('FechaEntregaSecundaria')?.valid">Ingrese la fecha de entrega ampliada</mat-error>
      </mat-form-field>

    </div>

    <div class="col-12 col-md-4 col-lg-4 row" style="margin: 0px;">
      <div class="col-4 labelTarea">Hora de Entrega</div>
      <div class="col-4 InputsDocencia">

        <mat-form-field appearance="outline">
          <mat-label>Horas</mat-label>
          <mat-select #myselsetc formControlName="HoraEntregaSecundaria" >
              <mat-option *ngFor="let item of Horas" [value]="item">
                {{item}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="!formularioTarea.get('HoraEntregaSecundaria')?.valid">Ingrese la hora</mat-error>
        </mat-form-field>

      </div>
      <div class="col-4 InputsDocencia">

        <mat-form-field appearance="outline">
          <mat-label>Minutos</mat-label>
          <mat-select #myselsetc formControlName="MinutoEntregaSecundaria" >
              <mat-option *ngFor="let item of Minutos" [value]="item">
                {{item}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="!formularioTarea.get('MinutoEntregaSecundaria')?.valid">Ingrese los minutos</mat-error>
        </mat-form-field>

      </div>
    </div>

    <div class="col-4 col-md-2 col-lg-2 labelTarea">Calificación Máxima</div>
    <div class="col-8 col-md-2 col-lg-2 InputsDocencia">
      <mat-form-field appearance="outline">
        <mat-label>Calificación Máxima</mat-label>
        <mat-select #myselsetc formControlName="CalificacionMaximaSecundaria"  >
            <mat-option *ngFor="let item of Calificaciones" [value]="item">
              {{item}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!formularioTarea.get('CalificacionMaximaSecundaria')?.valid">Ingrese la calificacion maxima</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-3 col-lg-3 labelTarea">Criterio de Evaluación</div>
        <div class="col-6 col-md-3 col-lg-3 InputsDocencia">
          <mat-form-field appearance="outline">
            <mat-label>Criterio de Evaluación</mat-label>
            <mat-select #myselsetc formControlName="IdCriterioEvaluacion"  >
                <mat-option *ngFor="let item of esquemas" [value]="item.idCriterioEvaluacion">
                  {{item.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!formularioTarea.get('IdCriterioEvaluacion')?.valid">Seleccione un criterio de evaluación</mat-error>
          </mat-form-field>
        </div>
  </div>
</form>
<mat-dialog-actions align="center" style="margin-top: 20px;    margin-bottom: 20px;">
    <div style="margin: 0px 5px;">
      <app-default-button [confs]="{color:'danger',titulo:'Cerrar'}"
      [style]="'width: 100%'"
      mat-dialog-close
      [icon]="'close'"></app-default-button>
    </div>
    <div style="margin: 0px 5px;">
      <app-default-button [confs]="{color:'primary',titulo:'Guardar'}"
      [disabled]="!formularioTarea.valid"
      [style]="'width: 100%;background: #0069d9;border-color: #0062cc;'"
      (ButtoclClick)="AgregarPEspecificoSesionTarea()"
      [icon]="'check'"></app-default-button>
    </div>
</mat-dialog-actions>
