<ng-container>
  <div  *ngIf="Open">
    <div class="cerrarChatAtc" (click)="Open=false;IsOpen.emit(false)">X</div>
  </div>
  <div  *ngIf="Open">
    <div class="cerrarChatAtc" (click)="Open=false;IsOpen.emit(false)">X</div>
  </div>
  <div style="display:flex"(click)="Open=true;IsOpen.emit(true)" *ngIf="!Open">
    <div class="chatAtc" >
      <div style="display: flex;" >
        <!-- <img class="puntoConectadoAtc" src="../../../../../assets/icons/punto-verde.svg" alt="Punto Verde" > -->
        <div class="col-4" style="align-items: center;display: flex;justify-content: center;">
          <i class="material-icons" style="font-size: 40px !important;">sms</i>
        </div>
        <div class="col-8" style="font-size: 17px;line-height: 20px;text-align: left;">
          Atención al cliente
        </div>
      </div>
    </div>
    <div class="trianguloChatAtc">
    </div>
  </div>
  <div class="chatSTAtc" *ngIf="Open" style="box-shadow: 0px 1px 4px #838383;">
    <div class="cerrarChatMediaAtc" (click)="Open=false;IsOpen.emit(false)">X</div>
    <ng-container select="[contenidoChat]">
      <div class="headerChatAtc">
        <div class="imgAsesorAtc">
          <img [src]="'../../../../../assets/imagenes/174188.png'" alt="">
          <div class="nombreAsesorAtc">
            <div>
              Atención al cliente
            </div>
            <div>
              BSG Institute
            </div>
            <!-- <ng-container *ngIf="estadoLogueo!='false'">
              <div class="textoAsesor" *ngIf="estadoLogueo!='false'">Soy {{nombreAsesorSplit[0]}} , {{mensajeStateAsesor}}</div>
            </ng-container> -->
          </div>
          <div class="stateAsesorAtc" [ngClass]="{'OnConectedAtc': stateAsesor==true}">

          </div>
        </div>
      </div>
      <div *ngIf="Paso==0" class="PrimeraInteraccionAtcFondo">
        <div class="PrimeraInteraccionAtc">
          <p><strong>¡Hola!</strong></p>
          <p>Te damos la bienvenida al chat de atención al cliente de BSG Institute.</p>
          <p>Para comenzar, selecciona una de las siguientes opciones:</p>
          <ul>
            <li (click)="OpcionAlumno(1,'A')"><a href="#">Estoy interesado en los cursos</a></li>
            <li (click)="OpcionAlumno(1,'B')"><a href="#">Soy alumno</a></li>
          </ul>
        </div>
      </div>
      <div *ngIf="Paso==1 && RecuperarContrasenaBit==false && Caso=='B'" class="PrimeraInteraccionAtcFondo">
        <div class="PrimeraInteraccionAtc">
          <p>Ingresa a tu cuenta para revisar tus programas, cursos y certificaciones</p>
          <div class="container" style="justify-content: center;">
            <div class="col-12" >
              <div class="alert alert-danger" role="alert" *ngIf="errorLogin!=''">
                {{errorLogin}}
              </div>
              <app-formulario [model]="login" [InputsDisable]="statuscharge" (OnSubmit)="Login($event)" [Color]="'white'"
                (OnValid)="formVal=$event" [Interaccion]="'Login'" [fiels]="fileds" [ChargeValuesInit]="initValues">

                <ng-container contenido>
                  <div class="row" style="width: 100%;margin: 10px 0px;text-align: center;">
                    <div class="col-12 buttonnsHelp vinculo" (click)="RecuperarContrasenaPrevio()"> ¿Olvidaste tu contraseña?</div>
                  </div>
                </ng-container>
                <ng-container send>
                  <app-default-button [confs]="{color:'primary',titulo:'Iniciar sesión'}" [style]="'width: 100%;margin-bottom 0px;background:#FF4E55'"  ></app-default-button>
                </ng-container>

              </app-formulario>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="RecuperarContrasenaBit && Paso==1  && Caso=='B'" class="PrimeraInteraccionAtcFondo">
        <div class="PrimeraInteraccionAtc">
          <div *ngIf="BotonDesactivado" class="FlechaAtras no-select">
            <i class="material-icons">arrow_back_ios</i>
            Atras
          </div>
          <div *ngIf="BotonDesactivado==false" class="FlechaAtras no-select" (click)="RecuperarAtras()">
            <i class="material-icons">arrow_back_ios</i>
            Atras
          </div>
          <p>Ingresa tu correo electrónico para enviar tus credenciales</p>
          <div class="alert alert-danger" role="alert" *ngIf="errorLogin!=''">
            {{errorLogin}}
          </div>
          <app-formulario [Interaccion]="'Recuperar Contraseña'" [model]="email" [InputsDisable]="statuscharge" [CleanOnSubmit]="cleanSub" (OnSubmit)="RecuperarContrasena($event)" [Color]="'#f8f8f8'"
            (OnValid)="formVal=$event" [fiels]="fileds">
            <ng-container send>
              <app-default-button [confs]="{color:'danger',titulo:'Enviar correo'}" [style]="'width: 100%;'" [disabled]="!formVal || BotonDesactivado==true" ></app-default-button>
            </ng-container>

          </app-formulario>
        </div>
      </div>
      <div *ngIf="Paso==2" class="PrimeraInteraccionAtcFondo">
        <div class="PrimeraInteraccionAtc">
          <p><strong>¡Hola!</strong></p>
          <p>Para continuar selecciona el curso sobre el que deseas realizar la consulta:</p>
          <ul>
            <li *ngFor="let curso of CursosPadreMatricula" (click)="CursoPadreHijoMatriculado(curso.idPGeneralPadre)">
              <a href="#">{{ curso.nombrePGeneralPadre }}</a>
              <ul *ngIf="selectedPadreIdMatricula === curso.idPGeneralPadre" class="lista-interior">
                <li *ngFor="let hijo of getCursosHijo(curso.idPGeneralPadre)">
                  <a (click)="EnviarFormularioAtc(hijo)" style="color: #033DAB;" href="#">{{ hijo.nombrePGeneralHijo }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- <ng-container *ngIf="estadoLogueo=='false';else login">
        <app-form-chat (SaveForm)="actualizarDatosAlumno($event)" [IdPGeneral]="idProgramageneral" [IdPespecificoPrograma]="IdPespecificoPrograma"></app-form-chat>
      </ng-container> -->
    </ng-container>

  </div>
</ng-container>

<script src="signalr.js"></script>
<script [src]="urlSignal+'hubIntegraHub'"></script>
