
<div class="container">
    <div class="row rowpaddAv">
      <div class="col-12 row" *ngIf="resultCard!=undefined">
        <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">
          <div class="row" style="align-items: end;">
            <div class="col-md-6" >Confirma tu compra</div>
            <div class="col-md-6" style="padding-right: 60px;"> <div class="logo-openpay"></div></div>
          </div>
        </div>
        <div class="col-12 d-md-none d-lg-none" >
          <div class="resumenPagoTarjeta" style="padding: 0px">
            <div class="titleResumenPago">Resumen de tu pago</div>
            <div class="contentResumenPago">
              <div class="subtitleResumenPago">{{resultCard.nombrePrograma}}</div>
              <div class="ItemsResumenPago row">
                <div class="col-12 row itms" *ngFor="let item of resultCard.listaCuota">
                  <div class="col-8">{{item.nombre}}</div>
                  <div class="col-4" style="text-align: right;">{{resultCard.simboloMoneda}} {{item.cuotaTotal | number : '1.2-2'}}</div>
                </div>
                <div class="col-12 row tot">
                  <div class="col-8">Total a pagar</div>
                  <div class="col-4" style="text-align: right;">{{resultCard.simboloMoneda}} {{resultCard.total | number : '1.2-2'}}</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="iconoPagoTarjeta">
            <div class="imgPagoTarjeta"></div>
            <div class="textPagoTarjeta">
              <span>PAGO</span>
              <span>100%</span>
              <span>seguro</span>
            </div>
            <div class="descPagoTarjeta">
              <span>Este certificado garantiza la</span>
              <span>seguridad de todas tus conexiones</span>
              <span>mediante cifrado</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 inputPagoVisa row">
          <div class="subtitlePagoVisa">Ingresa los datos de tu tarjeta de crédito o débito {{resultCard.medioPago | capitalice}}</div>
          <form id="fomrOpenPAy" class="row">  
            <ng-container *ngIf="resultCard.idPasarelaPago==1 && resultCard.idFormaPago==65">
  
              <mat-form-field  class="col-12" appearance="outline" style="width: 100%;">
                <mat-label>Seleccione su banco</mat-label>
                <mat-select placeholder="Seleccione su banco" [(ngModel)]="registroPse.BancoPSE" [ngModelOptions]="{standalone: true}">
                  <ng-container *ngFor="let option of resultCard.listaRegistrosPreProsesoPayuPse.listaBancos">
                    <mat-option *ngIf="option.pseCode!='0'" [value]="option.pseCode" >{{option.description}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
  
            <mat-form-field class="col-12" appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Titular de la Tarjeta</mat-label>
              <input type="text" placeholder="Nombre como aparece en la tarjeta" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="jsonSave.TarjetaHabiente.Titular" matInput >
            </mat-form-field>
  
            <ng-container *ngIf="resultCard.idPasarelaPago==1 && resultCard.idFormaPago==65">
  
              <mat-form-field class="col-12" appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Telefono</mat-label>
                <input type="text" placeholder="Numero de telefono" [ngModelOptions]="{standalone: true}" name="phone"
                [(ngModel)]="registroPse.TelefonoTitularPSE" matInput >
              </mat-form-field>
  
              <mat-form-field  class="col-12" appearance="outline" style="width: 100%;">
                <mat-label>Tipo de cliente</mat-label>
                <mat-select placeholder="Tipo de cliente" [(ngModel)]="registroPse.TipoClientePSE" [ngModelOptions]="{standalone: true}">
                  <ng-container *ngFor="let option of resultCard.listaRegistrosPreProsesoPayuPse.listaTipoCliente">
                    <mat-option  [value]="option.codigo" >{{option.nombre}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field  class="col-12" appearance="outline" style="width: 100%;">
                <mat-label>Tipo de documento</mat-label>
                <mat-select placeholder="Tipo de documento" [(ngModel)]="registroPse.TipoDocumentoPSE" [ngModelOptions]="{standalone: true}">
                  <ng-container *ngFor="let option of resultCard.listaRegistrosPreProsesoPayuPse.listaTipoDocumento">
                    <mat-option  [value]="option.codigo" >{{option.nombre}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <mat-form-field class="col-12" appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Nombres :</mat-label>
              <input type="text" placeholder="Número de tarjeta" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="resultCard.registroAlumno.nombre" matInput [readonly]="true">
            </mat-form-field>
              <div class="col-6 col-md-6 col-lg-6">
  
            <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Apellidos :</mat-label>
                <input type="text" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="resultCard.registroAlumno.apellido" matInput [readonly]="true">
            </mat-form-field>
            <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Correo :</mat-label>
                <input type="text" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="resultCard.registroAlumno.correo" matInput [readonly]="true">
            </mat-form-field>
            <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Nro. Documento :</mat-label>
                <input type="text" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="resultCard.registroAlumno.numeroDocumento" matInput [readonly]="true">
            </mat-form-field>
              </div>
            </ng-container>
  
  
            <ng-container *ngIf="jsonSave.Comprobante!=false">
              <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Razón Social</mat-label>
                <input type="text" [(ngModel)]="jsonSave.RazonSocial" placeholder="Razón Social" matInput
                [ngModelOptions]="{standalone: true}" />
              </mat-form-field>
              <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <mat-label>Número Tributario</mat-label>
                <input type="text" [(ngModel)]="jsonSave.CodigoTributario" [ngModelOptions]="{standalone: true}"
                placeholder="Número Tributario" matInput />
              </mat-form-field>
            </ng-container>
  
  
            <div class="row comprobatePagoTarjeta">
              <div class="col-12 col-md-6 col-lg-4">Emitir comprobante</div>
              <div class="col-12 col-md-6 col-lg-8 items">
                <div class="itm no-select" [ngClass]="{'SelectCom':jsonSave.Comprobante==false}"
                  (click)="jsonSave.Comprobante=false">
                  Boleta <i class="material-icons" *ngIf="jsonSave.Comprobante==false">check_circle</i>
                </div>
                <div class="itm no-select" [ngClass]="{'SelectCom':jsonSave.Comprobante!=false}"
                  (click)="jsonSave.Comprobante=true">Factura <i class="material-icons"
                    *ngIf="jsonSave.Comprobante!=false">check_circle</i>
                </div>
              </div>
            </div>
            <div class="col-12 row" style="justify-content: center;">
              <div class="col-12 col-md-10 col-lg-10">
                <ng-container *ngIf="resultCard.medioPago!='Pse' else pseBTN">
                  <app-default-button [confs]="{color:'primary',titulo:'Pagar ahora'}"
                  [style]="'margin-top: 20px;margin-bottom: 0px;width:100%'" (ButtoclClick)="Pagar()"></app-default-button>
                </ng-container >
                  <ng-template #pseBTN>
                    <app-default-button [confs]="{color:'primary',titulo:'Ir a pagar con PSE'}"
                    [style]="'margin-top: 20px;margin-bottom: 0px;width:100%'" (ButtoclClick)="redireccionarPSE()"></app-default-button>
                  </ng-template>
                  
              </div>
            </div>
          </form>
          <div style="    width: 100%;
          font-size: 12px;
          color: #b2b2b2;
          padding: 20px;">
            * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice.
          </div>
  
        </div>
        <div class="d-none col-md-6 d-md-block col-lg-6 d-lg-block">
          <div class="resumenPagoTarjeta">
            <div class="titleResumenPago">Resumen de tu pago</div>
            <div class="contentResumenPago">
              <div class="subtitleResumenPago">{{resultCard.nombrePrograma}}</div>
              <div class="ItemsResumenPago row">
                <div class="col-12 row itms" *ngFor="let item of resultCard.listaCuota">
                  <div class="col-8">{{item.nombre}}</div>
                  <div class="col-4" style="text-align: right;">{{resultCard.simboloMoneda}} {{item.cuotaTotal | number : '1.2-2'}}</div>
                </div>
                <div class="col-12 row tot">
                  <div class="col-8">Total a pagar</div>
                  <div class="col-4" style="text-align: right;">{{resultCard.simboloMoneda}} {{resultCard.total | number : '1.2-2'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="iconoPagoTarjeta">
            <div class="imgPagoTarjeta"></div>
            <div class="textPagoTarjeta">
              <span>PAGO</span>
              <span>100%</span>
              <span>seguro</span>
            </div>
            <div class="descPagoTarjeta">
              <span>Este certificado garantiza la</span>
              <span>seguridad de todas tus conexiones</span>
              <span>mediante cifrado</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  