
.sopoteTecnico {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 112.5px;
  background: #ff4e56;
  height: 81.25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
  line-height: 12px;
  z-index: 200;
  cursor: pointer;
}
.chatST{
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 375px;
  background: white;
  //height: 400px;
  align-items: center;
  text-align: center;
  //margin-bottom: 50px;
  border-radius: 10px 10px 10px 10px;
  z-index: 200;
  box-shadow: 0px 0px 2px 0px #c3c3c3;
}
.cerrarChat{
  position: fixed;
  bottom: 10px;
  right: 30px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  z-index: 1000000;
  background: #ff4e55;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cerrarChatMedia{
  display: none;
}
.puntoConectado{
  display: flex;
  margin-left: 5%;
  margin-top: -10px;
  margin-bottom: 5px;
}
@media (max-width: 690px) {
  .sopoteTecnico {
    border-radius: 0px !important;
    bottom: 0px;
    width: 100%;
    right: 0px !important;
    height: auto !important;
    padding: 10px;
    img{
      display: none;
    }
  }
  .chatST{
    width: 80%;
    left: 10%;
    bottom: 0px;
  }
  .cerrarChat{
    display: none;
  }
  .cerrarChatMedia{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 10px;z-index: 1000000;
  }
  .triangulo-chat{
    display: none;
  }
}

.triangulo-chat {
  position: fixed;
  transform: rotate(45deg);
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #ff4e56;
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 0px;
}
