
<ng-container *ngIf="cargaChat==true &&
  (token==true  ||
  (token==false && IdPGeneral>0)) ">

  <div class="chatST" *ngIf="Open">
    <div style="position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    font-weight: 600;
    font-size: 12px;cursor: pointer;
    padding: 0px 10px;z-index: 1000000;" (click)="EventoInteraccionButton('Cerrar Chat');Open=false;IsOpen.emit(false)">x</div>
    <ng-content select="[contenidoChat]">
    </ng-content>
  </div>
  <div class="sopoteTecnico" (click)="EventoInteraccionButton(texto);Open=true;IsOpen.emit(true)" *ngIf="!Open">
    <img src="../../../../../assets/icons/icono-chat-soporte.svg" alt="">
    <div>{{texto}}</div>
  </div>
</ng-container>

<script src="signalr.js"></script>
<script [src]="urlSignal+'hubIntegraHub'"></script>
