
<ng-container *ngIf="cargaChat==true &&
  (token==true  ||
  (token==false && IdPGeneral>0)) ">

  <div class="chatST" *ngIf="Open" style="box-shadow: 0px 1px 4px #838383;">
    <ng-content select="[contenidoChat]">
    </ng-content>
    
  </div>
  <div *ngIf="Open">
    <div style="position: fixed;
    /* top: 0; */
    bottom: 20px;
    right: 30px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000000;
    background: #ff4e55;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;" (click)="EventoInteraccionButton('Cerrar Chat');Open=false;IsOpen.emit(false)">X</div>
  </div>
  <div class="sopoteTecnico" (click)="EventoInteraccionButton(texto);Open=true;IsOpen.emit(true)" *ngIf="!Open">
    <div>
    <img src="../../../../../assets/icons/icono-chat-soporte.svg" alt="" style="height: 20px;display: block;margin-left: 35%;">
      <br>
      <div style="margin-top: -6px;">{{texto}}</div></div>
  </div>
</ng-container>

<script src="signalr.js"></script>
<script [src]="urlSignal+'hubIntegraHub'"></script>
