.card-footer{
    background: white;
    padding-bottom: 0px;
    padding-top: 0px;    
    border: 1px solid transparent;
    position: relative;
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.encogerFormulario{
    height: 250px !important;
}

.encogerFormularioMenor{
    height: 150px !important;
}

