
<!-- holax -->
<ng-container *ngIf="tipo==1">
  <div class="cursoTitle">{{Capitulo}}</div>

  <div class="tipoIndicacionTitle">

    <img class="ImgIndicacionesContent" src="../../../../assets/icons/recursos-azul-05.svg">
    <div>Recursos</div>
  </div>

  <div class="resume" *ngIf="miPerfil!=undefined">¡Hola {{miPerfil.datosAlumno.nombres}}! <br>
    Estos son los recursos que te serán de ayuda en tu aprendizaje.</div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="titleMaterial">Diapositivas</div>
      <div class="contentMaterial">
        <ng-container *ngIf="Estructura!=undefined">
          <div *ngFor="let est of Estructura.registroEstructuraCursoCapitulo">
            <div style="padding: 5px 0px;font-weight: 600;display: flex;justify-content: space-between;align-items: center;width: 100%;cursor: pointer;"
            (click)="est.open=(est.open==undefined || est.open==false)?true:false">
              <div>{{est.nombreCapitulo}}</div>

              <div>
                <i class="material-icons no-seleccionable " *ngIf="!est.open">keyboard_arrow_down</i>
                <i class="material-icons no-seleccionable " *ngIf="est.open">keyboard_arrow_up</i>
              </div>
            </div>
            <div style="padding:5px 20px;" *ngIf="est.open==true">

              <ng-container *ngIf="Estructura.contineSubSesion==true">

                <div *ngFor="let sesiones of est.registroEstructuraCursoSesion" style="display: flex;flex-direction: column;">
                  <div style="padding: 5px 0px;display: flex;justify-content: space-between;align-items:
                  center;width: 100%;cursor: pointer;" (click)="sesiones.open=(sesiones.open==undefined || sesiones.open==false)?true:false">
                    <div>
                      {{sesiones.nombreSesion}}
                    </div>
                    <div>
                      <i class="material-icons no-seleccionable " *ngIf="!sesiones.open">keyboard_arrow_down</i>
                      <i class="material-icons no-seleccionable " *ngIf="sesiones.open">keyboard_arrow_up</i>
                    </div>
                  </div>
                  <ng-container *ngIf="sesiones.open==true">
                    <ng-container *ngFor="let subsesiones of sesiones.registroEstructuraCursoSubSesion">
                      <a class="itemMaterial" target="_blank" (click)="EventoInteraccion(subsesiones.archivo.split('/')[subsesiones.archivo.split('/').length-1])"
                      [href]="'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/documento-cursos/AulaVirtual/'+subsesiones.archivo">
                      <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
                        {{subsesiones.archivo.split('/')[subsesiones.archivo.split('/').length-1]}}
                      </a>
                    </ng-container>
                  </ng-container>

                </div>
              </ng-container>

              <div *ngIf="Estructura.contineSubSesion==false" style="display: flex;flex-direction: column;">
                <a *ngFor="let sesiones of est.registroEstructuraCursoSesion" class="itemMaterial"
                target="_blank" (click)="EventoInteraccion(sesiones.archivo.split('/')[sesiones.archivo.split('/').length-1])"
                [href]="'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/documento-cursos/AulaVirtual/'+sesiones.archivo">
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
                {{sesiones.archivo.split('/')[sesiones.archivo.split('/').length-1]}}</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="material!=undefined && material.length>0">

        <div class="titleMaterial">Material Adicional</div>
        <div class="contentMaterial">
          <ng-container *ngFor="let item of material">
            <div style="margin-bottom: 30px;">

              <div *ngIf="item.soloLectura==true">
                <a  class="itemMaterial"
              target="_blank"  (click)="EventoInteraccion(item.nombreArchivo)"
              [href]="item.enlaceArchivo.includes('https')?item.enlaceArchivo+'#toolbar=0':'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/material-adiconal/'+item.enlaceArchivo+'#toolbar=0'">
              <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='pdf';else doc">
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
              </ng-container>
              <ng-template #doc>
                <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='doc';else zip">
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/doc-naranja-49.svg" alt="Icono DOC">
                </ng-container>
              </ng-template>

              <ng-template #zip>
                <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='sip' ||
                item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='rar';else excel">
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/zip-32.svg" alt="Icono ZIP">
                </ng-container>
              </ng-template>

              <ng-template #excel>
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/EXEL-naranja-48.svg" alt="Icono EXCEL">
              </ng-template>

                {{item.nombreArchivo}}</a>
              </div>
              <div *ngIf="item.soloLectura==false">
                <a  class="itemMaterial"
              target="_blank"  (click)="EventoInteraccion(item.nombreArchivo)"
              [href]="item.enlaceArchivo.includes('https')?item.enlaceArchivo:'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/material-adiconal/'+item.enlaceArchivo">
              <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='pdf';else doc">
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
              </ng-container>
              <ng-template #doc>
                <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='doc';else zip">
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/doc-naranja-49.svg" alt="Icono DOC">
                </ng-container>
              </ng-template>

              <ng-template #zip>
                <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='sip' ||
                item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='rar';else excel">
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/zip-32.svg" alt="Icono ZIP">
                </ng-container>
              </ng-template>

              <ng-template #excel>
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/EXEL-naranja-48.svg" alt="Icono EXCEL">
              </ng-template>

                {{item.nombreArchivo}}</a>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>


    </div>
  </div>
</ng-container>

<ng-container *ngIf="tipo!=1">
  <ng-container *ngIf="idPEspecifico>0 && idPGeneral>0">
    <app-material-estudio-docente [IdPespecifico]="idPEspecifico" [idPGeneral]="idPGeneral"></app-material-estudio-docente>
  </ng-container>

</ng-container>
