<div class="container">
  <div class="row p-4">
    <div class="col-12 row">
      <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">
        Confirma tu compra
      </div>
      <div class="col-12 col-md-12 col-lg-12 inputPagoVisa">
        <div class="subtitlePagoVisa">Pago realizado por</div>
        <ng-container *ngIf="resultVisa != undefined">
          <mat-form-field
            appearance="outline"
            class="disabledInput"
            [floatLabel]="'always'"
            style="width: 100%"
          >
            <mat-label>Nombres</mat-label>
            <input
              type="text"
              style="color: #878787"
              [value]="resultVisa.datoAlumno.nombre"
              disabled
              matInput
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="disabledInput"
            [floatLabel]="'always'"
            style="width: 100%"
          >
            <mat-label>Apellidos</mat-label>
            <input
              type="text"
              style="color: #878787"
              [value]="resultVisa.datoAlumno.apellido"
              disabled
              matInput
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="disabledInput"
            [floatLabel]="'always'"
            style="width: 100%"
          >
            <mat-label>E-mail</mat-label>
            <input
              type="text"
              style="color: #878787"
              [value]="resultVisa.datoAlumno.correo"
              disabled
              matInput
            />
          </mat-form-field>
        </ng-container>
        <form
          ngNoForm
          (submit)="pagar()"
          id="visa"
          [action]="
            'https://proceso-pago.bsginstitute.com/ProcesoPagoVisa/Index?IdTransaccion=' +
            json.IdentificadorTransaccion
          "
          [method]="'post'"
          style="text-align: center; margin-top: 30px"
          target="_blank"
        ></form>
      </div>
    </div>
  </div>
</div>
