<div class="container"  *ngIf="resultVisa!=undefined">
    <div class="row rowpaddAv">
      <div class="col-12 row">
        <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">Confirma tu compra</div>
        <div class="col-12 d-md-none d-lg-none" >
          <div class="resumenPagoTarjeta" style="padding: 0px">
            <div class="titleResumenPago">Resumen de tu pago</div>
            <div class="contentResumenPago">
              <div class="subtitleResumenPago">{{resultVisa.nombrePrograma}}</div>
              <div class="ItemsResumenPago row">
                <div class="col-12 row itms" >
                  <div class="verionPago" style="margin: 10px 0px;
                  font-size: 14px;">{{resultVisa.version}}</div>
                  <div class="inicioPago">INICIO: {{resultVisa.tipo}} - {{resultVisa.inicio}}</div>
                </div>
                <div class="col-12 row tot">
                  <div class="col-8">Total a pagar</div>
                  <div class="col-4" style="text-align: right;">{{resultVisa.moneda}} {{resultVisa.montoTotal}}</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="iconoPagoTarjeta">
            <div class="imgPagoTarjeta"></div>
            <div class="textPagoTarjeta">
              <span>PAGO</span>
              <span>100%</span>
              <span>seguro</span>
            </div>
            <div class="descPagoTarjeta">
              <span>Este certificado garantiza la</span>
              <span>seguridad de todas tus conexiones</span>
              <span>mediante cifrado</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 inputPagoVisa">
            <ng-container >

                <mat-form-field class="col-12" appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                  <mat-label>Nombres :</mat-label>
                  <input type="text" placeholder="Número de tarjeta" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="resultVisa.datoAlumno.nombre" matInput [readonly]="true">
                </mat-form-field>
                <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                    <mat-label>Apellidos :</mat-label>
                    <input type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="resultVisa.datoAlumno.apellido" matInput [readonly]="true">
                </mat-form-field>
                <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                    <mat-label>Correo :</mat-label>
                    <input type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="resultVisa.datoAlumno.correo" matInput [readonly]="true">
                </mat-form-field>
                <mat-form-field  appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                    <mat-label>Nro. Documento :</mat-label>
                    <input type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="resultVisa.datoAlumno.numeroDocumento" matInput [readonly]="true">
                </mat-form-field>
              </ng-container>
            <div class="col-12 row" style="justify-content: center;">
                <div class="col-12 col-md-10 col-lg-10">
                  <app-default-button [confs]="{color:'primary',titulo:'Pagar ahora'}"
                    [style]="'margin-top: 20px;margin-bottom: 0px;width:100%'" (ButtoclClick)="redireccionarAWebpay()"></app-default-button>
                </div>
            </div>
          <div id="pagoviss"></div>
          <div style="    width: 100%;
          font-size: 12px;
          color: #b2b2b2;
          padding: 20px;">
            * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice.
          </div>
        </div>
        <div class="d-none col-md-6 d-md-block col-lg-6 d-lg-block" *ngIf="resultVisa!=undefined">
          <div class="resumenPagoTarjeta">
            <div class="titleResumenPago">Resumen de tu pago</div>
            <div class="contentResumenPago">
              <div class="subtitleResumenPago">{{resultVisa.nombrePrograma}}</div>
              <div class="ItemsResumenPago row">
                <div class="col-12 row itms" >
                  <div class="verionPago" style="margin: 10px 0px;
                  font-size: 14px;">{{resultVisa.version}}</div>
                  <div class="inicioPago">INICIO: {{resultVisa.tipo}} - {{resultVisa.inicio}}</div>
                </div>
                <div class="col-12 row tot">
                  <div class="col-8">Total a pagar</div>
                  <div class="col-4" style="text-align: right;">{{resultVisa.moneda}} {{resultVisa.montoTotal}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="iconoPagoTarjeta">
            <div class="imgPagoTarjeta"></div>
            <div class="textPagoTarjeta">
              <span>PAGO</span>
              <span>100%</span>
              <span>seguro</span>
            </div>
            <div class="descPagoTarjeta">
              <span>Este certificado garantiza la</span>
              <span>seguridad de todas tus conexiones</span>
              <span>mediante cifrado</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  