<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <h1 class="titulos">
          Transparencia
        </h1>
        <div style="font-size: 21px;    margin-top: 20px;
        color: #797978;">BSG Institute muestra la información de transparencia en la gestión del
          Instituto de Educación Superior</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="justify-content: center;">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">1)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación y créditos educativos otorgados en el año en curso.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div style="margin-top: 5px; font-size: 18px;">
            El IES no considera el otorgamiento de becas.
          </div>
          <!-- <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 80px;">Año</th>
                <th style="min-width: 100px;">Ciudad</th>
                <th style="min-width: 180px;">Programa de Estudios</th>
                <th style="min-width: 180px;">Cr&eacute;dito Educativo</th>
              </tr>
              <tr>
                <td rowspan="2">2024</td>
                <td rowspan="2">Arequipa</td>
                <td>Administraci&oacute;n de empresas</td>
                <td>Si</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de información</td>
                <td>Si</td>
              </tr>
            </table>
            <p style="font-size: 12px;color: #7d7d7c;margin-top: 10px;">(*) Sujeto a previa evaluación y aprobación de la coordinación académica.</p>
          </div> -->
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">2)</p>
        <div class="col-11 col-md-11 col-lg-11">
          <div>Relación de derechos, tasas, montos de pensiones u otros pagos que deben
            realizar los estudiantes por toda índole, según corresponda.</div>
            <div style="margin-top: 5px; font-size: 18px;">
              Aplicable a los siguientes Programas:
            </div>
            <div style="margin-top: 5px;margin-bottom: 5px;font-size: 18px;">
              <ul>
                <li style="list-style-type: disc;"><span>Programa de estudios  en Administración de Empresas (6 periodos académicos)</span></li>
                <li style="list-style-type: disc;"><span>Programa de estudios en Desarrollo de Sistemas de Información (6 periodos académicos)</span></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <!-- <tr style="background: #e6eefa;text-align: center;">
                <th colspan="3">LISTA DE PRECIOS PENSIONES Y TRÁMITES</th>
              </tr> -->
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 180px;">TRÁMITE</th>
                <th style="min-width: 120px;">COSTO</th>
              </tr>
              <tr>
                <td>Matrícula (1 por periodo académico)</td>
                <td>S/. 290.00</td>
              </tr>
              <tr>
                <td>Pensiones (6 por periodo académico)</td>
                <td>S/. 690.00</td>
              </tr>
              <tr>
                <td>Certificación Modular</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Certificado de notas</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Certificado Oficial de Estudios</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Duplicado del Certificado Oficial de Estudios</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Ceremonia de Graduación Instituto</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Constancia de Egresado</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Constancia de Orden de Mérito</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Constancia de Conducta</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Constancia de No Adeudo</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Constancia de Tercio Superior</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Reingreso (de no haber realizado reserva de matrícula)</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Reserva de Matrícula</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Traslado Interno (entre programas de estudios)</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Derecho de Bachiller Técnico</td>
                <td>(*)</td>
              </tr>
              <tr>
                <td>Derecho de Titulación</td>
                <td>(*)</td>
              </tr>
            </table>
            <p style="font-size: 12px;color: #7d7d7c;margin-top: 10px;">
              (*) Los pagos por conceptos de Procesos académicos están incluidos en los pagos de pensiones y matriculas.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">3)</p>
        <div class="col-11 col-md-11 col-lg-11">Conformación del cuerpo docente, sus respectivas hojas de vida
          actualizadas y las materias en las que se desempeña.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 20px;">
          <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_01.pdf" title="Anexo 01"
            target="_blank">Anexo 01</a>
        </div>
      </div> -->
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">3)</p>
        <div class="col-11 col-md-11 col-lg-11">El número de ingresantes, matriculados y egresados por año y programa
          formativo.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 180px;">PROGRAMA DE ESTUDIOS</th>
                <th style="min-width: 180px;">Ingresantes <br> 2024-2029</th>
                <th style="min-width: 180px;">Matriculados <br> 2024-2029</th>
                <th style="min-width: 180px;">Egresados <br> 2024-2029</th>
                <!-- <th style="min-width: 180px;">Metas pronosticadas 2021</th> -->
              </tr>
              <tr>
                <td>Gestión Administrativa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de Información</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">4)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación de programas de estudios, sus horarios y procesos de matrícula.
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <div style="color: #575756;font-weight: 800; margin-bottom: 15px;">Oferta Educativa</div>
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="width: 16%; word-wrap: break-word; word-break: break-word;font-size: 14px;">Programa de Estudios</th>
                <th style="width: 13%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Duración</th>
                <th style="width: 14%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Nivel</th>
                <th style="width: 13%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Horario</th>
                <th style="width: 16%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Duración del proceso de matrícula</th>
                <th style="width: 15%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Fechas del proceso de matrícula</th>
                <th style="width: 13%; word-wrap: break-word; word-break: break-word;font-size: 14px;;">Proceso de Matrícula</th>
              </tr>
              <tr>
                <td style="font-size: 12px;">Gestión Administrativa</td>
                <td style="font-size: 12px;">3 años</td>
                <td style="font-size: 12px;">Técnico Profesional</td>
                <td style="font-size: 12px;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"><span>MAÑANA <br> 8:00-13:00</span></li>
                    <li style="list-style-type: disc;"><span>TARDE <br>  13:10-18:10</span></li>
                    <li style="list-style-type: disc;"><span>NOCHE <br>  18:15-22:45</span></li>
                  </ul>
                </td>
                <td style="font-size: 12px;">10 días hábiles</td>
                <td style="font-size: 12px;">Del 01 al 15 de <br>julio de 2024</td>
                <td style="font-size: 12px;">
                  <div style="text-decoration: underline; cursor: pointer;color: #7096d0;" (click)="ModalProcesoMatricula()">Proceso de Matrícula</div>
                </td>
              </tr>
              <tr>
                <td style="font-size: 12px;">Desarrollo de Sistemas de Información</td>
                <td style="font-size: 12px;">3 años</td>
                <td style="font-size: 12px;">Técnico Profesional</td>
                <td style="font-size: 12px;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"><span>MAÑANA  <br> 8:00-13:00</span></li>
                    <li style="list-style-type: disc;"><span>TARDE  <br>  13:10-18:10</span></li>
                    <li style="list-style-type: disc;"><span>NOCHE  <br>  18:15-22:45</span></li>
                  </ul>
                </td>
                <td style="font-size: 12px;">10 días hábiles</td>
                <td style="font-size: 12px;">Del 01 al 15 de <br>julio de 2024</td>
                <td style="font-size: 12px;">
                  <div style="text-decoration: underline; cursor: pointer;color: #7096d0;" (click)="ModalProcesoMatricula()">Proceso de Matrícula</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">5)</p>
        <div class="col-11 col-md-11 col-lg-11">El estatuto o reglamento institucional.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 5px;">
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/PROYECTO-EDUCATIVO.pdf"
              title="Proyecto Educativo Institucional 2024-2029" target="_blank">
              Proyecto Educativo Institucional 2024-2029
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/PLAN-ANUAL-DE-TRABAJO.pdf"
              title="Plan Anual de Trabajo" target="_blank">
              Plan Anual de Trabajo
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/REGLAMENTO-INStitucional.pdf"
              title="Reglamento Interno" target="_blank">
              Reglamento Interno
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Manual-de-Procesos-Aacademicos-2024-2029.pdf"
              title="Reglamento Interno" target="_blank">
              Manual de Procesos Académicos 2024-2029
            </a>
          </div>

        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">6)</p>
        <div class="col-11 col-md-11 col-lg-11">Plana Docente
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 140px;text-align: center;width: 16%;">Programa de Estudios</th>
                <th style="min-width: 115px;text-align: center;width: 14%;">Docente</th>
                <th style="min-width: 115px;text-align: center;width: 40%;">Hoja de Vida</th>
                <th style="min-width: 115px;text-align: center;width: 30%;">Materias que desempeñará</th>
              </tr>
              <tr>
                <td style="font-size: 15px;"rowspan="5">Programa de estudios en Desarrollo de Sistemas de Información</td>
                <td style="font-size: 15px;">Camasca Macedo Charles Dummar</td>
                <td style="font-size: 15px;text-align: justify;">Master en Proyectos de Inversión por la Universidad Agraria de la Selva – UNAS. Ingeniero en
                  Informática y Sistemas por la UNAS. Actualmente se desempeña como Docente en diversas
                  Universidades e Institutos de Formación Profesional. Cuenta con amplia experiencia en
                  Técnicas de Programación Orientada a Objetos, Algorítmica y Estructura de Datos, E-Business,
                  Inteligencia de Negocios, Soluciones Web Y Aplicaciones Distribuidas, Compiladores Y
                  Lenguajes De Programación. Con dominio de Lenguaje de Programación Python, Java
                  Netbeans 8.2, Eclipse, Pascal, C++ 4.5, 5.0, Prolog., Microsoft Visual Basic 6.0., Microsoft Visual
                  Studio.net 2003 – 2019, Microsoft SQL Server 2000 – 2017 y Oracle SQL Developer 19G. Ha
                  ocupado cargos importantes como Especialista en Informática y Sistemas en la Dirección
                  Ejecutiva Antidrogas, Consultor Senior de Control Escalafonario en la Ugel Ambo, entre otros.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Taller de Inteligencia artificial y robótica.</span></li>
                    <li style="list-style-type: disc;"> <span> Riesgos en el ciclo de desarrollo de software.</span></li>
                    <li style="list-style-type: disc;"> <span> Seguridad de Tecnología de Información.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Alvites Huamani Juan Manuel</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Sistemas por la Universidad Federico Villarreal. Diplomado en
                  Habilidades Docentes por el Instituto Tecnológico y de Estudios Superiores de Monterrey
                  y en Docencia de Educación Superior por la Universidad Norbert Wiener. Actualmente se
                  desempeña como Docente en diversas Universidades e Institutos de Formación Profesional.
                  Cuenta con amplia experiencia en Programación Orientada a Objetos, Programación Web,
                  Creación y Diseño de Videojuegos, Programación de Aplicaciones Móviles y Base de Datos SQL
                  Server.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Programación de videojuegos.</span></li>
                    <li style="list-style-type: disc;"> <span> Implementación de entorno de pruebas.</span></li>
                    <li style="list-style-type: disc;"> <span> Evaluación e Implementación de Software.</span></li>
                    <li style="list-style-type: disc;"> <span> Despliegue e Implementación de Software.</span></li>
                    <li style="list-style-type: disc;"> <span> Administración de la Calidad De Software.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Sanchez Bernal Luis Enrique</td>
                <td style="font-size: 15px;text-align: justify;">Magister en Dirección de Operaciones y Logística por la Universidad Nacional San Agustín.
                  Actualmente se desempeña como Consultor Senior en Abdb Logística S.A.C. Cuenta con
                  amplia experiencia en el área de logística desempeñando cargos como: Jefe de Logística, Jefe
                  de Almacenes, Supervisor General de Operaciones Logísticas en distintas empresas como:
                  Corporación Aceros Arequipa S.A., Cerámica San Lorenzo S.A.C. y Decor Center S.A.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Comunicación Efectiva.</span></li>
                    <li style="list-style-type: disc;"> <span> Emprendimiento.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Castañeda Hernandez Novar Michell</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Sistemas con Mención en Gestión de Tecnologías de la Información
                  por la Universidad Nacional Federico Villarreal. Licenciado en Educación por la Universidad
                  Católica San José y Técnico en Computación e Informática por el ISTP Norbert Wiener.
                  Profesional con amplia experiencia como Docente para diversas Universidades e Institutos
                  de Educación Superior en cursos relacionados a Computación e Informática y Análisis de
                  Sistemas, Tecnologías de la Información, Desarrollo de Sistemas de Información, entre otros.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Base de datos relacionales I.</span></li>
                    <li style="list-style-type: disc;"> <span> Algoritmos Y Estructuras de datos.</span></li>
                    <li style="list-style-type: disc;"> <span> Implementación de interfaces de usuario.</span></li>
                    <li style="list-style-type: disc;"> <span> Auditoria de software.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Higa Uechi Roberto Tomio</td>
                <td style="font-size: 15px;text-align: justify;">Ingeniero de Sistemas e Informática por la Universidad Norbert Winer. Diplomado
                  en Implementación de Base de Datos SQL por la Universidad Peruana de Ciencias
                  e Informática con múltiples especializaciones en Tecnologías de Información y
                  E-Business, Gerencia de Marketing y Dirección Estratégica para la Gerencia por
                  CENTRUM PUCP – Escuela de Negocios de la Pontificia Universidad Católica del Perú.
                  Actualmente se desempeña como Manager Coordinador en Impro Art Outsourcing
                  y es Miembro de Community Mannager en la Gestión de Marketing Digital, Social
                  Media e E-Commerce. Cuenta con amplia experiencia en Desarrollo de Software,
                  Gestión de Proyectos TI, Análisis y Diseño de Sistemas, Administración de Redes
                  y Servidores y Gestión de Procesos aplicados a Recursos Humanos, Manufactura y
                  Logística. Con dominio de Administración de Base de Datos SQL Server, ORACLE y
                  MySQL, Desarrollo de Aplicaciones de Escritorio y Entornos Web en C#, JAVA – POO y
                  Patrón MVC.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Herramientas de desarrollo de software.</span></li>
                    <li style="list-style-type: disc;"> <span> Metodologías de desarrollo de software.</span></li>
                    <li style="list-style-type: disc;"> <span> Herramientas informáticas.</span></li>
                    <li style="list-style-type: disc;"> <span> Fundamentos de Programación I.</span></li>
                    <li style="list-style-type: disc;"> <span> Base de datos relacionales II.</span></li>
                    <li style="list-style-type: disc;"> <span> Taller de Programación Distribuida.</span></li>
                    <li style="list-style-type: disc;"> <span> Fundamentos de Programación II.</span></li>
                    <li style="list-style-type: disc;"> <span> Big Data e Inteligencia de Negocios.</span></li>
                    <li style="list-style-type: disc;"> <span> Pruebas de Software.</span></li>
                    <li style="list-style-type: disc;"> <span> Internet de las cosas IoT.</span></li>
                    <li style="list-style-type: disc;"> <span> Administración de proyectos de pruebas.</span></li>
                    <li style="list-style-type: disc;"> <span> Pruebas de rendimiento del software.</span></li>
                    <li style="list-style-type: disc;"> <span> Mantenimiento y operaciones de software.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;"rowspan="4">Programa de estudios en Gestión Administrativa</td>
                <td style="font-size: 15px;">Ruiz de la Vega Huamaní Carlos Wilmer</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Software por la Universidad Nacional Mayor de San Marcos
                  - UNMSM. Diplomado en Gestión Pública por la Escuela Nacional Políticas Públicas
                  – ENAPP, en Gestión y Administración Pública y en Gestión y Dirección de Proyectos
                  por la Escuela Nacional de Estudios Gubernamentales – ENEG. Actualmente se
                  desempeña como especialista TI en la Superintendencia Nacional de la Salud.
                  Cuenta con amplia experiencia en Análisis, Diseño e Implementación de Soluciones
                  Informáticas a nivel cliente-servidor, Web, SOA y Micro Servicios, en Metodologías
                  Ágiles y Buenas Prácticas de Gestión de Proyectos Bajo el Enfoque de PMI. Ha
                  ocupado cargos importantes como Integrador de Soluciones Informáticas en el
                  Ministerios de Educación, Analista Programador Senior en la Oficina Nacional de
                  Procesos Electorales, entre otros.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Herramientas informáticas.</span></li>
                    <li style="list-style-type: disc;"> <span> Administración Pública.</span></li>
                    <li style="list-style-type: disc;"> <span> Matemática Financiera.</span></li>
                    <li style="list-style-type: disc;"> <span> Comunicación Efectiva.</span></li>
                    <li style="list-style-type: disc;"> <span> Formulación de Proyectos de Inversión.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Rodríguez Anhuaman Jose Antonio</td>
                <td style="font-size: 15px;text-align: justify;">Administrador de Empresas con Especialización en Recursos Humanos por
                  ESAN, cuenta con un Diplomado en Recursos Humanos y Calidad por la Pontificia
                  Universidad Católica del Perú. Actualmente se desempeña como Gerente General
                  Corporativo en Holding Armorum Corp. Con más de 15 años de experiencia en Diseño
                  e Implementación de Sistemas de Administración Salarial, Desarrollo de Políticas de
                  Recursos Humanos, procesos de reclutamiento, selección, Contratación e Inducción.
                  Ha ocupado cargos importantes como Jefe de Recursos Humanos en Skanska del
                  Perú S.A., entre otros.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Gestión de Recursos Humanos.</span></li>
                    <li style="list-style-type: disc;"> <span> Sistemas de Compensación Previsional y Asistencial.</span></li>
                    <li style="list-style-type: disc;"> <span> Documentación Empresariala.</span></li>
                    <li style="list-style-type: disc;"> <span> Comunicación Organizacional.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Sanchez Bernal Luis Enrique</td>
                <td style="font-size: 15px;text-align: justify;">Magister en Dirección de Operaciones y Logística por la Universidad Nacional San
                  Agustín. Actualmente se desempeña como Consultor Senior en Abdb Logística S.A.C.
                  Cuenta con amplia experiencia en el área de logística desempeñando cargos como:
                  Jefe de Logística, Jefe de Almacenes, Supervisor General de Operaciones Logísticas
                  en distintas empresas como: Corporación Aceros Arequipa S.A., Cerámica San
                  Lorenzo S.A.C. y Decor Center S.A.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Planificación y Organización.</span></li>
                    <li style="list-style-type: disc;"> <span> Sistema Logística y control de almacenes.</span></li>
                    <li style="list-style-type: disc;"> <span> Dirección y Control Empresarial.</span></li>
                    <li style="list-style-type: disc;"> <span> Emprendimiento.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Higa Uechi Roberto Tomio</td>
                <td style="font-size: 15px;text-align: justify;">Ingeniero de Sistemas e Informática por la Universidad Norbert Winer. Diplomado
                  en Implementación de Base de Datos SQL por la Universidad Peruana de Ciencias
                  e Informática con múltiples especializaciones en Tecnologías de Información y
                  E-Business, Gerencia de Marketing y Dirección Estratégica para la Gerencia por
                  CENTRUM PUCP – Escuela de Negocios de la Pontificia Universidad Católica del Perú.
                  Actualmente se desempeña como Manager Coordinador en Impro Art Outsourcing
                  y es Miembro de Community Mannager en la Gestión de Marketing Digital, Social
                  Media e E-Commerce. Cuenta con amplia experiencia en Desarrollo de Software,
                  Gestión de Proyectos TI, Análisis y Diseño de Sistemas, Administración de Redes
                  y Servidores y Gestión de Procesos aplicados a Recursos Humanos, Manufactura y
                  Logística. Con dominio de Administración de Base de Datos SQL Server, ORACLE y
                  MySQL, Desarrollo de Aplicaciones de Escritorio y Entornos Web en C#, JAVA – POO y
                  Patrón MVC.</td>
                <td style="font-size: 15px;vertical-align: top;text-align: justify;">
                  <ul style="list-style-type: none; padding: 0;">
                    <li style="list-style-type: disc;"> <span> Tecnologías de la información Aplicados la Gestión de las
                      Empresas.</span></li>
                    <li style="list-style-type: disc;"> <span> Sistemas de Ventas y Comercio Electrónico.</span></li>
                    <li style="list-style-type: disc;"> <span> Análisis de Costos y Gestión Presupuestaria.</span></li>
                    <li style="list-style-type: disc;"> <span> Gestión Financiera.</span></li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">7)</p>
        <div class="col-11 col-md-11 col-lg-11">Periodo de vigencia del Licenciamiento Institucional</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 5px;">
          El Periodo de vigencia del Licenciamiento Institucional del IES BSG Institute es: 2024 – 2029.
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">8)</p>
        <div class="col-11 col-md-11 col-lg-11">Acceso a la Biblioteca Virtual</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 5px;">
          Recuerde que para acceder a la Biblioteca Virtual, deberá estar matriculado en un Programa de Estudios del IES y contar con sus accesos a la Biblioteca
          Virtual. Si aun no cuenta con sus accesos, contacte a su asistente de Atención al Cliente por ayuda.
        </div>
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top:10px">
          <a  class="BotonBibliotecaVirtual" href="https://bc.vitalsource.com/tenants/bsg_ex/libraries" target="_blank">Biblioteca Virtual</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <h1 class="titulos">
          Transparencia
        </h1>
        <div style="font-size: 21px;    margin-top: 20px;
        color: #797978;">BSG Institute muestra la información de transparencia en la gestión del
          Instituto de Educación Superior</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="justify-content: center;">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">1)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación y número de becas y créditos educativos otorgados en el año en
          curso.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 80px;">Año</th>
                <th style="min-width: 100px;">Ciudad</th>
                <th style="min-width: 180px;">Programa de Estudios</th>
                <th style="min-width: 180px;">Cr&eacute;dito Educativo</th>
              </tr>
              <tr>
                <td rowspan="2">2024</td>
                <td rowspan="2">Arequipa</td>
                <td>Administraci&oacute;n de empresas</td>
                <td>Si</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de información</td>
                <td>Si</td>
              </tr>
            </table>
            <p style="font-size: 12px;color: #7d7d7c;margin-top: 10px;">(*) Sujeto a previa evaluación y aprobación de la coordinación académica.</p>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">2)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación de derechos, tasas, montos de pensiones u otros pagos que deben
          realizar los estudiantes por toda índole, según corresponda.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;text-align: center;">
                <th colspan="3">LISTA DE PRECIOS PENSIONES Y TRÁMITES</th>
              </tr>
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 80px;">COD.</th>
                <th style="min-width: 180px;">DESCRIPCIÓN</th>
                <th style="min-width: 120px;">COSTO</th>
              </tr>
              <tr>
                <td>0010</td>
                <td>Matrícula (1 por semestre)</td>
                <td>S/. 290.00</td>
              </tr>
              <tr>
                <td>0020</td>
                <td>Pensiones (5 por semestre)</td>
                <td>S/. 690.00</td>
              </tr>
              <tr>
                <td>0030</td>
                <td>Certificación Modular</td>
                <td>S/. 50.00</td>
              </tr>
              <tr>
                <td>0040</td>
                <td>Certificado de notas</td>
                <td>S/. 20.00</td>
              </tr>
              <tr>
                <td>0050</td>
                <td>Certificado Oficial de Estudios</td>
                <td>S/. 50.00</td>
              </tr>
              <tr>
                <td>0060</td>
                <td>Duplicado del Certificado Oficial de Estudios</td>
                <td>S/. 40.00</td>
              </tr>
              <tr>
                <td>0070</td>
                <td>Ceremonia de Graduación Instituto</td>
                <td>S/. 250.00</td>
              </tr>
              <tr>
                <td>0080</td>
                <td>Constancia de Egresado</td>
                <td>S/. 100.00</td>
              </tr>
              <tr>
                <td>0090</td>
                <td>Constancia de Orden de Mérito</td>
                <td>S/. 15.00</td>
              </tr>
              <tr>
                <td>0100</td>
                <td>Constancia de Conducta</td>
                <td>S/. 15.00</td>
              </tr>
              <tr>
                <td>0110</td>
                <td>Constancia de No Adeudo</td>
                <td>S/. 15.00</td>
              </tr>
              <tr>
                <td>0120</td>
                <td>Constancia de Tercio Superior</td>
                <td>S/. 15.00</td>
              </tr>
              <tr>
                <td>0130</td>
                <td>Reingreso (de no haber realizado reserva de matrícula)</td>
                <td>S/. 50.00</td>
              </tr>
              <tr>
                <td>0140</td>
                <td>Reserva de Matrícula</td>
                <td>S/. 50.00</td>
              </tr>
              <tr>
                <td>0150</td>
                <td>Traslado Interno (entre programas de estudios)</td>
                <td>S/. 150.00</td>
              </tr>
              <tr>
                <td>0160</td>
                <td>Derecho de Bachiller Técnico</td>
                <td>S/. 300.00</td>
              </tr>
              <tr>
                <td>0170</td>
                <td>Derecho de Titulación</td>
                <td>S/. 300.00</td>
              </tr>
            </table>
            <p style="font-size: 12px;color: #7d7d7c;margin-top: 10px;">(*) Los pagos por conceptos de constancias,
              certificados y titulación están incluidos en los pagos de pensiones y matriculas.</p>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">3)</p>
        <div class="col-11 col-md-11 col-lg-11">El número de ingresantes, matriculados y egresados por año y programa
          formativo.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 180px;">PROGRAMA DE ESTUDIOS</th>
                <th style="min-width: 180px;">Meta para el año 2024</th>
              </tr>
              <tr>
                <td>Gestión Administrativa</td>
                <td>60</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de Información</td>
                <td>60</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">4)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación de programas de estudios, sus horarios y procesos de matrícula.
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <div style="color: #575756;font-weight: 800; margin-bottom: 15px;">Oferta Educativa</div>
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 140px;">Programa de Estudios</th>
                <th style="min-width: 115px;">Duración</th>
                <th style="min-width: 107px;">Nivel</th>
                <th style="min-width: 99px;">Horario</th>
                <th style="min-width: 127px;">Modalidad</th>
                <th style="min-width: 100px;">Ciudad</th>
                <th style="min-width: 130px;">Proceso de matrícula</th>
              </tr>
              <tr>
                <td style="font-size: 12px;">Gestión Administrativa</td>
                <td style="font-size: 12px;"rowspan="2">3 años</td>
                <td style="font-size: 12px;" rowspan="2">Técnico Profesional</td>
                <td style="font-size: 12px;" rowspan="2">Nocturna</td>
                <td style="font-size: 12px;"rowspan="2">Presencial y a distancia</td>
                <td style="font-size: 12px;" rowspan="2">Arequipa</td>
                <td style="font-size: 12px;" rowspan="2">Ordinario</td>
              </tr>
              <tr>
                <td style="font-size: 12px;">Desarrollo de Sistemas de Información</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">5)</p>
        <div class="col-11 col-md-11 col-lg-11">El estatuto o reglamento institucional.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 5px;">

          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/PROYECTO-EDUCATIVO.pdf"
              title="Proyecto Educativo Institucional 2024-2029" target="_blank">
              Proyecto Educativo Institucional 2024-2029
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/PLAN-ANUAL-DE-TRABAJO.pdf"
              title="Plan Anual de Trabajo" target="_blank">
              Plan Anual de Trabajo
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/REGLAMENTO-INStitucional.pdf"
              title="Reglamento Interno" target="_blank">
              Reglamento Interno
            </a>
          </div>
          <div style="margin-bottom: 5px;">
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Manual-de-Procesos-Aacademicos-2024-2029.pdf"
              title="Reglamento Interno" target="_blank">
              Manual de Procesos Académicos 2024-2029
            </a>
          </div>

        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">6)</p>
        <div class="col-11 col-md-11 col-lg-11">Plana Docente
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 140px;text-align: center;width: 25%;">Programa de Estudios</th>
                <th style="min-width: 115px;text-align: center;width: 20%;">Docente</th>
                <th style="min-width: 115px;text-align: center;width: 55%;">Hoja de Vida</th>
              </tr>
              <tr>
                <td style="font-size: 15px;"rowspan="5">Programa de estudios en Desarrollo de Sistemas de Información</td>
                <td style="font-size: 15px;">Camasca Macedo Charles Dummar</td>
                <td style="font-size: 15px;text-align: justify;">Master en Proyectos de Inversión por la Universidad Agraria de la Selva – UNAS. Ingeniero en
                  Informática y Sistemas por la UNAS. Actualmente se desempeña como Docente en diversas
                  Universidades e Institutos de Formación Profesional. Cuenta con amplia experiencia en
                  Técnicas de Programación Orientada a Objetos, Algorítmica y Estructura de Datos, E-Business,
                  Inteligencia de Negocios, Soluciones Web Y Aplicaciones Distribuidas, Compiladores Y
                  Lenguajes De Programación. Con dominio de Lenguaje de Programación Python, Java
                  Netbeans 8.2, Eclipse, Pascal, C++ 4.5, 5.0, Prolog., Microsoft Visual Basic 6.0., Microsoft Visual
                  Studio.net 2003 – 2019, Microsoft SQL Server 2000 – 2017 y Oracle SQL Developer 19G. Ha
                  ocupado cargos importantes como Especialista en Informática y Sistemas en la Dirección
                  Ejecutiva Antidrogas, Consultor Senior de Control Escalafonario en la Ugel Ambo, entre otros.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Alvites Huamani Juan Manuel</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Sistemas por la Universidad Federico Villarreal. Diplomado en
                  Habilidades Docentes por el Instituto Tecnológico y de Estudios Superiores de Monterrey
                  y en Docencia de Educación Superior por la Universidad Norbert Wiener. Actualmente se
                  desempeña como Docente en diversas Universidades e Institutos de Formación Profesional.
                  Cuenta con amplia experiencia en Programación Orientada a Objetos, Programación Web,
                  Creación y Diseño de Videojuegos, Programación de Aplicaciones Móviles y Base de Datos SQL
                  Server.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Sanchez Bernal Luis Enrique</td>
                <td style="font-size: 15px;text-align: justify;">Magister en Dirección de Operaciones y Logística por la Universidad Nacional San Agustín.
                  Actualmente se desempeña como Consultor Senior en Abdb Logística S.A.C. Cuenta con
                  amplia experiencia en el área de logística desempeñando cargos como: Jefe de Logística, Jefe
                  de Almacenes, Supervisor General de Operaciones Logísticas en distintas empresas como:
                  Corporación Aceros Arequipa S.A., Cerámica San Lorenzo S.A.C. y Decor Center S.A.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Castañeda Hernandez Novar Michell</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Sistemas con Mención en Gestión de Tecnologías de la Información
                  por la Universidad Nacional Federico Villarreal. Licenciado en Educación por la Universidad
                  Católica San José y Técnico en Computación e Informática por el ISTP Norbert Wiener.
                  Profesional con amplia experiencia como Docente para diversas Universidades e Institutos
                  de Educación Superior en cursos relacionados a Computación e Informática y Análisis de
                  Sistemas, Tecnologías de la Información, Desarrollo de Sistemas de Información, entre otros.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Higa Uechi Roberto Tomio</td>
                <td style="font-size: 15px;text-align: justify;">Ingeniero de Sistemas e Informática por la Universidad Norbert Winer. Diplomado
                  en Implementación de Base de Datos SQL por la Universidad Peruana de Ciencias
                  e Informática con múltiples especializaciones en Tecnologías de Información y
                  E-Business, Gerencia de Marketing y Dirección Estratégica para la Gerencia por
                  CENTRUM PUCP – Escuela de Negocios de la Pontificia Universidad Católica del Perú.
                  Actualmente se desempeña como Manager Coordinador en Impro Art Outsourcing
                  y es Miembro de Community Mannager en la Gestión de Marketing Digital, Social
                  Media e E-Commerce. Cuenta con amplia experiencia en Desarrollo de Software,
                  Gestión de Proyectos TI, Análisis y Diseño de Sistemas, Administración de Redes
                  y Servidores y Gestión de Procesos aplicados a Recursos Humanos, Manufactura y
                  Logística. Con dominio de Administración de Base de Datos SQL Server, ORACLE y
                  MySQL, Desarrollo de Aplicaciones de Escritorio y Entornos Web en C#, JAVA – POO y
                  Patrón MVC.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;"rowspan="4">Programa de estudios en Gestión Administrativa</td>
                <td style="font-size: 15px;">Ruiz de la Vega Huamaní Carlos Wilmer</td>
                <td style="font-size: 15px;text-align: justify;">Master en Ingeniería de Software por la Universidad Nacional Mayor de San Marcos
                  - UNMSM. Diplomado en Gestión Pública por la Escuela Nacional Políticas Públicas
                  – ENAPP, en Gestión y Administración Pública y en Gestión y Dirección de Proyectos
                  por la Escuela Nacional de Estudios Gubernamentales – ENEG. Actualmente se
                  desempeña como especialista TI en la Superintendencia Nacional de la Salud.
                  Cuenta con amplia experiencia en Análisis, Diseño e Implementación de Soluciones
                  Informáticas a nivel cliente-servidor, Web, SOA y Micro Servicios, en Metodologías
                  Ágiles y Buenas Prácticas de Gestión de Proyectos Bajo el Enfoque de PMI. Ha
                  ocupado cargos importantes como Integrador de Soluciones Informáticas en el
                  Ministerios de Educación, Analista Programador Senior en la Oficina Nacional de
                  Procesos Electorales, entre otros.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Rodríguez Anhuaman Jose Antonio</td>
                <td style="font-size: 15px;text-align: justify;">Administrador de Empresas con Especialización en Recursos Humanos por
                  ESAN, cuenta con un Diplomado en Recursos Humanos y Calidad por la Pontificia
                  Universidad Católica del Perú. Actualmente se desempeña como Gerente General
                  Corporativo en Holding Armorum Corp. Con más de 15 años de experiencia en Diseño
                  e Implementación de Sistemas de Administración Salarial, Desarrollo de Políticas de
                  Recursos Humanos, procesos de reclutamiento, selección, Contratación e Inducción.
                  Ha ocupado cargos importantes como Jefe de Recursos Humanos en Skanska del
                  Perú S.A., entre otros.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Sanchez Bernal Luis Enrique</td>
                <td style="font-size: 15px;text-align: justify;">Magister en Dirección de Operaciones y Logística por la Universidad Nacional San
                  Agustín. Actualmente se desempeña como Consultor Senior en Abdb Logística S.A.C.
                  Cuenta con amplia experiencia en el área de logística desempeñando cargos como:
                  Jefe de Logística, Jefe de Almacenes, Supervisor General de Operaciones Logísticas
                  en distintas empresas como: Corporación Aceros Arequipa S.A., Cerámica San
                  Lorenzo S.A.C. y Decor Center S.A.</td>
              </tr>
              <tr>
                <td style="font-size: 15px;">Higa Uechi Roberto Tomio</td>
                <td style="font-size: 15px;text-align: justify;">Ingeniero de Sistemas e Informática por la Universidad Norbert Winer. Diplomado
                  en Implementación de Base de Datos SQL por la Universidad Peruana de Ciencias
                  e Informática con múltiples especializaciones en Tecnologías de Información y
                  E-Business, Gerencia de Marketing y Dirección Estratégica para la Gerencia por
                  CENTRUM PUCP – Escuela de Negocios de la Pontificia Universidad Católica del Perú.
                  Actualmente se desempeña como Manager Coordinador en Impro Art Outsourcing
                  y es Miembro de Community Mannager en la Gestión de Marketing Digital, Social
                  Media e E-Commerce. Cuenta con amplia experiencia en Desarrollo de Software,
                  Gestión de Proyectos TI, Análisis y Diseño de Sistemas, Administración de Redes
                  y Servidores y Gestión de Procesos aplicados a Recursos Humanos, Manufactura y
                  Logística. Con dominio de Administración de Base de Datos SQL Server, ORACLE y
                  MySQL, Desarrollo de Aplicaciones de Escritorio y Entornos Web en C#, JAVA – POO y
                  Patrón MVC.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
