<div class="row modalPagoTitle" style="display: flex;">
  <div class=" col-11">
    Elige tu método de pago
  </div>
  <div class="col-1" style="text-align: end;font-weight: bold;cursor: pointer;" (click)="dialogRef.close()">
    X
  </div>
</div>
<div class="tarjetasModal row" *ngIf="tarjetas!=undefined" style="margin: 40px 0px 10px;">
  <div class="col-10 col-md-10 col-lg-8">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Seleccione su medio de pago</mat-label>
      <mat-select (selectionChange)="change()" [(ngModel)]="medioCodigo">
        <mat-select-trigger style="    display: flex;
        justify-content: space-between;">
          <div style="display: flex;
          justify-content: space-between;
          align-items: center;" *ngIf="medioCodigo.length>0">
            <div>{{medioPago}} </div>
          </div>
          <img [src]="'../../../../assets/icons/'+imgMedioPago" alt="" style="width: 20px;">
        </mat-select-trigger>
        <mat-option *ngFor="let item of tarjetas"  [value]="item.medioCodigo">{{item.medioPago}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-1 col-md-1 col-lg-1" style="    padding: 0px;" *ngIf="medioCodigo.length>0">
    <i  class="material-icons" style="color: #01c255;
    padding-bottom: 1.14375em;">check_circle</i>
  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content: center;">

      <app-default-button [confs]="{color:'primary',titulo:tituloBotonModal}" [style]="'padding: 0px 30px;    border-radius: 30px;'" (ButtoclClick)="Pagar()"></app-default-button>
  </div>
</div>
