<div class="modalPagoTitle">
  Elige tu método de pago
</div>
<div class="tarjetasModal row" *ngIf="tarjetas!=undefined" style="margin: 40px 0px 10px;">
  <div class="col-10 col-md-10 col-lg-8">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Seleccione su medio de pago</mat-label>
      <mat-select (selectionChange)="change()" [(ngModel)]="medioCodigo">
        <mat-select-trigger>
          <div style="display: flex;
          justify-content: space-between;
          align-items: center;" *ngIf="medioCodigo.length>0">
            <div>{{medioPago}} </div>
            <img [src]="'../../../../assets/icons/'+imgMedioPago" alt="" style="width: 20px;">
          </div>

        </mat-select-trigger>
        <mat-option *ngFor="let item of tarjetas"  [value]="item.medioCodigo">{{item.medioPago}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-1 col-md-1 col-lg-1" style="    padding: 0px;" *ngIf="medioCodigo.length>0">
    <i  class="material-icons" style="color: #01c255;
    padding-bottom: 1.14375em;">check_circle</i>
  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content: center;">
      <app-default-button [confs]="{color:'primary',titulo:'Ir a pagar'}" [style]="'padding: 0px 40px;'" (ButtoclClick)="Pagar()"></app-default-button>
  </div>
</div>
