.mat-slider-track-fill,.mat-slider-thumb,.mat-slider-thumb-label{
  background-color: #fca534 !important;
}
.slider{
  display: flex;
  font-size: 12px;
  align-items: center;
  width: 100%;
}
.mat-select-arrow-wrapper{
  display: table-cell !important;
}
.tagitem{
  width: auto;
  font-size: 12px;
  background: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fixedDiv{
  position: sticky;
  background: white;
  z-index: 1;
  top: 72px;
  left: 0;
  padding-bottom: 20px;
  box-shadow: -1px 1px 4px 0px #adadad;
}
.expancionfixed mat-expansion-panel{
  border: 0px;
    box-shadow: 0px 0px 0px transparent !important;
}
.expancionfixed mat-expansion-panel .mat-expansion-panel-header{
  margin-top:15px ;
}
