.btn-general {
    width: auto;
   // border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.primary {
    background-color: #F8893F;
    color: white;
    &:hover {
        background-color: #fb9754;
      text-decoration: underline;
    }
}
.danger {
    background-color: red;
    color: white;
    &:hover {
        background-color: rgb(244, 72, 72);
    }
}
