<div class="LandingPageContenedor row" >
  <div class="col-12 col-md-8" style="background: white;padding: 0px;width: 475px;">
    <div style="background-color: #AFCA0A;height: 45px;">
      <div class="Encabezado-LandingPage">
        BSG Institute
      </div>
    </div>

    <div style="background-color: #ECEDEF">
      <div class="NombreProgramaLP">
        {{data.NombrePrograma}}
      </div>
      <div class="InstruccionLP">
        Por favor complete sus datos para poder hacerle llegar la información	de manera personalizada.
      </div>
      <ng-container *ngIf="combosPrevios!=undefined">
        <div class="OpcionLP">
          <a style="color: #033DAB;" (click)="LimpiarCampos()">[No soy {{FormularioLandingPage.Nombres}}]</a>
        </div>
      </ng-container>
    </div>

    <div style="padding: 10px 25px;">
      <ng-container *ngIf="combosPrevios!=undefined" style="margin-top: 10px;">
        <app-formulario style="margin-top: 20px" [model]="FormularioLandingPage" [InputsDisable]="statuscharge"
          (OnValid)="formVal=$event" [fiels]="fileds" [Tipo]="1" (OnSubmit)="EnviarFormulario($event)" (OnSubmit)="dialogRef.close()" (OnSelect)="SelectChage($event)"  >

          <ng-container contenido>
          </ng-container>

          <ng-container send>
            <div class="TerminosLP">
              Al hacer clic en "Solicitar Información", Ud. acepta enviar su información a BSG Institute, que se compromete a usarla en conformidad a su Política de Privacidad y su Política de Datos. <a routerLink="/politica-privacidad" target="_blank">Consulte la política de privacidad de BSG Institute...</a>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <app-default-button [confs]="{color:'primary',titulo:'Solicitar Información'}" [style]="'width: 100%;margin-top:10px'"
              [disabled]="!formVal"  ></app-default-button>
            </div>

          </ng-container>
        </app-formulario>
        </ng-container>
        <ng-container *ngIf="combosPrevios==undefined" style="margin-top: 10px;">
        <app-formulario style="margin-top: 20px" [model]="FormularioLandingPage" [InputsDisable]="statuscharge"
          (OnValid)="formVal=$event" [fiels]="fileds" [Tipo]="1" (OnSubmit)="EnviarFormulario($event)"  (OnSelect)="SelectChage($event)"  >

          <ng-container contenido>
          </ng-container>

          <ng-container send>
            <div class="TerminosLP">
              Al hacer clic en "Solicitar Información", Ud. acepta enviar su información a BSG Institute, que se compromete a usarla en conformidad a su Política de Privacidad y su Política de Datos. <a routerLink="/politica-privacidad" target="_blank">Consulte la política de privacidad de BSG Institute...</a>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <app-default-button [confs]="{color:'primary',titulo:'Solicitar Información'}" [style]="'width: 100%;margin-top:10px'"
              [disabled]="!formVal"  ></app-default-button>
            </div>
          </ng-container>
        </app-formulario>
        </ng-container>

        <div class="col-12 col-md-12 col-lg-12">
          <div (click)="dialogRef.close()" style=" cursor:pointer;text-align: center;">
            [Cerrar]
          </div>
        </div>
    </div>
  </div>



</div>
