<div class="container">
  <div class="row" style="justify-content: end;margin-right: 5px;">
    <mat-icon class="btn" (click)="cerraModal()">close</mat-icon>
  </div>
  <div class="container"style="display: flex; justify-content: center;">
    <div class="col-12 row" style="margin-top: 10px;border: solid 1px #d5d5d5;border-radius: 5px;" *ngIf="resultPreProcesoMP!=undefined">
      <div class="col-12 col-md-12 col-lg-12 titlePagoTarjetaModalMercadoPago"style="align-items: center;">Confirma tu compra</div>
      <div class="col-12 col-md-12 col-lg-12 inputPagoVisaMercadoPago row">
        <div *ngIf="hiden">
          <div class="col-12" style="display: flex;justify-content: center;">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div [hidden]="hiden">
            <div id="cardPaymentBrick_container"></div>
        </div>

        <div style="    width: 100%;
        font-size: 12px;
        color: #b2b2b2;
        padding: 20px;">
          <!-- * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice. -->
        </div>

      </div>
    </div>
  </div>
</div>
