
<div style="width: 480px; font-size:14px;  border-radius:1.1em  !important">
 
<div mat-dialog-content style="text-align: center;;"> 
  <div style="font-weight: bold; font-size:15px; margin:17px;">Su solicitud se ha registrado</div>
  Le comunicaremos por correo electrónico y WhatsApp cuando
    su certificado se encuentre en proceso de envio y pueda realizar
    el seguimiento hasta su entrega.
</div>
<div mat-dialog-actions style=" justify-content: center;
align-items: center;">
   <mat-button mat-dialog-close style="text-align: center;margin-top: 20px; margin-bottom: 30px; padding:0.6em; padding-left: 2.5em ; padding-right: 2.5em; border-radius:2em; background-color:#F8893F; color: white;" mat-dialog-close >
    Cerrar >
   </mat-button>
</div>
</div>
