<!-- holax -->
<div style="display: flex;">
  <div class="carousel-programas">
    <ngb-carousel style="width: 99%" >
      <ng-template ngbSlide *ngFor="let ste of stepProgramas">
        <div class="wrapper"  style="display: flex;justify-content: center;">
          <div class="row"  style="align-items: center;width: 100%;justify-content: center;" >
            <div class="col-12 col-xs-6 col-md-6 col-lg-3" *ngFor="let item of ste" style="height: 100%;">
              <ng-container *ngIf="item.Title!=''">
                <app-card-programas [cardContent]="item" [Interaccion]="'Inicio (Formacion continua)'"></app-card-programas>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="verMas" *ngFor="let stepVerMas of stepProgramasVerMas">
    <div *ngFor="let item of stepVerMas">
      <div *ngIf="item.Title==''">
        <div class="contentArrow" [routerLink]="item.Url">
          <div class="arrow" >
            <i class="material-icons">arrow_forward_ios</i>
          </div>
          <div class="textArrow">Ver más</div>
        </div>
      </div>
    </div>
  </div>
</div>
