<div class="carousel-programas">
  <ngb-carousel style="width: 99%" >
    <ng-template ngbSlide *ngFor="let ste of stepProgramas">
      <div class="wrapper" style="display: flex;justify-content: center;">
        <div class="row" style="align-items: center;width: 95%;justify-content: center;" >
          <div class="col-12 col-xs-6 col-md-6 col-lg-3" *ngFor="let item of ste" style="height: 100%;">
            <ng-container *ngIf="item.Title!=''">
              <app-card-programas [cardContent]="item" ></app-card-programas>
            </ng-container>
            <ng-container *ngIf="item.Title==''">
              <div class="contentArrow" [routerLink]="item.Url">
                <div class="arrow" >
                  <i class="material-icons">arrow_forward_ios</i>
                </div>
                <div class="textArrow">Ver más</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
