<!-- holax1 -->
<div class="container">
  <div class="row rowpadd" style="position: relative">
    <div class="col-12 col-sm-12 col-md-12" style="text-align: center; margin-bottom: 20px">
      <h2 style="line-height: 150%;" class="subtitulo">¿Por qué elegir BSG Institute?</h2>
    </div>
    <div class="col-12 col-sm-12 col-md-12">
      <div class="row">
        <div
          class="col-12 col-md-6 col-md-6"
          style="display: flex; flex-direction: column; justify-content: center"
        >
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <img
              class="imgTitle"
              style="padding: 10%"
              src="../../../assets/imagenes/extech-learning-09.svg"
              alt="ExTech Learning"
              title="ExTech Learning"
            />
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <h2 class="parafoS"  style="line-height: 150%;">
              Nuestra metodología
              <strong style="font-weight: bold;">ExTech Learning</strong> complementa las sesiones de clase
              con mecanismos de aprendizaje activo.
            </h2>
          </div>
        </div>
        <div class="col-12 col-md-6 col-md-6">
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Gamiﬁcation.svg" alt="Gamificación"/>
              <div>
                <h2 class="titleCardSub" style="color: #ffc715">
                  <strong>Gamificación</strong>
                </h2>
                <div class="parafoCardSub">
                  Usamos mecanismos de gamificación estructural y de contenidos con el
                  fin de que tu experiencia de aprendizaje sea más interactiva
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Serious-games.svg" alt="Serious Games" />
              <div>
                <h2 class="titleCardSub" style="color: #e02107">
                  <strong>Serious games</strong>
                </h2>

                <div class="parafoCardSub">
                  Podrás aplicar los conocimientos en la
                  resolución de problemas como los que tienes que
                  resolver en el día a día de tu trabajo.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle" style="margin-bottom: 20px">
              <img src="../../../assets/icons/icon-Virtual-reality.svg" alt="Realidad Virtual"
              />
              <div>
                <h2 class="titleCardSub" style="color: #2b9fe0">
                  <strong>Realidad virtual</strong>
                </h2>
                <div class="parafoCardSub">
                  Accederás a simuladores que cuenta con la
                  tecnología Oculus Quest 2, una de las mejores
                  disponibles en el mercado
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Applied-Projects.svg" alt="Proyectos Aplicados"/>
              <div>
                <h2 class="titleCardSub" style="color: #8fc912">
                  <strong>Proyectos aplicados</strong>
                </h2>
                <div class="parafoCardSub">
                  Podrás completar una serie de tareas aplicadas que
                  permitiran emplear los conocimientos aprendidos en situaciones
                  reales
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-reflexion.svg" title="Reflexión" alt="Reflexión" />
              <div>
                <h2 class="titleCardSub" style="color: #2b9fe0">
                  <strong>Aprendizaje Reflexivo</strong>
                </h2>
                <div class="parafoCardSub">
                  Tendrás la oportunidad de reflexionar sobre lo
                  aprendido en el desarrollo del curso y podrás
                  compartirlo con tus compañeros
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
