<ng-container style="background-color: #F2F6FF;">
  <div style="width: 100% ; text-align: right;    padding: 5px;height: 30px;margin: 0px;">
    <i class="material-icons" style="cursor: pointer;" (click)="dialogRef.close()">close</i></div>
  <ng-container>
    <div class="CardAccesoPrueba" >
      <div>

      </div>
      <div style="text-align: center;font-weight: bold;font-size: 26px;">
        Ya no tienes acceso
      </div>
      <div class="row" style="display: flex;">
        <div class="col-8 col-md-8 col-lg-8" style="margin-top: 15px;">
          Si se trata de un error comunicate con soporte técnico.
        </div>
        <div class="col-4 col-md-4 col-lg-4">
          <app-default-button [confs]="{color:'primary',titulo:'Soporte técnico'}"
          [style]="'width: 95%;margin-top: 20px;'"></app-default-button>
        </div>
      </div>
      <div class="row" style="display: flex;">
        <div class="col-8 col-md-8 col-lg-8" style="margin-top: 15px;">
          Si quieres saber mas sobre el curso, comunicate con nosotros.
        </div>
        <div class="col-4 col-md-4 col-lg-4">
          <app-default-button [confs]="{color:'primary',titulo:'Contáctenos'}"
          [style]="'width: 95%;margin-top: 20px;'"routerLink="/contactenos" (click)="dialogRef.close()" ></app-default-button>
        </div>
      </div>

    </div>
  </ng-container>
</ng-container>

