<!-- holax1 -->
<!-- <div class="cursoTitle">{{Capitulo}}</div>
<div class="row" style="align-items: center;height: 90px;">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
    <img class="ImgIndicacionesContent" style="margin-bottom: 0px !important;"
      src="../../../../assets/icons/tramites-naranja.svg">
    <div style="font-weight: bold;">Trámites</div>
  </div>
</div> -->
<ng-container *ngIf="TramitesCurso.length==0">
  <div style="text-align: left; margin-bottom: 20px;">
    No hay ningún trámite administrativo disponible.
  </div>
</ng-container>
<ng-container *ngIf="TramitesCurso.length!=0">
  <div class="subtitleTramites">Seleccionar el o los trámites que desea realizar</div>
  <div class="ListaTramites">
    <table class="TablaTramites">
      <thead class="TablaTramitesEncabezado">
        <tr>
          <td style="width: 50px;
          text-align: center;
          border-radius: 2px;
          font-weight: 500;
          min-width: 50px;">
            <strong>Pagar</strong>
          </td>
          <td style="width: 600px;text-align: left;border-radius: 2px;font-weight: 500;min-width: 240px;"><strong
              style=" margin-left: 20px">Concepto</strong></td>
          <td style="width: 200px;border-radius: 2px;font-weight: 500;min-width: 140px;">
            <strong>Moneda</strong>
          </td>
          <td style="width: 200px;border-radius: 2px;font-weight: 500;min-width: 140px;">
            <strong>Costo</strong>
          </td>
        </tr>
      </thead>
      <tbody class="TablaTramitesContenido">
        <ng-container *ngFor="let item of TramitesCurso ;let i=index">
          <tr style="    border: solid 2px white;" [ngStyle]="{'background': item.pagar==true?'#f2f6ff':''}">
            <td class="criterio" style="width: 50px">
              <div style="display: flex;justify-content:center">
                <mat-checkbox (change)="EventoInteraccionCheckBox(item.concepto);cambiarEstadoPago(i)"
                  [(ngModel)]="item.pagar" color="primary" class="PagarTramite"
                  style="display:flex;align-items:center ;margin-left: 0px !important;" (change)="item.pagar">
                </mat-checkbox>
              </div>
            </td>
            <td class="criterio" style="width: 600px;text-align: left;">
              <div style=" margin-left: 20px;margin-top: 10px;margin-bottom: 10px">
                <div>
                  {{item.concepto}}
                </div>
                <!-- <div style="font-size:11px;">
                    {{item.descripcion}}
                  </div> -->
              </div>
            </td>
            <td class="criterio" style="width: 200px;text-align: center;">
              <div class="MontoTramite">
                <div>
                  {{item.codigo | uppercase}}
                </div>
              </div>
            </td>
            <td class="criterio" style="width: 200px;text-align: center;">
              <div class="MontoTramite">
                <!-- <div>
                  {{item.simboloMoneda}}
                </div> -->
                <div>
                  {{item.tarifario | number:'1.2-2':'en-US'}}
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="PagoTramite ListaTramites" style="margin-top: 40px;border: 2px solid #cacaca;border-radius: 10px;    position: relative;"
  *ngIf="PagoTotalTramite>0">

      <div class="ResumenPago">
        <div style=" margin-left: 20px;display:flex;align-items: center;"> Resumen de Pago</div>
      </div>
      <table class="TablaPagos" style="margin-top:90px">
        <thead class="TablaPagosEncabezado" style="border-bottom: 1px solid #cacaca;">
          <tr>
            <td style="width: 500px;text-align: left;border-radius: 2px;font-weight: bold;    min-width: 200px;"><strong
                style=" margin-left: 20px">Concepto</strong></td>
            <td style="width: 200px;border-radius: 2px;font-weight: bold;    min-width: 120px;"><strong
                >Moneda</strong></td>
            <td style="width: 200px;border-radius: 2px;font-weight: bold;    min-width: 120px;"><strong
                >Monto</strong></td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of TramitesCurso ;let i=index">
            <ng-container *ngIf="item.pagar==true">
              <tr>
                <td class="criterio" style="width: 600px;text-align: left;">
                  <div style=" margin-left: 20px;margin-top: 20px;margin-bottom: 20px;text-align:left">
                    <div>
                      {{item.concepto}}
                    </div>
                  </div>
                </td>
                <td class="criterio" style="width: 200px;">
                  <div class="MontoTramite">
                    {{item.codigo | uppercase}}
                  </div>
                </td>
                <td class="criterio" style="width: 200px;">
                  <div class="MontoTramite">
                    <div>
                      {{item.tarifario | number:'1.2-2':'en-US'}}
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <tr class="TotalPagar">
            <td class="criterio" style="font-weight: bold;width: 500px;text-align: left">
              <div style="margin-left: 20px">
                Total a pagar
              </div>
            </td>
            <td class="criterio" style="width: 200px;">
              <div class="MontoTramite" *ngIf="SimboloMoneda.length>0">
                {{SimboloMoneda | uppercase}}
              </div>
            </td>
            <td class="criterio" style="width: 200px">
              <div class="MontoTramite">
                {{PagoTotalTramite | number:'1.2-2':'en-US'}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-12 col-md-12 col-lg-12" style="margin-top:30px;display: flex;
      justify-content: center;">
        <app-default-button [confs]="{color:'primary',titulo:'Pagar'}" [style]="'margin-top: 20px;width: 120px;'"
          (ButtoclClick)="EventoInteraccionButton('Pagar');Pagar()"></app-default-button>
      </div>
    </div>
</ng-container>

<ng-container>
  <div class="subtitleTramites" style="margin-top: 40px;">Trámites solicitados</div>
  <div class="contenTramistes row" *ngIf="tramitesSolicitado!=undefined">
    <div class="col-6 col-md-3 col-lg-3 ">
      <div style="font-size: 16px;
      font-weight: 600;
      margin: 10px 0px;">Fecha de pago</div>
    </div>
    <div class="col-6 col-md-6 col-lg-6 ">
      <div style="font-size: 16px;
      font-weight: 600;
      margin: 10px 0px;">Trámite</div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 ">
      <div></div>
    </div>
    <ng-container *ngFor="let item of tramitesSolicitado">
      <div class="col-6 col-md-3 col-lg-3 itmTRamite">
        {{item.fechaCreacion | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-6 col-md-6 col-lg-6 itmTRamite">
        {{item.descripcion}}
      </div>
      <div class="col-12 col-md-3 col-lg-3 itmTRamite" style=" display: flex;
      justify-content: end;">
        <a [href]="item.ruta+item.nombreArchivo" target="_blank">
          <button class="buttonDescargarTramite">
            <div class="iconobuttonTramite">
              <div style="border-left: solid;
              border-top: solid;"></div>
              <div></div>
              <div style="border-right: solid;
              border-top: solid;"></div>
              <i class="material-icons">arrow_downward</i>
            </div>
            Descargar
          </button>
        </a>
      </div>
    </ng-container>
  </div>
</ng-container>
