<div class="cursoTitle">{{Capitulo}}</div>
<div class="row" style="align-items: center;height: 90px;">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
    <img class="ImgIndicacionesContent" style="margin-bottom: 0px !important;"
      src="../../../../assets/icons/tramites-naranja.svg">
    <div style="font-weight: bold;">Trámites</div>
  </div>
</div>
<ng-container *ngIf="TramitesCurso.length==0">
  <div style="text-align: left; margin-bottom: 20px;">
    No hay ningún trámite administrativo disponible.
  </div>
</ng-container>
<ng-container *ngIf="TramitesCurso.length!=0">
  <div class="subtitleTramites">I. Trámites por solicitar</div>
  <div style="font-size: 14px;color: #878787;margin-bottom: 10px;">Seleccionar el o los trámites que pagarás</div>
  <div class="ListaTramites">
    <table class="TablaTramites">
      <thead class="TablaTramitesEncabezado">
        <tr>
          <td style="width: 200px;text-align: center;border-radius: 2px;font-weight: bold;min-width: 110px;">
            <strong>Pagar</strong></td>
          <td style="width: 600px;text-align: left;border-radius: 2px;font-weight: bold;min-width: 320px;"><strong
              style=" margin-left: 20px">Concepto</strong></td>
          <td style="width: 200px;text-align: center;border-radius: 2px;font-weight: bold;min-width: 140px;">
            <strong>Costo</strong></td>
        </tr>
      </thead>
      <tbody class="TablaTramitesContenido">
        <ng-container *ngFor="let item of TramitesCurso ;let i=index">
          <tr>
            <td class="criterio" style="width: 200px">
              <div style="display: flex;justify-content:center">
                <mat-checkbox (change)="EventoInteraccionCheckBox(item.concepto);cambiarEstadoPago(i)" [(ngModel)]="item.pagar" color="primary"
                  class="PagarTramite" style="display:flex;align-items:center ;" (change)="item.pagar">
                </mat-checkbox>
              </div>
            </td>
            <td class="criterio" style="width: 600px;text-align: left;">
              <div style=" margin-left: 20px;margin-top: 20px;margin-bottom: 20px;text-align:justify">
                <div>
                  {{item.concepto}}
                </div>
                <!-- <div style="font-size:11px;">
                    {{item.descripcion}}
                  </div> -->
              </div>
            </td>
            <td class="criterio" style="width: 250px;text-align: center;">
              <div class="MontoTramite">
                <div>
                  {{item.simboloMoneda}}
                </div>
                <div style="margin-left: 10px;">
                  {{item.tarifario}}
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="PagoTramite" style="margin-top: 40px" *ngIf="PagoTotalTramite>0">
    <div class="row" style="border: 2px solid #cacaca;border-radius: 10px;margin: 0px;">
      <div class="ResumenPago">
        <div style=" margin-left: 20px;display:flex;align-items: center;"> Resumen de Pago</div>
      </div>
      <div class="row" style="margin-left: 20px;margin-top:30px">
        <table class="TablaPagos" style="width: 95%;">
          <thead class="TablaPagosEncabezado" style="border-bottom: 1px solid #cacaca;">
            <tr>
              <td style="width: 500px;text-align: left;border-radius: 2px;font-weight: bold;"><strong
                  style=" margin-left: 20px">Concepto</strong></td>
              <td style="width: 400px;text-align: center;border-radius: 2px;font-weight: bold;"><strong
                  style=" margin-left: 20px">Monto</strong></td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of TramitesCurso ;let i=index">
              <ng-container *ngIf="item.pagar==true">
                <tr>
                  <td class="criterio" style="width: 600px;text-align: left;">
                    <div style=" margin-left: 20px;margin-top: 20px;margin-bottom: 20px;text-align:left">
                      <div>
                        {{item.concepto}}
                      </div>
                    </div>
                  </td>
                  <td class="criterio" style="width: 250px;text-align: center;">
                    <div class="MontoTramite">
                      <div >
                        {{item.simboloMoneda}}
                      </div>
                      <div style="margin-left: 10px;">
                        {{item.tarifario}}
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <tr class="TotalPagar">
              <td class="criterio" style="font-weight: bold;width: 500px;text-align: left">
                <div style="margin-left: 20px">
                  Total a pagar
                </div>
              </td>
              <td class="criterio" style="width: 400px;text-align: center;">
                <div class="MontoTramite">
                  <div>
                    {{SimboloMoneda}}
                  </div>
                  <div style="margin-left: 10px;">
                    {{PagoTotalTramite}}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-12 col-lg-12" style="margin-top:30px;display: flex;
      justify-content: center;">
        <app-default-button [confs]="{color:'primary',titulo:'Pagar'}"
          [style]="'margin-top: 20px;width: 120px;'" (ButtoclClick)="EventoInteraccionButton('Pagar');Pagar()"></app-default-button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="subtitleTramites" style="margin-top: 40px;">II. Trámites solicitados</div>
  <div class="contenTramistes" *ngIf="tramitesSolicitado!=undefined">
    <div *ngFor="let item of tramitesSolicitado" class="itmTRamite">
      <img src="../../../../../assets/icons/pdf-31.svg" alt="">
      <a [href]="item.ruta+item.nombreArchivo" target="_blank">{{item.descripcion}} {{item.fechaCreacion |
        date:'dd/MM/yyyy'}}</a>
    </div>
  </div>
</ng-container>
