
.vinculo{
  color: #505050;
    text-decoration: none;
}

.vinculo:hover{
  text-decoration: underline !important;
}

.tablaTarea{
  width: calc( 100% - 10px);
  margin-top: 40px;
}
.tablaTarea tr th{

  border: solid 1px #b2b2b2;
  background: #e7e7e7;
  text-align: center;
  padding: 10px;
}

.tablaTarea tr td{
  border: solid 1px #b2b2b2;
  text-align: left;
  padding: 10px;
  word-break: break-all;
  font-size: 12px;
}
.cardApredizageReflexivo{
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 20px 0px;
  border-radius: 10px;
  .headerAr{
    color: #fff !important;
    background: #28a745 !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    margin-top: -0.5px;
  }
  .itemAr{
    padding: 10px 20px;
  }
  .footlerAr{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    padding-bottom: 20px;
  }
}
