<div class="cursoTitle">{{json.NombreCapitulo}}</div>
<div>Capitulo {{idCapitulo}}:{{NombreCapitulo}} </div>
<div class="row" style="align-items: center;" style="margin: 30px 0px 0px;" *ngIf="tarea!=undefined">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
    <img class="ImgIndicacionesContent" src="../../../../assets/icons/tareas-23.svg">
    <div><strong>Actividad: Calificar {{tarea.datosEvaluacionTrabajo.nombre}}</strong></div>
  </div>
  <div class="col-12 col-md-12 col-lg-12">
    <div style="text-align: right;font-size: 13px;cursor: pointer;" class="vinculo">Siguiente Actividad ></div>
  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;">
    <div style="    font-weight: 600;
    display: flex;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;">1</div>
    <div style="    font-weight: 600;
    font-size: 18px;">Descarga la tarea que debes calificar</div>
  </div>
  <div class="col-12 col-md-12 col-lg-12" *ngIf="tareaAc!=undefined && tareaAc.fechaCalificacionLimite!=null" style="
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px;
  background: #fff8f0;
  border: 1px solid #fff1e0;">
    <img src="../../../../assets/icons/calendario-24.svg" alt="" style="width: 20px;
    margin-right: 20px;">
    <strong>Fecha limite de calificacion: </strong>  &nbsp;{{tareaAc.fechaCalificacionLimite | date:"dd/MM/yyyy"}}

  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content: center;margin-top: 20px;">
    <img src="../../../../assets/icons/descarga-36.svg" alt="" style="width: 20px;
    margin-right: 20px;">
    <a class="vinculo" [href]="tareaAc.direccionUrl" target="_blank">{{tareaAc.nombreArchivo}}</a>
  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;">
    <div style="    font-weight: 600;
    display: flex;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;">2</div>
    <div style="    font-weight: 600;
    font-size: 18px;">Califica la Tarea</div>
  </div>
  <div class="col-12 col-md-12 col-lg-12" *ngIf="tareaAc!=undefined && tareaAc.fechaCalificacionLimite!=null" style="
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;">
    <p>A continuacion se explica la escala de calificación, que debes considerar para todos los criterios de evaluación de la tarea que debes calificar</p>
    <table class="tablaTarea">
      <tr>
        <th style="    width: 88%;">Escala de calificación</th>
        <th>Puntaje</th>
      </tr>
      <tr *ngFor="let item of tarea.criteriosEvaluacion.listaParametroEscalaEvaluacion">
        <td>{{item.nombre}}</td>
        <td>{{item.valor }}</td>
      </tr>

    </table>

    <div style="    margin: 30px 0px;
    font-weight: 600;">Seleccione la calificación para cada criterio de evaluacion , y luego haz clic en "Calificar"</div>
    <div style="    display: flex;
    justify-content: space-between;
    width: calc( 100% - 10px );">
      <div>{{tarea.criteriosEvaluacion.nombreEscalaCalificacion}}</div>
      <div>

        <mat-form-field appearance="outline" style="width: 300px;font-size: 13px;">
          <mat-label>Calificar</mat-label>
          <mat-select [(ngModel)]="calificacion" [disabled]="cargaEnvio">
            <mat-option *ngFor="let item of tarea.criteriosEvaluacion.listaParametroEscalaEvaluacion" [value]="item.valor">{{item.valor}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-default-button [confs]="{color:'primary',titulo:'Calificar'}" [style]="'padding:0px 30px;margin:0px '"
        [disabled]="cargaEnvio" (ButtoclClick)="EnviarNota()"></app-default-button>
      </div>
    </div>
  </div>
</div>
