<div class="container">
  <div class="row" style="justify-content: end;">
    <mat-icon class="btn" (click)="cerraModal()">close</mat-icon>
  </div>
  <div class="row">
    <div class="col-12 row" *ngIf="resultPreProcesoMP!=undefined">
      <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">Confirma tu compra</div>
      <div class="col-12 col-md-12 col-lg-12 inputPagoVisa row">
        <div [hidden]="hiden">
            <div id="cardPaymentBrick_container"></div>
        </div>

        <div style="    width: 100%;
        font-size: 12px;
        color: #b2b2b2;
        padding: 20px;">
          * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice.
        </div>

      </div>
    </div>
  </div>
</div>
