<mat-toolbar color="primary" style="position: fixed; top: 0; height: 200px; width: 100%;">
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%">
      <div>
        <img
          class="logoHeader"
          src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg"
          alt="BSG Institute"
          (click)="EventoInteraccionEducacion('Imagen')"
          width="160"
          loading="eager"
          [routerLink]="'/'"
        />
      </div>
      <div id="nombreContainer">
        <h1>{{ nombre }}</h1>
      </div>
    </div>
  </mat-toolbar>