@media screen and (max-width: 600px) {
    #nombreContainer {
      display: block; /* Cambia a bloque en lugar de flex */
      text-align: center; /* Centra el texto */
      margin-top: 20px; /* Ajusta el margen según sea necesario */
    }

    .nombreContainer h1{
        font-size: 35px !important;
        margin-right: 10px !important;
    }
  
    .logoHeader {
      margin: 0 auto; /* Centra la imagen */
    }

    // .titulo{
    //     width: 100%;
    //     margin-top: 78px;
    //     text-align: center;
    //     background-color: #dedee2;
    //     padding: 10px;
    //     text-align: center;
    // }

    .titulo {
        width: 100%;
        margin-top: 50px !important;
        background-color: #eaeaed;
        padding: 5px;
        padding-top: 10px;
        text-align: center;
        /* height: 66px; */
    }

    .titulo h1{
        font-size: 15px !important;
    }
  }
  