.webinar{
  border-bottom: 1px solid #cacaca;
  height: 50px;
}
.TablaWebinarEncabezado{
  background-color: #F4F4F4;
  height: 60px;
}
.tipoIndicacionTitle img{
  width: 15px;
  margin-right: 10px;
}
.tipoIndicacionTitle div{
  font-size: 17px;
    font-weight: 600;
    color: #505050;
}

.tipoIndicacionTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f2f6ff;
  padding: 5px 10px;
  margin: 30px 0px;
  height: 50px ;
}
.ImgIndicacionesContent{
  width: 20px;
}
