<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpaddAv">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulop">
          Mis Cursos
        </div>
        <div style="font-size: 20px;
        color: #797978;">{{textoBienvenido}}</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of matriculas" style="margin-bottom: 20px;">
      <app-card-matriculas [cardContent]="{ Img: 'https://img.bsginstitute.com/repositorioweb/img/programas/'+item.pw_ImgPortada,
      Title: item.programaGeneral,ImgAlt: '',Tipo:item.tipoModalidad,Url: '/AulaVirtual/MisCursos/'+item.idMatriculaCabecera}">

        <ng-container linkIcons>
          <button class="buttonIconCurso" (click)="saveIndex(0)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Indicaciones"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/indicaciones-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" (click)="saveIndex(1)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Modulos"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/modulos-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" *ngIf="item.proyectoAplicacion" (click)="saveIndex(2)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Proyectos de aplicación"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/proyectos-aplicacion.svg" alt="">
          </button>
          <button  class="buttonIconCurso" (click)="saveIndex(3)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Certificados"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/certificados-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" (click)="saveIndex(4)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Trámites"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/tramites-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" *ngIf="item.webibarActivo" (click)="saveIndex(5)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="webinars"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/webinar-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" *ngIf="item.benficioSolicitado" (click)="saveIndex(6)" [routerLink]="'/AulaVirtual/MisCursos/'+item.idMatriculaCabecera"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Mis Beneficios"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/beneficios-naranja.svg" alt="">
          </button>
        </ng-container>
      </app-card-matriculas>
    </div>

    <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of matriculasPrueba" style="margin-bottom: 20px;">
      <app-card-matriculas [cardContent]="{ Img: 'https://img.bsginstitute.com/repositorioweb/img/programas/'+item.pw_ImgPortada,
      Title: item.nombre,ImgAlt: '',Tipo:item.tipoModalidad,Url: '/AulaVirtual/MisCursosPrueba/'+item.idRegistroPrueba}">

        <ng-container linkIcons>
          <button class="buttonIconCurso" (click)="saveIndex(0)" [routerLink]="'/AulaVirtual/MisCursosPrueba/'+item.idRegistroPrueba"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Indicaciones"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/indicaciones-naranja.svg" alt="">
          </button>
          <button class="buttonIconCurso" (click)="saveIndex(1)" [routerLink]="'/AulaVirtual/MisCursosPrueba/'+item.idRegistroPrueba"
         mat-icon-button aria-label="Example icon button with a vertical three dot icon"
            matTooltip="Modulos"
            matTooltipClass="tootipMatriculas">
            <img class="iconsCardMatriculas" src="../../../assets/icons/modulos-naranja.svg" alt="">
          </button>
        </ng-container>
      </app-card-matriculas>
    </div>
  </div>
</div>
