<!-- holax1 -->
<div class="row" style="display: flex;">
  <div class="TitleModal col-11">
    <img src="../../../../../assets/icons/foro-naranja.svg" alt="Foro Naranja">
    Responder Consultas
  </div>
  <div class="col-1" style="text-align: end;font-weight: bold;cursor: pointer;" (click)="dialogRef.close()">
    X
  </div>
</div>
<ng-container *ngIf="pregunta==undefined ;else existeForo">
  <div style="    display: flex;
    justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
<ng-template #existeForo>
  <ng-container *ngIf="pregunta==null;else existe">
    <div style="font-size: 20px;font-weight: 600;"> Ocurrió un error</div>
    <div>inténtenlo de nuevo más tarde</div>
  </ng-container>
  <ng-template #existe>
    <div style="display: flex;font-weight: bold;justify-content: center;margin: 10px;">
      {{pregunta.codigoMatricula}} - {{pregunta.nombresCompletos}}

    </div>
    <div class="ContentForoModal row" >
      <img  class="col-12 col-md-6 col-lg-3" *ngIf="imgForo!=undefined" [src]="imgForo" alt="Foro">
      <div class="col-12 col-md-6 col-lg-9 contenidoInto">
        <div style="font-size: 13px;margin-bottom: 10px;">
          <strong style=" margin-right: 10px;">Origen:</strong>{{pregunta.origenForo}}
        </div>
        <div style="font-size: 13px;margin-bottom: 10px" *ngIf="pregunta.idOrigenForo==1">
          <strong  style=" margin-right: 10px;">Tema Foro:</strong>{{pregunta.titulo}}
        </div>
        <div style="font-size: 13px;margin-bottom: 10px" *ngIf="pregunta.idOrigenForo==2">
          <strong  style=" margin-right: 10px;">Foro Video:</strong>{{pregunta.titulo}}
        </div>
        <div style="font-size: 13px;margin-bottom: 10px" *ngIf="pregunta.idOrigenForo==3">
          <strong  style=" margin-right: 10px;">Foro Tarea:</strong>{{pregunta.titulo}}
        </div>
        <div style="font-size: 13px;margin-bottom: 10px" *ngIf="pregunta.idOrigenForo==4" >
          <strong style=" margin-right: 10px;">Foro Proyecto:</strong>{{pregunta.titulo}}
        </div>
        <div style="font-size: 13px;margin-bottom: 10px">
          <strong style=" margin-right: 10px;">Consulta:</strong>
        </div>

        <div style="font-size: 14px;margin-bottom: 10px" [innerHtml]="pregunta.contenido | safeHtml">
        </div>
        <div style="font-size: 12px;margin-bottom: 10px">
          <strong style=" margin-right: 10px;">Fecha Publicación:</strong>{{pregunta.fecha | date:'dd-MM-yyyy hh:mm a.'}}
        </div>
        <div *ngIf="pregunta.urlArchivo!='' && pregunta.urlArchivo!=null" style="font-size: 13px;margin-bottom: 10px">
          <div style="margin-right: 10px;margin-bottom: 10px;">
            <strong>Archivo:</strong>
          </div>
          <a [href]="pregunta.urlArchivo">{{pregunta.nombreArchivo}}</a>
        </div>

      </div>

      <div *ngIf="pregunta.idOrigenForo==2" style="font-size: 13px;margin-bottom: 10px">
        <strong style=" margin-right: 10px;display: flex;justify-content: center">Video de la consulta:</strong>
        <div style="display: flex;justify-content: center;" class="col-12 col-md-12 col-lg-12 ContenidoVistaPrevia">
        <iframe #myIframe id="myIframe" id="cartoonVideoVistaPrevia" [src]="ReproductorVideo | safe"
        class="embed-responsive-item" frameborder="5" allowfullscreen></iframe>
        </div>
      </div>
      <div *ngIf="ForoCerrado==false" class="Responder" >

        <form [formGroup]="userForm">
          <mat-form-field appearance="outline" class="test">
            <mat-label>Responder</mat-label>
            <textarea matInput matTextareaAutosize formControlName="RespuestaForo"></textarea>
          </mat-form-field>
          <div class="col-12 col-md-12 col-lg-12">
            <div (click)="fileInput.click()" style="height: 38px;width: 100%;border:solid 1px #e0d9d9;border-radius: 5px;display: flex; align-items: center;margin-bottom: 10px;
            padding: 0px 5px;cursor: pointer;">
              <button style="border: solid 1px #767676;
              margin-right: 5px;    white-space: nowrap;">Seleccionar archivo</button>
              <div style="    white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;">{{nombrefile}}</div>
            </div>
            <input #fileInput type="file" id="file" (change)="getFileDetails($event)" style="    width: 100%;
            border: solid 1px #c2c2c2;
            padding: 7px;
            border-radius: 5px;display: none;">
            <div *ngIf="!filestatus && fileErrorMsg!=''">{{fileErrorMsg}}</div>
          </div>

        </form>
      </div>
    </div>
  </ng-template>

</ng-template>
<div *ngIf="ForoCerrado==true" style="height: 1px;background-color: #F4F4F4;"></div>
<div *ngIf="ForoCerrado==false" class="FotterMdal">

  <app-default-button [confs]="{color:'danger',titulo:'Cerrar'}"
  (ButtoclClick)="CerrarModal()"
  [icon]="''" [style]="'margin-right: 10px'">
  </app-default-button>

  <app-default-button [confs]="{color:'primary',titulo:'Responder'}"
  (ButtoclClick)="EnviarRegistroRespuestaForo()"
  [icon]="''" [style]="'padding: 0px 20px'"
  [disabled]="userForm.invalid">
  </app-default-button>
</div>

<div class="respuestas" style="padding: 20px;">
  <div *ngFor="let item of respuestas" style="display: flex;
  justify-content: flex-start;
  align-items: center;margin-top: 20px;">
    <img [src]="_AvatarService.GetUrlImagenAvatar(item.avatar)" alt="{{item.avatar}}" style="    width: 50px;
    margin-right: 20px;">
    <div style="width: 100%;">
      <div style="    color: #f8893f;
      font-weight: 600;">{{item.nombres}}</div>
      <div style="
      font-size: 15px;
      font-style: italic;">{{item.contenido}}</div>
      <div class="row" *ngIf="item.urlArchivo!=null">
        <div  class="col-12 col-md-6 col-lg-6" style="display: flex;font-size: 12px;align-items: center;">
          <a style="color: #7f7b7b;font-weight: bold;" class="vinculo" [href]="item.urlArchivo" target="_blank">Archivo Adjunto</a>
        </div>
        <div class="col-12 col-md-6 col-lg-6" style="font-size: 12px;text-align: right;"><strong>Fecha:</strong> {{item.fechaCreacion | date:'yyyy-MM-dd'}}</div>
      </div>
      <div *ngIf="item.urlArchivo==null" style="font-size: 12px;text-align: right;"><strong>Fecha:</strong> {{item.fechaCreacion | date:'yyyy-MM-dd'}}</div>
    </div>
  </div>
</div>
