.contentIndicacionesContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.ImgIndicacionesContent{
  height: 30px !important;

}
.TitleIndicacionesContent{
  color: #959594;
  font-weight: 600;
  cursor: pointer;
}
.TitleIndicacionesContent:hover{
  color: #ff7012;
  text-decoration: underline;
}

.contentIndicacionesContent:hover{
  box-shadow: 0px 0px 3px #626261;
}
