  // ::ng-deep html.cdk-global-scrollblock {
  // top: 0px !important;
  // }

  html.cdk-global-scrollblock {
    position: initial !important;
}

.dialog-envio-encuesta-online {
  /* position: relative !important; */ /* Descomentar si es necesario */
  mat-dialog-container {
    padding: 0px !important;
    border-radius: 15px;
    max-height: 90vh;
    overflow: hidden; /* Para evitar el overflow en el contenedor del modal */
    
  }

  .scrollable-content-encuesta {
    max-height: 65vh; /* Ajusta según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 10px; /* Opcional: añade un poco de padding */
    
  }
}


  .cardSesionOnlineTareasCuestionario {
    background: #bef4ff;
    border: solid 1px #a5eaf8;
    padding: 15px 20px;
    .flagActividad {
      display: flex;
      align-items: center;
      .textoFlag {
        width: fit-content;
        background: rgb(255, 207, 0);
        padding: 2px 10px;
        font-size: 12px;
        font-weight: 600;
      }
      #player {
        position: relative;
        width: 22px;
        height: 22px;
      }

      #inner {
        transform: rotate(45deg);
        background-color: #ffcf00;
        width: 22px;
        height: 22px;
        left: -7px;
        position: relative;
        border-radius: 2px;
      }

      #outer {
        position: absolute;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }
      .trianglearrow {
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 11px solid #ffcf00;
      }
    }
    .TitleActividad {
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0px;
    }
    .DescripcionActividad {
      font-size: 14px;
    }
    .lineaMedioActividad {
      height: 1px;
      background: rgb(179 182 182);
      margin: 10px 0px;
    }
    .AbajoActividad {
      display: flex;
      justify-content: space-between;
      .FechaEntregaActividad {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }
  }
  .cabeceraExpandTarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    padding-bottom: 6px;
    border-bottom: solid 1px #b2b2b2;
    margin-left: 40px;
    margin-right: 40px;
  }
  .contentCabeceraTarea {
    color: #989898;
      margin-left: 40px;
      margin-right: 40px;
  }
  .contentTareasEnviadas{
    margin: 10px 40px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .IntenTareasEnviadas{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    a {
      color: black !important;
      text-decoration: none !important;
      font-size: 14px;
    }
    strong{
      margin-right: 15px;
    }
  }
  .pdfSesionOnline {
    background-image: url(../../../../../assets/icons/pdf-31.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-position: center;
    margin-right: 10px;
  }
  .AlertPrevContent{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
    .alertPrev{
      font-size: 14px;
      margin-bottom: 15px;
    }
    .IntentoAlert{
      font-size: 16px;
      margin-bottom: 15px;
      font-weight: 600;
    }

  }

  .TimePrevCuestionario{
    display: flex;
    color: #f8893f;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    .imgTimePrev{
      background-image: url(../../../../../assets/icons/icono-cronometro-naranja.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-position: center;
      margin-right: 10px;
    }
    .MinutosTiempo{
      color: black;
      margin: 0px 5px;
    }
  }
  .TimeCronometer{
    position: absolute;
    padding: 0px 10px;
    background: white;
    border-radius: 7px;
    top: 0px;
    right: -130px;
    z-index: 1000;
    width: 125px;
  }
  .content{
    padding: 20px 30px;
    .contetPreguntasEncuesta{
      padding-bottom: 10px;
      border-bottom: solid 2px #d3d3d3;
      .titlePregunta{
        font-size: 14px;
        font-weight: 600;
      }
      .DescripcionPregunta{
        margin: 0 20px;
        font-size: 12px;
      }
      .radiosOptions{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 10px 20px;
        //width: -moz-fit-content;
        //width: fit-content;
        font-size: 14px;
        i{
          margin-right: 10px;
        }
      }
      .checkOptions{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 10px 20px;
        width: fit-content;
        font-size: 14px;
        i{
          margin-right: 10px;
        }
      }
    }
  }
  .activeSelect{
    color: #0684f2 !important;
  }

  .InputsOnlineCuestionario {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
  }
  .InputsOnlineCuestionario
    .mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix {
    padding: 0.4em 0px;
  }
  .InputsOnlineCuestionario .titlePerfil {
    border-bottom: 1px solid #cacaca;
    font-size: 25px;
    margin: 40px 0px;
  }
  .InputsOnlineCuestionario
    .mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    input {
    height: 20px;
  }
  .InputsOnlineCuestionario
    .mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    > span.mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .InputsOnlineCuestionario
    .mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper{
      padding: 0px;
  }
  .InputsOnlineCuestionario
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    > span.mat-form-field-label-wrapper
    .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
  }
  .InputsOnlineCuestionario
    > .mat-form-field-should-float
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    > span.mat-form-field-label-wrapper
    .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
  }
  .InputsOnlineCuestionario.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
  .InputsOnlineCuestionario.mat-input-underline {
    background-color: #ff0000; /* replace this color with your accent color hex code */
  }
  :root {
    --main-bg-color: white;
  }
  .InputsOnlineCuestionario
    .mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > .mat-form-field-outline {
    .mat-form-field-outline-start {
      background-color: var(--main-bg-color);
    }
    .mat-form-field-outline-gap {
      background-color: var(--main-bg-color);
    }
    .mat-form-field-outline-end {
      background-color: var(--main-bg-color);
    }
  }
  .InputsOnlineCuestionario
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-subscript-wrapper{
    height: auto;
        position: relative;
        margin: 0px;
        font-size: 10px;
        margin-top: 2px;
        padding-bottom: 1px;
  }
  .PuntoPregunta{
    width: fit-content;
    padding: 5px 10px;
    background: #f4f4f4;
    border-radius: 5px;
    font-size: 14px;
  }
  .Correctos{
    color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      padding: 0.75rem 1.25rem;
      border-radius: 0.25rem;
  }
  .InCorrectos{
    color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      padding: 0.75rem 1.25rem;
      border-radius: 0.25rem;
  }
  .ImagenAdjunta{
    width: 100%;
    height:200px ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: zoom-in;

  }
  .contentRetroalimentacion{
    padding: 10px 30px;
    .preguntaRetro{
      font-size: 14px;
      font-weight: 600;
    }
    .preguntaVinculo{
      font-size: 12px;
      a{
        color: #505050  !important;
        text-decoration: none;
      }
    }
  }

  .preguntaVinculo:hover{
    text-decoration: underline;
    text-decoration-color: #505050 ;
  }

  .textoFlag2{
    width: fit-content;
    background: #00C356;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    display: flex;
    color: white;
  }
  .starTipoRanking {
    color: #d3d3d3;
    transition: color 0.2s;
  }

  .selectedTipoRanking {
    color: #033DAB !important;
  }

  .hoveredTipoRanking {
    color: #4F68D9 !important;
  }
  /*
  .container-OrdenJerarquico{
    
    // display: flex;
    // flex-direction: column;
    // gap: 10px;
    // background: rgb(199, 163, 163);
    // border-radius: 20px;
    // overflow: hidden;
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(199, 163, 163);
    border-radius: 20px;
    overflow: hidden;
    .ordenJerarquico{
      // display: flex;
      // flex-direction: row;
      // gap:20px;
      // background-color: #F5F5F5;
      // width: 100%;
      // padding: 20px 10px;
      // border-radius: 10px;
      // cursor: move;
      // box-sizing: border-box;
      padding: 20px 10px;
      border-bottom: solid 1px rgb(33, 24, 110);
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      margin-bottom: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
      z-index: 1000;
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }*/

/*****************************************************/

  .example-list {
    width: 500px;
    max-width: 100%;
    //border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: none;
    margin-bottom: 50px;
  }
  
  .example-box {
    padding: 14px 20px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    background: rgba(245, 245, 245, 0.863);
    gap: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 6px;
    .valor{

      width: 20px; /* Ajusta este valor según el tamaño que desees */
      height: 20px; /* El mismo valor que width para que sea un círculo perfecto */
      border-radius: 50%; /* Hace que el elemento sea un círculo */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #2367A6; /* Color de fondo del círculo */
      font-size: 12px; /* Tamaño de fuente del número */
      font-weight: 500;
      color: white;
    }

  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

