mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background: #033dab !important;
}
.tabVertical {
  flex-direction: row !important;
}
.tabVertical .mat-tab-header {
  border-bottom: none !important;
  margin-top: 50px;
}
.tabVertical .mat-tab-header .mat-tab-header-pagination {
  display: none !important;
}
.tabVertical .mat-tab-header .mat-tab-label-container {
  border-right: 2px solid #d2d2d2;
}
.buttonBack{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #ff7012;
  font-weight: 600;
  border-bottom: solid 1px transparent;
  .material-icons{
    font-weight: 600;
    font-size: 14px !important;
  }
}

.greay-spinner {
  position: absolute !important;
  top: 0;
  right: 0;
}
.progras-spinner {
  position: absolute !important;
  top: 0;
  right: 0;
}

.greay-spinner circle,
.greay-spinner circle {
  stroke: #dadada !important;
}

.progras-spinner circle,
.progras-spinner circle {
  stroke: #00c356 !important;
}
.buttonBack:hover{
  border-bottom: solid 1px #ff7012;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
  flex-direction: column !important;
  opacity: 1;
  max-width: 180px;
  //border-right: 2px solid #d2d2d2;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label {
  justify-content: flex-start;
  opacity: 1 !important;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 60px !important;
  height: auto !important;
  width: 100%;
  //justify-content: center;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label:hover {
  background: #f4f4f4;
}
// .tabVertical
//   .mat-tab-header
//   .mat-tab-label-container
//   .mat-tab-list
//   .mat-tab-labels
//   .mat-tab-label
//   .mat-tab-label-content {
//   //width: 100%;
// }

.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-ink-bar {
  height: 100%;
  left: 98% !important;
  display: none;
}
.tabVertical .mat-tab-body-wrapper {
  flex: 1 1 auto !important;
  min-height: 540px;
}
.tabVertical .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
  overflow: hidden;
}
.tabVertical
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active {
  background: #f4f4f4;
  box-shadow: inset 4px 0px 0 #3390ff;
}
.pad-resp {
  padding: 5px 10px 0px 10px;
}

@media (max-width: 768px) {
  .tabVerticalDocente > mat-tab-header{
    z-index: 100;
    //position: absolute !important;
    background: white;
    height: 100%;
    min-width: 2px;
  }

  .tabVertical > mat-tab-header{
    z-index: 100;
    //position: absolute !important;
    background: white;
    height: 100%;
    min-width: 2px;
  }
  .tabVerticalses > mat-tab-header{
    z-index: 100;
    //position: absolute !important;
    background: white;
    height: 100%;
    min-width: 2px;
  }
  .tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
    max-width: 290px !important;
  }
  .reverse2 {
    left: 265px !important;
  }
}
@media (max-width: 576px) {
  .rowpaddAv {
    padding: 45px 0px;
  }
}
@media (min-width: 576px) {
  .rowpaddAv {
    padding: 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px 0px 10px;
  }
}
@media (min-width: 768px) {
  .tabVertical > mat-tab-header{
    z-index: 100;
    //position: absolute !important;
    background: white;
    height: calc( 100% - 40px );
    min-width: 2px;
  }
  .tabVerticalDocente > mat-tab-header{
    z-index: 100;
    //position: absolute !important;
    background: white;
    height: calc( 100% - 40px );
    min-width: 2px;
  }
  .tabVerticalses > mat-tab-header{
    z-index: 100;
   // position: absolute !important;
    background: white;
    height: calc( 100% - 40px );
    min-width: 2px;
  }
  .rowpaddAv {
    padding: 45px 40px 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px 0px 10px;
  }
}
@media (min-width: 992px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px 0px 10px;
  }
}
@media (min-width: 1200px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px;
  }
  .pad-resp {
    padding: 5px 20px 0px 20px;
  }
}
@media (min-width: 1400px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px !important;
  }
  .pad-resp {
    padding: 5px 20px 0px 20px;
  }
}

.resumenPagoTarjeta {

  padding: 0px 20px;  //cambio para movil antes a 0px 20px
    
  .titleResumenPago {
    background: #e7e7e7;
    padding: 5px 30px;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px #a6a6a6;
  }
  .contentResumenPago {
    padding: 20px 30px;
    border: solid 1px #a6a6a6;
    border-radius: 0px 0px 10px 10px;
    .subtitleResumenPago {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 20px;
    }
    .ItemsResumenPago {
      width: 100%;
      margin: 0px;
      padding: 0px;
      .itms {
        color: #878787;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        border-top: solid 1px #a6a6a6;
        div {
          padding: 0px;
          margin: 0px;
        }
      }
      .tot {
        font-weight: 600;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        border-top: solid 1px #a6a6a6;
        div {
          padding: 0px;
          margin: 0px;
        }
      }
      .totalPago {
        font-weight: 600;
        margin: 0px;
        padding: 5px 5px;
        border-bottom: solid 1px #a6a6a6;
        div {
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .resumenPagoTarjeta {
    padding: 0px;
    .contentResumenPago{
      padding: 20px 15px;
    }
  }
 }

.iconoPagoTarjeta {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  .imgPagoTarjeta {
    width: 80px;
    height: 80px;
    background-image: url(../../assets/icons/security.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .imgPagoTarjetaVerde {
    width: 80px;
    height: 80px;
    background-image: url(../../assets/icons/security-verde.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .textPagoTarjeta {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    color: #b2b2b2;
    margin: 0px 10px;
  }
  .descPagoTarjeta {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    color: #b2b2b2;
    margin: 0px 10px;
  }
}
.tipoIndicacionTitle div {
  font-size: 18px;
  color: #505050;
}

.openClose {
  //position: absolute;
  cursor: pointer;
  background: #0684f2;
  border-right: 2px solid #d2d2d2;
  width: 62px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  align-items: center;
  img{
    width: 18px;
  }
  .contentIconMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    //background: white;
    .material-icons{
      font-size: 30px !important;
      //color: #0684f2;
    }
  }
}
.openClose2 {
  //position: absolute;
  cursor: pointer;
  background: #0684f2;
  border-right: 2px solid #d2d2d2;
  width: 52px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  align-items: center;
  img{
    width: 18px;
  }
  .contentIconMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
    .material-icons{
      font-size: 20px !important;
      color: #0684f2;
    }
  }
}
.reverse {
  width: 292px !important;
  justify-content: start;
}

.reverse2 {
  width: 292px !important;
}

.chipButton{
  background: #0684f2;
    /* padding: 3px 15px; */
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
}
.elipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elipsis-100{
  width: 100px;
}
.elipsis-200{
  width: 200px;
}
.elipsis-300{
  width: 300px;
}
.elipsis-400{
  width: 400px;
}
.elipsis-500{
  width: 500px;
}
