.tabVertical {
  flex-direction: row !important;
}
.tabVertical .mat-tab-header {
  border-bottom: none !important;
}
.tabVertical .mat-tab-header .mat-tab-header-pagination {
  display: none !important;
}
.tabVertical .mat-tab-header .mat-tab-label-container {
  border-right: 2px solid #d2d2d2;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
  flex-direction: column !important;
  opacity: 1;
  max-width: 180px;
  //border-right: 2px solid #d2d2d2;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label {
  justify-content: flex-start;
  opacity: 1 !important;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 60px !important;
  height: auto !important;
  width: 100%;
  justify-content: center;
}
.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label:hover {
  background: #f4f4f4;
}
// .tabVertical
//   .mat-tab-header
//   .mat-tab-label-container
//   .mat-tab-list
//   .mat-tab-labels
//   .mat-tab-label
//   .mat-tab-label-content {
//   //width: 100%;
// }

.tabVertical
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-ink-bar {
  height: 100%;
  left: 98% !important;
  display: none;
}
.tabVertical .mat-tab-body-wrapper {
  flex: 1 1 auto !important;
}
.tabVertical .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
  overflow: hidden;
}
.tabVertical
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active {
  background: #f4f4f4;
}
.pad-resp {
  padding: 5px 10px 0px 72px;
}

@media (max-width: 768px) {
  mat-tab-header {
    z-index: 100;
    position: absolute !important;
    background: white;
    height: 100%;
    min-width: 2px;
  }

  .tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
    max-width: 290px !important;
  }
  .reverse2 {
    left: 265px !important;
  }
}
@media (max-width: 576px) {
  .rowpaddAv {
    padding: 45px 10px 45px 10px;
  }
}
@media (min-width: 576px) {
  .rowpaddAv {
    padding: 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px 0px 72px;
  }
}
@media (min-width: 768px) {
  .rowpaddAv {
    padding: 45px 40px 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px;
  }
}
@media (min-width: 992px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px;
  }
  .pad-resp {
    padding: 5px 10px;
  }
}
@media (min-width: 1200px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px;
  }
  .pad-resp {
    padding: 5px 20px;
  }
}
@media (min-width: 1400px) {
  .rowpaddAv {
    padding: 45px 90px 45px 20px !important;
  }
  .pad-resp {
    padding: 5px 30px;
  }
}
.resumenPagoTarjeta {
  padding: 0px 20px;
  .titleResumenPago {
    background: #e7e7e7;
    padding: 5px 30px;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px #a6a6a6;
  }
  .contentResumenPago {
    padding: 20px 30px;
    border: solid 1px #a6a6a6;
    border-radius: 0px 0px 10px 10px;
    .subtitleResumenPago {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 20px;
    }
    .ItemsResumenPago {
      width: 100%;
      margin: 0px;
      padding: 0px;
      .itms {
        color: #878787;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        border-top: solid 1px #a6a6a6;
        div {
          padding: 0px;
          margin: 0px;
        }
      }
      .tot {
        font-weight: 600;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        border-top: solid 1px #a6a6a6;
        div {
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}
.iconoPagoTarjeta {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  .imgPagoTarjeta {
    width: 80px;
    height: 80px;
    background-image: url(../../assets/icons/security.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .textPagoTarjeta {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    color: #b2b2b2;
    margin: 0px 10px;
  }
  .descPagoTarjeta {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 600;
    color: #e7e7e7;
    margin: 0px 10px;
  }
}
.tipoIndicacionTitle div {
  font-size: 17px;
  color: #505050;
}

.openClose {
  //position: absolute;
  cursor: pointer;
  background: #c3c3c3;
  border-right: 2px solid #d2d2d2;
  width: 62px;
  display: flex;
  justify-content: center;
  padding: 5px;
  img{
    width: 18px;
  }
  .material-icons{
    font-size: 30px !important;
  }
}
.openClose2 {
  //position: absolute;
  cursor: pointer;
  background: #c3c3c3;
  border-right: 2px solid #d2d2d2;
  width: 52px;
  display: flex;
  justify-content: center;
  padding: 5px;
  img{
    width: 18px;
  }
  .material-icons{
    font-size: 30px !important;
  }
}
.reverse {
  width: 182px ;
}

.reverse2 {
  width: 292px !important;
}
