.SubtitleRecursoConect{
  font-size: 16px;
  padding: 2px 10px;
  background: #d5d5d5;
  font-weight: 600;
  margin: 10px 0px;
}
.titleItemRecursos{
  font-weight: 600;
  padding: 10px;
  margin: 6px 0px;
}
