.itemsMisPagos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 15px;
    margin-right: 10px;
  }
  p {
    margin: 0px;
    font-size: 14px;
    color: #878787;
  }
  div {
    font-size: 14px;
    font-weight: 600;
    color: #878787;
    margin-right: 5px;
  }
}
.titleCronograma {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 0px;
  border-bottom: solid 2px #f1f1f1;
}
table {
  width: 100%;
  //table-layout: fixed;
  margin-top: 40px;
  //border: solid 1px #b5b5b5;
  //border-radius: 20px;
  border-spacing: 0;
  border-collapse: separate;
}
table tr:first-child th:first-child {
  border-top: solid 1px #b5b5b5;
  border-left: solid 1px #b5b5b5;
  border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
  border-top: solid 1px #b5b5b5;
  border-right: solid 1px #b5b5b5;
  border-top-right-radius: 10px;
}
table tr:first-child th {
  border-top: solid 1px #b5b5b5;
  text-align: center;
  background: #e7e7e7;
  font-size: 14px;
  padding: 10px;
}
table tr td {
  text-align: center;
  padding: 8px 10px 10px 0px;
  img {
    width: 15px;
    margin-left: 5px;
  }
}

table tr:not(:first-child) {
  color: #878787;
  font-size: 14px;
}
table tr th:first-child {
  border-left: solid 1px #b5b5b5;
}
table tr td:first-child {
  border-left: solid 1px #b5b5b5;
}
table tr th:last-child {
  border-right: solid 1px #b5b5b5;
}
table tr td:last-child {
  border-right: solid 1px #b5b5b5;
}
table tr:last-child td:first-child {
  border-bottom: solid 1px #b5b5b5;
  border-left: solid 1px #b5b5b5;
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom: solid 1px #b5b5b5;
  border-right: solid 1px #b5b5b5;
  border-bottom-right-radius: 10px;
}
table tr:last-child td {
  border-bottom: solid 1px #b5b5b5;
  padding-bottom: 20px;
}
.pagoActivo {
  color: #4a4a49 !important;
  cursor: pointer;
  font-weight: 600;
}
.pagoSelect {
  color: #3a82c0 !important;
  background: #f2f6ff;
}
.pagoRealizado {
  color: #02c158 !important;
}
.CardPago {
  border: solid 1px #d5d5d5;
  border-radius: 5px;
  padding: 0px;
  width: 25vw;
  .titleCardPago {
    background: #e7e7e7;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .contentCardPago {
    justify-content: center;
    padding: 10px 40px;
    .sub {
      font-weight: 600;
      border-bottom: solid 2px #c7c7c7;
      padding: 3px 0px;
    }
    .cen {
      padding: 8px 0px;
      color: #878787;
      font-size: 14px;
    }
    .tot {
      padding: 10px 0px;
      background: #f2f6ff;
      font-weight: bold;
    }
    .bot {
      justify-content: center;
      div{
        width: auto;
      }
    }
  }
}
.dialog-Tarjeta-Modal {
  mat-dialog-container {
  padding: 1opx !important;
  border-radius: 10px;
  overflow-y: auto !important;
  max-height: 95vh;
  }
}
.gray-border {
  border: 1px solid grey; /* Borde gris por defecto */
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.gray-border:hover {
  border-color: darkgrey; /* Cambio de color al hacer hover */
  transform: scale(1.08); /* Aumenta el tamaño al hacer hover */
}
.comprobatePagoTarjeta {
  display: flex;
  align-items: center;
  .titleComprobantePagoTarjeta {
    color: #878787;
    width: 160px;
  }
  .items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .itm {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #f4f4f4;
      border-radius: 20px;
      cursor: pointer;
      margin: 10px 0px;
      .material-icons {
        font-size: 15px !important;
        margin-left: 10px;
        color: #02c158;
      }
    }
  }
}
.retrocederPagina{
  font-size: 20px;
  color: orange;
  display: flex;
  align-items: center;
}
.retrocederPagina mat-icon{
  margin-top: 5px;
}
.retrocederPagina:hover{
  cursor: pointer;
  color: rgb(255, 136, 0);
}
.cardAfiliacionPagosRecurrentesSeleccionado{
  border: solid 3.2px #40b3ff;
  border-radius: 10px;
  padding: 0px;
  width: 25vw;
}
.cardAfiliacionPagosRecurrentesSeleccionado .card
{
  background-color: #40b3ff0d;
}
.cardAfiliacionPagosRecurrentesSeleccionado p{
  margin: 0px;
  // padding: 10px 20px;
  font-size: 14px;
  color: #878787;
}

.cardAfiliacionPagosRecurrentes{
  border: solid 1.2px #00000038;
  border-radius: 10px;
  padding: 0px;
  width: 25vw;
}
.cardAfiliacionPagosRecurrentes .card
{
  background-color: #ffffff;
}
.cardAfiliacionPagosRecurrentes p{
  margin: 0px;
  // padding: 10px 20px;
  font-size: 14px;
  color: #878787;
}
.MensajeMouse {
  position: absolute;
  background-color: #fff;
  // border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9999; /* Asegura que el recuadro se muestre encima de otros elementos */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Agrega transición para una apariencia suave */
  margin-bottom: 5px;
  background: transparent;
}

.MensajeMouse.show {
  opacity: 1; /* Mostrar el tooltip cuando se activa */
}
