.footerChatAula {
  width: 100%;
  height: 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid #E3E3E3;
  .chat-box-textarea {
    border: none!important;
    outline: none!important; /* Evita que aparezca un contorno al hacer focus */
    resize: none!important; /* Evita el redimensionamiento si no lo necesitas */
    overflow-y: auto!important; /* Permite que el scroll vertical aparezca solo si es necesario */
    box-shadow: none!important; /* Elimina cualquier sombra que pueda añadirse por defecto */
    border-radius: 10px;
    width: 90%;
    padding: 4px 10% 4px 10px;
    color: #707070;
    font-size: 15px;
  }
  .chat-box-textarea:focus {
    border: none; /* Asegura que no aparezca un borde al hacer focus */
    outline: none; /* Mantén el contorno invisible */
  }
  i {
    color: #ff8610;
    cursor: pointer;
  }
  .addfile {
    color: black;
    position: absolute;
    top: 30%;
    right: 15%;
  }
}
.headerChatAula {
  background: #FF8610;
  border-radius: 8px 8px 0px 0px;
  height: 68px;
  .imgAsesor {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    img {
      width: 55px;
      height: 55px;
      margin-left: 1rem;
    }
    .nombreAsesor {
      width: calc(80% - 15px);
      text-align: left;
      font-size: 16px;
      padding: 10px 10px;
    }
    .stateAsesor{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #c23616;
      bottom: 5px;
      left: 60px;
      border: solid 1px white;
    }
  }
  .textoAsesor {
    color: white;
    font-weight: 600;

    padding: 0px 10px 10px 10px;
  }
}

.chat-box-textinput:focus-visible {
  outline: none;
}
.inputActive {
  // border: 1px solid #ff8610 !important;
}
.contentChat {
  width: 100%;
  height: 30%;
}
.mensajeDefecto {
  margin: 10px;
  text-align: center;
  font-size: 11px;
  color: #aaa;
}
.contentChatMsj {
  width: 100%;
  min-height: 341px!important;
  max-height: 488px!important;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Garantiza un scroll suave */
}
.visitanteMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 16px 0px 0px;
  flex-wrap: wrap;
  .cntnmsj {
    background: #FFEDDB;
    border-radius: 15px 0px 15px 15px;
    color: #EF6C00;
    white-space: pre-line;
  }
}
.asesorMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 0px 16px;
  flex-wrap: wrap;
  .cntnmsj {
    background: #EEF3F9;
    border-radius: 0px 15px 15px 15px;
    color: #707070;
    white-space: pre-line;
  }
}
.cntnmsj {
  max-width: 75%; /* Máximo ancho: 75% */
  min-width: 10%; /* Mínimo ancho: 10% (puedes ajustarlo según tu necesidad) */
  width: fit-content; /* Se ajusta al contenido */
  padding: 0.4rem 1rem; /* Margen interno */

  .statemsjEnviado {
    display: flex;
    justify-content: flex-end;
    position: relative;
    i {
      color: #92a58c;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .statemsjleido {
    display: flex;
    justify-content: flex-end;
    position: relative;
    i {
      color: #4fc3f7;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .statemsjnoleido {
    display: flex;
    justify-content: flex-end;
    position: relative;
    i {
      color: #92a58c;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .remitente {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
  .msj {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    img {
      width: 80%;
    }
  }
}

.OnConected{
  background: #4cd137 !important;
}

/* Estilo para el botón de retroceso */
.FlechaAtrasMatricula {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  color: #FF4E56;
  font-weight: 600;
  border-bottom: solid 1px transparent;
  margin-left: 15px;
  margin-top: 5px;
}

/* Estilo para el ícono dentro del botón de retroceso */
.FlechaAtrasMatricula .material-icons {
  font-weight: 600;
  font-size: 9px !important;
}

/* Estilo para el hover del botón de retroceso */
.FlechaAtrasMatricula:hover span {
  text-decoration: underline;
}
.confirmation-dialog-atras {
  text-align: center;
  padding: 20px;
  background-color: #EEF3F9;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 10px;
}

.confirmation-dialog-atras p {
  margin: 0 0 10px;
  font-size: 12px;
  color: #707070;
}

.confirmation-dialog-atras button {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 10px;
  background: #EEF3F9;
  cursor: pointer;
  border: none; /* Remueve el borde por defecto */
  padding: 10px 20px;
  position: relative;
  color: black; /* Color del texto */
}

.confirmation-dialog-atras button span {
  position: relative;
  display: inline-block; /* Asegúrate de que el span solo abarque el texto */
  padding-bottom: 3px; /* Espacio entre el texto y el subrayado */
  border-bottom: 2px solid transparent; /* Línea invisible por defecto */
  transition: border-color 0.3s ease;
}

.confirmation-dialog-atras button:hover span {
  border-bottom-color: black; /* Aplica el color del subrayado al hacer hover */
}

.confirmation-dialog-atras button:hover {
  // background-color: #CCF5FF; /* Cambia el color de fondo del botón al hacer hover */
  text-decoration: underline; /* Aplica el subrayado al pasar el cursor */
}
.fecha-visitante{
  text-align: right;
  font-size: 9px;
  color: #A3A3A3;
  flex-basis: 100%;
  padding-right: 0.5rem;
}
.fecha-asesor{
  text-align: left;
  font-size: 9px;
  color: #A3A3A3;
  flex-basis: 100%;
  padding-left: 0.5rem;
}


