.loader {
  width:100vw;
  height:100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.carrera-container {
  &__header {
    background: #f4f4f4;
    padding-top: 3rem;
    padding-bottom: 3rem;
    &__information {
      padding-top: 3rem;
      padding-bottom: 3rem;
      word-wrap: break-word;
      &__title {
        span {
          font-weight: 100 !important;
        }
        h1 {
          font-weight: 900 !important;
        }
      }
      &__button {
        margin-top: 1rem;
      }
    }
    &__img {
      background-color: aqua;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    h1 {
      font-weight: 800;
      font-size: 2rem;
    }
    &__firstSection {
      &__left {
        margin-bottom: 3rem;
        p {
          strong {
            display: none;
          }
        }
      }
      &__right {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
    &__secondSection {
      padding-top: 3rem;
      background-color: #f4f4f4;
      &__item {
        padding: 3rem;
        color: #696B6B;
        ul {
          list-style-type: none;
        }
        li {
          padding-bottom: 1rem;
        }
      }
    }
    &__thirdSection {
      .real-contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        .container-card {
          max-width: 30rem;
          margin-top: 2rem;
          width: 100%;
          background-color: #CFFFE6;
          border-radius: 10px;
          padding: 3rem;
          transition: transform .2s;
          &:hover {
            cursor: pointer;
            -ms-transform: scale(1.04);
            /* IE 9 */
            -webkit-transform: scale(1.04);
            /* Safari 3-8 */
            transform: scale(1.04);
          }
          .line {
            height: 0.1rem;
            border-radius: 1rem;
            background-color: #C1DACC;
            margin-bottom: 2rem;
          }
          p strong {
            font-size: 1.5rem;
            font-weight: 700;
            color: orange;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
              font-size: 0.8rem;
              margin-bottom: 0.5rem;
            }
          }

        }
      }
    }
    &__fourthSection {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #f4f4f4;
      p {
        font-size: 1.3rem;
        color: #1089F3;
        font-weight: 400;
        margin-top: 2rem;
        text-transform: uppercase;
      }
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .col-sm-8 {
        h1 {
          font-weight: 900;
        }
        ul {
          list-style-type: none;
        }
      }
      .col-sm-4 {
        margin:0;
        padding: 0;
        @media(max-width: 768px){
          text-align: center;
        }
        img {
          width: 100%;
          height: auto;
          max-width: 325px !important;
          max-height: 255px !important;
          @media(max-width: 768px){
            width: 255px !important;
            height: 185px !important;
          }
        }
      }
    }
    &__fiveSection {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #FFFFFF;
      &__information-detail {
        p {
          strong {
            font-size: 1.3rem;
            font-weight: 800;
            margin-top: 2rem;
            text-transform: uppercase;
          }
        }
        .row {
          margin-bottom: 1rem;
          background-color: #CFFFE6;
          border-radius: 10px;
          padding: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          ul {
            list-style-type: none;
          }
        }
        .col-sm-8 {
          h1 {
            font-weight: 900;
          }
          ul {
            list-style-type: none;
          }
        }
        .col-sm-4 {
          margin:0;
          padding: 0;
          @media(max-width: 768px){
            text-align: center;
          }
          img {
            width: 100%;
            height: auto;
            max-width: 325px !important;
            max-height: 255px !important;
            @media(max-width: 768px){
              width: 220px !important;
              height: 100px !important;
            }
          }
        }
      }
      &__information-note {
        margin-top: 2rem;
        p {
          font-size: 0.8rem;
          color: #D0D0D0;
        }
      }
    }
    &__sixSection {
      background-color: #F5F9FF;
      .videoContainer {
        text-align: center;
        iframe {
          width: 1000px;
          height: 425px;
          @media (max-width: 1000px) {
            width: 700px;
            height: 425px;
          }
          @media (max-width: 780px) {
            width: 500px;
            height: 325px;
          }
          @media (max-width: 560px) {
            width: 400px;
            height: 325px;
          }
          @media (max-width: 400px) {
            width: 350px;
            height: 275px;
          }
        }
      }
    }
    &__sevenSection {
      .img-container {
        text-align: end;
        margin: 0;
        padding: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}
