<div class="carrera-container">
  <div *ngIf="!loader" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="loader">
    <div class="container breadcrumb">
      <app-miga-pan [items]="migaPan"></app-miga-pan>
    </div>
    <div class="carrera-container__header">
      <div class="container rowpadd">
        <div class="row">
          <div class="col-md-8 carrera-container__header__information">
            <div class="carrera-container__header__information__title" [innerHTML]="carrera.programaGeneralInformacionVistaDTO?.tituloHtml">
            </div>
            <div class="carrera-container__header__information__button">
              <app-default-button [confs]="{color: 'primary', titulo: 'Inscribirme Ahora'}"></app-default-button>
            </div>
          </div>
          <div class="col-md-4 carrera-container__header__img">
            <img [src]="rutaImagen+carrera.programaGeneralInformacionVistaDTO?.imagenPrograma" alt="">
          </div>
        </div>

      </div>
    </div>
    <div class="carrera-container__content">
      <div class="carrera-container__content__firstSection container rowpadd">
        <div class="row">
          <div class="col-md-7 carrera-container__content__firstSection__left">
            <div class="carrera-container__header__information__title" [innerHTML]="carrera.contenidoProgramaInformacionDTO[4]?.contenido">
            </div>
          </div>
          <div class="col-md-5 carrera-container__content__firstSection__right">
            <app-icon-information-card [item]="{imagen: '/assets/icons/horario-04.svg',imagenAlt: 'Horario',titulo: 'Prueba',subtitulo: 'DSADASDADA'}"></app-icon-information-card>
            <app-icon-information-card [item]="{imagen: '/assets/icons/precio-03.svg',imagenAlt: 'Precio',titulo: 'Prueba',subtitulo: 'DSADASDADA'}"></app-icon-information-card>
            <app-icon-information-card [item]="{imagen: '/assets/icons/calendario-05.svg',imagenAlt: 'Calendario',titulo: 'Prueba',subtitulo: 'DSADASDADA'}"></app-icon-information-card>
          </div>
        </div>
      </div>
      <div class="carrera-container__content__secondSection">
        <div class="container rowpadd">
          <div class="row">
            <mat-tab-group>
              <mat-tab *ngFor="let item of generalInformacion" label="{{item.titulo}}">
                <div class="carrera-container__content__secondSection__item" [innerHTML]="item.contenido">
                </div>
              </mat-tab>
              <mat-tab label="Convalidaciones">
                <div class="carrera-container__content__secondSection__item">
                  <p>¿Quiénes pueden realizar convalidaciones en BSG Institute?</p>
                  <span>Pueden hacerlo personas que hayan realizado estudios en otros institutos o universidades. Además en BSG Institute validamos tu experiencia laboral.</span>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="carrera-container__content__thirdSection">
        <div class="container rowpadd">
          <h1>Plan de Estudios</h1>
          <div
            class="carrera-container__content__thirdSection__information-detail"
            [innerHTML]="planEstudios">
          </div>
        </div>
      </div>
      <div class="carrera-container__content__fourthSection">
        <div class="container rowpadd">
          <h1>Certificación</h1>
          <div
            class="carrera-container__content__fourthSection__information-detail"
            [innerHTML]="carrera.contenidoProgramaInformacionDTO[6]?.contenido">
          </div>
        </div>
      </div>
      <div class="carrera-container__content__fiveSection">
        <div class="container rowpadd">
          <h1>Certificaciones Adicionales</h1>
          <div
            class="carrera-container__content__fiveSection__information-detail"
            [innerHTML]="contenidoCertificacionAdicional">
          </div>
              <div
                class="carrera-container__content__fiveSection__information-note"
                [innerHTML]="notaCertificacionAdicional">
              </div>
        </div>
      </div>
      <div class="carrera-container__content__sixSection">
        <div class="container rowpadd">
          <h1>¿ Qué son las certificaciones adicionales ?</h1>
          <div class="col-md-12 col-lg-12 videoContainer"
               [innerHtml]="videoPrueba | safeHtml">
          </div>
        </div>
      </div>
      <div class="carrera-container__content__sevenSection">
        <div class="container rowpadd" style="padding-bottom: 0">
          <div class="row">
            <div class="col-md-6">
              <h1>Formulario</h1>
            </div>
            <div class="col-md-6 img-container">
              <img src="/assets/imagenes/arquetipo-administracion-2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
