<!-- holax -->
<div class="contentNotificacion">
  <div style="position: absolute;top: 5px;
  right: 5px;
  cursor: pointer;" mat-dialog-close><i class="material-icons" style="font-size: 14px !important;
    color: black !important;">close</i></div>
  <div class="imgBSG"></div>
  <div style="width: 100%;height: 1px;background: black;"></div>
  <hr>
  <div style="width: 100%;padding: 0px 24px;">
    <div class="titleNotificacionBolivia">A LA CIUDADANIA BOLIVIANA</div>
    <div class="SubTitleNotificacionBolivia">Se les informa que, la empresa <b> BSGINSTITUTE BOLIVIA S.R.L.:</b></div>
    <div class="contentOptionsNotificacionBolivia">
      <div class="optionsNotificacionBolivia">
        <i class="material-icons">check</i>
        <div class="textOptionsNotificacionBolivia">NO ENTREGA CERTIFICADOS, SOBRE LOS CURSOS QUE OFRECEMOS, SIN QUE SE
          HAYAN FINALIZADO LOS MISMOS</div>
      </div>
      <div class="optionsNotificacionBolivia">
        <i class="material-icons">check</i>
        <div class="textOptionsNotificacionBolivia">NO REALIZA VENTA DE CURSOS NI AUTORIZA COBRO A NOMBRE DE TERCERAS
          PERSONAS.</div>
      </div>
    </div>
    <div class="textoNotificacion">De la misma forma hacemos bien en informar que las siguientes personas no son parte de
      nuestra institución:</div>
      <br>
    <div class="row contentPersonasNotificacion">
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">ERICK FUENTES FLORES.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">ESNOR SUAREZ DORADO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JOSE MARIO MENDOZA CORDOBA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JUAN CARLOS RUIZ CUELLAR.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">AGUSTIN RIBERA VACADIEZ.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">GARCÍA PEÑA IGNACIO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JESÚS PARADA QUISPE.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">LUIS FERNANDO CAPOBIANCO SOLIS.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">CARLOS DANIEL AGUILAR YUCRA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">CESAR HERNAN BECERRA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JHON MIRCO SALAZAR.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JORGE LOPEZ DEL CASTILLO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">BORIS BLADIMIR SARMIENTOS.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JOSÉ ALFREDO SILVA ROJAS.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">GABRIEL QUIROGA SAMANIEGO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JORGE LOPEZ DEL CASTILLO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">MIGUEL ANGEL MASABO CHIMO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">EDGAR CHACÓN ZEGARRA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">RONALD VASQUEZ PINTO.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">BRENDA DUARTE BOLIVAR.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">SANDRO DIONEL COLQUE FLORES.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">NESTOR MAMANI VELARDES.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">LUIS GUSTAVO BALCAS PLAZA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">DAVID JUSTINIANO GIL.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">JULIO ANDRADE REQUENA.</div>
      <div class="iconPersonas col-2 col-md-1 col-lg-1"><i class="material-icons">add</i></div>
      <div class="col-10 col-md-5 col-lg-5">TONY POLL ZUÑIGA.</div>
    </div>
    <div class="textoNotificacion">Queremos aclarar que todos los cursos ofrecidos se realizan a través de personal
      autorizado y plenamente identificado como miembros de nuestro equipo de trabajo, desde nuestros correos corporativos
      (@bsginstitute.com).
    </div>
    <div class="textoNotificacion">
      Por otro lado, cualquier cobro que se realice en favor de nuestra empresa, se lo solicita en
      nuestras cuentas bancarias empresariales a nombre de BSGInstitute Bolivia S.R.L. con NIT 376053024 en el Banco de
      Crédito de Bolivia, las cuales responden al nombre de nuestra
      institución Y NO ASÍ A NOMBRE DE TERCERAS PERSONAS.
      Se hace bien en informar esto para no ser víctimas de hecho ilícitos a nombre de nuestra
      institución.
    </div>
    <div class="textoInferiorNotificacion">Santa Cruz, 28 de Junio del 2023</div>
  </div>

</div>
