<div class="container" >
  <div class="row rowpadd" style="align-items: center;">
    <div class="col-12 col-sm-12 col-md-6" >
        <img class="imgTitle" src="../../../assets/imagenes/postada-imagen.png" alt="">
    </div>
    <div class="col-12  col-sm-12 col-md-6">
      <div class="titulop">
        Conocimiento para crecer
      </div>
      <div class="parafop" >
        Obt&eacute;n las habilidades y las certificaciones m&aacute;s demandadas para  <strong style="font-size: 26px;">profesionales top en latinoam&eacute;rica</strong>
        <div class="paisesTitle">
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/peru-04.svg" alt=""> Lima</div>
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/peru-04.svg" alt="">Arequipa</div>
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/mexico-05.svg" alt="">Ciudad de M&eacute;xico</div>
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/colombia-06.svg" alt="">Bogot&aacute;</div>
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/bolivia-07.svg" alt="">Santa Cruz</div>
          <div class="paisesTitleitem"><img src="../../../assets/imagenes/chile-08.svg" alt="">Santiago</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="    background: #f5f9ff;">
  <div class="container" >
    <div class="row">
      <div class="col-12 col-sm-12">
        <app-carousel>
          <ng-container contenidoCarousel>
            <div *ngFor="let ste of step" class="row carousel-cell" style="align-items: center;">

              <ng-container *ngIf="ste.length>4">
                <ng-container *ngFor="let item of ste;let i = index">

                  <div class="col-4" *ngIf="i<=2">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                  <div class="col-6" *ngIf="i>2">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="ste.length<=4">
                <div class="col-{{12/ste.length}}" *ngFor="let item of ste">
                  <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                </div>
              </ng-container>
            </div>
          </ng-container>
        </app-carousel>
      </div>
    </div>
  </div>
</div>
<div class="container" >
  <div class="row rowpadd" style="position: relative;">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="subtitulo">¿Por qu&eacute; elegir BSG Institute?</div>
      <div class="parafoS">Nuestra metodolog&iacute;a <strong>ExTech Learning</strong> complementa las sesiones de clase con mecanismos de aprendizaje activo.</div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-gamification-11.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Gamification</strong></div>
          <div class="parafoCardSub">Usamos mecanismos de gamificaci&oacute;n estructural y de contenidos con el fin de que tu experiencia de aprendizaje sea mas interactiva</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Virtual-reality-12.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Virtual reality</strong></div>
          <div class="parafoCardSub">Acceder&aacute;s a simuladores que cuenta con la tecnologia Oculus Quest 2 una de las mejores disponibles en el mercado</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Serious-games-13.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Serious games</strong></div>
          <div class="parafoCardSub">Dispondr&aacute;s  de simuladores en linea para recrear entornos reales</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Reﬂexion-14.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Reflexi&oacute;n</strong></div>
          <div class="parafoCardSub">Tendr&aacute;s la oportunidad de reflexionar sobre lo aprendido en el desarrollo del curso y puedas compartirlo con tus compa&ntilde;eros</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Applied-Projects-15.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Applied projects</strong></div>
          <div class="parafoCardSub">Podr&aacute;s completar una serie de tareas aplicadas que permitiran emplear los conocimientos aprendidos en situaciones reales</div>
        </div>
      </div>
    </div>
    <div class="col-12  col-sm-12 col-md-4 ">
      <img class="imgTitle" src="../../../assets/imagenes/extech-learning-09.svg" alt="">
    </div>
    <img class="imgfondo" src="../../../assets/imagenes/imagen-realidad-virtual.png" alt="">
  </div>
</div>

<div style="background: #f5f9ff;" *ngIf="TituloCarreras!=''">
  <div class="container" >
    <div class="row rowpadd">
      <div class="col-12 col-sm-12" style="margin-bottom: 30px;">
        <div class="subtitulo" style="text-align: center;">{{TituloCarreras}}</div>
        <div class="parafoS" style="text-align: center;">Formamos Profecionales Competitivos</div>

      </div>
      <div class="col-12 col-sm-12 col-md-6" *ngFor="let item of Carreras;let i=index">
        <div class="cardCarreras">
          <div class="contenCarreras">
            <div class="titleCarreras">{{item.Nombre}}</div>
            <div style="border: solid 2px #168df3;
            background: #168df3;margin-right: 100px;"></div>
            <div class="subtitleCarreras">Carrera Profesional <i class="material-icons">keyboard_arrow_right</i></div>
            <div class="subtitleCarreras red">M&aacute;s Informaci&oacute;n <i class="material-icons">keyboard_arrow_right</i></div>
          </div>
          <img *ngIf="i%2==0" style="width: 40%;margin-top: 10px;" src="../../../assets/imagenes/imagen-carrera-adm.png" alt="">
          <img *ngIf="i%2!=0" style="width: 40%;margin-top: 10px;" src="../../../assets/imagenes/imagen-carrera-desarrollo-sistemas.png" alt="">
        </div>
      </div>
      <div class="parafoS" style="margin-top: 20px;display: flex;align-items: center;justify-content: center;">Mostrar todas las carreras profecionales <i class="material-icons">keyboard_arrow_right</i></div>
    </div>
  </div>
</div>

