<!-- holax -->
<div class="container">
  <div class="row rowpadd" style="align-items: center;">
    <div class="col-12 d-md-none d-lg-none">
      <img class="imgTitle" src="../../../assets/imagenes/arquetipos-index.png" loading="eager" width="100%" height="auto" alt="Ingenieros con certificaciones BSG Institute">
    </div>
    <div class="col-12  col-md-6 col-lg-6">
      <div >
        <h1 class="titulop">Conocimiento para crecer</h1>
      </div>

      <div class="parafop parafopHome">
        <h2 class="parafop parafopHome" style="line-height: 150%;">Obtén las habilidades y las certificaciones más demandadas para profesionales top en
          Latinoamérica.</h2>
        <div class="row" style="align-items: center;" style="margin: 40px 0px;justify-content: space-around;">
          <div class="paisesHome"><img class="paisesimg" width="10" height="auto" src="../../../assets/imagenes/peru-04.svg" alt="Bandera de Perú"> Perú
          </div>
          <div class="paisesHome"><img class="paisesimg" width="10" height="auto" src="../../../assets/imagenes/colombia-06.svg" alt="Bandera de Colombia"> Colombia
          </div>
          <!-- <div class="paisesHome"><img class="paisesimg" width="10" height="auto" src="../../../assets/imagenes/bolivia-07.svg" alt="Bandera de Bolivia">Bolivia
          </div> -->
          <div class="paisesHome"><img class="paisesimg" width="10" height="auto" src="../../../assets/imagenes/mexico-05.svg"  alt="Bandera de México">México
          </div>
          <div class="paisesHome"><img class="paisesimg" width="10" height="auto" src="../../../assets/imagenes/chile-08.svg" alt="Bandera de Chile">Chile</div>
        </div>
      </div>
    </div>

    <div class="d-none col-md-6 d-md-block col-lg-6 d-lg-block">
      <img title="Profesionales BSG Institute" class="imgTitle" src="../../../assets/imagenes/arquetipos-index.png" loading="eager" width="100%" height="auto" alt="Ingenieros con certificaciones BSG Institute">
    </div>
    <div class="col-12 col-sm-12 col-md-12" style="    display: flex;    margin-top: 40px;">
      <input type="text" [ngClass]="{'inputActive':inputActive}" class="inputSearchHome" (focus)="inputActive=true"
        (focusout)="inputActive=false" [(ngModel)]="busqueda" (keyup.enter)="BuscarProgramas(false)"
        (click)="EventoInteraccion()"
        placeholder="¿Qué te gustaría aprender?">
      <div class="searchButonHome" (click)="BuscarProgramas(true)" [ngClass]="{'inputActive':inputActive}"></div>
    </div>
  </div>
</div>
<app-home-partner></app-home-partner>
<app-home-learning></app-home-learning>
<app-home-formacion-continua></app-home-formacion-continua>
<!-- <app-home-carreras-profesionales></app-home-carreras-profesionales> -->
<app-home-educacion-tecnica></app-home-educacion-tecnica>
<app-home-casos-exitos></app-home-casos-exitos>
