<div class="container" >
  <div class="row rowpadd">
    <div class="col-12 col-md-6" style="    padding-left: 100px;">

    </div>
    <div class="col-12 col-md-6" style="    padding-right: 100px;">
      <div class="titulop">

        Conocimiento para crecer
      </div>
      <div class="parafop">
        Obt&eacute;n las habilidades y las certificaciones m&aacute;s demandadas para  <strong style="font-size: 26px;">profesionales top en latinoam&eacute;rica</strong>
      </div>
    </div>
  </div>
</div>
