.titleResultPago {
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  img {
    width: 50px;
    margin-right: 10px;
  }
}
.textResultPago {
  font-size: 14px;
  margin-top: 20px;
  .textC {
    margin-top: 30px;
    font-size: 12px;
  }
}
.contentCardPago{
  margin-top: 2px;
  font-size: 15px;

}
.cardPago{
  padding: 0px 15px;
  border: solid 3px transparent;
  border-radius: 10px;
  width: 100%;
}
.itemValueCardPago{
  margin: 10px 0px;
  padding: 0px 5rem;
  text-wrap: nowrap;
}
.SubTitulo{
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Define el tamaño base de los botones */
.responsive-button-Pagos {
border-color: transparent;
border-radius: 25px;
width: 17vw; /* O el ancho que desees */
font-size: 13px;
}

.pago-exitoso-movil{
align-items: center;
padding: 0px 10vw
}

.resultadoParrafo{

text-align: center;

}


/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
.button-container-Pagos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rowpaddAv{
  text-align: center;
}
.responsive-button-Pagos {
  width: 60%; /* Cambiar el valor según necesites */
  //max-width: 200px; /* Ajusta el máximo ancho del botón si lo deseas */
}

.pago-exitoso-movil{

  padding: 0px;

}

.cardPago{
  width: 90vw;
}

}
.titleCronograma {
font-size: 25px;
font-weight: 600;
}
.titleCronogramaCurso {
font-size: 20px;
font-weight: 500;
}


/*********************************************************************************/

@media (max-width:768px) {

.textResultPago{
  margin: 27px 0px;
  justify-content: center;
}

.container-resultado{

  width: 80%;

  .resultadoParrafo{
    text-align: start;
    margin-bottom: 10px;
  }

}

}
