<app-header-chatbot [nombre]="flujoActual.NombrePGeneral"></app-header-chatbot>
<div *ngIf="pantalla == false" style="height: 80px"></div>

<ng-container *ngIf="cargando == false">
  <div
    class="row"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 15rem;
    "
  >
    <div class="col-12" style="display: flex; justify-content: center">
      <mat-spinner></mat-spinner>
    </div>
    <!-- <div class="col-12">
      Cargando información ...
    </div> -->
  </div>
</ng-container>

<ng-container *ngIf="cargando">
  <!-- <div class="titulos">
    <div class="titleCurso" *ngIf="flujoActual.NombrePGeneral">
      {{ flujoActual.NombrePGeneral }}
    </div>
  </div> -->

  <div class="container conten">
    <div class="rowRowpadd">
      <div class="contentPrimerPaso">
        <ng-container
          *ngIf="
            SiguientesPasos != undefined &&
            SiguientesPasos != null &&
            SiguientesPasos.length > 0
          "
        >
          <!--*ngIf="chat == true"> -->

          <div class="textoChatbot"></div>

          <ng-container *ngFor="let item of SiguientesPasos; let i = index">
            <div
              class="PreguntaChat"
              *ngIf="
                i >= 0 &&
                item.mensaje !=
                  '¡A continuación necesitamos que confirmes información sobre tu perfil profesional!'
              "
              #ChatUbicacion2
            >
              <div class="GloboPregunta" *ngIf="item.mensaje != null">
                <div class="imgChatBot"></div>
                <div class="PreguntaGloboPrevio">
                  <div class="PreguntaGlobo" *ngIf="1">
                    <div
                      [innerHtml]="item.mensaje | safeHtml"
                      (click)="ScrollTo(); (ChatUbicacion2); ScrollTo()"
                    ></div>
                  </div>
                  <div class="fechaR">
                    {{ item.fechaRegistrada }}
                  </div>

                  <div
                    *ngIf="
                      item.idCampoContacto == 5 &&
                      item.usuarioRegistrado == true
                    "
                    style="margin-bottom: 10%"
                  >
                    <button
                      type="button"
                      class="OpcionesGloboValidacion"
                      (click)="
                        item.validacionCambioMovil = false;
                        SiguientePaso();
                        item.respondido = true;
                        ScrollTo()
                      "
                    >
                      Si
                    </button>
                    <button
                      type="button"
                      class="OpcionesGloboValidacion"
                      (click)="
                        item.respondido = false;
                        item.validacionCambioMovil = true;
                        ScrollTo()
                      "
                    >
                      No
                    </button>
                  </div>
                </div>
              </div>
              <div
                #ChatUbicacion2
                class="OpcionesPregunta"
                *ngIf="item.opciones2 != null && item.opciones2.length > 0 "
              >
                <div
                  *ngIf="item.validacionCambio == false"

                  style="margin-bottom: 10%"
                >
                  <button
                    type="button"
                    class="OpcionesGloboValidacion"
                    (click)="
                      item.validacionCambio = false;
                      ValidacionDenegadaContinuar();
                      ScrollTo()
                    "
                  >
                    Si

                  </button>
                  <button
                    type="button"
                    class="OpcionesGloboValidacion"
                    (click)="item.validacionCambio = true; ScrollTo()"
                  >
                    No
                  </button>
                </div>

                <ng-container *ngIf="item.validacionCambio == true">
                  <div *ngFor="let itemo of item.opciones2">
                    <button
                      type="button"
                      class="OpcionesGlobo"
                      style="
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        max-width: 100%;
                      "
                      (click)="
                        item.respondido == true && item.validacionCambio == true
                          ? ''
                          : ActualizarAlumnoChatBot2(itemo.id, itemo.nombre);
                        ScrollTo()
                      "
                    >
                      {{ itemo.nombre }}
                      {{ this.ScrollTo() }}
                    </button>
                  </div>
                  <div style="text-align: end; font-size: 15px">
                    {{ item.fechaRegistrada }}
                  </div>
                  <br />
                </ng-container>
              </div>
              <div
                #ChatUbicacion1
                class="OpcionesPregunta"
                *ngIf="item.opciones != null && item.opciones.length > 0"
              >
                <ng-container *ngIf="item.tipoOpcion != 'TrueFalse'">
                  <ng-container *ngFor="let itemo of item.opciones">
                    <div
                      class="OpcionesGlobo"
                      (click)="
                        item.respondido == true ? '' : SelectOpciones(itemo);
                        ScrollTo()
                      "
                    >
                      {{ itemo.nombre }}
                      {{ this.ScrollTo() }}
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="item.tipoOpcion == 'TrueFalse'">
                  <!-- <ng-container *ngFor="let itemo of item.opciones">
                    <ng-container
                      //*ngIf="
                        itemo.idCampo != undefined &&
                        itemo.idCampo != null &&
                        itemo.idCampo != 0
                      "
                    >
                      <div class="OpcionesCheckGlobo">
                        <div class="TipoCheck">{{ itemo.nombre }}</div>
                        <div class="NombreCheck">{{ itemo.campo }}</div>
                        <mat-slide-toggle
                          class="example-margin"
                          color="primary"
                          [(ngModel)]="itemo.check"
                          [disabled]="item.respondido == true"
                        >
                        </mat-slide-toggle>
                      </div>
                    </ng-container>
                  </ng-container> -->
                  <!-- <div
                    style="
                      width: 100%;
                      justify-content: center;
                      margin-top: 30px;
                    "
                  >
                    <div class="ButtonPrimerPaso" #ChatUbicacionCheck>
                      <div>
                        <app-default-button
                          [confs]="{ color: 'primary', titulo: 'Continuar' }"
                          [icon]="''"
                          [style]="
                            'width: 100%;background: white;border: solid 1px #f8893f; color: #f8893f;padding: 0px 50px;border-radius: 15px;'
                          "
                          (click)="
                            ContinuarOpciones(3); ScrollTo(ChatUbicacionCheck)
                          "
                        ></app-default-button>
                      </div>
                    </div>
                  </div> -->
                </ng-container>
              </div>
            </div>
            <div
              class="RespuestaCheat"
              *ngIf="item.esMensajeFinal != true && item.respuesta != null"
              #ChatUbicacion
            >
              <ng-container *ngIf="item.respondido == true">
                <div class="RespuestaGloboPrevio">
                  <div class="RespuestaGlobo">
                    <div>
                      <div [innerHtml]="item.respuesta | safeHtml"></div>
                    </div>
                  </div>
                  <div class="fechaR">
                    {{ item.fechaRegistrada }}
                    {{ this.ScrollTo() }}

                  </div>
                </div>
                <!-- <div
                  class="RespuestaGlobo"
                  [innerHtml]="item.respuesta | safeHtml"
                ></div>
                <div class="RespuestaGlobo">

                </div> -->
              </ng-container>
              <ng-container
                #ChatUbicacionInput
                *ngIf="(item.idCampoContacto == 5 && item.validacionCambioMovil) ||
                  (item.idCampoContacto != 5 &&
                    (item.respondido != true || item.respuesta == '') &&
                    (item.opciones == undefined ||
                      item.opciones == null ||
                      item.opciones.length == 0)) || (item.idCampoContacto == 5 && !item.usuarioRegistrado &&
                      !item.respondido)
                "
              >
                <div class="InputResponder">
                  <div *ngIf="formControl != null" class="inp">
                    <input
                      #inputElements
                      class="inputData"
                      [ngClass]="{ inputDataError: formControl.invalid }"
                      [formControl]="formControl"
                      autofocus
                      id="inputDataUsuario"
                      [type]="
                        item.identificadorApi == 'Movil'
                          ? 'number'
                          : item.identificadorApi == 'Email'
                          ? 'email'
                          : 'text'
                      "
                      matInput
                      (keyup.enter)="
                        item.validacionCambioMovil = false;
                        SiguientePaso();
                        ScrollTo()
                      "
                      placeholder="{{ obtenerErrorCampoNombre() }}"
                    />
                    <div class="InputError" *ngIf="formControl.invalid">
                      {{ obtenerErrorCampoNombre() }}
                    </div>
                  </div>

                  <div class="iconoEnvio" *ngIf="formControl.invalid">
                    <i
                      class="material-icons sendMensajeChat sendMensajeChatInHabil"
                      >send</i
                    >
                  </div>
                  <div class="iconoEnvio" *ngIf="!formControl.invalid">
                    <i
                      class="material-icons sendMensajeChat sendMensajeChatHabil"
                      (click)="
                        item.validacionCambioMovil = false;
                        SiguientePaso();
                        ScrollTo()
                      "
                      >send</i
                    >
                  </div>

                  <!-- <app-default-button
                  [confs]="{ color: 'primary', titulo: 'AVANZANDO' }"
                  [icon]="''"
                  [style]="
                    'width: 100%;background: white;border: solid 1px #f8893f; color: #f8893f;padding: 0px 50px;border-radius: 15px;'
                  "
                  (click)="ScrollTo(ChatUbicacion)"
                ></app-default-button> -->
                </div>
              </ng-container>
            </div>

            <div class="ButtonPrimerPaso" *ngIf="item.esMensajeFinal == true">
              <div>
                <app-default-button
                  [confs]="{ color: 'primary', titulo: 'Visitar Sitio Web' }"
                  [icon]="''"
                  [disabled]="formControl.invalid"
                  [style]="
                    'margin-top: 0px; width: 100%;background: white;border: solid 1px #f8893f; color: #f8893f;padding: 0px 37%;border-radius: 15px;'
                  "
                  (click)="redigirPaginaCurso()"
                ></app-default-button>
              </div>
            </div>
          </ng-container>

          <div class="PreguntaChat" *ngIf="CargandoChat == true">
            <div class="GloboPregunta">
              <div class="imgChatBot"></div>
              <div class="PreguntaGloboChat">
                <div class="dot-flashing"></div>
              </div>
            </div>
          </div>
          <!-- <ng-container  #ChatUbicacion>

          </ng-container> -->
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<div #ScrollContainer>_</div>
<div id="footer"></div>
