
<ng-container *ngIf="Semestres!=null && Semestres!=undefined && Semestres.length!=0">
  <div *ngFor="let mod of Semestres;let i=index">
    <div class="proximasSesionesOnline" (click)="OpenSemestre(i)">
      <div class="textoProximas">Semestre {{mod.idCiclo}}</div>
      <div class="iconProximas">
        <ng-container *ngIf="mod.open==false" ><i class="material-icons">keyboard_arrow_down</i></ng-container>
        <ng-container *ngIf="mod.open==true "><i class="material-icons">keyboard_arrow_up</i></ng-container>
      </div>
    </div>
    <div *ngIf="mod.open==true">
      <div style="padding: 0px 20px 0px 20px;">
        <div class="Cursos" >
          <ng-container *ngIf="Asistencias!=null && Asistencias!=undefined">
            <div class="row" style="    padding-top: 20px;margin-bottom: 10px;padding: 15px;">
              <div class="col-2 col-md-1 col-lg-1 cabceraOnline">N°</div>
              <div class="col-7 col-md-8 col-lg-8 cabceraOnline">Curso</div>
              <div class="col-3 col-md-3 col-lg-3 cabceraOnline">Asistencia</div>


            </div>
            <ng-container *ngFor="let item of Asistencias">
              <ng-container *ngIf="item.ver==true && item.idCiclo==mod.idCiclo">
                <div [ngClass]="{'OpenAsistencias': item.open}" style="margin-bottom: 20px;">
                  <div class="row CursosOnline">
                    <div class="col-2 col-md-1 col-lg-1 ">{{item.orden>9?item.orden:'0'+item.orden.toString()}}</div>
                    <div class="col-6 col-md-8 col-lg-8 ">{{item.Nombre}}</div>
                    <div class="col-3 col-md-2 col-lg-2 procentage">{{item.promedio}}%</div>
                    <div class="col-1">
                      <i class="material-icons" *ngIf="item.open==false" (click)="item.open=!item.open">keyboard_arrow_down</i>
                      <i class="material-icons openEx" *ngIf="item.open==true"
                        (click)="item.open=!item.open">keyboard_arrow_up</i>
                    </div>
                  </div>
                  <div class="expandAsistencias" *ngIf="item.open==true">
                    <app-asistencias-carreras-profesionales [IdMatriculaCabecera]="IdMatriculaCabecera" [border]="false"
                      [IdPEspecifico]="item.idPEspecificoHijo"></app-asistencias-carreras-profesionales>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>


