<!-- holax1 -->
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 row">
      <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">Confirma tu compra</div>
      <div class="col-12 d-md-none d-lg-none" *ngIf="resultVisa!=undefined">
        <div class="resumenPagoTarjeta" style="padding: 0px">
          <div class="titleResumenPago">Resumen de tu pago</div>
          <div class="contentResumenPago">
            <div class="subtitleResumenPago">{{resultVisa.nombrePrograma}}</div>
            <div class="ItemsResumenPago row">
              <div class="col-12 row itms" >
                <div class="verionPago" style="margin: 10px 0px;
                font-size: 14px;">{{resultVisa.version}}</div>
                <div class="inicioPago">INICIO: {{resultVisa.tipo}} - {{resultVisa.inicio}}</div>
              </div>
              <div class="col-12 row tot">
                <div class="col-8">Total a pagar</div>
                <div class="col-4" style="text-align: right;">{{resultVisa.moneda}} {{resultVisa.montoTotal | number : '1.2-2'}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="iconoPagoTarjeta">
          <div class="imgPagoTarjeta"></div>
          <div class="textPagoTarjeta">
            <span>PAGO</span>
            <span>100%</span>
            <span>seguro</span>
          </div>
          <div class="descPagoTarjeta">
            <span>Este certificado garantiza la</span>
            <span>seguridad de todas tus conexiones</span>
            <span>mediante cifrado</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 inputPagoVisa">
        <div class="subtitlePagoVisa">Pago realizado por</div>
        <ng-container *ngIf="resultVisa!=undefined">
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>Nombres</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.datoAlumno.nombre" disabled matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>Apellidos</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.datoAlumno.apellido" disabled matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>E-mail</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.datoAlumno.correo" disabled matInput />
          </mat-form-field>
          <ng-container *ngIf="jsonSave.Comprobante!=false">
            <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Razón Social</mat-label>
              <input type="text" [(ngModel)]="jsonSave.RazonSocial" placeholder="Razón Social" matInput  [maxLength]="11"/>
              <i *ngIf="jsonSave.RazonSocial.length!=0" style="font-size: 15px !important;margin-left: 10px;color: #02c158;" class="material-icons" >check_circle</i>
              <i *ngIf="jsonSave.RazonSocial.length==0" style="font-size: 17px !important;margin-left: 10px;color:#FFC107;" class="material-icons" >emoji_objects</i>
            </mat-form-field>
            <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Número Tributario</mat-label>
              <input type="text" [(ngModel)]="jsonSave.CodigoTributario" placeholder="Número Tributario" matInput [maxLength]="11"/>
              <i *ngIf="jsonSave.CodigoTributario.length!=0" style="font-size: 15px !important;margin-left: 10px;color: #02c158;" class="material-icons" >check_circle</i>
              <i *ngIf="jsonSave.CodigoTributario.length==0" style="font-size: 17px !important;margin-left: 10px;color:#FFC107;" class="material-icons" >emoji_objects</i>
            </mat-form-field>
          </ng-container>

        </ng-container>

        <div class="row comprobatePagoTarjeta">
          <div class="col-12 col-md-6 col-lg-4">Emitir comprobante</div>
          <div class="col-12 col-md-6 col-lg-8 items">
            <div class="itm no-select" [ngClass]="{'SelectCom':jsonSave.Comprobante==false}"
              (click)="jsonSave.Comprobante=false">
              Boleta <i class="material-icons" *ngIf="jsonSave.Comprobante==false">check_circle</i>
            </div>
            <div class="itm no-select" [ngClass]="{'SelectCom':jsonSave.Comprobante!=false}"
              (click)="jsonSave.Comprobante=true">Factura <i class="material-icons"
                *ngIf="jsonSave.Comprobante!=false">check_circle</i>
            </div>
          </div>
        </div>
        <form ngNoForm id="visa"
        [action]="'https://proceso-pago.bsginstitute.com/ProcesoPagoVisa/Index?IdTransaccion='+json.IdentificadorTransaccion"
        [method]="'post'" style="text-align: center;"
        target="_blank">

        </form>

        <div id="pagoviss"></div>
        <div style="    width: 100%;
        font-size: 12px;
        color: #b2b2b2;
        padding: 20px;">
          <!-- * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice. -->
        </div>
      </div>
      <div class="d-none col-md-6 d-md-block col-lg-6 d-lg-block" *ngIf="resultVisa!=undefined">
        <div class="resumenPagoTarjeta">
          <div class="titleResumenPago">Resumen de tu pago</div>
          <div class="contentResumenPago">
            <div class="subtitleResumenPago">{{resultVisa.nombrePrograma}}</div>
            <div class="ItemsResumenPago row">
              <div class="col-12 row itms" >
                <div class="verionPago" style="margin: 10px 0px;
                font-size: 14px;">{{resultVisa.version}}</div>
                <div class="inicioPago">INICIO: {{resultVisa.tipo}} - {{resultVisa.inicio}}</div>
              </div>
              <div class="col-12 row tot">
                <div class="col-8">Total a pagar</div>
                <div class="col-4" style="text-align: right;">{{resultVisa.moneda}} {{resultVisa.montoTotal | number : '1.2-2'}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="iconoPagoTarjeta">
          <div class="imgPagoTarjetaVerde"></div>
          <div class="textPagoTarjeta"style="color:#02c158">
            <span>PAGO</span>
            <span>100%</span>
            <span>seguro</span>
          </div>
          <div class="descPagoTarjeta">
            <span>Este certificado garantiza la</span>
            <span>seguridad de todas tus conexiones</span>
            <span>mediante cifrado</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
