<a *ngIf="tipo==1" [routerLink]="Url"  (click)="OnClick.emit()" routerLinkActive="active" class="a_normal">
  <ng-content select="[contenido]">
  </ng-content>
</a>
<a [routerLink]="Url" *ngIf="tipo==2" [ngClass]="{'bootoncolor':hover==true}"
  (mouseenter)="hover=true" (mouseleave)="hover=false" routerLinkActive="active">
  <ng-content select="[contenidoTag]">
  </ng-content>
</a>
<ng-container *ngIf="tipo==3">
  <a mat-button [ngClass]="{'bootoncolor':menuTrigger.menuOpen==true}" [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger">
    <ng-content select="[contenidodata]">
    </ng-content> <i class="material-icons" (mouseenter)="menuTrigger.openMenu()"
      [ngClass]="{'tranformi':menuTrigger.menuOpen==true}">arrow_drop_down</i>
  </a>
  <mat-menu #menu="matMenu">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button [routerLink]="item.Url" *ngFor="let item of dataUrl" mat-menu-item class="mat-menu-content-button"
        [style]="item.style">{{item.Nombre}}</button>
    </span>
  </mat-menu>

</ng-container>
<button mat-stroked-button *ngIf="tipo==4" [routerLink]="Url"  [ngStyle]="{'color':color,'background':background,'border':border}">
  <ng-content select="[contenidoButton]">
  </ng-content>
</button>
