<!-- holax1 -->
<a title="Vínculo a {{Url}}" *ngIf="tipo==1" [routerLink]="Url"  (click)="OnClick.emit()" routerLinkActive="active" class="a_normal">
  <ng-content select="[contenido]">
  </ng-content>
</a>
<a title="Vínculo a {{Url}}" [routerLink]="Url" *ngIf="tipo==2"  [ngClass]="{'bootoncolor':hover==true}" [ngStyle]="{'color':color,'font-weight':weigth}"
  (mouseenter)="hover=true" (mouseleave)="hover=false" routerLinkActive="active" class="buttonHeader">
  <ng-content select="[contenidoTag]">
  </ng-content>
</a>

<ng-container *ngIf="tipo==3">
  <a title="Menú" mat-button [ngClass]="{'bootoncolor':hover==true}" [matMenuTriggerFor]="menu"
  (mouseenter)="hover=true" (mouseleave)="hover=false"
    #menuTrigger="matMenuTrigger" style="
    margin-right: 10px;">
    <ng-content select="[contenidodata]">
    </ng-content> <i class="material-icons"
      [ngClass]="{'tranformi':menuTrigger.menuOpen==true}">arrow_drop_down</i>
  </a>
  <mat-menu #menu="matMenu" backdropClass="custom__menu">
    <span >
      <button (click)="EventoInteraccionEducacion(item.Nombre)" [routerLink]="item.Url" *ngFor="let item of dataUrl" mat-menu-item class="mat-menu-content-button"
        [style]="item.style">{{item.Nombre}}</button>
    </span>
  </mat-menu>
</ng-container>

<ng-container *ngIf="tipo==4" >
  <button mat-stroked-button [routerLink]="Url"  [ngStyle]="{'color':color,'background':background,'border':border}"
    [ngClass]="class">
    <ng-content select="[contenidoButton]">
    </ng-content>
  </button>
  <img class="imgbutton" [src]="'../../.././../../assets/icons/'+img" width="20" width="20" alt="Botón" loading="eager" *ngIf="img!=''" [routerLink]="Url" >
</ng-container>

