<div class="col-12 col-md-12 col-lg-12">
    <form [formGroup]="userForm">
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="titleForo" style="font-weight: bold;">Título del tema: </div>
                <div class="row">
                  <mat-form-field appearance="outline" [floatLabel]="'always'">
                    <input type="text" placeholder="Título del tema" formControlName="Titulo" matInput  />
                    <mat-error *ngIf="userForm.invalid">Debes ingresar el título del tema</mat-error>
                  </mat-form-field>
                </div>
                <div class="titleForo" style="font-weight: bold;">Mensaje: </div>
                <div class="row">
                  <textarea class="ContenidoPreguntaForo" formControlName="Contenido" rows="4" ></textarea>
                </div>
                <div class="row" style="margin-top: 20px; justify-content: flex-end;">
                    <div style="width: auto;">
                      <app-default-button  (click)="EventoInteraccionButton('Volver');VolverAtras()" [confs]="{color:'primary',titulo:'Cerrar'}"
                      [style]="'margin-top: 10px;'"></app-default-button>
                    </div>
                    <div style="width: auto;">
                      <app-default-button [confs]="{color:'primary',titulo:'Publica Tema'}" [disabled]="!userForm.valid"
                      [style]="'margin-top: 10px;'"(ButtoclClick)="InsertarForo()"></app-default-button>
                    </div>
                </div>
          </div>
          </div>
    </form>
</div>


