<!-- holax1 -->
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div style="margin-left: 70px; margin-bottom: 100px;">
        <div class="ErrorTitulo">
          ¡Oh , no!
        </div>
        <div class="ErrorSubtitulo">
          No pudimos encontrar la página que buscas.
        </div>
        <div style="margin-top: 50px;">
          Aquí tenemos algunos enlaces que pueden servirte de ayuda con tu búsqueda
        </div>
        <div style="margin-top: 20px;">
          <a routerLink="" title="Vínvulo a Inicio">Inicio</a>
        </div>
        <div style="margin-top: 5px;">
          <a routerLink="/programas-certificaciones-cursos/0" title="Vínvulo a Formación Contínua">Formación Continua</a>
        </div>
        <div style="margin-top: 5px;">
          <a routerLink="/contactenos" title="Vínculo a Contáctenos">Contáctenos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img class="ErrorImagen" src="https://img.bsginstitute.com/repositorioweb/img/error-404.jpg" alt="Error 404">
    </div>
  </div>

</div>
