<div class="container">
  <div style="font-size: 16px;font-weight: 600;margin: 10px 0px;">Herramientas adicionales</div>
  <div class="col-12" style="text-align: justify;">Este apartado sirve para que el alumno pueda acceder a las herramientas digitales
    que le permitirán el desarrollo de su Programa de estudios.</div>
  <div class="col-12" style="text-align: justify;">
    Esta sección ofrece una lista de herramientas adicionales que se han considerado para el desarrollo. Cada
    herramienta incluye un enlace de descarga y una breve descripción de su uso, proporcionando una referencia
    rápida para identificar y acceder a las herramientas más adecuadas para diversas necesidades de desarrollo
    y gestión de proyectos. Las licencias de esta relación de programas no requieren pago, puesto que son de uso
    libre. Podrás descargarlas e instalarlas sin mayores restricciones debes tener en cuenta los requisitos solicitados para cada una.
  </div>
  <br>
  <div class="col-0 col-md-1 col-lg-1"></div>
  <div class="col-12 col-md-11 col-lg-11">
    <div class="table-resposive">
      <table style="width: 100%;">
        <tr style="background: #e6eefa;">
          <th style="min-width: 140px;text-align: center;width: 18%;font-size: 13px;">Denominación</th>
          <th style="min-width: 115px;text-align: center;width: 24%;font-size: 13px;">Link de descarga</th>
          <th style="min-width: 115px;text-align: center;width: 30%;font-size: 13px;">Descripción de uso</th>
          <th style="min-width: 115px;text-align: center;width: 28%;font-size: 13px;">Requisitos mínimos y recomendados</th>
        </tr>
        <tr>
          <td style="font-size: 15px;">Apache Hadoop: Hbase</td>
          <td style="font-size: 15px;"><a href="https://hbase.apache.org/downloads.html" target="_blank">https://hbase.apache.org/downloads.html</a></td>
          <td style="font-size: 15px;">Una base de datos distribuida no relacional diseñada para manejar
            grandes cantidades de datos estructurados. Es utilizada principalmente para aplicaciones que requieren alta
            disponibilidad y escalabilidad.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 8 GB, Disco: 10 GB, Procesador: Multinúcleo (2 núcleos), Windows 10 o superior.
            <br>Recomendados: RAM: 16 GB, Disco: 50 GB, Procesador: Multinúcleo (4 núcleos), Windows Server 2016 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Arduino</td>
          <td style="font-size: 15px;"><a href="https://www.arduino.cc/en/software" target="_blank">https://www.arduino.cc/en/software</a></td>
          <td style="font-size: 15px;">Una plataforma de prototipos electrónicos de código abierto basada en
            hardware y software fáciles de usar. Permite a los usuarios crear proyectos interactivos con microcontroladores.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 2 GB, Disco: 1 GB, Procesador: 1 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 4 GB, Disco: 2 GB, Procesador: 2 GHz, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Visual Studio Code (C#, .net, VB.net)</td>
          <td style="font-size: 15px;"><a href="https://code.visualstudio.com/download" target="_blank">https://code.visualstudio.com/download</a></td>
          <td style="font-size: 15px;">Un editor de código fuente ligero y potente, ideal para el desarrollo en múltiples
            lenguajes de programación. Soporta extensiones que amplían su funcionalidad, convirtiéndolo en un entorno de desarrollo flexible.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 2 GB, Disco: 200 MB,Procesador: 1.6 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 4 GB, Disco: 500 MB, Procesador: Multinúcleo, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Java (NetBeans y Eclipse)</td>
          <td style="font-size: 15px;"><a href="https://www.java.com/es/download/ie_manual.jsp" target="_blank">https://www.java.com/es/download/ie_manual.jsp</a></td>
          <td style="font-size: 15px;">Una plataforma de desarrollo que permite crear aplicaciones en Java.
            Incluye IDEs populares como NetBeans y Eclipse que ofrecen herramientas robustas para la programación, depuración
            y gestión de proyectos Java.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 2 GB, Disco: 2 GB, Procesador: 1.6 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 4 GB, Disco: 4 GB, Procesador: Multinúcleo, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Apache JMeter</td>
          <td style="font-size: 15px;"><a href="https://jmeter.apache.org/download_jmeter.cgi" target="_blank">https://jmeter.apache.org/download_jmeter.cgi</a></td>
          <td style="font-size: 15px;">Una herramienta de prueba de carga y rendimiento que permite analizar y medir
            el rendimiento de aplicaciones y servicios web. Es extensible y soporta una variedad de protocolos para pruebas.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 2 GB, Disco: 1 GB, Procesador: 1 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 4 GB, Disco: 2 GB, Procesador: Multinúcleo, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">StarUML</td>
          <td style="font-size: 15px;"><a href="https://staruml.io/download/" target="_blank">https://staruml.io/download/</a></td>
          <td style="font-size: 15px;">Una herramienta de modelado UML utilizada para diseñar y analizar sistemas
            orientados a objetos. Facilita la creación de diagramas UML que son esenciales para la planificación y documentación
            de software.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 2 GB, Disco: 300 MB, Procesador: 1 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 4 GB, Disco: 1 GB, Procesador: Multinúcleo, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Zephyr</td>
          <td style="font-size: 15px;"><a href="https://support.smartbear.com/zephyr-enterprise/downloads/" target="_blank">https://support.smartbear.com/zephyr-enterprise/downloads/</a></td>
          <td style="font-size: 15px;">Una herramienta de gestión de pruebas que proporciona trazabilidad y visibilidad completas
            del ciclo de vida de las pruebas. Ofrece integración con otras herramientas de desarrollo y gestión de proyectos.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 4 GB, Disco: 1 GB, Procesador: 1.6 GHz, Windows 7 o superior.
            <br>Recomendados: RAM: 8 GB, Disco: 2 GB, Procesador: Multinúcleo, Windows 10 o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Unity3D</td>
          <td style="font-size: 15px;"><a href="https://store.unity.com/es/download" target="_blank">https://store.unity.com/es/download</a></td>
          <td style="font-size: 15px;">Un motor de desarrollo de videojuegos y aplicaciones interactivas 3D en tiempo real.
            Permite a los desarrolladores crear experiencias inmersivas en diversas plataformas, incluyendo móviles, consolas y VR.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 8 GB, Disco: 15 GB, Procesador: Multinúcleo (4 núcleos), Windows 7 (SP1+) o superior.
            <br>Recomendados: RAM: 16 GB, Disco: 30 GB, Procesador: Multinúcleo (8 núcleos), Windows 10 (64-bit) o superior.</td>
        </tr>
        <tr>
          <td style="font-size: 15px;">Microsoft SQL Server Express</td>
          <td style="font-size: 15px;"><a href="https://www.microsoft.com/es-es/download/details.aspx?id=101064" target="_blank">https://www.microsoft.com/es-es/download/details.aspx?id=101064</a></td>
          <td style="font-size: 15px;">Un sistema de gestión de bases de datos relacional gratuito, ideal para aplicaciones pequeñas
            y medianas. Ofrece características básicas de SQL Server, adecuado para desarrollo y producción en menor escala.</td>
          <td style="font-size: 15px;">Mínimos: RAM: 4 GB, Disco: 6 GB, Procesador: 1.4 GHz, Windows 10 o superior.
            <br>Recomendados: RAM: 8 GB, Disco: 10 GB, Procesador: Multinúcleo, Windows Server 2016 o superior.</td>
        </tr>
      </table>
    </div>
  </div>
</div>
