<div>
  <div style="font-size: 20px;font-weight: bold;margin-bottom: 10px;">
    Trabajo de aplicación profesional
  </div>
  <div style="font-size: 19px;margin-bottom: 10px;">
   Te damos la bienvenida al trabajo de aplicación profesional que te permitirá obtener el título profesional técnico en
   Desarrollo de Sistemas de Información.
  </div>
  <div style="font-size: 17px;">
    <div style="font-weight: bold; margin-bottom: 10px;">
      Indicaciones Generales:
    </div>
    <div>
      <div style=" margin-bottom: 10px;">
        - La Oficina de Grados y Títulos propondrá un profesor como asesor,
        quien será designado mediante resolución.
      </div>
      <div style=" margin-bottom: 10px;">
        - El trabajo debe ser presentado bajo las especificaciones que se indican en el manual de elaboración
        de TAP y deberá tener un mínimo de 60 hojas de contenido (sin considerar anexos).
        El asesor presentará su informe de aprobación o fórmula de observaciones pertinentes.
        Si el informe es de aprobación, inicia el desarrollo del Trabajo de Aplicación Profesional.
        La nota final se podrá revisar en la sección de calificaciones dentro de los 15 días posteriores
        a la finalización de la sustentación. Se establece como aprobatoria una puntuación mínima de 12 puntos.
      </div>
    </div>
  </div>
  <div style="font-weight: bold; margin-bottom: 10px;">
    Anexos
  </div>
  <div>
    <a class="itemMaterialCarreras" target="_blank">
    <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
      Manual de Elaboración de TAP.pdf
    </a>
  </div>
  <div>
</div>
<div style="display: flex;justify-content: center;margin: 10px 0px 10px 0px;">
  <button mat-raised-button class="btn-generar" type="button"
      style="border-radius: 20px;width: 150px;background: #ff894b;color: white; "(click)="EnviarProyectoAplicacionProfesional(true)">
      Enviar trabajo >
    </button>
</div>
