<!-- holax -->
<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top: solid 3px #f4f4f4"></div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12"  style="position: relative;padding: 0px;">

      <div style="    display: flex;
      justify-content: space-between;position: absolute;width: 100%;z-index: 10;">
        <div class="openClose" [ngClass]="{'reverse':!hide}" (click)="hide=!hide">
          <div *ngIf="!hide"> Menú Navegación</div>
            <div class="contentIconMenu">
              <i class="material-icons" *ngIf="!hide">arrow_back</i>
              <i class="material-icons" *ngIf="hide">arrow_forward</i>
            </div>
        </div>
      </div>
      <mat-tab-group class="tabVertical" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <div class="iconMat iconSesiones"></div>

              <ng-container *ngIf="!hide">
                <div class="titleMatr">Sesiones</div>
              </ng-container>

            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-sesiones-prueba [Capitulo]="json.NombreCapitulo" [idModalidad]="json.idModalidad"
            [estructuraCapitulo]="estructuraCapitulo" [IdAccesoPrueba]="json.IdAccesoPrueba" [accesoCompleto]="json.accesoCompleto">
            </app-modulo-sesiones-prueba>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <div class="iconMat iconSilabo"></div>

              <ng-container *ngIf="!hide">
                <div class="titleMatr">Sílabo</div>
              </ng-container>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-silabo-prueba [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo"
              [Estructura]="estructuraCapitulo"></app-modulo-silabo-prueba>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <div class="iconMat iconRecursos"></div>

              <ng-container *ngIf="!hide">
                <div class="titleMatr">Recursos</div>
              </ng-container>
            </div>
          </ng-template>
          <div class="pad-resp"><app-modulo-recurso-prueba [Capitulo]="json.NombreCapitulo" [Estructura]="estructuraCapitulo"
            [idPEspecifico]="json.IdPEspecificoHijo" [tipo]="json.idModalidad" [idPGeneral]="json.IdPGeneralHijo"></app-modulo-recurso-prueba></div>
        </mat-tab>
        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <div class="iconMat iconForo"></div>

              <ng-container *ngIf="!hide">
                <div class="titleMatr">Foro</div>
              </ng-container>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-foro-prueba [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo" [IdPprincipal]="json.IdPGeneralPadre" [IdPEspecificoPadre]="json.IdPEspecificoPadre" [IdPEspecificoHijo]="json.IdPEspecificoHijo"></app-modulo-foro-prueba>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>
