.brightcove{
  width: 100% ;
  height: auto;
}
.video-js{
  width: 100% !important;
  height: 400px !important;
}
.containerVideoDiapositiva{
  width: 100%;
  height: 500px;
  display: flex;
  .containerVideo{
    width: 47%;
    max-width: 74%;
    min-width: 20%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .iconResise{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: e-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    img{
      max-width: 100%;
      height: 20px;
    }
  }
  .containerDiapitiva{
    width: 47%;
    max-width: 74%;
    min-width: 20%;
    height: auto;
    display: flex;
    align-items: center;
  }
}
