.dialog-Agregar-Tarea{
  mat-dialog-container {
    padding: 0px !important;
    border-radius: 4px;
    max-height: 90vh;
  }
}
.TitleCardAgregarTarea{
  padding: 5px 10px;
  background: #cfcfcf;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}
.TitleAgregarTarea{
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  // font-weight: 600;
}
form{
  max-width: 100%;
  padding: 30px;
  .row{
    align-items: center;
  }
  .labelTarea{
    font-weight:600;
    margin: 20px 0px;
  }
}
.noform2{
  max-width: 100%;
  padding: 30px;
  .row{
    align-items: center;
  }
  .labelTarea{
    font-weight:600;
    margin: 20px 0px;
  }
}
.AddAlternativa{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  margin: 20px 0px;
  font-size: 14px;
}
.AddAlternativa:hover{
  font-size: 16px !important;
}

.fieldTable
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  .mat-form-field-infix{
  width: 80px;
}

.box-label
  > .mat-form-field-should-float
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper
  .mat-form-field-label {
    display: none;
}

.inputTextoDocente{
  width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    border: none;
    border-bottom: solid 1px;
}
.selectTextoDocente{
  width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    border: none;
    border-bottom: solid 1px;
    text-align: center;
}
