.footerChatAula {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  .chat-box-textinput {
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 4px 10% 4px 10px;
  }
  i {
    color: #ff8610;
    cursor: pointer;
  }
  .addfile {
    color: black;
    position: absolute;
    top: 30%;
    right: 15%;
  }
}
.headerChatAula {
  background: #ff4e55;
  border-radius: 8px 8px 0px 0px;
  .imgAsesor {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    img {
      width: 55px;
      height: 55px;
    }
    .nombreAsesor {
      width: calc(80% - 15px);
      text-align: left;
      font-size: 16px;
      padding: 10px 10px;
    }
    .stateAsesor{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #c23616;
      bottom: 15px;
      left: 52px;
      border: solid 1px white;
    }
  }
  .textoAsesor {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 10px 10px 10px;
  }
}

.chat-box-textinput:focus-visible {
  outline: none;
}
.inputActive {
  border: 1px solid #ff8610 !important;
}
.contentChat {
  max-width: 100%;
  max-height: 70vh;
  // overflow-y: auto;
  overflow: hidden;
}
.mensajeDefecto {
  margin: 10px;
  text-align: center;
  font-size: 11px;
  color: #aaa;
}
.contentChatMsj {
  width: 100%;
  height: 200px;
  overflow: auto;
}
.visitanteMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  margin-right: 10px;
  .cntnmsj {
    background: #feeefd;
  }
}
.asesorMsj {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  margin-left: 10px;
  .cntnmsj {
    background: #ecedef;
  }
}
.cntnmsj{
  width: 75%;
  padding: 10px;
  border-radius: 3px;
  .statemsjleido{
    display: flex;
    justify-content: flex-end;
    position: relative;
    i{
      color:#4fc3f7;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .statemsjnoleido{
    display: flex;
    justify-content: flex-end;
    position: relative;
    i{
      color:#92a58c;
      position: absolute;
      bottom: 0px;
      font-size: 11px !important;
    }
  }
  .remitente{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
  .msj{
    font-size: 10px;
    text-align: left;
    img{
      width: 80%;
    }
  }
}
.OnConected{
  background: #4cd137 !important;
}
.FlechaAtras {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #FF4E56;
  font-weight: 600;
  border-bottom: solid 1px transparent;
}

.FlechaAtras .material-icons {
  font-weight: 600;
  font-size: 11px !important;
}

.FlechaAtras:hover span {
  text-decoration: underline;
  ;
}
/* Contenedor del fondo de la interacción */
.PrimeraInteraccionAtcFondo {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
  padding: 10px 45px 35px 20px;
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  position: relative;
  max-height: calc(100vh - 80px); /* Máximo alto ajustado restando 80px */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del alto total */
  /* Elimina overflow: hidden; */
}

/* Estilo del contenedor principal de la interacción */
.PrimeraInteraccionAtc {
  background-color: #ecedef;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 20px #0000001a;
  width: 100%;
  max-width: 100%; /* Ajusta el ancho máximo al 100% */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 100%; /* Limita la altura máxima al 100% del contenedor padre */
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  overflow-x: hidden;
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del alto total */
}
.confirmation-dialog-atras {
  text-align: center;
  padding: 20px;
  background-color: #ecedef;
  margin: 5px 30px 10px 5px;
  border-radius: 10px;
  padding: 15px 10px;
}

.confirmation-dialog-atras p {
  margin: 0 0 10px;
  font-size: 12px;
}

.confirmation-dialog-atras button {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 10px;
  background: #EEF3F9;
  cursor: pointer;
}

/* Estilo para el botón de retroceso */
.FlechaAtrasMatricula {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  color: #FF4E56;
  font-weight: 600;
  border-bottom: solid 1px transparent;
  margin-left: 15px;
  margin-top: 5px;
}

/* Estilo para el ícono dentro del botón de retroceso */
.FlechaAtrasMatricula .material-icons {
  font-weight: 600;
  font-size: 9px !important;
}

/* Estilo para el hover del botón de retroceso */
.FlechaAtrasMatricula:hover span {
  text-decoration: underline;
}
