<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="justify-content: center;" style="position: relative;">
    <h1 style="    color: #fc910e;
    font-size: 28px;
    padding-bottom: 10px;
    text-align: center;">Sorteo adelanto cuotas - 10 de enero del 2023</h1>
    <iframe src="https://player.vimeo.com/video/788443227?h=0b05bd8731" width="640" height="564" frameborder="0"
      allow="autoplay; fullscreen" allowfullscreen></iframe>
    <br>
    <h1 style="    color: #fc910e;
    font-size: 28px;
    padding-bottom: 10px;
    text-align: center;">Sorteo de recuperación de cuotas - 10 de enero del 2023</h1>
    <iframe src="https://player.vimeo.com/video/788443297?h=1828ba0e07" width="640" height="564" frameborder="0"
      allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</div>
