<div class="footer">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <h4 class="tituloFooter">BSG Institute</h4>
      <div class="row">
        <div class="col-sm-12 itemFooter">Valores corporativos</div>
        <div class="col-sm-12 itemFooter">En números</div>
        <div class="col-sm-12 itemFooter">Política de calidad</div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4 class="tituloFooter">Servicios</h4>
      <div class="row">
        <div class="col-sm-12 itemFooter">Carreras Profesionales</div>
        <div class="col-sm-12 itemFooter">cursosfooter">Formación Continua</div>
        <div class="col-sm-12 itemFooter">Servicios Corporativos</div>
        <div class="col-sm-12 itemFooter">Facturación Electrónica</div>
        <div class="col-sm-12 itemFooter">Transparencia</div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4 class="tituloFooter">Central Telefonica</h4>
      <div class="row">
        <div class="col-sm-12 itemFooter">
          <img
            alt=""
            src="https://repositorioweb.blob.core.windows.net/repositorioweb/flags/Peru_flag.png"
            width="25px"
          />
          Peru +51(1)1231 221212
        </div>
        <div class="col-sm-12 itemFooter">
          <img
            alt=""
            src="https://repositorioweb.blob.core.windows.net/repositorioweb/flags/Colombia_flag.png"
            width="25px"
          />
          Colombia +51(1)1231 221212
        </div>
        <div class="col-sm-12 itemFooter">
          <img
            alt=""
            src="https://repositorioweb.blob.core.windows.net/repositorioweb/flags/Bolivia_flag.png"
            width="25px"
          />
          Bolivia +51(1)1231 221212
        </div>
        <div class="col-sm-12 itemFooter">
          <img
            alt=""
            src="https://repositorioweb.blob.core.windows.net/repositorioweb/flags/Mexico_flag.png"
            width="25px"
          />
          Mexico +51(1)1231 221212
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4 class="tituloFooter">Mas Informacion</h4>
      <div class="row">
        <div class="col-sm-12 itemFooter">Contactenos</div>
        <div class="col-sm-12 itemFooter">siguenos en </div>
        <div class="col-sm-12 itemFooter"></div>
      </div>

    </div>
  </div>
</div>
