<!-- holax1 -->
<mat-card class="card-matriculas">
  <div class="content-img-card-mat">
    <img mat-card-image [src]="cardContent.Img" (click)="EventoInteraccion()" [routerLink]="cardContent.Url"
      [alt]="cardContent.ImgAlt" (error)="updateUrl()">
    <div class="buttons-reset" *ngIf="IdPruebas==matricula.idAlumno">
      <i class="material-icons" #tooltip="matTooltip" matTooltip="Resetear Preguntas(calificaciones"
        (click)="ResetearCrucigramasPreguntasUsuarioPrueba(
          { IdPEspecificoPadre:matricula.idPEspecifico,
            IdPrincipal: matricula.idPGeneral,
            EsCruCigrama: false})">autorenew</i>
      <i class="material-icons" #tooltip="matTooltip" matTooltip="Resetear Estructura"
       (click)="ResetearEstructuraEspecificaPorMatricula(matricula.idMatriculaCabecera)">restore</i>
      <i class="material-icons" #tooltip="matTooltip" matTooltip="Resetear Crucigramas(calificaciones)"
        (click)="ResetearCrucigramasPreguntasUsuarioPrueba(
          { IdPEspecificoPadre:matricula.idPEspecifico,
            IdPrincipal: matricula.idPGeneral,
            EsCruCigrama: true})">reset_tv</i>
      <!-- <div class="link">Resetear Crucigramas(calificaciones)</div>
      <div class="link">Resetear Preguntas(calificaciones)</div>
      <div class="link">Resetear Estructura</div> -->
    </div>
  </div>
  <mat-card-content>
    <div *ngIf="cardContent.Tipo==2" class="matriculaicon">

      <i class="material-icons matriculaicon">play_circle_outline</i>
      <div>Online Sincrónico</div>
    </div>
    <div *ngIf="cardContent.Tipo==1" class="matriculaicon">
      <i class="material-icons">live_tv</i>
      <div>Online Asincrónico</div>
    </div>
    <div class="title" (click)="EventoInteraccion()" [routerLink]="cardContent.Url">{{cardContent.Title}}</div>
  </mat-card-content>
  <mat-card-footer>
    <div class="invercion">
      <div *ngIf="matricula.tipoModalidad==1" class="progressMat" style="margin-bottom: 15px;">
        <div class="nrito">
          Avance
          <div >
            {{matricula.Procent | number:'1.0-0'}}%
          </div>
        </div>
        <mat-progress-bar mode="determinate" class="progrees-modulo" style="    border-radius: 10px;height: 8px;"
          [value]="(matricula.Procent!=undefined)?matricula.Procent:0">
        </mat-progress-bar>
      </div>
      <ng-content select="[linkIcons]">

      </ng-content>

    </div>
  </mat-card-footer>
</mat-card>
