.tipoIndicacionTitle {
  display: flex;
  justify-content: flex-start;
  background: #f2f6ff;
  padding: 5px 10px;
  margin: 30px 0px;
  height: 50px ;
}
.ImgIndicacionesContent{
  height: 30px !important;
  margin-bottom: 20px !important;
  margin-right: 10px;
}
.NombreBeneficio{
  color: #033DAB;
  font-weight: bold;
  font-size: 18px;
  font-weight: 600;
}
