<!-- holax1 -->
<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top:solid 3px #f4f4f4 ;"></div>
<div class="container" *ngIf="DataProveedor!=undefined">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12" style="position: relative;">
      <div style="    display: flex;
      justify-content: space-between;position: absolute;width: 100%;z-index: 1000;">
      <div class="openCloseDocencia" [ngClass]="{'reverseDocencia':!hide}" (click)="hide=!hide">
          <div class="contentIconMenu">
            <i class="material-icons" *ngIf="!hide">arrow_back_ios_new</i>
            <i class="material-icons" *ngIf="hide">arrow_forward_ios</i>
          </div>
        </div>
      </div>
      <mat-tab-group class="tabVerticalDocente" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab *ngIf="DataProveedor.aplicaSesionOnlineWebinar">
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">web</i>
              <div class="titleMatr" *ngIf="!hide">Sesiones Online/Webinar</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-sesiones-webinar [IdProveedor]="DataProveedor.id"></app-docencia-sesiones-webinar>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">content_paste</i>
              <div class="titleMatr" *ngIf="!hide">Gestión de Notas</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-gestion-notas (OnRecharge)="GenerarReporteFiltradoPortal()" [IdProveedor]="DataProveedor.id"
            [notas]="notas"  [Correo]="DataProveedor.email" ></app-docencia-gestion-notas>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">assistant</i>
              <div class="titleMatr" *ngIf="!hide">Gestión de Asistencias</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-gestion-asistencias [IdProveedor]="DataProveedor.id" [Correo]="DataProveedor.email" ></app-docencia-gestion-asistencias>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">assistant</i>
              <div class="titleMatr" *ngIf="!hide">Gestión de Asistencias</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-gestion-asistencia></app-docencia-gestion-asistencia>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">assistant</i>
              <div class="titleMatr" *ngIf="!hide">Registro de Asistencias</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-registro-asistencia></app-registro-asistencia>
          </div>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">assessment</i>
              <div class="titleMatr" *ngIf="!hide">Gestión de Auto Evaluaciones</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-gestion-autoevaluaciones [IdProveedor]="DataProveedor.id"></app-docencia-gestion-autoevaluaciones>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">work</i>
              <div class="titleMatr" *ngIf="!hide">Trabajo de Pares</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-trabajo-pares [IdProveedor]="DataProveedor.id" [Correo]="DataProveedor.email"></app-docencia-trabajo-pares>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">work</i>
              <div class="titleMatr" *ngIf="!hide">Perfil de Alumnos</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-perfil-alumnos
            ></app-perfil-alumnos>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">manage_accounts</i>
              <div class="titleMatr" *ngIf="!hide">Gestión de Sílabos</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-gestion-silabos (OnRecharge)="GenerarReporteFiltradoPortal()" [IdProveedor]="DataProveedor.id"
            [notas]="notas"  [Correo]="DataProveedor.email" ></app-docencia-gestion-silabos>
          </div>
        </mat-tab>
        <mat-tab *ngIf="dataForo!=undefined && dataForo!=null && dataForo.length>0">
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">forum</i>
              <div class="titleMatr" *ngIf="!hide">Responder Foros</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-foros [foros]="dataForo"></app-docencia-foros>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">rate_review</i>
              <div class="titleMatr" *ngIf="!hide">Calificar Actividades de Evaluación</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-docencia-actividades-autoevaluacion [IdProveedor]="DataProveedor.id" [Correo]="DataProveedor.email"></app-docencia-actividades-autoevaluacion>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM">
              <i class="material-icons">person</i>
              <div class="titleMatr" *ngIf="!hide">Perfil de Alumno</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-perfil-alumnos [IdPEspecifico]="2"></app-perfil-alumnos>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
