<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" position='start' style="max-width: 90%;">
    <div style="display: flex;
    align-items: center;
    justify-content: space-between;">
      <img src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg" alt="" width="75%">
      <i class="material-icons" style="color: white;" (click)="sidenav.toggle()">close</i>
    </div>
    <hr />
    <nav>

      <app-header (OnClick)="sidenav.toggle()" [responsive]="true">
      </app-header>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content (scroll)="onSideNavScroll($event)" [scrollTop]="0">
    <app-header (OnClick)="sidenav.toggle()">
    </app-header>
    <section>

      <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
