<!-- <ng-container *ngIf="curso!=undefined">

  <div class="cursoTitle">{{curso.programaGeneral}}</div>
  <div class="row" style="align-items: center;" style="margin: 30px 0px 0px;" *ngIf="proyecto!=undefined">
    <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/proyectos-aplicacion.svg">
      <div><strong> {{proyecto.datosEvaluacionTrabajo.nombre}}:</strong></div>
    </div>
  </div>
</ng-container> -->
