<!-- holax1 -->
<div class="card-wp">
  <h2 style="line-height: 150%;" class="title-card-wp" (click)="EventoInteraccion(cardContent.nombre)" [routerLink]="'/bs-campus/white-paper/'+cardContent.urlWeb+'-'+cardContent.idWeb">
    {{cardContent.nombre}}
  </h2>
  <div class="row content-card-wp">
    <div class="col-12 col-md-4 col-lg-4">
      <img class="img-card-wp" [src]="'https://repositorioweb.blob.core.windows.net/paper-bs/Paper/imagen/'+cardContent.imgPortada" [alt]="cardContent.imgPortadaAlt">


      <!-- <div class="link-card-wp link" [routerLink]="">Descargar ></div> -->
    </div>
    <div class="col-12 col-md-8 col-lg-8" [innerHTML]="cardContent.descripcion"></div>

  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-12 col-md-4 col-lg-4">
      <app-default-button [confs]="{color:'primary',titulo:'Descargar'}"
        [style]="'width: 100%;'"
        (ButtoclClick)="EventoInteraccion(cardContent.nombre)"
        [ruta]="'/bs-campus/white-paper/'+cardContent.urlWeb+'-'+cardContent.idWeb">
      </app-default-button>
    </div>
  </div>
</div>
