<ng-container>
  <div style="text-align: center;margin: 10px;font-weight: bold;font-size: 17px;">
    Tu solicitud se ha registrado
  </div>
  <div style="text-align: center;">
    <div>
      Recibiras un mensaje electrónico o Whatsapp cuando tu certificado haya sido enviado.
    </div>
    <div style="font-size: 16px;">
      Podrás rastrear el envío en:
      <strong>
        Certificados > Grado Bachiller > Diploma Físico > Seguimiento de envío
      </strong>
    </div>
  </div>
  <div style="display: flex;justify-content: center;margin: 10px 0px 10px 0px;">
    <button mat-raised-button class="btn-generar" type="button"
        style="border-radius: 20px;width: 150px;background: #ff894b;color: white; "(click)="dialogRef.close()">
        Aceptar >
      </button>
  </div>
</ng-container>
