.tableresposive {
  width: 100%;
  height: auto;
  overflow:scroll;
  padding: 10px;
  position: relative;
  border-top: 2px solid #838383 !important;

  .table {
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    overflow:scroll;




    thead {
      border: none !important;
      // border-top: 2px solid #b8b8b8 !important;


      tr {

        background: white !important;
        th {
          border: none !important;
          color:#7e7e7e;
          padding-top: 10px;
          text-align: left;
          font-size: 0.8rem;
          font-weight: normal;

          // box-shadow: inset 1px 1px 0 #dee2e6, inset -1px -1px 0 #dee2e6;
        }
      }
    }
    tbody {
      border-top: none !important;
      tr {
        background: white !important;
        td {
          border-bottom: 2px solid #a3a3a3;
          border: none !important;
          text-align: left;
          font-size: 12px; color: #4A4A49;
          font-weight:500;
        }
      }
    }
  }
}
