.tableresposiveAsistencia {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 10px;
  position: relative;

  .table {
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    overflow:scroll;
    thead {
      border: none !important;
      border-bottom: 1px solid black !important;

      tr {

        background: white !important;
        th {
          border: none !important;
          color:#7e7e7e;
          padding-top: 10px;
          text-align: left;
          font-size: 0.8rem;
          font-weight: normal;

        }
      }
    }
    tbody {
      border-top: none !important;
      tr {
        background: white !important;
        td {
          border-bottom: 2px solid #a3a3a3;
          border: none !important;
          text-align: left;
          font-size: 12px; color: #4A4A49;
          font-weight:500;
        }
      }
    }
  }
}
