<!-- holax1 -->
<div class="contentChat" >
  <div class="headerChatAula">
    <div class="imgAsesor">
      <img [src]="img" (error)="ErrorImgAsesor()" alt="">
      <div class="nombreAsesor">
        <div *ngIf="nombreasesorglobal!=''" style="text-align: center;">
          Chatea en línea con {{nombreAsesorSplit[0]}} {{nombreAsesorSplit[1]}}
        </div>
        <div *ngIf="nombreasesorglobal==''" style="text-align: center;">
          Chatea en línea con soporte técnico
        </div>

        <!-- <mat-icon style="cursor:pointer" (click)="GenerarLogVisitanteAulaVirtualAcademico()">autorenew</mat-icon> -->
        <div class="stateAsesor" [ngClass]="{'OnConected': stateAsesor==true}">

        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="estadoLogueo=='false';else login">
    <app-form-chat (SaveForm)="ObtenerIdAlumnoPorUsuario($event)" [IdPGeneral]="idProgramageneral" ></app-form-chat>
  </ng-container>

  <ng-template #login>
    <div class="FlechaAtrasMatricula no-select" (click)="showConfirmationDialog = true">
      <i class="material-icons">arrow_back_ios</i>
      <span>Atras</span>
    </div>
    <div *ngIf="showConfirmationDialog" class="confirmation-dialog-atras">
      <p>¿Deseas retroceder en el chat? La conversación se dará por finalizada.</p>
      <button (click)="confirmAction()">Sí, retroceder</button>
      <button (click)="cancelAction()">Cancelar</button>
    </div>
    <div *ngIf="!showConfirmationDialog" #contenidoMsj class="contentChatMsj" (click)="marcarChatAgentecomoleido()">
      <div class="mensajeDefecto">Chat iniciado</div>
      <div class="mensajeDefecto">{{nombreAsesorSplit[0]}} {{nombreAsesorSplit[1]}} se unió al Chat</div>

      <ng-container *ngFor="let item of mensajesAnteriore;let i = index">
          <div  [ngClass]="{'visitanteMsj': item.IdRemitente=='visitante','asesorMsj':item.IdRemitente=='asesor'}">
            <div class="cntnmsj">
              <div class="remitente">{{item.NombreRemitente.split(' ')[0]}}</div>
              <div *ngIf="!item.esImagen" class="msj" [innerHtml]="item.Mensaje | safeHtml"></div>
              <div class="msj">
                <img *ngIf="item.esImagen" [src]="item.url" alt="Imagen en el chat" style="width: 180px; height: 80px;" >
              </div>
              <div *ngFor="let pdfUrl of pdfsEnChat">
                <iframe [src]="pdfUrl" width="100%" height="150px"></iframe>
              </div>
              <ng-container *ngIf="item.IdRemitente=='visitante'">
                <ng-container *ngIf="item.estadoEnviado==false">
                  <div class="statemsjEnviado">
                    <i class="material-icons">access_time</i>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.estadoEnviado!=false">
                  <ng-container  *ngIf="(mensajesAnteriore.length-i)>=NroMensajesSinLeer">
                    <div class="statemsjleido">
                      <i class="material-icons" style="right: 4px;
                      z-index: 3;">check</i>
                      <i class="material-icons" style="right: 1px;
                      z-index: 4;">check</i>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="(mensajesAnteriore.length-i)<NroMensajesSinLeer">
                    <div class="statemsjnoleido">
                      <i class="material-icons" style="right: 4px;
                      z-index: 3;">check</i>
                      <i class="material-icons" style="right: 1px;
                      z-index: 4;">check</i>
                    </div>
                  </ng-container>
                </ng-container>

              </ng-container>

            </div>
          </div>
      </ng-container>

    </div>
    <div *ngIf="!showConfirmationDialog"  class="footerChatAula" (click)="marcarChatAgentecomoleido()">
      <input class="chat-box-textinput" [ngClass]="{'inputActive':inputActive}" (keyup.enter)="BuscarProgramas(false);enviarmsj()" (focus)="inputActive=true"
        (focusout)="inputActive=false" placeholder="Escribe tu mensaje aquí " [(ngModel)]="chatBox">
        <i class="material-icons" (click)="BuscarProgramas(true);enviarmsj()">send</i>
        <i class="material-icons addfile" (click)="fileInput.click()">attach_file</i>
      <!-- <input  #fileInput type="file" style="display:none;" accept="image/png, image/gif, image/jpeg" (change)="AgregarArchivoChatSoporte($event)"> -->
      <input  #fileInput type="file" style="display:none;" type="file" style="display:none;" accept="image/png, image/jpeg, image/jpg, image/jfif, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        (change)="AgregarArchivoChatSoporte($event)">
    </div>
  </ng-template>
</div>
