<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top: solid 3px #f4f4f4"></div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12"  style="position: relative;padding: 0px;">

      <div style="width: 100%;display: flex;justify-content: flex-start;padding-right: 30px;    margin-bottom: 12px;">
        <div class="buttonBack no-select" (click)="returnback()" [routerLink]="'/AulaVirtual/MisCursos/'+idMatricula">
          <i class="material-icons">arrow_back_ios</i>
          Volver a módulos
        </div>
      </div>
      <div style="    display: flex;
      justify-content: space-between;position: absolute;z-index: 10;">
        <div class="openClose" [ngClass]="{'reverse':!hide}" (click)="hide=!hide">
            <div class="contentIconMenu">
              <i class="material-icons">menu</i>
              <!-- <i class="material-icons" *ngIf="!hide">arrow_back</i>
              <i class="material-icons" *ngIf="hide">arrow_forward</i> -->
            </div>
            <div *ngIf="!hide" style="    margin-left: 5px;">{{TitleMenu  | uppercase }}</div>
        </div>
      </div>
      <mat-tab-group class="tabVertical" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <div  class="contentHeaderM" (click)="InterraccionTab('Sesiones')">
              <div class="iconMat" [ngClass]="{'iconSesiones': json.idModalidad===1,'iconSessionesOnline': json.idModalidad!=1}"
              matTooltip="Sesiones"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">{{json.idModalidad==2?'Recursos por sesión':'Sesiones'}}</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-sesiones [Capitulo]="json.NombreCapitulo" [videos]="videosOnline"  [IdMatriculaCabecera]="idMatricula"
             [idModalidad]="json.idModalidad" [IdPespecifico]="json.IdPEspecificoHijo" [estructuraCapitulo]="estructuraCapitulo">
            </app-modulo-sesiones>
          </div>
        </mat-tab>

        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="!hide" class="contentHeaderM">
              <div class="iconMat iconWebinars"></div>
              <div class="titleMatr">Webinar</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-webinars [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"></app-modulo-webinars>
          </div>
        </mat-tab> -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div  class="contentHeaderM" (click)="InterraccionTab('Sílabo')">
              <div class="iconMat iconSilabo"
              matTooltip="Sílabo"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Sílabo</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-silabo [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo"
              [Estructura]="estructuraCapitulo" [idModalidad]="json.idModalidad"></app-modulo-silabo>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div  class="contentHeaderM" (click)="InterraccionTab('Recursos')">
              <div class="iconMat iconRecursos"
              matTooltip="Recursos"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Material de estudio</div>
            </div>
          </ng-template>
          <div class="pad-resp"><app-modulo-recurso [Capitulo]="json.NombreCapitulo" [Estructura]="estructuraCapitulo"
            [idPEspecifico]="json.IdPEspecificoHijo" [tipo]="json.idModalidad" [idPGeneral]="json.IdPGeneralHijo"></app-modulo-recurso></div>
        </mat-tab>
        <mat-tab *ngIf="json.idModalidad==1">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Foro')">
              <div class="iconMat iconForo"
              matTooltip="Foro"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Consultas al Expositor</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-foro [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo" [IdPprincipal]="json.IdPGeneralPadre" [IdPEspecificoPadre]="json.IdPEspecificoPadre" [IdPEspecificoHijo]="json.IdPEspecificoHijo"></app-modulo-foro>
          </div>
        </mat-tab>
        <mat-tab *ngIf="json.idModalidad!=1">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Foro')">
              <div class="iconMat iconAsistencia"
              matTooltip="Foro"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Asistencia</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <ng-container >
              <app-asistencias-online [IdMatriculaCabecera]="json.IdMatriculaCabecera" [IdPEspecifico]="json.IdPEspecificoHijo"></app-asistencias-online>
            </ng-container>

          </div>
        </mat-tab>
        <mat-tab *ngIf="json.idModalidad==1">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Calificaciones')">
              <div class="iconMat iconCalificaciones"
              matTooltip="Calificaciones"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Calificaciones</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-calificaciones [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"
             [IdPGeneralHijo]="json.IdPGeneralHijo" [IdPEspecifico]="json.IdPEspecificoHijo"></app-modulo-calificaciones>
          </div>
        </mat-tab>
        <mat-tab *ngIf="json.idModalidad==2">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Calificaciones')">
              <div class="iconMat iconCalificaciones"
              matTooltip="Calificaciones"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Calificaciones</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-calificaciones-online [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"
             [IdPGeneralHijo]="json.IdPGeneralHijo" [IdPEspecifico]="json.IdPEspecificoHijo"></app-modulo-calificaciones-online>
          </div>
        </mat-tab>
        <!-- <mat-tab *ngIf="videosOnline!=undefined && videosOnline.length>0">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Clases Grabadas')"
            [matTooltip]="'Clases Grabadas'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">ondemand_video</i></div>
              <div class="titleMatr" *ngIf="!hide">Clases Grabadas</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-videos-sincronico [videos]="videosOnline" [Capitulo]="json.NombreCapitulo">
            </app-modulo-videos-sincronico>
          </div>
        </mat-tab> -->
        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Ayuda')" [ngClass]="{'ActiveChil':AyudaActive==true}">
              <div class="iconMat iconAyuda"
              matTooltip="Ayuda"
              matTooltipPosition="after"></div>
              <div *ngIf="!hide" class="titleMatr">Ayuda</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-ayuda [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"
            [IdPGeneral]="json.IdPGeneralHijo" [IdPrincipal]="json.IdPGeneralPadre"
             [IdPEspecifico]="json.IdPEspecificoHijo" (OnChange)="cambio($event)"></app-modulo-ayuda>
          </div>
        </mat-tab> -->

          <mat-tab>
            <ng-template mat-tab-label>
              <div  class="contentHeaderM"
               (click)="InterraccionTab('Preguntas frecuentes')"
                (click)="alertaPreguntasFrecuentes=!alertaPreguntasFrecuentes">

                <div class="iconMat iconAyuda"
                matTooltip="Preguntas frecuentes"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Preguntas frecuentes</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-ayuda-preguntas-frecuentes [IdPrincipal]="json.IdPGeneralPadre" [IdPGeneral]="json.IdPGeneralHijo" [Capitulo]="json.NombreCapitulo"
              (Onchange)="cambio($event)">

              </app-modulo-ayuda-preguntas-frecuentes>
            </div>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM" (click)="InterraccionTab('Quejas y sugerencias')"
              (click)="alertaQuejasSugerencias=!alertaQuejasSugerencias">

                <div class="iconMat"
                matTooltip="Quejas y sugerencias"
                matTooltipPosition="after"><i class="material-icons">info</i></div>
                <div *ngIf="!hide" class="titleMatr">Quejas y sugerencias</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-ayuda-quejas-sugerencias [IdPGeneral]="json.IdPGeneralHijo" [IdPEspecifico]="json.IdPEspecificoHijo" [Capitulo]="json.NombreCapitulo"
              (Onchange)="cambio($event)">

              </app-modulo-ayuda-quejas-sugerencias>
            </div>
          </mat-tab>


      </mat-tab-group>
    </div>
  </div>
</div>
