<div class="contentCursoModulo" *ngFor="let item of programEstructura.listaCursoMatriculado; let i=index">
  <div class="headerCursoModulo row">
    <div class="col-12 col-md-8 col-lg-10 row" style="align-items: flex-start;">
      <div class="NumberCursoModulo col-2 col-md-1 col-lg-1">
        {{i+1}}
      </div>
      <ng-container *ngIf="item.idModalidadHijo!=1">
        <div class="titleCursoModulo col-10 col-md-11 col-lg-11">
          {{item.programaGeneralHijo}}
          <div class="cursoMatriculaicon" >
            <i class="material-icons" [ngClass]="{'inActiveOnline': item.fechasOnlineActive!=true}">play_circle_fill</i>
            <div>Online Sincrónico</div>
          </div>
          <div class="FechasOnlineAula">
            <div class="imgActive" [ngClass]="{'inActiveOnline': item.fechasOnlineActive!=true}"></div>
            <div class="fechasTextoOnlineAula">{{item.fechasOnline.fechaInicio | date:'dd/MM/yyyy'}} al {{item.fechasOnline.fechaFin | date:'dd/MM/yyyy'}}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="item.idModalidadHijo==1">
        <div class="titleCursoModulo col-10 col-md-11 col-lg-11">{{item.programaGeneralHijo}}
          <div class="cursoMatriculaicon">
            <i class="material-icons">play_circle_fill</i>
            <div>Online Asincrónico</div>
          </div>
          <ng-container *ngIf="item.convalidado!=true">
            <div
              style="font-size: 10px;font-weight: 600;color: #8d8789;display: flex;    align-items: flex-end;margin-top: 5px;">
              <div style="font-size: 12px;">Avance {{item.porcentaje | number:'1.0-0'}}%</div>
            </div>
            <div class="contentModuloSesiones">
              <mat-progress-bar mode="determinate" class="progrees-modulo" style="    border-radius: 10px;"
                [value]="(item.porcentaje!=undefined)?item.porcentaje:0">
              </mat-progress-bar>
            </div>
          </ng-container>

          <ng-container *ngIf="item.convalidado==true">
            <div
              style="font-size: 10px;font-weight: 600;color: #8d8789;display: flex;    align-items: flex-end;margin-top: 5px;">
              <div style="font-size: 12px;">Avance 100%</div>
            </div>
            <div class="col-12 contentModuloSesiones">
              <mat-progress-bar mode="determinate" class="progrees-modulo" style="    border-radius: 10px;"
                [value]="100">
              </mat-progress-bar>
            </div>
            <!-- <div class="estadoCursoModulo col-12 col-md-2 col-lg-2">
              <i class="material-icons">check_circle</i>
              <div>Completado</div>
            </div> -->

            <div style="    font-size: 11px;font-weight: bold;color: #909090;margin-top: 10px;">
              Convalidado
            </div>
          </ng-container>
        </div>

        <!-- <div class="col-2 col-md-1 col-lg-1">
        </div>
        <ng-container *ngIf="item.convalidado!=true">
          <div class="col-10 col-md-11 col-lg-11"
            style="    margin: 10px 0px;font-size: 10px;font-weight: 600;color: #8d8789;display: flex;    align-items: flex-end;margin-top: 5px;">
            <div style="font-size: 12px;">Avance {{item.porcentaje | number:'1.0-0'}}%</div>
          </div>
          <div class="col-10 col-md-11 col-lg-11 contentModuloSesiones" >
            <mat-progress-bar mode="determinate" class="progrees-modulo" style="    border-radius: 10px;"
              [value]="(item.porcentaje!=undefined)?item.porcentaje:0">
            </mat-progress-bar>
          </div>
          <div class="estadoCursoModulo col-12 col-md-2 col-lg-2"
            *ngIf="(item.porcentaje!=undefined && item.porcentaje>-1)">
            <i class="material-icons" *ngIf="item.porcentaje>=100">check_circle</i>
            <div *ngIf="item.porcentaje>=100">Completado</div>
            <div *ngIf="item.porcentaje>0 && item.porcentaje<100">
              Visualizando</div>
            <div *ngIf="item.porcentaje==0">Pendiente</div>
          </div>
        </ng-container> -->
      </ng-container>
    </div>
    <div class="col-12 col-md-4 col-lg-2" style="display: flex;justify-content: flex-end;padding: 0px;">
      <app-default-button (ButtoclClick)="EventoInteraccionButton('Ingresar')" [disabled]="item.params==undefined"
        (click)="IrCurso(idMatricula,item.idPEspecificoHijo,item.habilitado==true?true:false)"
        [confs]="{color:'primary',titulo:'Ingresar'}" [disabled]="item.params==undefined"
        [style]="'padding: 0px 30px;border-radius: 20px;margin:0px'">
      </app-default-button>
    </div>
  </div>
  <!-- <div class="contenidoCursoModulo row" *ngIf="item.idModalidadHijo==1">

    <div class="contentModulo col-12 col-md-8 col-lg-9">
      <div style="font-size: 14px;color: #909090; font-weight: 600;display: flex;
      justify-content: start;
      align-items: center;">Video:

        <div style="    margin-left: 20px;" *ngIf="!cargaProgrso">
          <app-load-vertical></app-load-vertical>
        </div>
      </div>
      <ng-container *ngIf="item.convalidado==true">
        <mat-progress-bar mode="determinate" [value]="100">
        </mat-progress-bar>

        <div style="justify-content: space-between; display: flex;font-size: 12px;color: #909090; font-weight: 600;">
          <div>100%</div>
        </div>
        <div style="    font-size: 11px;
        font-weight: bold;
        color: #909090;
        margin-top: 10px;">
          Convalidado
        </div>
      </ng-container>
      <ng-container *ngIf="item.convalidado!=true">
        <mat-progress-bar mode="determinate"
          [value]="(item.progreso!=undefined && item.progreso.progresoVideo.length>0)?item.progreso.progresoVideo[0].porcentaje:0">
        </mat-progress-bar>
        <div style="justify-content: space-between; display: flex;font-size: 12px;color: #909090; font-weight: 600;">
          <div>{{(item.progreso!=undefined &&
            item.progreso.progresoVideo.length>0)?(item.progreso.progresoVideo[0].porcentaje | number:'1.0-0'):0 }}%</div>
        </div>
        <div style="display: flex;margin-top: 10px;align-items: center;"
          *ngIf="(item.progreso!=undefined  && item.progreso.progresoEncuesta!=undefined && item.progreso.progresoEncuesta.length>0)">

          <i style=" color: #05c254;
          margin-right: 5px;
          font-size: 16px !important;" class="material-icons"
            *ngIf="item.progreso.progresoEncuesta[0].porcentajeAvance>=100">check_circle</i>
          <div style="font-size: 14px;color: #909090; font-weight: 600;">Encuestas:</div>
          <div style="font-size: 14px;color: #909090;margin-left:10px">

            Completadas al
            {{item.progreso.progresoEncuesta[0].porcentajeAvance | number:'1.0-0'}}%</div>
        </div>
        <div style="display: flex;margin-top: 10px;"
          *ngIf="(item.progreso!=undefined && item.progreso.progresoTarea!=undefined  && item.progreso.progresoTarea.length>0)">
          <i style="color: #05c254;
          margin-right: 5px;
          font-size: 16px !important;" class="material-icons"
            *ngIf="item.progreso.progresoTarea[0].porcentajeAvance>=100">check_circle</i>
          <div style="font-size: 14px;color: #909090; font-weight: 600;">Tareas:</div>
          <div style="font-size: 14px;color: #909090;margin-left:10px">

            Completadas al
            {{item.progreso.progresoTarea[0].porcentajeAvance | number:'1.0-0'}}%</div>
        </div>
      </ng-container>



    </div>

    <div class="col-12 col-md-4 col-lg-3" style="display: flex;justify-content: flex-end;">
      <app-default-button (ButtoclClick)="EventoInteraccionButton('Ingresar')" [confs]="{color:'primary',titulo:'Ingresar'}" [disabled]="item.params==undefined"
        (click)="IrCurso(idMatricula,item.idPEspecificoHijo,item.habilitado==true?true:false)"
        [style]="'padding:0px 20px'">
      </app-default-button>
    </div>
  </div> -->
</div>
