<!-- holax -->
<div *ngIf="tableInfo==undefined || tableInfo==null" style="font-weight: bold;">
  * No hay registros.
</div>
<app-table-v2 *ngIf="tableInfo!=undefined" [tableData]="tableInfo" [columnHeader]="columnHeader"
  [tipoContenido]="TipoContenido" [StyleContent]="'font-size: 12px; color: #4A4A49; font-weight:500; padding: 15px;'"
  [StyleCabecera]="'border-bottom: solid 1px;'" [Paginador]="false" [sticky]="sticky"></app-table-v2>
<div>
</div>

<div  style="display: flex;
justify-content: center;" *ngIf="tableInfo!=undefined && tableInfo.length>0 "  >
  <button type="action" (click)="DownloadExcel()"><img src="../../../../assets/icons/descarga-36.svg" alt="x" />Descargar en Excel</button>
</div>
