<mat-card>
    <mat-card-header>
      <mat-card-title>Enfoque Ágil en Dirección de Proyectos</mat-card-title>
      <mat-card-subtitle>
        <p style="background-color: forestgreen; color:white">Hoy</p>
        7:00 pm a 8:00 pm</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Asistencia ></button>
      <button mat-button>Agregar actividades ></button>
      <button mat-button>notas ></button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>Webinar: Enfoque Ágil en Dirección de Proyectos</mat-card-title>
      <mat-card-subtitle>
        <p style="background-color: forestgreen; color:white">Hoy</p>
        7:00 pm a 8:00 pm</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Asistencia ></button>
      <button mat-button>Agregar actividades ></button>
      <button mat-button>notas ></button>
    </mat-card-actions>
</mat-card>