<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top:solid 3px #f4f4f4 ;"></div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12" style="position: relative;padding: 0px;">
      <div style="width: 100%;display: flex;justify-content: flex-end;padding-right: 30px;">
        <div class="buttonBack no-select" [routerLink]="'/AulaVirtual/MisCursos'">
          <i class="material-icons">arrow_back_ios</i>
          Volver a mis cursos
        </div>
      </div>
      <div style="    display: flex;
      justify-content: space-between;position: absolute;width: 100%;z-index: 10;">
        <div class="openClose" [ngClass]="{'reverse':!hide}" (click)="hide=!hide">
          <div class="contentIconMenu">
            <i class="material-icons" *ngIf="!hide">arrow_back_ios_new</i>
            <i class="material-icons" *ngIf="hide">arrow_forward_ios</i>
          </div>
        </div>
      </div>
      <mat-tab-group class="tabVertical" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab *ngIf="programEstructura.idModalidad!=2">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Indicaciones"
            matTooltipPosition="after" [ngClass]="{'ActiveChil':IndicacionActive==true}">
              <div class="iconMat iconIndicaciones"></div>
              <ng-container *ngIf="!hide">
                <div class="titleMatr">Indicaciones</div>
                <i class="material-icons" *ngIf="IndicacionActive==true"
                  style="position: absolute;right: 5px;">keyboard_arrow_up</i>
              </ng-container>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-video-ayuda [sise]="3"></app-video-ayuda>
            <div class="cursoTitle">{{programEstructura.programaGeneral}}</div>
            <div class="cursoTabDescripcion">
              ¡Hola! A continuación te explicamos cómo realizar las evaluaciones que se presentarán de acuerdo a tu avance del curso. Te deseamos éxitos.
              <br>
            </div>
            <div class="row">
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Preguntas interactivas'" [imgUrl]="imgsIndocaciones[0]"
                  (HoverIn)='imgsIndocaciones[0]="preguntas-interactivas-38.svg"'
                  (HoverOut)='imgsIndocaciones[0]="preguntas-naranja-38.svg"'
                  (ButtoclClick)="changeIndexIndicaciones(1)"></app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Crucigramas'" [imgUrl]="imgsIndocaciones[1]"
                  (HoverIn)='imgsIndocaciones[1]="crucigramas-39.svg"'
                  (HoverOut)='imgsIndocaciones[1]="crucigrama-naranja-39.svg"'
                  (ButtoclClick)="changeIndexIndicaciones(2)"></app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Tareas'" [imgUrl]="imgsIndocaciones[2]"
                  (HoverIn)='imgsIndocaciones[2]="tareas-indicaciones-40.svg"'
                  (HoverOut)='imgsIndocaciones[2]="tareas-naranja-40.svg"' (ButtoclClick)="changeIndexIndicaciones(3)">
                </app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Calificar tarea de pares'" [imgUrl]="imgsIndocaciones[3]"
                  (HoverIn)='imgsIndocaciones[3]="calificar-tareas-41.svg"'
                  (HoverOut)='imgsIndocaciones[3]="tareas-pares-naranja-41.svg"'
                  (ButtoclClick)="changeIndexIndicaciones(4)"></app-indicaciones-content>
              </div>
            </div>
          </div>
        </mat-tab>
        <ng-container *ngIf="IndicacionActive==true">

          <mat-tab>
            <ng-template mat-tab-label class="tabSubcontent">
              <div class="contentHeaderM subContent"
              matTooltip="Preguntas interactivas"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">quiz</i></div>
                <div class="titleMatr" *ngIf="!hide">Preguntas interactivas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoPreguntas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Preguntas Interactivas'"
                [imgUrl]="'preguntas-naranja-38.svg'">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent"
              matTooltip="Crucigramas"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">games</i></div>
                <div class="titleMatr" *ngIf="!hide">Crucigramas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoCrucigramas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Crucigramas'"
                [imgUrl]="'crucigrama-naranja-39.svg'">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent"
              matTooltip="Tareas"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">edit_note</i></div>
                <div class="titleMatr" *ngIf="!hide">Tareas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoTareas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Tareas'"
                [imgUrl]="'tareas-pares-naranja-41.svg'" [TituloContenido]="'¿Cómo presentar las tareas?'"
                [COntenido]="contenidotarea">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent"
              matTooltip="Calificar tarea de pares"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">fact_check</i></div>
                <div class="titleMatr" *ngIf="!hide">Calificar tarea de pares</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoTrabajoP"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Calificar tarea de pares'"
                [imgUrl]="'tareas-naranja-40.svg'" [TituloContenido]="'Califica las tareas de pares'"
                [COntenido]="contenidotareapares">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
        </ng-container>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Módulos"
            matTooltipPosition="after">
              <div class="iconMat iconModulos"></div>
              <div class="titleMatr" *ngIf="!hide">Módulos</div>
            </div>
          </ng-template>
          <div class="pad-resp">

            <div class="cursoTitle">{{programEstructura.programaGeneral}}</div>
            <div class="cursoTabDescripcion">¡Bienvenido! Debes completar los siguientes módulos de tu programa:</div>
            <div class="cursoTabRemenber">
              <img src="../../../assets/icons/horario-04.svg" alt="">
              <div><strong>Recuerda: </strong>Debes completar el primer curso para poder acceder al siguiente</div>
            </div>
            <app-curso-modulos [idMatricula]="idMatricula" [programEstructura]="programEstructura">
            </app-curso-modulos>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.proyectoAplicacion">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Proyecto de Aplicación"
            matTooltipPosition="after">
              <div class="iconMat iconProyectos"></div>
              <div class="titleMatr" *ngIf="!hide">Proyecto de Aplicación</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-proyecto [curso]="curso" [idProyecto]="curso.idProyecto" [idPGeneral]="curso.idPGeneral"
              [idPEspecifico]="curso.idPEspecifico">

            </app-curso-proyecto>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Certificados"
            matTooltipPosition="after" [ngClass]="{'ActiveChil':CertificadoActive==true}">
              <div class="iconMat iconCertificados"></div>
              <div class="titleMatr" *ngIf="!hide">Certificados</div>
            </div>
          </ng-template>
          <ng-template matTabContent>
            <div class="pad-resp">
              <app-curso-certificado *ngIf="curso!=undefined" [alertaDigital]="alertaDigital"
                [alertaFisico]="alertaFisico" [datosCertificado]="datosCertificado" [curso]="curso"
                [idProyecto]="curso.idProyecto" [idPGeneral]="curso.idPGeneral" [idPEspecifico]="curso.idPEspecifico"
                [changeOnGenerate]="generateCertificado" (OnGenerate)="ObtenerDatosCertificado()"
                (OnValidation)="ObtenerDatosCertificado()" (OnCloseAlertaDigital)="alertaDigital=false" (OnCloseAlertaFisico)="alertaFisico=false">

              </app-curso-certificado>
            </div>
          </ng-template>

        </mat-tab>

        <ng-container *ngIf="CertificadoActive==true">

          <mat-tab [disabled]="datosCertificado==undefined ||
                        (this.datosCertificado.idEstado_matricula!=5 &&
                        this.datosCertificado.idEstado_matricula!=12) ||
                      datosCertificado.nombreArchivo==null">
            <ng-template mat-tab-label class="tabSubcontent">
              <div class="contentHeaderM subContent" style="cursor: pointer;"
                (click)="certificadoDigital()"
                matTooltip="Certificado Digital"
                matTooltipPosition="after">

                <div class="iconMat"><i class="material-icons">file_download</i></div>
                <div class="titleMatr" *ngIf="!hide">Certificado Digital</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-curso-certificado-digital *ngIf="curso!=undefined" [datosCertificado]="datosCertificado"
                [curso]="curso" [changeOnGenerate]="generateCertificado" (OnGenerate)="ObtenerDatosCertificado()">
              </app-curso-certificado-digital>
            </div>
          </mat-tab>
          <mat-tab [disabled]="datosCertificado==undefined ||  datosCertificado.nombreArchivo==null">
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent" style="cursor: pointer;"
                (click)="certificadoFisico()"
                matTooltip="Certificado Fisico"
                matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">contact_mail</i></div>
                <div class="titleMatr" *ngIf="!hide">Certificado Fisico</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-curso-certificado-fisico *ngIf="curso!=undefined" [datosCertificado]="datosCertificado"
                [curso]="curso" [changeOnGenerate]="generateCertificado" [idPEspecifico]="curso.idPEspecifico"
                [idMatricula]="curso.idMatriculaCabecera" [idPGeneral]="curso.idPGeneral"
                [CodigoMatricula]="curso.codigoMatricula" (OnGenerate)="ObtenerDatosCertificado()">
              </app-curso-certificado-fisico>
            </div>
          </mat-tab>

          <ng-container *ngIf="ircas!=undefined && ircas.length>0">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="contentHeaderM subContent" style="cursor: pointer;"
                matTooltip="Certificados Irca"
                matTooltipPosition="after">
                  <div class="iconMat"><i class="material-icons">microwave</i></div>
                  <div class="titleMatr" *ngIf="!hide">Certificados Irca</div>
                </div>
              </ng-template>
              <div class="pad-resp">
                <app-curso-certificado-irca [Ircas]="ircas" [Capitulo]="programEstructura.programaGeneral" ></app-curso-certificado-irca>
              </div>
            </mat-tab>

          </ng-container>
        </ng-container>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Trámites"
            matTooltipPosition="after">
              <div class="iconMat iconTramites"></div>
              <div class="titleMatr" *ngIf="!hide">Trámites</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-tramites [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral" [idPGeneral]="programEstructura.idPGeneral">
            </app-curso-tramites>
          </div>
        </mat-tab>

        <mat-tab *ngIf="curso!=undefined && curso.webibarActivo">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Webinars"
            matTooltipPosition="after">
              <div class="iconMat iconWebinars"></div>
              <div class="titleMatr" *ngIf="!hide">Webinars</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-webinars [Capitulo]="programEstructura.programaGeneral" [IdMatriculaCabecera]="idMatricula">
            </app-modulo-webinars>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.benficioSolicitado">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            matTooltip="Mis Beneficios"
            matTooltipPosition="after">
              <div class="iconMat iconBeneficios"></div>
              <div class="titleMatr" *ngIf="!hide">Mis Beneficios</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-beneficios [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-beneficios>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.claseWebexActivo==true">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            [matTooltip]="'Clases Online'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">play_lesson</i></div>
              <div class="titleMatr" *ngIf="!hide">Clases Online</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-clase-online [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-clase-online>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.simuladorAsignado==true">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            [matTooltip]="'Clases Online'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">group_work</i></div>
              <div class="titleMatr" *ngIf="!hide">Simuladores</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-simuladores [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-simuladores>
          </div>
        </mat-tab>
        <!-- <mat-tab *ngIf="videosOnline!=undefined && videosOnline.length>0">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            [matTooltip]="'Clases Grabadas'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">ondemand_video</i></div>
              <div class="titleMatr" *ngIf="!hide">Clases Grabadas</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-videos-sincronico [videos]="videosOnline" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-videos-sincronico>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>
