<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top:solid 3px #f4f4f4 ;"></div>
<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="titulop">
        <mat-tab-group class="tabVertical">
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconIndicaciones"></div>
                <div class="titleMatr">Indicaciones</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Content1</div>
            </ng-template>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconModulos"></div>
                <div class="titleMatr">Modulos</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Modulos</div>
            </ng-template>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconProyectos"></div>
                <div class="titleMatr">Proyectos de Aplicación</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Proyectos</div>
            </ng-template>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconCertificados"></div>
                <div class="titleMatr">Certificados</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Certificados</div>
            </ng-template>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconTramites"></div>
                <div class="titleMatr">Trámites</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Trámites</div>
            </ng-template>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM">
                <div class="iconMat iconBeneficios"></div>
                <div class="titleMatr">Mis Beneficios</div>
              </div>
            </ng-template>
            <ng-template matTabContent>
              <div style="padding: 10px;">Beneficios</div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
