<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top:solid 3px #f4f4f4 ;"></div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12" style="position: relative;padding: 0px;">
      <div style="width: 100%;display: flex;justify-content: flex-start;padding-right: 30px;    margin-bottom: 12px;">
        <div class="buttonBack no-select" [routerLink]="'/AulaVirtual/MisCursos'">
          <i class="material-icons">arrow_back_ios</i>
          Volver a mis cursos
        </div>
      </div>
      <div style="    display: flex;
      justify-content: space-between;position: absolute;z-index: 10;">
        <div class="openClose" [ngClass]="{'reverse':!hide}" (click)="hide=!hide">
          <div class="contentIconMenu">
            <i class="material-icons">menu</i>
            <!-- <i class="material-icons" *ngIf="!hide">arrow_back</i>
            <i class="material-icons" *ngIf="hide">arrow_forward</i> -->
          </div>
          <div *ngIf="!hide" style="    margin-left: 5px;">{{TitleMenu  | uppercase }}</div>
        </div>
      </div>

      <mat-tab-group class="tabVertical" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">

        <mat-tab *ngIf="curso!=undefined && curso.claseWebexActivo==true && EsCurso!=undefined">
          <ng-template mat-tab-label>
            <div #Online class="contentHeaderM" (click)="InterraccionTab('Clases Online')"
            [matTooltip]="'Clases Online'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">play_lesson</i></div>
              <div class="titleMatr" *ngIf="!hide">Acceso a clases</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-clase-online [escurso]="EsCurso" [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-clase-online>
          </div>
        </mat-tab>
        <ng-container *ngIf="EsCurso==true">
          <mat-tab>
            <ng-template mat-tab-label>
              <div  #sesiones class="contentHeaderM" (click)="InterraccionTab('Sesiones')">
                <div class="iconMat iconSesiones"
                matTooltip="Sesiones"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Sesiones</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-sesiones [Capitulo]="json.NombreCapitulo"  [IdMatriculaCabecera]="idMatricula" [idModalidad]="json.idModalidad" [estructuraCapitulo]="estructuraCapitulo">
              </app-modulo-sesiones>
            </div>
          </mat-tab>

          <!-- <mat-tab>
            <ng-template mat-tab-label>
              <div *ngIf="!hide" class="contentHeaderM">
                <div class="iconMat iconWebinars"></div>
                <div class="titleMatr">Webinar</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-webinars [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"></app-modulo-webinars>
            </div>
          </mat-tab> -->
          <mat-tab>
            <ng-template mat-tab-label>
              <div  class="contentHeaderM" (click)="InterraccionTab('Sílabo')">
                <div class="iconMat iconSilabo"
                matTooltip="Sílabo"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Sílabo</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-silabo [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo"
                [Estructura]="estructuraCapitulo"></app-modulo-silabo>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div  class="contentHeaderM" (click)="InterraccionTab('Recursos')">
                <div class="iconMat iconRecursos"
                matTooltip="Recursos"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Recursos</div>
              </div>
            </ng-template>
            <div class="pad-resp"><app-modulo-recurso [Capitulo]="json.NombreCapitulo" [Estructura]="estructuraCapitulo"
              [idPEspecifico]="json.IdPEspecificoHijo" [tipo]="json.idModalidad" [idPGeneral]="json.IdPGeneralHijo"></app-modulo-recurso></div>
          </mat-tab>
          <mat-tab *ngIf="json.idModalidad==1">
            <ng-template mat-tab-label>
              <div class="contentHeaderM" (click)="InterraccionTab('Foro')">
                <div class="iconMat iconForo"
                matTooltip="Foro"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Foro</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-foro [Capitulo]="json.NombreCapitulo" [IdPgeneral]="json.IdPGeneralHijo" [IdPprincipal]="json.IdPGeneralPadre" [IdPEspecificoPadre]="json.IdPEspecificoPadre" [IdPEspecificoHijo]="json.IdPEspecificoHijo"></app-modulo-foro>
            </div>
          </mat-tab>
          <mat-tab *ngIf="json.idModalidad==1">
            <ng-template mat-tab-label>
              <div class="contentHeaderM" (click)="InterraccionTab('Calificaciones')">
                <div class="iconMat iconCalificaciones"
                matTooltip="Calificaciones"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Calificaciones</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-calificaciones [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"
              [IdPGeneralHijo]="json.IdPGeneralHijo" [IdPEspecifico]="json.IdPEspecificoHijo"></app-modulo-calificaciones>
            </div>
          </mat-tab>
          <mat-tab *ngIf="videosOnline!=undefined && videosOnline.length>0">
            <ng-template mat-tab-label>
              <div class="contentHeaderM" (click)="InterraccionTab('Clases Grabadas')"
              [matTooltip]="'Clases Grabadas'"
              matTooltipPosition="after">

                <div class="iconMat"><i class="material-icons">ondemand_video</i></div>
                <div class="titleMatr" *ngIf="!hide">Clases Grabadas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-videos-sincronico [videos]="videosOnline" [Capitulo]="json.NombreCapitulo">
              </app-modulo-videos-sincronico>
            </div>
          </mat-tab>
        </ng-container>


        <mat-tab *ngIf="EsCurso==false">
          <ng-template mat-tab-label>
            <div #modulos class="contentHeaderM" (click)="InterraccionTab('Módulos')"
            matTooltip="Módulos"
            matTooltipPosition="after">
              <div class="iconMat iconModulos"></div>
              <div class="titleMatr" *ngIf="!hide">Módulos</div>
            </div>
          </ng-template>
          <div class="pad-resp">

            <div class="cursoTitle">{{programEstructura.programaGeneral}}</div>
            <div class="cursoTabDescripcion">¡Bienvenido! Debes completar los siguientes módulos de tu programa:</div>
            <div class="msjCom" style="border: solid 2px #fff7ee; padding: 10px;margin-bottom: 20px;">
              <img src="../../../../assets/icons/icon-hand.svg" alt="">
              <div>
                <div><strong>Recuerda: </strong>Debes completar el primer curso para poder acceder al siguiente</div>
              </div>
            </div>
            <div *ngIf="programEstructura.listaCursoMatriculado==null || this.programEstructura.listaCursoMatriculado.length==0">
              <div>
                Se están realizando validaciones, por favor vuelva a recargar en unos momentos
              </div>
            </div>
            <div *ngIf="programEstructura.listaCursoMatriculado!=null && programEstructura.listaCursoMatriculado.length>1">
              <app-curso-modulos [idMatricula]="idMatricula" [programEstructura]="programEstructura">
              </app-curso-modulos>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.proyectoAplicacion">
          <ng-template mat-tab-label>
            <div  #proyectos class="contentHeaderM" (click)="InterraccionTab('Proyecto de Aplicación')"
            matTooltip="Proyecto de Aplicación"
            matTooltipPosition="after">
              <div class="iconMat iconProyectos"></div>
              <div class="titleMatr" *ngIf="!hide">Proyecto de Aplicación</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-proyecto [curso]="curso" [idProyecto]="curso.idProyecto" [idPGeneral]="curso.idPGeneral"
              [idPEspecifico]="curso.idPEspecifico" [idMatricula]="idMatricula">

            </app-curso-proyecto>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div #certificados class="contentHeaderM" (click)="InterraccionTab('Certificados');changeIndexCertificado()"
            matTooltip="Certificados"
            matTooltipPosition="after" [ngClass]="{'ActiveChil':CertificadoActive==true}">
              <div class="iconMat iconCertificados"></div>
              <div class="titleMatr" *ngIf="!hide">Certificados</div>
            </div>
          </ng-template>
          <ng-template matTabContent>
            <div class="pad-resp">
              <app-curso-certificado *ngIf="curso!=undefined" [alertaDigital]="alertaDigital"
                [alertaFisico]="alertaFisico" [datosCertificado]="datosCertificado" [curso]="curso"
                [idProyecto]="curso.idProyecto" [idPGeneral]="curso.idPGeneral" [idPEspecifico]="curso.idPEspecifico"
                [changeOnGenerate]="generateCertificado" (OnGenerate)="ObtenerDatosCertificado()"
                (OnValidation)="ObtenerDatosCertificado()" (OnCloseAlertaDigital)="alertaDigital=false" (OnCloseAlertaFisico)="alertaFisico=false">

              </app-curso-certificado>
            </div>
          </ng-template>

        </mat-tab>

        <ng-container *ngIf="CertificadoActive==true">

          <mat-tab [disabled]="!(datosCertificado!=undefined &&
                                datosCertificado.nombreArchivo!=null &&
                          (datosCertificado.idEstado_matricula==5 ||
                          datosCertificado.idEstado_matricula==12))">
            <ng-template mat-tab-label class="tabSubcontent">
              <div class="contentHeaderM subContent" style="cursor: pointer;padding: 20px 10px !important;"
                (click)="InterraccionTab('Certificado Digital');certificadoDigital()"
                matTooltip="Certificado Digital"
                matTooltipPosition="after">

                <!-- <div class="iconMat"><i class="material-icons">file_download</i></div> -->
                <div class="titleMatr" *ngIf="!hide">Certificado Digital</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-curso-certificado-digital *ngIf="curso!=undefined" [datosCertificado]="datosCertificado"
                [curso]="curso" [changeOnGenerate]="generateCertificado" (OnGenerate)="ObtenerDatosCertificado()">
              </app-curso-certificado-digital>
            </div>
          </mat-tab>
          <mat-tab [disabled]="datosCertificado==undefined ||  datosCertificado.nombreArchivo==null">
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent"  style="cursor: pointer;padding: 20px 10px !important;"
                (click)="InterraccionTab('Certificado Fisico');certificadoFisico()"
                matTooltip="Certificado Fisico"
                matTooltipPosition="after">
                <!-- <div class="iconMat"><i class="material-icons">contact_mail</i></div> -->
                <div class="titleMatr" *ngIf="!hide">Certificado Fisico</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-curso-certificado-fisico *ngIf="curso!=undefined" [datosCertificado]="datosCertificado"
                [curso]="curso" [changeOnGenerate]="generateCertificado" [idPEspecifico]="curso.idPEspecifico"
                [idMatricula]="curso.idMatriculaCabecera" [idPGeneral]="curso.idPGeneral"
                [CodigoMatricula]="curso.codigoMatricula" (OnGenerate)="ObtenerDatosCertificado()">
              </app-curso-certificado-fisico>
            </div>
          </mat-tab>

          <ng-container *ngIf="ircas!=undefined && ircas.length>0">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="contentHeaderM subContent" (click)="InterraccionTab('Certificados Irca')" style="cursor: pointer;padding: 20px 10px !important;"
                matTooltip="Certificados Irca"
                matTooltipPosition="after">
                  <!-- <div class="iconMat"><i class="material-icons">microwave</i></div> -->
                  <div class="titleMatr" *ngIf="!hide">Certificados Irca</div>
                </div>
              </ng-template>
              <div class="pad-resp">
                <app-curso-certificado-irca [Ircas]="ircas" [Capitulo]="programEstructura.programaGeneral" ></app-curso-certificado-irca>
              </div>
            </mat-tab>

          </ng-container>
        </ng-container>

        <mat-tab>
          <ng-template mat-tab-label>
            <div #tramites class="contentHeaderM" (click)="InterraccionTab('Trámites')"
            matTooltip="Trámites"
            matTooltipPosition="after">
              <div class="iconMat iconTramites"></div>
              <div class="titleMatr" *ngIf="!hide">Trámites</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-tramites [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral" [idPGeneral]="programEstructura.idPGeneral">
            </app-curso-tramites>
          </div>
        </mat-tab>

        <mat-tab *ngIf="curso!=undefined && curso.webibarActivo">
          <ng-template mat-tab-label>
            <div #webinars class="contentHeaderM" (click)="InterraccionTab('Webinars')"
            matTooltip="Webinars"
            matTooltipPosition="after">
              <div class="iconMat iconWebinars"></div>
              <div class="titleMatr" *ngIf="!hide">Webinars</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-modulo-webinars [Capitulo]="programEstructura.programaGeneral" [IdMatriculaCabecera]="idMatricula">
            </app-modulo-webinars>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.benficioSolicitado">
          <ng-template mat-tab-label>
            <div #beneficios class="contentHeaderM" (click)="InterraccionTab('Mis Beneficios')"
            matTooltip="Mis Beneficios"
            matTooltipPosition="after">
              <div class="iconMat iconBeneficios"></div>
              <div class="titleMatr" *ngIf="!hide">Mis Beneficios</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-beneficios [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-beneficios>
          </div>
        </mat-tab>
        <mat-tab *ngIf="curso!=undefined && curso.simuladorAsignado==true">
          <ng-template mat-tab-label>
            <div class="contentHeaderM" (click)="InterraccionTab('Simuladores')"
            [matTooltip]="'Simuladores'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">group_work</i></div>
              <div class="titleMatr" *ngIf="!hide">Simuladores</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-simuladores [IdMatricula]="idMatricula" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-simuladores>
          </div>
        </mat-tab>
        <!-- <mat-tab *ngIf="videosOnline!=undefined && videosOnline.length>0">
          <ng-template mat-tab-label>
            <div class="contentHeaderM"
            [matTooltip]="'Clases Grabadas'"
            matTooltipPosition="after">

              <div class="iconMat"><i class="material-icons">ondemand_video</i></div>
              <div class="titleMatr" *ngIf="!hide">Clases Grabadas</div>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-curso-videos-sincronico [videos]="videosOnline" [Capitulo]="programEstructura.programaGeneral">
            </app-curso-videos-sincronico>
          </div>
        </mat-tab> -->
        <mat-tab *ngIf="programEstructura.idModalidad!=2" >
          <ng-template mat-tab-label>
            <div #indicaciones class="contentHeaderM" (click)="InterraccionTab('Indicaciones')"
            matTooltip="Indicaciones"
            matTooltipPosition="after" [ngClass]="{'ActiveChil':IndicacionActive==true}">
              <div class="iconMat iconIndicaciones"></div>
              <ng-container *ngIf="!hide">
                <div class="titleMatr">Indicaciones</div>
                <i class="material-icons" *ngIf="IndicacionActive==true"
                  style="position: absolute;right: 5px;">keyboard_arrow_up</i>
              </ng-container>
            </div>
          </ng-template>
          <div class="pad-resp">
            <app-video-ayuda [sise]="3"></app-video-ayuda>
            <div class="cursoTitle">{{programEstructura.programaGeneral}}</div>
            <div class="cursoTabDescripcion">
              ¡Hola! A continuación te explicamos cómo realizar las evaluaciones que se presentarán de acuerdo a tu avance del curso. Te deseamos éxitos.
              <br>
            </div>
            <div class="row">
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Preguntas interactivas'" [imgUrl]="imgsIndocaciones[0]"
                  (HoverIn)='imgsIndocaciones[0]="preguntas-interactivas-38.svg"'
                  (HoverOut)='imgsIndocaciones[0]="preguntas-naranja-38.svg"'
                  (ButtoclClick)="EventoInteraccionButton('Preguntas interactivas');changeIndexIndicaciones(1)"></app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Crucigramas'" [imgUrl]="imgsIndocaciones[1]"
                  (HoverIn)='imgsIndocaciones[1]="crucigramas-39.svg"'
                  (HoverOut)='imgsIndocaciones[1]="crucigrama-naranja-39.svg"'
                  (ButtoclClick)="EventoInteraccionButton('Crucigramas');changeIndexIndicaciones(2)"></app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Tareas'" [imgUrl]="imgsIndocaciones[2]"
                  (HoverIn)='imgsIndocaciones[2]="tareas-indicaciones-40.svg"'
                  (HoverOut)='imgsIndocaciones[2]="tareas-naranja-40.svg"'
                  (ButtoclClick)="EventoInteraccionButton('Tareas');changeIndexIndicaciones(3)">
                </app-indicaciones-content>
              </div>
              <div class="col-12 col-md-9 col-lg-9" style="margin: 10px 0px;">
                <app-indicaciones-content [title]="'Calificar tarea de pares'" [imgUrl]="imgsIndocaciones[3]"
                  (HoverIn)='imgsIndocaciones[3]="calificar-tareas-41.svg"'
                  (HoverOut)='imgsIndocaciones[3]="tareas-pares-naranja-41.svg"'
                  (ButtoclClick)="EventoInteraccionButton('Calificar tarea de pares');changeIndexIndicaciones(4)"></app-indicaciones-content>
              </div>
            </div>
          </div>
        </mat-tab>
        <ng-container *ngIf="IndicacionActive==true">

          <mat-tab>
            <ng-template mat-tab-label class="tabSubcontent">
              <div class="contentHeaderM subContent" (click)="InterraccionTab('Preguntas interactivas')"
              matTooltip="Preguntas interactivas" style="padding: 20px 10px !important;"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">quiz</i></div>
                <div class="titleMatr" *ngIf="!hide">Preguntas interactivas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoPreguntas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Preguntas Interactivas'"
                [imgUrl]="'preguntas-naranja-38.svg'">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent" (click)="InterraccionTab('Crucigramas')"
              matTooltip="Crucigramas" style="padding: 20px 10px !important;"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">games</i></div>
                <div class="titleMatr" *ngIf="!hide">Crucigramas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoCrucigramas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Crucigramas'"
                [imgUrl]="'crucigrama-naranja-39.svg'">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent" (click)="InterraccionTab('Tareas')"
              matTooltip="Tareas" style="padding: 20px 10px !important;"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">edit_note</i></div>
                <div class="titleMatr" *ngIf="!hide">Tareas</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoTareas"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Tareas'"
                [imgUrl]="'tareas-pares-naranja-41.svg'" [TituloContenido]="'¿Cómo presentar las tareas?'"
                [COntenido]="contenidotarea">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="contentHeaderM subContent" (click)="InterraccionTab('Calificar tarea de pares')"
              matTooltip="Calificar tarea de pares" style="padding: 20px 10px !important;"
              matTooltipPosition="after">
                <div class="iconMat"><i class="material-icons">fact_check</i></div>
                <div class="titleMatr" *ngIf="!hide">Calificar tarea de pares</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-indicaciones-options-content [videoUrl]="videoTrabajoP"
                [TitlePrograma]="programEstructura.programaGeneral" [title]="'Calificar tarea de pares'"
                [imgUrl]="'tareas-naranja-40.svg'" [TituloContenido]="'Califica las tareas de pares'"
                [COntenido]="contenidotareapares">
              </app-indicaciones-options-content>
            </div>
          </mat-tab>
        </ng-container>

        <!-- <ng-container *ngIf="EsCurso==true"> -->

          <!-- <mat-tab >
            <ng-template mat-tab-label>
              <div class="contentHeaderM" (click)="InterraccionTab('Ayuda');changeIndexAyuda()" [ngClass]="{'ActiveChil':AyudaActive==true}">
                <div class="iconMat iconAyuda"
                matTooltip="Ayuda"
                matTooltipPosition="after"></div>
                <div *ngIf="!hide" class="titleMatr">Ayuda</div>
              </div>
            </ng-template>
            <div class="pad-resp">
              <app-modulo-ayuda [Capitulo]="json.NombreCapitulo" [IdMatriculaCabecera]="json.IdMatriculaCabecera"
              [IdPGeneral]="json.IdPGeneralHijo" [IdPrincipal]="json.IdPGeneralPadre"
               [IdPEspecifico]="json.IdPEspecificoHijo" (OnChange)="cambio($event)"></app-modulo-ayuda>
            </div>
          </mat-tab> -->


          <!-- <ng-container > -->

            <mat-tab *ngIf="EsCurso==true">
              <ng-template mat-tab-label>
                <div  class="contentHeaderM" (click)="InterraccionTab('Preguntas frecuentes')"
                  (click)="alertaPreguntasFrecuentes=!alertaPreguntasFrecuentes">

                  <div class="iconMat iconAyuda"
                  matTooltip="Preguntas frecuentes"
                  matTooltipPosition="after"></div>
                  <div *ngIf="!hide" class="titleMatr">Preguntas frecuentes</div>
                </div>
              </ng-template>
              <div class="pad-resp">
                <app-modulo-ayuda-preguntas-frecuentes [IdPrincipal]="json.IdPGeneralPadre" [IdPGeneral]="json.IdPGeneralHijo" [Capitulo]="json.NombreCapitulo"
                (Onchange)="cambio($event)">

                </app-modulo-ayuda-preguntas-frecuentes>
              </div>
            </mat-tab>

            <mat-tab *ngIf="EsCurso==true">
              <ng-template mat-tab-label>
                <div class="contentHeaderM" (click)="InterraccionTab('Quejas y sugerencias')"
                  (click)="alertaQuejasSugerencias=!alertaQuejasSugerencias">
                <!-- <div class="iconMat">  <i class="material-icons">info</i></div> -->
                  <div class="iconMat"
                  matTooltip="Quejas y sugerencias"
                  matTooltipPosition="after"><i class="material-icons">info</i></div>
                  <div *ngIf="!hide" class="titleMatr">Quejas y sugerencias</div>
                </div>
              </ng-template>
              <div class="pad-resp">
                <app-modulo-ayuda-quejas-sugerencias [IdPGeneral]="json.IdPGeneralHijo" [IdPEspecifico]="json.IdPEspecificoHijo" [Capitulo]="json.NombreCapitulo"
                (Onchange)="cambio($event)">
                </app-modulo-ayuda-quejas-sugerencias>
              </div>
            </mat-tab>
          <!-- </ng-container> -->
        <!-- </ng-container> -->
      </mat-tab-group>
    </div>
  </div>
</div>
