<!-- holax1 -->
<div class="titleChangeWord">{{data.title}}</div>
<div class="row">
  <div class="col-1 col-md-2 col-lg-2" ></div>
  <div class="col-10 col-md-8 col-lg-8 InputsChangeWord">

    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>{{data.label}}</mat-label>
      <input type="text" [placeholder]="data.label" [(ngModel)]="data.word" matInput>
    </mat-form-field>
  </div>
</div>
<div class="buttonsDialogAprovacion">
  <div style="margin: 0px 5px;">
    <app-default-button [confs]="{color:'primary',titulo:'Confirmar'}"
    [style]="'width: 100%;background: #28a745;border-color: #28a745;'" [icon]="''"
    (ButtoclClick)="dialogRef.close(data.word)"></app-default-button>
  </div>
  <div style="margin: 0px 5px;">
    <app-default-button [confs]="{color:'danger',titulo:'cancelar'}"
    [style]="'width: 100%;'" [icon]="''"
    mat-dialog-close></app-default-button>
  </div>
</div>
