<div style="font-size: 16px;font-weight: 600;margin: 10px 0px;">Grado de Bachiller</div>
<div style="    font-size: 14px;margin: 10px 0px;margin: 10px 0px;">Para obtener el diploma de grado de bachiller debes cumplir con lo siguiente:</div>

<div class="row tablarequisitos" >
  <div class="col-1"></div>
  <div class="col-6 col-md-8 col-lg-8 titleTableReq">Requisito</div>
  <div class="col-5 col-md-3 col-lg-3 titleTableReq" > Estado</div>
  <div class="col-12 subrallado"></div>
  <div *ngIf="InformacionActualizada" class="col-1"><i class="material-icons">check_box</i></div>
  <div *ngIf="InformacionActualizada==false"class="col-1"><i class="material-icons">check_box_outline_blank</i></div>
  <div class="col-6 col-md-8 col-lg-8 contentTableReq">Información personal actualizada</div>
  <div *ngIf="InformacionActualizada" class="col-5 col-md-3 col-lg-3 contentTableReq" >Aprobado</div>
  <div *ngIf="InformacionActualizada==false" class="col-5 col-md-3 col-lg-3 contentTableReq" >Pendiente</div>
  <div *ngIf="CertificadoEstudiosCompletado" class="col-1"><i class="material-icons">check_box</i></div>
  <div *ngIf="CertificadoEstudiosCompletado==false" class="col-1"><i class="material-icons">check_box_outline_blank</i></div>
  <div class="col-6 col-md-8 col-lg-8 contentTableReq">Completar el trámite de certificado de estudios</div>
  <div *ngIf="CertificadoEstudiosCompletado" class="col-5 col-md-3 col-lg-3 contentTableReq" >Aprobado</div>
  <div *ngIf="CertificadoEstudiosCompletado==false" class="col-5 col-md-3 col-lg-3 contentTableReq" >Pendiente</div>
  <div *ngIf="DeudasPendientes" class="col-1"><i class="material-icons">check_box</i></div>
  <div *ngIf="DeudasPendientes==false"class="col-1"><i class="material-icons">check_box_outline_blank</i></div>
  <div class="col-6 col-md-8 col-lg-8 contentTableReq">No tener deudas pendientes.</div>
  <div *ngIf="DeudasPendientes"class="col-5 col-md-3 col-lg-3 contentTableReq" >Aprobado</div>
  <div *ngIf="DeudasPendientes==false"class="col-5 col-md-3 col-lg-3 contentTableReq" >Pendiente</div>
  <div *ngIf="CertificadoIdiomaCompletado" class="col-1"><i class="material-icons">check_box</i></div>
  <div *ngIf="CertificadoIdiomaCompletado==false" class="col-1"><i class="material-icons">check_box_outline_blank</i></div>
  <div class="col-6 col-md-8 col-lg-8 contentTableReq">Certificado de idioma extranjero o lengua originaria.</div>
  <div *ngIf="CertificadoIdiomaCompletado" class="col-5 col-md-3 col-lg-3 contentTableReq" >Aprobado</div>
  <div *ngIf="CertificadoIdiomaCompletado==false" class="col-5 col-md-3 col-lg-3 contentTableReq" >Pendiente</div>
  <div class="col-12 obsTableReq">Tu trámite se iniciará cuando realices el pago correspondiente.</div>
</div>
<div class="ListaTramites" style="margin-top: 40px;border: 2px solid #cacaca;border-radius: 10px;    position: relative;">

  <div class="ResumenPago">
    <div style=" margin-left: 20px;display:flex;align-items: center;"> Resumen de Pago</div>
  </div>
  <div class="contentTablaPagos">
    <table class="TablaPagos" style="margin-top:75px">
      <thead class="TablaPagosEncabezado" style="border-bottom: 1px solid #cacaca;">
        <tr>
          <td style="width: 500px;text-align: left;border-radius: 2px;font-weight: bold;    min-width: 200px;"><strong
              style=" margin-left: 20px">Concepto</strong></td>
          <td style="width: 200px;border-radius: 2px;font-weight: bold;    min-width: 120px;    padding-bottom: 10px;"><strong>Moneda</strong></td>
          <td style="width: 200px;border-radius: 2px;font-weight: bold;    min-width: 120px;    padding-bottom: 10px;"><strong>Monto</strong></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="TramiteSeleccionado.pagar==true">
          <tr>
            <td class="criterio" style="width: 600px;text-align: left;">
              <div style=" margin-left: 20px;margin-top: 20px;margin-bottom: 20px;text-align:left">
                <div>
                  {{TramiteSeleccionado.concepto}}
                </div>
              </div>
            </td>
            <td class="criterio" style="width: 200px;">
              <div class="MontoTramite">
                {{TramiteSeleccionado.codigo | uppercase}}
              </div>
            </td>
            <td class="criterio" style="width: 200px;">
              <div class="MontoTramite">
                <div>
                  {{TramiteSeleccionado.tarifario | number:'1.2-2':'en-US'}}
                </div>
              </div>
            </td>
          </tr>
        </ng-container>

        <tr class="TotalPagar">
          <td class="criterio" style="font-weight: bold;width: 500px;text-align: left">
            <div style="margin-left: 20px">
              Total a pagar
            </div>
          </td>
          <td class="criterio" style="width: 200px;">
            <div class="MontoTramite" *ngIf="SimboloMoneda.length>0">
              {{SimboloMoneda | uppercase}}
            </div>
          </td>
          <td class="criterio" style="width: 200px">
            <div class="MontoTramite">
              {{PagoTotalTramite | number:'1.2-2':'en-US'}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="buttonsEnvioCarreraDatos">

  <app-default-button [confs]="{color:'primary',titulo:'Volver'}" [style]="'width: 100%;'"
  [icon]="''" [style]="'padding: 0px 40px; border-radius: 25px; background: white;border: solid 1px #f8893f;color: #f8893f;'" (click)="Volver.emit(0)"></app-default-button>

  <app-default-button *ngIf="HabilitarPago==false" [confs]="{color:'primary',titulo:'Pagar >'}" [style]="'width: 100%;'"
    [icon]="''"[disabled]="true" [style]="' padding: 0px 40px; border-radius: 25px;'"></app-default-button>
  <app-default-button *ngIf="HabilitarPago==true" [confs]="{color:'primary',titulo:'Pagar >'}" [style]="'width: 100%;'"
    [icon]="''" [style]="'     padding: 0px 40px; border-radius: 25px;border: solid 1px #f8893f;'"
    (click)="Pagar()"></app-default-button>
</div>
