.rowSelect{
  cursor: pointer;
}
.rowSelect:hover{
  background: #f2f6ff;
}
.select{
  background: #f2f6ff;
}
.tablev2-material{
  thead{
    tr{
      height: 45px;
      th{
        white-space: nowrap;
        padding-left: 10px !important;
        border-bottom-width:0px;
        .mat-sort-header-container{
          justify-content: start !important;
          //font-size: 14px;
          font-weight: 800;
          color: #4e4e4e;
        }
      }
    }
    th.mat-header-cell:first-of-type{
      padding-left: 10px !important;
    }
  }
  tbody{
    tr{
      height: 40px;
      td{
        border-bottom-width:0px;
        color: #727271;
        white-space: nowrap;
      }
    }
  }
}

.bordercolor{
  border: solid 1px gray !important;
}
