.dialog-retro-tarea {
  mat-dialog-container {
    padding: 0px;
  }
}
.retroUrl{
  margin-bottom: 30px;
}
.contentRetro{
  padding: 10px 40px;
}
.retroText{
  margin-bottom: 30px;
}
.titleRetro{
  margin: 10px;
  padding: 10px 20px;
  border-bottom: solid 1px #e8e8e8;
  font-size: 18px;
  font-weight: 600;
}
