<div class="headerRegistroNota">Registro de Notas</div>
<ng-container *ngIf="listadoNotas!=undefined">
  <div class="escalaNota">Escala Calificación: {{listadoNotas.EscalaCalificacion}}</div>
  <div class="contentRegistroNota">
    <ng-container *ngIf="charge==true">
      <div style="width: 100%;z-index: 10;height: 100%;position: absolute;display: flex;justify-content: center;padding: 20px;align-items: center;
       background: rgb(0 0 0 / 12%);">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <div class="table-resposive">
      <table style="width: 100%" class="table">
        <thead>
          <tr style="background: #e6eefa;">
            <th class="text-center" style="min-width: 200px;" rowspan="2"><b>Alumno</b></th>
            <th class="text-center" style="min-width: 200px;" [colSpan]="listadoNotas.listadoEvaluaciones.length">
              <b>Evaluaciones</b></th>
          </tr>
          <ng-container *ngIf="listadoNotas.listadoEvaluaciones.length>0">
            <tr >
              <th style="width: 5px;min-width: 60px;text-align: center;" *ngFor="let item of listadoNotas.listadoEvaluaciones">
                <ng-container >
                  {{item.nombre | uppercase }} <br> {{item.porcentaje}}%
                </ng-container>

              </th>
            </tr>
          </ng-container>
        </thead>
        <ng-container *ngIf="listadoNotas.listadoMatriculas!=null && listadoNotas.listadoMatriculas.length>0">
          <tbody>
            <ng-container *ngFor="let mat of listadoNotas.listadoMatriculas">
              <tr>
                <td>
                  {{mat.alumno | uppercase}}
                </td>
                <ng-container *ngFor="let matn of mat.notaActual">
                  <td style="text-align: center;">
                    <ng-container *ngIf="matn.edit!=true">
                      {{matn.nota}}
                    </ng-container>
                    <ng-container *ngIf="matn.edit==true">
                      <input type="text" style="width: 100% ; height: 100%;" [(ngModel)]="matn.nota" [disabled]="charge==true">
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </ng-container>
      </table>
    </div>

  </div>
  <div class="buttonsRegistroNota">
    <div style="margin: 0px 5px;">
      <app-default-button [confs]="{color:'primary',titulo:'Guardar'}"
      [style]="'width: 100%;background: #0069d9;border-color: #0062cc;'"
      (ButtoclClick)="RegistrarNotaDetalleDocente()"
      [icon]="'check'"></app-default-button>
    </div>
    <div style="margin: 0px 5px;">
      <app-default-button [confs]="{color:'primary',titulo:'Finalizar Registro'}"
      (ButtoclClick)="ConfirmacionAprobarNotaDetalleDocente()"
      [style]="'width: 100%;background: #0069d9;border-color: #0062cc;'" [icon]="'check'"></app-default-button>
    </div>
    <div style="margin: 0px 5px;">
      <app-default-button [confs]="{color:'danger',titulo:'cancelar'}"
      [style]="'width: 100%;'" [icon]="'close'" (ButtoclClick)="charge==false?dialogRef.close():charge=true"></app-default-button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="listadoNotas==undefined">
  <div style="width: 100%;display: flex;justify-content: center;padding: 20px"><mat-spinner></mat-spinner> </div>
</ng-container>


