.containerCardsMedioPago {
  display: flex;
  flex-direction: column; /* Coloca los cards en columna */
  align-items: center; /* Centra los cards horizontalmente */
  justify-content: center;
  padding: 20px; /* Agrega algo de padding */
}

.medio-pago-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 35rem;
  margin-top: 10px;
  transition: box-shadow 0.3s, border 0.3s;
  border: 2px solid #4E4E4D; /* Borde inicial transparente */
}

/* Estilo cuando el card está seleccionado */
.medio-pago-card.selected {
  border-color: #033DAB;
  box-shadow: 0 4px 20px rgba(3, 61, 171, 0.3); /* Sombras más elegantes */
  background-color: rgba(3, 61, 171, 0.05); /* Fondo azul claro para resaltar el card */
}

.medio-pago-content {
  flex: 1;
}

.medio-pago-radio {
  margin-right: 10px;
}

.medio-pago-label {
  font-size: 16px;
  cursor: pointer;
}

.medio-pago-images {
  display: flex;
  margin-left: 20px;
}

.medio-pago-image-container {
  margin-left: 10px;
}

.medio-pago-image {
  width: 50px;
  height: auto;
  max-height: 50px;
  object-fit: contain;
}

/* Agrega la interacción para que el cursor sea pointer sobre los radio buttons */
mat-radio-button {
  cursor: pointer;
}
.titleCronograma {
  font-size: 25px;
  font-weight: 600;
  border-bottom: solid 2px #f1f1f1;
}
.titleCronogramaCurso {
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 2px #f1f1f1;
}
