<div class="container"></div>
<div style="background: #f4f4f4">
  <div class="container">
    <div class="row rowpaddAv" style="padding: 20px 90px 20px 20px !important">
      <div class="col-12 col-md-12 col-lg-12">
        <a class="btn-back-detalle" (click)="RegresarPagosCronograma()"
          >&#8249; Volver Atrás</a
        >
        <div class="titleCronograma">Elige un medio de Pago</div>
        <div class="titleCronogramaCurso">
          {{ CronogramaPago?.pGeneral }}
        </div>
        <!-- <div style="font-size: 20px;
        color: #797978;">{{textoBienvenido}}</div> -->
      </div>
    </div>
  </div>
</div>
<div
  class="container"
  style="border-bottom: 2px solid #e7e7e7 !important; padding-bottom: 2rem"
>
  <div>
    <ng-container *ngIf="CronogramaPago != undefined">
      <ng-container *ngIf="IdPasarelaPago == 10 || IdPasarelaPago == 7">
        <ng-container class="row">
          <div class="col-12 containerCardsMedioPago">
            <!-- Tarjeta 1 -->
            <div
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 0 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(0)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 0"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago con tarjeta de crédito y débito (Niubiz)
              </label>
              <div class="medio-pago-images">
                <div
                  *ngFor="let tarjeta of tarjetas"
                  class="medio-pago-image-container"
                >
                  <img
                    *ngIf="
                      tarjeta.medioPago == 'Visa'
                    "
                    [src]="'../../../../assets/icons/' + tarjeta.img"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>

            <!-- Tarjeta 2 -->
            <div
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 1 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(1)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 1"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago con tarjeta de crédito y débito
              </label>
              <div class="medio-pago-images">
                <div
                  *ngFor="let tarjeta of tarjetas"
                  class="medio-pago-image-container"
                >
                  <img
                    *ngIf="
                      tarjeta.medioPago == 'MasterCard' ||
                      tarjeta.medioPago == 'Amex' ||
                      tarjeta.medioPago == 'DinerClub'
                    "
                    [src]="'../../../../assets/icons/' + tarjeta.img"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>
            <!-- Tarjeta 3 -->
            <div
              *ngIf="IdPasarelaPago == 7"
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 2 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(2)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 2"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago billetera electrónica
              </label>
              <div class="medio-pago-images">
                <div
                >
                  <img
                    [src]="'../../../../assets/icons/YapeConFondo.svg'"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                  <img style="height: 35px;"
                    [src]="'../../../../assets/imagenes/PlinLogo.png'"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                  <img style="height: 35px"
                    [src]="'../../../../assets/imagenes/AgoraLogo.png'"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>
            <!-- Tarjeta 4 -->
            <div
              *ngIf="IdPasarelaPago == 7"
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 3 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(3)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 3"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago con yape
              </label>
              <div class="medio-pago-images">
                <div
                >
                  <img

                    [src]="'../../../../assets/icons/YapeSinFondo.svg'"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="IdPasarelaPago == 1">
        <ng-container class="row">
          <div class="col-12 containerCardsMedioPago">
            <!-- Tarjeta 1 -->
            <div
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 0 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(0)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 0"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago con tarjeta de crédito y débito con PayU
              </label>
              <div class="medio-pago-images">
                <div
                  *ngFor="let tarjeta of tarjetas"
                  class="medio-pago-image-container"
                >
                  <img
                    *ngIf="
                      tarjeta.medioPago == 'Visa' ||
                      tarjeta.medioPago == 'MasterCard'||
                      tarjeta.medioPago == 'Amex'
                    "
                    [src]="'../../../../assets/icons/' + tarjeta.img"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>

            <!-- Tarjeta 2 -->
            <div
              class="medio-pago-card"
              [ngClass]="{ selected: IdMedioPagoSeleccionado === 1 }"
            >
              <div class="medio-pago-content">
                <mat-radio-button
                  (change)="ObtenerMedioPagoSeleccion(1)"
                  class="m-2"
                  color="primary"
                  [checked]="IdMedioPagoSeleccionado === 1"
                ></mat-radio-button>
              </div>
              <label for="pagoTarjeta" class="medio-pago-label">
                Pago con tarjeta de crédito y débito mediante PayU PSE
              </label>
              <div class="medio-pago-images">
                <div
                  *ngFor="let tarjeta of tarjetas"
                  class="medio-pago-image-container"
                >
                  <img
                    *ngIf="
                      tarjeta.medioPago == 'Pse'
                    "
                    [src]="'../../../../assets/icons/' + tarjeta.img"
                    alt="Imagen de tarjeta"
                    class="medio-pago-image"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="col-12 row bot">
        <div style="justify-content: center; display: flex">
          <app-default-button
            [disabled]="IdMedioPagoSeleccionado == -1"
            [confs]="{ color: 'primary', titulo: 'Continuar' }"
            [style]="'margin-top: 20px;padding: 0px 40px;'"
            (click)="EnviarSolicitudPago()"
          >
          </app-default-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="container">
  <div style="justify-content: left; display: flex">
    <div class="iconoPagoTarjeta">
      <div class="textPagoTarjeta" style="color: #02c158 !important">
        <span>PAGO 100%</span>
        <span>seguro</span>
      </div>
      <div class="imgPagoTarjetaVerde"></div>
      <div class="descPagoTarjeta">
        <span
          >Este certificado garantiza la seguridad de todas tus conexiones
          mediante cifrado</span
        >
      </div>
    </div>
  </div>
</div>
