<ng-container *ngIf="data.tarea!=undefined">
  <div class="cardSesionOnlineTareasCuestionario" style="margin: 0px!important;">
    <div class="flagActividad"  style="display: flex;">
      <div class="col-11" style="display: flex;">
        <!-- <div class="textoFlag">Tarea: {{data.index>9?(+1):'0'+(data.index+1)}}</div> -->
        <div class="textoFlag">{{data.tarea.nombreCriterioEvaluacion|removePortalCriterio}}</div>
        <!-- <div class="trianglearrow"></div> -->
        <div id="player">
          <div id="outer">
            <div id="inner"></div>
          </div>
        </div>
      </div>
      <div class="col-1" style="text-align: end;font-weight: bold;cursor: pointer;" (click)="dialogRef.close()">
        X
      </div>
    </div>
    <div class="TitleActividad">{{data.tarea.titulo}}</div>
    <div class="DescripcionActividad" *ngIf="data.tarea.descripcion!=null && data.tarea.descripcion.length>0">{{data.tarea.descripcion}}</div>
    <div class="VinculoActividad" *ngIf="data.tarea.nombreArchivo!=null && data.tarea.nombreArchivo.length>0">
      <a [href]="data.tarea.urlArchivoSubido" target="_blank" >{{data.tarea.nombreArchivo}}</a></div>
  </div>
  <div class="content">
    <ng-container *ngIf="data.tarea.tareas!=null && data.tarea.tareas.length>0 && ActualizaTareaEnviada==false">
      <div class="contentTareasEnviadas" *ngFor="let item of data.tarea.tareas">
        <div class="IntenTareasEnviadas"><strong>Versión:</strong>  {{item.version}}</div>
        <div class="IntenTareasEnviadas"><strong>Archivo enviado:</strong>
          <div class="pdfSesionOnline"></div>
          <div>
            <a target="_blank" [href]="item.urlArchivoSubido">{{item.nombreArchivo}}</a>
          </div>
        </div>
        <div class="IntenTareasEnviadas"><strong>Fecha de Envio:</strong>  {{item.fechaCreacion | date :'dd/MM/yyyy hh:mm:ss'}}</div>
        <div class="IntenTareasEnviadas"><strong>Calificación:</strong>  {{item.nota}}</div>
        <div class="IntenTareasEnviadas"><strong>Fecha de Calificación:</strong>  {{item.fechaCalificacion | date :'dd/MM/yyyy hh:mm:ss'}}</div>
        <div class="IntenTareasEnviadas"><strong>Retroalimentación:</strong>  {{item.retroalimentacion}}</div>
        <div class="IntenTareasEnviadas"><strong>Archivo de Retroalimentación:</strong>
          <ng-container *ngIf="item.urlArchivoSubidoRetroalimentacion!=null">
            <div class="pdfSesionOnline"></div>
            <div >
              <a [href]="item.urlArchivoSubidoRetroalimentacion" target="_blank">{{item.nombreArchivoRetroalimentacion}}</a>
            </div>
          </ng-container>

        </div>
        <div style="background: rgb(233 233 233);width: 100%;height: 2px;
        margin-top: 20px;"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.tarea.tareas!=null && data.tarea.tareas.length>0 && ActualizaTareaEnviada==true">
      <div style="padding: 0px 40px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 20px;">Selecciona el archivo de tu tarea:</div>
      <div  style="display: flex;
      padding: 0px 40px 30px;
      justify-content: space-between;">
        <div style="width: 100%;">
          <div (click)="fileInput.click()" style="height: 38px;width: 100%;border:solid 1px #c2c2c2;border-radius: 5px;display: flex; align-items: center;
          padding: 0px 5px;cursor: pointer;">
            <button style="border: solid 1px #767676;
            margin-right: 5px;    white-space: nowrap;">Seleccionar archivo</button>
            <div style="    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;">{{nombrefile}}</div>
          </div>
          <input #fileInput type="file" id="file" (change)="getFileDetails($event)" style="    width: 100%;
          border: solid 1px #c2c2c2;
          padding: 7px;
          border-radius: 5px;display: none;">
          <div *ngIf="!filestatus && fileErrorMsg!=''">{{fileErrorMsg}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3" style="display: flex;align-items: center;justify-content: flex-end;    width: 180px;">
          <app-default-button *ngIf="BotonEnvioActivo" [confs]="{color:'primary',titulo:'Actualizar'}" [style]="'    margin: 0px; padding: 0px 40px; border-radius: 40px;'"
            [disabled]="!filestatus" (ButtoclClick)="AbrirConfirmacionActualizar()"></app-default-button>
          <app-default-button *ngIf="BotonEnvioActivo==false" [confs]="{color:'primary',titulo:'Enviando'}" [style]="'    margin: 0px; padding: 0px 40px; border-radius: 40px;'"
          [disabled]="true"></app-default-button>
        </div>
      </div>
      <div class="row" style="margin: 0px;">
        <div class="col-12 col-md-12 col-lg-12" style="margin: 10px 0px ;">
          <div class="cabeceraExpandTarea" [ngClass]="{'cabeceraExpandTareaOpen':instruccionesSubir}">
            <div>Instrucciones para subir la tarea</div>
            <div>
              <i class="material-icons no-seleccionable " *ngIf="!instruccionesSubir"
                (click)="instruccionesSubir=true">keyboard_arrow_down</i>
              <i class="material-icons no-seleccionable " *ngIf="instruccionesSubir"
                (click)="instruccionesSubir=false">keyboard_arrow_up</i>
            </div>
          </div>
          <div class="contentCabeceraTarea" *ngIf="instruccionesSubir">
            Estimado alumno toma lo siguiente en consideración antes de subir tu archivo
            <ul>
              <li>No nombrar tu archivo con caracteres especiales.</li>
              <li>Que el archivo tenga una capacidad máxima de 15 MB</li>
              <li>El plazo máximo en el que se cálificara tu tarea será de 1 semana después desde la fecha de entrega</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(data.tarea.tareas==null || data.tarea.tareas.length==0) ||
    (data.tarea.tareas!=null && data.tarea.tareas.length>0 && data.tarea.tareas.length<1  && data.tarea.tareas[data.tarea.tareas.length-1].fechaCalificacion!=null) ">
      <div style="padding: 0px 40px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 20px;">Selecciona el archivo de tu tarea:</div>
      <div  style="display: flex;
      padding: 0px 40px 30px;
      justify-content: space-between;">
        <div style="width: 100%;">
          <div (click)="fileInput.click()" style="height: 38px;width: 100%;border:solid 1px #c2c2c2;border-radius: 5px;display: flex; align-items: center;
          padding: 0px 5px;cursor: pointer;">
            <button style="border: solid 1px #767676;
            margin-right: 5px;    white-space: nowrap;">Seleccionar archivo</button>
            <div style="    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;">{{nombrefile}}</div>
          </div>
          <input #fileInput type="file" id="file" (change)="getFileDetails($event)" style="    width: 100%;
          border: solid 1px #c2c2c2;
          padding: 7px;
          border-radius: 5px;display: none;">
          <div *ngIf="!filestatus && fileErrorMsg!=''">{{fileErrorMsg}}</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3" style="display: flex;align-items: center;justify-content: flex-end;    width: 180px;">
          <app-default-button *ngIf="BotonEnvioActivo" [confs]="{color:'primary',titulo:'Enviar'}" [style]="'    margin: 0px; padding: 0px 40px; border-radius: 40px;'"
            [disabled]="!filestatus" (ButtoclClick)="AgregarPEspecificoSesionTareaAlumno()"></app-default-button>
          <app-default-button *ngIf="BotonEnvioActivo==false" [confs]="{color:'primary',titulo:'Enviando'}" [style]="'    margin: 0px; padding: 0px 40px; border-radius: 40px;'"
            [disabled]="true"></app-default-button>
        </div>
      </div>
      <div class="row" style="margin: 0px;">
        <div class="col-12 col-md-12 col-lg-12" style="margin: 10px 0px ;">
          <div class="cabeceraExpandTarea" [ngClass]="{'cabeceraExpandTareaOpen':instruccionesSubir}">
            <div>Instrucciones para subir la tarea</div>
            <div>
              <i class="material-icons no-seleccionable " *ngIf="!instruccionesSubir"
                (click)="instruccionesSubir=true">keyboard_arrow_down</i>
              <i class="material-icons no-seleccionable " *ngIf="instruccionesSubir"
                (click)="instruccionesSubir=false">keyboard_arrow_up</i>
            </div>
          </div>
          <div class="contentCabeceraTarea" *ngIf="instruccionesSubir">
            Estimado alumno toma lo siguiente en consideración antes de subir tu archivo
            <ul>
              <li>No nombrar tu archivo con caracteres especiales.</li>
              <li>Que el archivo tenga una capacidad máxima de 15 MB</li>
              <li>El plazo máximo en el que se cálificara tu tarea será de 1 semana después desde la fecha de entrega</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>


  </div>
</ng-container>
