.diviframe #presentacionVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.phoneCall {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 35px;
  background: #30cc44;
  color: white;
  padding: 5px;
  border-radius: 10px;
  /* word-break: break-all; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  font-size: 10px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  img {
    width: 25px;
    margin-right: 10px;
  }
}
.phoneCall:hover {
  .contentHover {
    display: block !important;
  }
}
.contentHover {
  display: none;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 9px;
  cursor: pointer;
}
.diviframe {
  position: relative;
  min-height: 200px;
  text-align: left;
  font-size: 12px;
}
.titlePrograma h1 {
  font-weight: 600;
  color: #2E2E2E;
  //word-break: break-word;
  font-size: 33px;
}
.InfoProgramIcon {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.InfoProgramImg {
  max-width: 100%;
  width: auto;
  height: 130px;
}
.InfoProgramTitle {
  font-weight: bold;
  color: #6d6d6c;
}
.InfoProgramContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.infoProgramFechas {
  width: 100%;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}
.infoProgramTitle {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 800;
  margin-right: 10px;
}
.infoProgramText {
  font-size: 14px;
  color: #8e8e8e;
}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label {
  opacity: 1 !important;
  padding: 0px !important;
}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content {
  width: 100% !important;
  padding: 20px;

}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-ripple-element{
    background: transparent !important;
}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
  justify-content: center;

}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-ripple {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a49;

}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active {
  color: #0684f2 !important;
  text-decoration: underline;

}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active
  div {
  border-radius: 30% 30% 0% 0%;
  background: #0684f2 !important;
  color: white !important;

}
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-ink-bar {
  display: none;

}
// .tabprogram mat-tab-group mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-ripple:not(:first-child) .mat-tab-label-content{
//   //border-left: solid 1px #4a4a49;
// }
.tabprogram
  mat-tab-group
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-ripple:not(:last-child)
  .mat-tab-label-content {
  border-right: solid 2px white;

}

.tabprogram .mat-tab-body-wrapper mat-tab-body .mat-tab-body-content {
  overflow: hidden !important;
  border-top: solid 5px #0684f2;

}

.acordionPrograma mat-expansion-panel {
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px transparent !important;
  background: #FFCD34;
}
.acordionPrograma .mat-expansion-panel-spacing {
  margin-top: 0px;
}
.acordionPrograma mat-expansion-panel mat-expansion-panel-header {
  // border-bottom: 1px solid #dcdcdc;
  // border-top: 1px solid #dcdcdc;
  height: auto !important;
}
.estructuraProgramTitle {
  color: #2E2E2E;
  font-weight: 900;
  padding: 6px 0px;
  font-size: 18px;
}
.estructuraProgramTitle p {
  margin: 0px;
}
.estructuraProgramicon {
  color: #4fc5f5;
  font-size: 25px;
  font-weight: 700;
  margin-right: 20px;
}
.acordionPrograma
  mat-expansion-panel
  .mat-expansion-panel-content
  .mat-expansion-panel-body {
  padding: 0px !important;
}
.acrdionCertificado mat-expansion-panel mat-expansion-panel-header {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  height: auto !important;
}
.estructuraProgramForm {
  background: #E8E8E8;
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 30px;
}
.estructuraProgramForm .cotentestructuraProgramForm {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2999f0;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.estructuraProgramForm div .question {
  display: flex;
  //width: 25%;
  flex-direction: column;
}
.question div {
  font-size: 40px;
}
.subtitleEstruturaProgramFormAzul {
  font-size: 15px;
  padding: 10px 0px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.cardBeneficiosPrograma {
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
}
.carsTitleBeneficiosPrograma {
  font-size: 22px;
  font-weight: 900;
  text-align: start;  
  color: #2E2E2E;
}
.carsContenidoBeneficiosPrograma {
  padding: 20px 20px;
}
// .cardBeneficiosPrograma li,
// .todoslosBeneficios {
//   //color: #989897;
// }

.todoslosBeneficios{
  font-size: 18px;
  font-weight: 900;
  padding-left: 25px;
  padding-top: 20px;
  color: #2E2E2E;
}

.carouselContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  .carouselContainerImg{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 150px;
    max-height: 150px;
  }

  .carouselContainerContent{
    .titleExpositor{
      font-size: 16px;
      text-decoration: underline;
      font-weight: 900;
      color: #2388F2;
    }
  }
}

.piePagina {
  color: #2E2E2E;
  font-size: 13px;
  padding: 20px 10px;
}
.certificadoContent {
  font-size: 15px;
}
.certificadoContent li {
  padding: 0px 20px;
}
.carousel-expositores ngb-carousel .carousel-inner div .wrapper
//.carousel-programas ngb-carousel .carousel-inner div .wrapper
 {
  margin: 20px 10px;
}

.cardSubtitle {
  display: flex;
  align-items: center;
  //background: #f2f0e6;
  padding: 20px 15px;
  border-radius: 10px;
  margin: 7px 0px;
}
.cardSubtitle img {
  width: 90px;
  margin-right: 30px;
}
.parafoS {
  font-size: 20px;
  font-weight: 100;
  color: #4a4a49;
  text-align: center;
}

.imgfondo {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 700px;
  z-index: -1;
}
.imgTitle {
  height: auto;
  width: 100%;
}


.iconarrow {
  color: #34c939;
  font-size: 14px;
  margin-right: 10px;
}

.cardFormasPago {
  display: flex;
  background: #f2f0e6;
  padding: 20px 30px;
  border-radius: 10px;
  align-items: center;
  margin: 10px 0px;
  color: #4a4a49;
  .divpagobcp {
    padding-right: 40px;
  }
}

.cardFormasPago .iconarrow {
  font-size: 20px;
}
.contentCardFormasPago {
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  color: #4a4a49;
}
.imgCardFormasPago {
  width: 80px;
  padding: 0px;
  margin-right: 100px;
  height: auto;
}

.contentCarsubtitle {
  margin: 10px 0px;
}
.contentimgtarjetas {
  display: flex;
  padding: 0px 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  img {
    width: 60px;
  }
}
.ContenidoVistaPrevia{
  padding: 0px;
}
#cartoonVideo{
  width: 22rem;
  height: 13rem;
}

.ContentInicio{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 0px;
  background-color: #E5EFFE;
  padding-bottom: 25px;
  .contentAbsolute{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    .FondoGris{
      background: #f4f4f4;
      max-height: 50%;
      width: 100%;
    }
    .FondoBlanco{
      background: white;
      max-height: 50%;
      width: 100%;
    }
  }
}

.paddingNoVideo{
  padding: 0px 90px;
}
// .contentLeft{
//   .contentTop{
//     height: 50%;
//   }
//   .contentBotton{
//     height: 50%;
//   }
// }

.contentRight{
  height: 100%;
}

@media (min-width: 768px) and ( max-width: 992px){
  #cartoonVideoVistaPrevia{
    width: 100%;
    height:23rem;
  }
  .ContenidoVistaPrevia{
    height: 0%;
  }
  #FormularioProgramasInsert{
    margin-left: 0px !important;
  }

  .containerObjetivoRequisitos{
    width: 90% !important;
    .cardInformacionPrograma{
      width: 45% !important;
    }
  }

  .contentimgtarjetas{
    padding: 0px;
  }

  .infoClaveProgramaContainer{
    padding: 0px !important;
    .infoClave{
      padding: 0px !important;
      .infoClaveImg img{
        width: 45px !important;
      }
      .infoContainer{
        .infoClaveNombre{
          font-size: 16px !important;
        }
        .infoClaveValor{
          font-size: 14px !important;
        }
      }
    }
  }

  .paddingNoVideo{
    padding: 0px;
  }
  .containerTituloSecciones{
    width: 100% !important;
  }

  .fixed-navbar{
    .contenedor-navegacion-seccion{
      width: 100% !important;
      overflow-x: auto; /* Permite el desplazamiento horizontal */
    
      -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Edge/IE */
      scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
      ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border: none;
      }
    }
  }

}
@media (max-width: 768px){

  .encabezadoCardBlog{
    font-size: 14px !important;
  }

  .linkPrograma{
    border-radius: 5px !important;
  }

  .imgCardFormasPago{
    margin-left: 32px;
    margin-right: 0px;
    width: 60px;
  }
  .contentimgtarjetas{
    padding: 0px;
  }

  #cartoonVideo{
    width: 100%;
    height:170%;
  }
  #cartoonVideoVistaPrevia{
    width: 100%;
    height:18rem;
  }
  .ContenidoVistaPrevia{
    height: 0%;
  }

  .ContentInicio{
    padding-bottom: 100px !important;
  }

  .containerObjetivos{
    padding-bottom: 0px !important;
    order: 2;
    padding-top: 30px;
  }

  .containerObjetivoRequisitos{
    flex-direction: column;
    gap: 50px;
    width: 100% !important;
    .cardInformacionPrograma{
      width: 100%;
    }
  }

  .infoClaveProgramaContainer{
    min-width: 85% !important;
    flex-direction: column;
    align-items: flex-start;
    padding:16px 10px 16px 35px !important;
    top: -122px !important;
    gap: 10px;
    .infoClave{
      padding: 0px !important;
      border-right: none !important;
      .infoClaveImg img{
        width: 45px !important;
      }
      .infoContainer{
        .infoClaveNombre{
          font-size: 16px !important;
        }
        .infoClaveValor{
          font-size: 14px !important;
        }
      }
    }
  }

  .ATuRitmoOnline{
    top:-149px !important;
  }

  .containerTags{
    flex-direction: column;
    align-items: start !important;
    gap: 10px;
  }

  .paddingNoVideo{
    padding: 10px 20px;
  }

  .fixed-navbar{

    ul{
      display: flex;
      justify-content: space-between;
      border: none !important;
      li{
        margin-right: 0px !important;
      }
    }
  }

  .contenedor-navegacion-seccion{
    width: 95% !important;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Edge/IE */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  }

  .titlePrograma h1{
    font-size: 19px;
  }

  .vistaPreviaButton {
    img{
      height: 30px !important;
    }
  }

  .subtituloPanelExpansion{
    font-size: 12px !important;
  }

  .containerListaExpansion{
    margin-left: 0px !important;
  }

  .puntoAzulDuracionHorario{
    p{
      font-size: 15px !important;
    }
  }

  .carousel-control-next,
  .carousel-control-prev
  {
    width: 32px;
  }

  .carsTitleBeneficiosPrograma{
    font-size: 15px !important;
  }

  .contenidoBeneficioPrograma{
    font-size: 15px !important;
  }

  .contentExpositor{

    p{
      font-size: 13px !important;
    }

  }

  .contenidoInversion{
    font-size: 15px !important;
  }
  
  .consulteOpcionesPago{
    font-size: 15px !important;
  }

  .todoslosBeneficios{
    font-size: 15px !important;
  }

  .containerModalidadesPago{
    font-size: 15px !important;
    width: 100% !important;
  }

  .containerPagoBCP{
    flex-direction: column;
    gap: 10px !important;
    margin-bottom: 20px !important;
    .containerImgBCP{
      align-self: flex-start;
    }
  }

  .cabeceraCertificacion{
    font-size: 15px !important;
  }

  .contenidoCertificacion{
    font-size: 15px !important;
  }

  .pieCertificacion{
    font-size: 15px !important;
  }

  .widthTag{
    width: 100% !important;
    .containerTags{
     display: flex;
     align-items: center;
     //justify-content: flex-start !important;
     flex-wrap: wrap;
     .tag{
       //margin-right: 20px;
       font-size: 15px !important;
       text-align: start !important;
       //flex: 1;
     }
    }
  }

  .contenedorInversion{
    align-items: flex-start !important;
  }

  .contentExpositor {
    max-height: 80px; /* Altura máxima antes del "Ver más" */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .containerTituloSecciones{
    width: 100% !important;
  }

  .centradoModalidadPago{
    align-items: unset !important;
  }

}

.cardInformacionPrograma{

  display: flex;
  flex-direction: column;
  //justify-content: center;
  border: 1px solid #FFF8D9;
  border-radius: 15px;
  background-color: #FFF8D9;
  width: 40%;
  padding: 20px;
}

.tituloSeccionPrograma{
  justify-content: center;
  margin-bottom: 20px;
  color: #2E2E2E;
  display: flex;
  font-size: 30px;
  font-weight: 900;
  text-decoration: underline;
  align-items: center;
  gap: 2px;
  //white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.puntoAzulListaCertificacion{
  text-align: justify;
}

.puntoListaObjetivos,
.puntoListaPublicoObjetivo{
  text-align: left;
  padding: 0px 45px;
  font-size: 18px;
}

.puntoListaObjetivos ul,
.puntoListaPublicoObjetivo ul,
.puntoAzulListaCertificacion li ul li,
.puntoAzulDuracionHorario ul li
{
  list-style: none;
  padding-left: 0px;
}

.puntoListaObjetivos ul li,
.puntoListaPublicoObjetivo ul li,
.puntoAzulListaCertificacion li ul li,
.puntoAzulDuracionHorario ul li
{
  line-height: 1.8;
  font-size: 18px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
}

.puntoListaObjetivos ul li::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px; 
  background: url('../../../../src/assets/imagenes/check.png') no-repeat center center;
  background-size: contain;
}

.puntoListaPublicoObjetivo ul li::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px; 
  background: url('../../../../src/assets/imagenes/Flecha.png') no-repeat center center;
  background-size: contain;
}

.puntoAzulListaCertificacion li ul li::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px; 
  background: url('../../../../src/assets/imagenes/check-celeste.png') no-repeat center center;
  background-size: contain;
}

.puntoAzulDuracionHorario ul li::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px; 
  background: url('../../../../src/assets/imagenes/check-celeste.png') no-repeat center center;
  background-size: contain;
}

#FormularioProgramas{
  position: absolute;
  width: 320px;
  right: 15%;
  top: 4rem;
  z-index: 1;
}
#FormularioProgramasInsert{
  width: 100%;
  top: 4rem;
  z-index: 1;
  //margin-left: 60px;
}
@media (max-width: 768px){

  .margen-card{
    padding-left: 0px !important;
  }

  .parafoCardSub{
    font-size: 15px !important;
  }

  .titleCardSub{
    font-size: 15px !important;
  }

  .tituloSeccionPrograma{

    //padding-left: 0px;
    padding-right: 0px;

    img{
      height: 40px !important;
      padding-right: 3px;
    }

    justify-content: flex-start !important;
    font-size: 23px;
  }

  .carouselContainer{
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
    .carouselContainerContent{
      .titleExpositor{
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  .containerFormulario{
    border-bottom: 1px solid black;
    padding: 0px 20px;
    padding-bottom: 20px;
  }

  #FormularioProgramas{
    display: none;
  }
  #FormularioProgramasInsert{
    display: block;
    width: 100%;
    margin-top: 85px;
    //display: none;
    margin-left: 0px;
    padding-bottom: 40px;
  }
  .contentTop{
    height: 50%;
  }
  .contentBotton{
    height: auto;
  }
  .descripcionCurso{
    font-size: 15px;
  }

  .contenedorArea{
    font-size: 12px !important;
  }

  .responsiveInfoClave{
    display: flex;
    justify-content: center;
  }

  .puntoListaPublicoObjetivo,
  .puntoListaObjetivos
  {
    font-size: 15px !important;
    padding: 0px 20px !important;
  }

  .puntoAzulListaCertificacion{
    text-align: start !important;
    span{
      word-wrap: break-word;
    }
  }

  .puntoListaObjetivos ul,
  .puntoListaPublicoObjetivo ul,
  .puntoAzulListaCertificacion li ul li
  {
    list-style: none;
    padding-left: 0px;
    font-size: 15px !important;
  }

  .puntoListaObjetivos ul li,
  .puntoListaPublicoObjetivo ul li,
  .puntoAzulListaCertificacion li ul li
  {
    line-height: 1.8;
    font-size: 15px !important;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
  }

  .cabeceraPrerequisito{
    padding: 0px 20px !important;
    font-size: 15px !important;
  }

  .mat-expansion-panel-header{
    padding: 0px;
  }

  .estructuraProgramTitle{
    font-size: 12px;
  }

  .contentimgtarjetas {
    margin-top: 15px;
    gap: 15px;
  }

  .programasContenido{
    padding: 0px !important;
  }

}

@media (max-width: 992px){
  #FormularioProgramas{
    right: 8%;
  }
  .estructuraProgramForm{
    width: 100%;
  }
}

@media (min-width:992px) and (max-width: 1475px) {
  .cardInformacionPrograma{
    //width: 40%;
  }
  .infoClaveProgramaContainer{
    padding: 17px 7px !important;
    top: -55px !important;
  }
  #FormularioProgramasInsert{
    margin-left: 0px;
  }
  
  .containerObjetivosInfoClave{
    padding-top: 60px !important;
    
  }
  .fixed-navbar{
    .contenedor-navegacion-seccion{
      width: 90% !important;
    }
  }

  #absoluteFormulario {
    right: 105px !important;
    width: 24% !important;
  }

  .containerTituloSecciones{
    width: 71% !important;
  }

  .fixed-navbar {
    ul{
      li{
        margin-right: 20px !important;
      }
    }
  }
  
}

@media (min-width:992px) and (max-width:1280px){

  // .rowpadd{
  //   padding: 50px 0px !important;
  // }

  .tituloHeaderPrograma h1{
    font-size: 18px !important;
  }

  #absoluteFormulario{
    width: 28% !important;
    right: 36px !important;
  }

  .fixed-navbar {
    ul{
      li{
        margin-right: 10px !important;
      }
    }
  }

}


.container {
  max-width: 1453px;
}

.infoClaveProgramaContainer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  min-width: 1170px;
  background-color: #FFCD34;
  top: -50px;
  z-index: 10;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade esta línea para el sombreado
  .infoClave{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 8px;
    flex: 1;
    .infoClaveImg{
      img{
        width: 50px;
        height: auto;
      }

    }

    .infoContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      //gap: 5px;
      .infoClaveNombre{
        text-align: start;
        font-size: 20px;
        font-weight: 900;
      }
      .infoClaveValor{
        font-size: 15px;
        font-weight: 300;
      }
    }

  }
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1000; /* Por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita el desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Sombreado */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrado vertical y horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  max-width: 800px; /* Ancho máximo del modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreado */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalIframe {
  width: 100%;
  height: 450px; /* Ajusta la altura según sea necesario */
  border: none;
}

.puntoAzulDuracionHorario{
  p{
    font-size: 18px;
  }
}

.containerObjetivoRequisitos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  //gap: 90px;
}

.containerObjetivos{
  //padding-bottom:40px ;

}

.containerObjetivosInfoClave{
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 65px;
  //padding-bottom: 70px;
}

/****************************************/
.tituloHeaderPrograma h1{
  color: #2E2E2E;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
  
}   
.fixed-navbar {
   position: fixed;
   top: 0px;
   width: 100%;
   background-color: white;
   color: #4E4E4E;
   z-index: 1000;
   padding: 10px 0;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
   display: none;

   .contenedor-navegacion-seccion{
    width: 85%;
    display: flex;
    justify-content: space-between;
    //white-space: nowrap;
   }

   ul {
     list-style: none;
     margin: 0px;
     padding: 10px 0px;
    //  display: flex;
    //  justify-content: space-between;
     gap: 20px;
     margin-top: 5px;
     border-top: 2px solid #EFF4FD;
     li {
       display: inline-block;
       margin-right: 40px;
     }
   }
 
 
   .seccionHeaderPrograma {
     color: #2E2E2E;
     text-decoration: none;
     padding: 5px 10px;
     display: block;
     font-weight: bold;
     font-size: 14px;
     white-space: nowrap;

     &:hover,
     &.active {
       background-color: #F2F5FA;
       color: #075BD3;
       border-radius: 10px;
       cursor: pointer;
       //border: 1px solid #F2F5FA;
     }  
   }

 }

 .containerMasInformacion{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //flex: 1;
  margin-right: 50px;
 }

 #absoluteFormulario{
  display: block;
  position: absolute;
  top: 95px;
  right: 143px;
  width: 18%;
  margin-left: 0px;
  #FormularioProgramasInsert{
    margin-left: 0px;
  }

 }

 .cerrarFormularioAbsolute{
  display: flex;
  justify-content: end;
  //margin-bottom: 15px;
  img{
    cursor: pointer;
  }
 }
.widthTag{
  width: 100%;
  .containerTags{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 15px;
   .tag{
     margin-right: 0px;
     font-size: 18px;
     text-align: center;
     //flex: 1;
   }
  }
}

/*
.vistaPreviaButton{
  background-color: #099DFF;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #099DFF;
  font-size: 18px;
  justify-items: flex-end;
  flex: 1;
}*/

.vistaPreviaButton{
  img{
    height: 50px;
    margin-left: auto;
  }
}

.masInformacionButton{
  width: 100%;
  border:#F88940;
  border-radius:12px;
  padding: 8px 55px;
  font-size: 16px;
  margin-bottom:0px;
  background-color: #F88940;
  color: white;
}

.descripcionCurso{
  margin: 28px 0px;
  line-height: 1.8; 
  font-size:15px; 
  font-weight: 300;
  width: 90%;
}

.contenedorArea{
  margin: 25px 0px;
  font-size: 17px;
  font-weight: 700;
}

.cabeceraPrerequisito{
  text-align: left;
  padding: 0px 45px;
  margin-bottom: 20px;
  font-size: 18px;
}

.margen-card{
  margin-bottom: 20px;
  padding-left: 35px;
}

.subtituloPanelExpansion{
  font-size: 17px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.containerListaExpansion{
  margin: 0px;
  padding-top:15px;
  padding-bottom: 10px;
  margin-left: 25px;
  color: #2E2E2E;
  list-style: none;
}

.contenidoBeneficioPrograma{
  display: flex;
  gap: 5px;
  padding-left: 25px;
  margin-top: 15px;
  font-size: 18px;
}

.contenidoInversion{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #2E2E2E;
  font-size: 22px;
}

.consulteOpcionesPago{
  color: #2E2E2E;
  font-size: 18px;
  margin: 40px 0px;
  font-weight:900;
}

.containerModalidadesPago{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  font-size: 22px;
  color: #2E2E2E;
}

.containerPagoBCP{
  margin-bottom: 30px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 30px;

  .containerImgBCP{
    padding: 0px;
    margin: 10px 0px;
    display:flex;
    justify-content: flex-start;
  }
}

.cabeceraCertificacion{
  font-size: 18px;
  margin-bottom: 20px;
}

.contenidoCertificacion{
  display: flex;
  gap: 5px;
  padding-left: 25px;
  margin-top: 15px;
  font-size: 18px;
}

.vinculo{
  padding: 0px 30px;
  color: #656565;
}

.contentExpositor.expanded {
  max-height: none; /* Expande al tamaño completo */
}

.ver-mas-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 0px;
  text-decoration: underline;
}

.contenedorInversion{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloSeccionPrograma{
  img{
    height: 50px;
  }
}

.containerCertificacion{
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  //padding-top: 20px;
}

.containerTituloSecciones{
  width: 68%;
}

// .alturaFormularioAbsolute{
//   max-height: 67vh !important;
//   overflow-y: auto !important;
// }

.carousel-programas,
.carousel-contenidos{
  .carousel-control-next-icon{
    background-image: url('../../../../src/assets/imagenes/icono-carrusel-azul-B.png');
  }
  .carousel-control-prev-icon{
    background-image: url('../../../../src/assets/imagenes/icono-carrusel-azul-A.png');
  }

  .carousel-indicators [data-bs-target] {
    background-color: #2087f5;
  }

}

.centradoModalidadPago{
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .titleCardSub{
//   font-size: 20px;
// }

// .parafoCardSub{
//   font-size: 20px;
// }

.cardSubtitle{
  div{
    width: 100%;
  }
}

.homeLearningProgramaCurso{
  .subtitulo{
    color: #017EFF;
    line-height: 100%;
    font-weight: 900;
    text-decoration: underline;
  }
  .titleCardSub {
    font-size: 20px;
    font-weight: bolder;
  }

  .parafoCardSub {
    font-size: 20px;
    text-align: left;
    color: #878787;
  }

}

.rowpadd{
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width:1000px) and (max-width:1107px){

  .infoClaveProgramaContainer{
    min-width:970px !important;
  }

  .contenedor-navegacion-seccion{
    justify-content: initial;
  }

  .containerMasInformacion{
    //margin-right: 0px !important;
    margin-left: 36px !important;
    .masInformacionButton{
      padding: 8px 30px;
    }
  }
}