<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-6 col-lg-6">
        <div [innerHtml]="programa"></div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-12 col-md-6 col-lg-6">
            <app-default-button [confs]="{color:'primary',titulo:'Matricularme Ahora'}"  (ButtoclClick)="ObtenerCabeceraProgramaGeneral()"></app-default-button>
          </div>
          <div class="col-12col-md-6 col-lg-6 ">
            <app-default-button [confs]="{color:'primary',titulo:'Acceso de prueba gratis'}"  (ButtoclClick)="ObtenerCabeceraProgramaGeneral()"></app-default-button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 diviframe" style="position: relative;"
        [innerHtml]="contenidoCabecera | safeHtml">
      </div>
    </div>
  </div>
</div>
