<!-- holax1 -->
<div  class="contenedor" style="max-height: 550px; overflow: auto; scroll-padding-top: 20px;">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-material" style="width: 100%;">

    <ng-container [matColumnDef]="tableInfo" *ngFor="let tableInfo of objectKeys(columnHeader)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style]="StyleCabecera" style="text-align: center;"> {{columnHeader[tableInfo]}} </th>
      <td mat-cell *matCellDef="let element;let i=index" [style]="StyleContent">
        <ng-container *ngIf="tipoContenido[tableInfo]; else normal">
          <ng-container *ngIf="(tipoContenido[tableInfo][0] | lowercase )=='date';else hora">
            <div style="width: 100%;text-align: center;">
              {{element[tableInfo] | date: 'yyyy/MM/dd' }}
            </div>
          </ng-container>
          <ng-template #hora>
            <ng-container  *ngIf="(tipoContenido[tableInfo][0] | lowercase )=='hora';else fechahora">
              <div style="width: 100%;text-align: center;">
                {{element[tableInfo] | date: 'hh:ss' }}
              </div>
            </ng-container>

            <ng-template #fechahora>
              <ng-container  *ngIf="(tipoContenido[tableInfo][0] | lowercase )=='fechahora';else url">
                <div style="width: 100%;text-align: center;">
                  {{element[tableInfo] | date: 'yyyy/MM/dd:hh:ss' }}
                </div>
              </ng-container>
              <ng-template #url>
                <ng-container *ngIf="(tipoContenido[tableInfo][0] | lowercase )=='url';else buttons">
                  <ng-container
                    *ngIf="
                      (tipoContenido[tableInfo].length<2) || (!element[tipoContenido[tableInfo][1]]) ||
                      (element[tipoContenido[tableInfo][1]]==null);
                      else enabled">
                    <app-default-button [confs]="{color:'primary',titulo:element[tableInfo]}" [icon]="''"
                      [style]="'margin: 0px;'" [disabled]="true"></app-default-button>
                  </ng-container>
                  <ng-template #enabled>
                    <a [href]="element[tipoContenido[tableInfo][1]]" style="    color: transparent;
                    text-decoration: none;" target="_blank">
                      <app-default-button [confs]="{color:'primary',titulo:element[tableInfo]}" [icon]="''"
                        [style]="'margin: 0px;'"></app-default-button>
                    </a>
                  </ng-template>

                </ng-container>
                <ng-template #buttons>
                  <ng-container *ngIf="(tipoContenido[tableInfo][0] | lowercase )=='buttons';">
                    <ng-container *ngIf="!IsArray(tipoContenido[tableInfo][1])">
                      <app-default-button [confs]="{color:'primary',titulo:tipoContenido[tableInfo][1]}" [icon]="''"
                        [style]="'margin: 0px;'" (ButtoclClick)="ButtonClick.emit(element.index)"></app-default-button>
                    </ng-container>
                    <ng-container *ngIf="IsArray(tipoContenido[tableInfo][1])">
                      <div style="display: flex;flex-wrap: wrap;justify-content: space-evenly;align-items: center;">
                        <app-default-button *ngFor="let item of tipoContenido[tableInfo][1],let indexb=index"
                        [confs]="{color:'primary',titulo:item}" [icon]="''"
                          [style]="'margin: 0px;'" (ButtoclClick)="ButtonArrayClick.emit({indexButton:indexb,index:element.index})"></app-default-button>
                      </div>
                    </ng-container>

                  </ng-container>
                </ng-template>

              </ng-template>
            </ng-template>
          </ng-template>
        </ng-container>
        <ng-template #normal>
          {{element[tableInfo] }}
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);let i=index" (click)="select=i" class="rowSelect"
      [ngClass]="{'select':select==i}"></tr>
  </table>
</div>

<!-- <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons style="margin-top: 20px;"
  aria-label="Selecciona">
</mat-paginator> -->
