<!-- holax1 -->
<ng-container *ngIf="curso!=undefined">

  <div class="cursoTitle">{{curso.programaGeneral}}</div>
  <div class="row" style="align-items: center;" style="margin: 30px 0px 0px;" *ngIf="proyecto!=undefined">
    <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/proyectos-aplicacion.svg">
      <div><strong> {{proyecto.datosEvaluacionTrabajo.nombre}}:</strong></div>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div *ngIf="miPerfil!=undefined" style="text-align: left;margin-top: 20px;" >
        ¡Muy bien {{miPerfil.datosAlumno.nombres}}! Llegamos a la parte final del curso. Es momento de enviar el Proyecto de Aplicación.</div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="    margin-top: 40px;
    margin-bottom: 20px;">

      <div style="    font-size: 14px;
      font-weight: 600;">Elige el archivo a subir:</div>
    </div>
    <ng-container *ngIf="progress==0;else cargando" >
      <div class="col-12 col-md-8 col-lg-9 fieldProyecto" >
        <div (click)="proyecto.habilitado==true?fileInput.click():mensajeError()" style="height: 38px;width: 100%;border:solid 1px #c2c2c2;border-radius: 5px;display: flex; align-items: center;
        padding: 0px 5px;cursor: pointer;">
          <button style="border: solid 1px #767676;
          margin-right: 5px;    white-space: nowrap;">Seleccionar archivo</button>
          <div style="    white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;">{{nombrefile}}</div>
        </div>
        <input #fileInput type="file" id="file"
        (change)="getFileDetails($event)"
        style="    width: 100%;
        border: solid 1px #c2c2c2;
        padding: 7px;
        border-radius: 5px;display: none;">
          <div *ngIf="!filestatus && fileErrorMsg!=''">{{fileErrorMsg}}</div>
      </div>
      <div class="col-12 col-md-4 col-lg-3" style="display: flex;align-items: center;justify-content: flex-end;">
        <app-default-button [confs]="{color:'primary',titulo:'Enviar'}" [style]="'padding:0px 30px;margin:0px '"
          (ButtoclClick)="EventoInteraccionButton('Enviar');EnviarFile()" [disabled]="!proyecto.habilitado"></app-default-button>
      </div>
    </ng-container>
    <ng-template #cargando>
      <div class="col-12 col-md-12 col-lg-12 cargaProyecto">
        <ng-container *ngIf="progress>=100">
          <div style="    text-align: center;margin-bottom: 10px;">Cargando</div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ng-container *ngIf="progress<100">
          <div style="    text-align: center;margin-bottom: 10px;">subiendo {{progress}}%</div>
          <mat-progress-bar mode="determinate" [value]="progress"> </mat-progress-bar>
        </ng-container>

      </div>
    </ng-template>
    <div class="col-12 col-md-12 col-lg-12"> </div>
    <div class="col-12 col-md-12 col-lg-12">
      <ng-container *ngIf="proyecto.registroEvaluacionArchivo!=null">
        <ng-container *ngFor="let proy of proyecto.registroEvaluacionArchivo">

          <table class="tablaProyecto">
            <tr>
              <th>Archivo</th>
              <th>Fecha de envio</th>
              <th>Fecha de calificación</th>
              <th>Versión</th>
              <th>Calificación</th>
              <th>Estado</th>
              <th *ngIf="proy.estadoDevuelto!=true" style="min-width: 100px;">Acción</th>
            </tr>
            <ng-container *ngIf="proyecto.registroEvaluacionArchivo!=null && proyecto.registroEvaluacionArchivo.length>0">
              <tr>
                <td><a [href]="proy.direccionUrl" target="_blank">{{proy.nombreArchivo}}</a> </td>
                <td>{{proy.fechaCreacion | date:"dd/MM/yyyy"}}</td>
                <td>{{proy.fechaCalificacion==null?'-':proy.fechaCalificacion | date:"dd/MM/yyyy"}}</td>
                <td>{{proy.version}}</td>
                <td>{{(proy.notaProyecto==null || proy.notaProyecto.valorEscala==null )
                  ?'-':proy.notaProyecto.valorEscala}}</td>
                <td>
                  <ng-container *ngIf="proy.estadoDevuelto==true">
                    Devuelto
                  </ng-container>

                  <ng-container *ngIf="proy.estadoDevuelto!=true">
                    <ng-container *ngIf="proy.calificado">
                      <div style="display: flex;align-items:center;justify-content: space-evenly;">

                        Calificado <i class="material-icons" style="color: #00c355;">check_circle</i>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="!proy.calificado">
                      Sin calificar
                    </ng-container>
                  </ng-container>

                </td>
                <td *ngIf="proy.estadoDevuelto!=true">
                  <ng-container >
                    <div class="buttonTrash" (click)="OpenModalDelete(proy)">
                      <i class="material-icons" [ngStyle]="{'color': proy.estadoEliminar==true?'white':'#dadada'}">delete</i>
                    </div>
                  </ng-container>

                </td>
              </tr>
            </ng-container>
          </table>
          <ng-container *ngIf="proy.estadoDevuelto==true">
            <table class="tablaProyecto" style="    margin-top: 20px">
              <tr>
                <th style="text-align: left">Motivo</th>
              </tr>
              <ng-container *ngIf="proyecto.registroEvaluacionArchivo!=null && proyecto.registroEvaluacionArchivo.length>0">
                <tr>
                  <td style="text-align: left">{{(proy.retroalimentacion==null)
                    ?'-':proy.retroalimentacion}}</td>
                </tr>
              </ng-container>
            </table>
          </ng-container>
          <ng-container *ngIf="proy.notaProyecto.id>0 && proy.notaProyecto!=null">
            <table class="tablaProyecto" style="    margin-top: 20px">
              <tr>
                <th style="text-align: left">Retroalimentación</th>
              </tr>
              <ng-container *ngIf="proyecto.registroEvaluacionArchivo!=null && proyecto.registroEvaluacionArchivo.length>0">
                <tr>
                  <td style="text-align: left">{{(proy.notaProyecto==null || proy.notaProyecto.retroalimentacion==null )
                    ?'-':proy.notaProyecto.retroalimentacion}}</td>
                </tr>
              </ng-container>
            </table>
            <div style="display: flex;justify-content:flex-end" *ngIf="proy.notaProyecto.urlArchivoSubidoRetroalimentacion!=null && proy.notaProyecto.urlArchivoSubidoRetroalimentacion!=''">
              <a style="display: flex;
              margin-top: 10px;
              padding: 5px;
              border-radius: 8px;
              font-size: 10px;
              background: #f4f4f4;
              color: #656565;
              text-decoration: auto;
              align-items: center;" [href]="proy.notaProyecto.urlArchivoSubidoRetroalimentacion"
              target="_blank">
                <img style="width: 10px;height: auto;margin-right: 5px;" src="../../../../assets/icons/pdf-31.svg" alt="Icono PDF">
                <div>{{proy.notaProyecto.nombreArchivoRetroalimentacion}}</div>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>
    <div class="col-12 col-md-12 col-lg-12" style="margin: 50px 0px 10px;">
      <div class="cabeceraExpandProyecto" [ngClass]="{'cabeceraExpandProyectoOpen':instruccionesAcerca}"
      (click)="instruccionesAcerca=!instruccionesAcerca;EventoInteraccionAccordionCertificado('Instrucciones acerca del Proyecto',instruccionesAcerca==true?'Abierto':'Cerrado')">
        <div>Instrucciones acerca del Proyecto</div>
        <div>
          <i class="material-icons no-seleccionable " *ngIf="!instruccionesAcerca">keyboard_arrow_down</i>
          <i class="material-icons no-seleccionable " *ngIf="instruccionesAcerca">keyboard_arrow_up</i>
        </div>
      </div>
      <div class="contentCabeceraProyecto" *ngIf="instruccionesAcerca">
        <ng-container
          *ngIf="proyecto.datosEvaluacionTrabajo.instruccionesEvaluacion!=null && proyecto.datosEvaluacionTrabajo.instruccionesEvaluacion!=undefined">
          <div *ngFor="let item of proyecto.datosEvaluacionTrabajo.instruccionesEvaluacion">
            <ng-container *ngIf="(item.titulo | lowercase).includes('anexo');else other">
              <div [innerHtml]="item.contenido | safeHtml"></div>
            </ng-container>
            <ng-template #other>
              <ng-container
                *ngIf="(item.titulo | lowercase).includes('cap') && (item.titulo | lowercase).includes('tulos');else otherCap">

              </ng-container>
              <ng-template #otherCap>
                <ng-container *ngIf="item.titulo.includes('Criterios de evaluaci');else noesquema">


                  <ng-container
                    *ngIf="proyecto.criteriosEvaluacion!=null && proyecto.criteriosEvaluacion!=undefined;else sincriterio">
                    <div class="row" style="border-bottom: 1px solid rgba(0,0,0,.1); padding: 20px 0px;">
                      <div class="col-md-12">
                        <h4>
                          <b [innerHtml]="item.titulo | safeHtml" class="titleCriterio">
                          </b>
                        </h4>
                      </div>
                      <div class="col-md-12">
                        <table class="table table-bordered" style="font-size: 14px;
                        font-weight: 100 !important;">
                          <thead style="background:#f3f4f5">
                            <tr>
                              <th scope="col" class="text-center">Criterios de evaluación</th>
                              <th scope="col" class="text-center">Ponderación</th>
                              <th scope="col" class="text-center">Escala de calificación</th>
                            </tr>
                          </thead>
                          <tbody style="    border-top: 0px;">
                            <tr>
                              <td>{{proyecto.criteriosEvaluacion.nombreEscalaCalificacion}}</td>
                              <td class="text-center">
                                {{proyecto.criteriosEvaluacion.ponderacion}}
                                </td>
                              <td class="text-center">
                                {{minValue(proyecto.criteriosEvaluacion.listaParametroEscalaEvaluacion)}} -
                                {{maxValue(proyecto.criteriosEvaluacion.listaParametroEscalaEvaluacion)}} </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </ng-container>

                  <ng-template #sincriterio>
                    <div class="row" style="border-bottom: 1px solid rgba(0,0,0,.1); padding: 20px 0px;">
                      <div class="col-md-12">
                        <h4 style="font-weight:400;"  >
                          <b [innerHtml]="item.titulo | safeHtml" class="titleCriterio"></b>
                        </h4>
                      </div>
                      <div class="col-md-12 contentCriterio" >
                        <div [innerHtml]="item.contenido.split('font-family:Arial, Helvetica,sans-serif;font-size:small;').join('') | safeHtml" class="contentCriterio"></div>

                      </div>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-template #noesquema>
                  <div class="row" style="border-bottom: 1px solid rgba(0,0,0,.1); padding: 20px 0px;">
                    <div class="col-md-12">
                      <h4 style="font-weight:400;"  >
                        <b [innerHtml]="item.titulo | safeHtml" class="titleCriterio"></b>
                      </h4>
                    </div>
                    <div class="col-md-12 contentCriterio">
                      <div [innerHtml]="item.contenido.split('font-family:Arial, Helvetica,sans-serif;font-size:small;').join('') | safeHtml" class="contentCriterio"></div>
                    </div>
                  </div>
                </ng-template>

              </ng-template>
            </ng-template>

          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="margin: 10px 0px ;">
      <div class="cabeceraExpandProyecto" [ngClass]="{'cabeceraExpandProyectoOpen':instruccionesSubir}"
      (click)="instruccionesSubir=!instruccionesSubir;EventoInteraccionAccordionCertificado('Instrucciones para subir el Proyecto',instruccionesSubir==true?'Abierto':'Cerrado')">
        <div>Instrucciones para subir el Proyecto</div>
        <div>
          <i class="material-icons no-seleccionable " *ngIf="!instruccionesSubir">keyboard_arrow_down</i>
          <i class="material-icons no-seleccionable " *ngIf="instruccionesSubir">keyboard_arrow_up</i>
        </div>
      </div>
      <div class="contentCabeceraProyecto" *ngIf="instruccionesSubir">
        Estimado alumno toma lo siguiente en consideracion antes de subir tu archivo
        <ul>
          <li>No nombrar tu archivo con caracteres especiales.</li>
          <li>Que el archivo tenga una capacidad máxima de 25 MB</li>
          <li>{{proyecto.datosEvaluacionTrabajo.archivoCarpeta}}</li>
          <li>El plazo máximo en el que se cálificara tu proyecto sera de 15 días</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="margin: 10px 0px ;" *ngIf="anexos!=null && anexos.length>0">
      <div class="cabeceraExpandProyecto" [ngClass]="{'cabeceraExpandProyectoOpen':instruccionesAnexos}"
      (click)="instruccionesAnexos=!instruccionesAnexos;EventoInteraccionAccordionCertificado('Anexos del proyecto de Aplicacion',instruccionesAnexos==true?'Abierto':'Cerrado')">
        <div>Anexos del proyecto de Aplicacion</div>
        <div>
          <i class="material-icons no-seleccionable " *ngIf="!instruccionesAnexos">keyboard_arrow_down</i>
          <i class="material-icons no-seleccionable " *ngIf="instruccionesAnexos">keyboard_arrow_up</i>
        </div>
      </div>
      <div class="contentCabeceraProyecto" *ngIf="instruccionesAnexos">
        <div *ngFor="let item of anexos" class="anexosContent">
          <ng-container *ngIf="item.esEnlace">
            <ng-container *ngIf="item.soloLectura!=true">
              <a class="nameAnexo" [href]="item.rutaArchivo">{{item.nombreArchivo}}</a>
            </ng-container>
            <ng-container *ngIf="item.soloLectura==true">
              <div class="nameAnexo">{{item.nombreArchivo}}</div>
              <div class="buttonAnexo">

                <button mat-button class="VerAnexo" (click)="item.ver=true">Ver</button>
                <button mat-button class="OcultarAnexo" (click)="item.ver=false">Ocultar</button>
              </div>
              <div [hidden]="item.ver!=true" style="width: 100%;margin-top: 15pxng serve;">
                <embed [src]="item.rutaArchivo+'#toolbar=0' | safe" width="100%" height="500" style="width: 100%;">
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!item.esEnlace">
            <ng-container *ngIf="item.soloLectura!=true">
              <a class="nameAnexo" [download]="item.rutaArchivo"><i class="material-icons">download_for_offline</i> Descargar</a>
            </ng-container>
            <ng-container *ngIf="item.soloLectura==true">
              <a class="nameAnexo" [href]="item.rutaArchivo"><i class="material-icons">link</i> Ver Documento</a>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>
    <div class="col-12 row" style="display: flex;justify-content: flex-end;margin-top: 10px;">
      <div class="ForoProyecto" style="width:auto;display: flex;">
        <i style="margin-top: 5px;;color:#FF7012;font-size: 32px !important" class="material-icons" >help</i>
        <div (click)="Interaccion('Consulta tarea a docente');OpenModalForo()" style="color: #FF7012;margin-left: 10px;margin-top: 8px;">
          Consultar a Docente
        </div>
      </div>
    </div>
    <!-- <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
      <div class="tipoIndicacionTitleForo col-12 col-md-12 col-lg-12">
        <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
        <div>Consultar a Docente</div>
      </div>
    </div> -->
    <ng-container *ngIf="!NuevoForo ">
      <ng-container *ngIf="!ContenidoForo">

        <!-- Vista de Foro -->
        <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
          <div class="tipoIndicacionTitleForo col-12 col-md-12 col-lg-12">
            <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
            <div>Consultar a Docente</div>
          </div>
        </div>
        <div style="font-weight: 600;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 5px;
        margin-top: 20px;
        margin-bottom: 10px;">Todas las consultas</div>
        <div *ngIf="foro.length==0">
          Aun no hay consultas registradas
        </div>
        <div *ngIf="foro.length!=0">
          <div class="contentForo">

            <ng-container  *ngFor="let item of foro;let i=index">

            <div class="foro" *ngIf="(pagina-1)*4<=i && (pagina)*4>i">

              <div style="display: flex;align-items: center;justify-content: flex-start;">
                <img [src]="item.urlAvatar" alt="{{item.urlAvatar}}" style="width: 40px; height: 40px;    margin-right: 10px;">
                <div>
                  <div class="titleForo" (click)="ContenidoForo=!ContenidoForo && IdForo=item.id" >{{item.titulo}}></div>
                  <div class="subTitleForo">{{item.nombres}}</div>
                </div>
              </div>
              <div style="display: flex;justify-content: end;align-items: center;    min-width: 40px;">
                <img src="../../../../assets/icons/respuestas-foro-28.svg" alt="Respuesta Foro" style="width: 20px; height: 20px;    margin-right: 10px;">
                <div class="NRespuestas">{{item.respuestas}}</div>
              </div>
            </div>
            </ng-container>
          </div>
          <div  class="paginatorForo">
            <i class="material-icons paginaForo" (click)="minusPage()" >keyboard_arrow_left</i>
            <ng-container *ngFor="let pag of paginacion">
              <div (click)="page(pag)" class="paginaForo"   [ngClass]="{'pagActive': pag === pagina}" *ngIf="paginaCeil>=(pag/5) && (paginaCeil-1)<=(pag/5)">
                {{pag}}
              </div>
            </ng-container>
            <i class="material-icons paginaForo" (click)="plusPage()">keyboard_arrow_right</i>
          </div>
        </div>
      </ng-container>

      <!-- Contenido del foro -->
      <ng-container *ngIf="ContenidoForo">
        <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
          <div class="tipoIndicacionTitleForo col-6 col-md-9 col-lg-10">
            <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
            <div>Foro</div>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <app-default-button  (ButtoclClick)="NuevoForo=!NuevoForo && ContenidoForo=!ContenidoForo" (ButtoclClick)="RefrescarForo()" [confs]="{color:'primary',titulo:'Volver'}"  [style]="'width: 100%;'"
            [style]="'margin-bottom: 0px !important;padding:0px 20px'" [icon]="''">
          </app-default-button>
          </div>
        </div>
        <app-curso-foro-proyecto-contenido (volverProyecto)="RefrescarForo()"
              [IdPregunta]="IdForo" [IdPgeneral]="params.idPGeneral" [IdPprincipal]="params.idPrincipal" [IdPEspecificoPadre]="params.idPEspecificoPadre" [IdPEspecificoHijo]="this.params.idPEspecifico">
        </app-curso-foro-proyecto-contenido>
      </ng-container>
    </ng-container>
    <!-- <div class="col-12 col-md-12 col-lg-12" style="margin: 10px 0px ;">
      <div class="cabeceraExpandProyecto" [ngClass]="{'cabeceraExpandProyectoOpen':foroAbrir}"
      (click)="foroAbrir=!foroAbrir;EventoInteraccionAccordionCertificado('Instrucciones para abrir foro del proyecto de aplicación',foroAbrir==true?'Abierto':'Cerrado')">
        <div>¿Necesitas Ayuda?</div>
        <div>
          <i class="material-icons no-seleccionable " *ngIf="!foroAbrir">keyboard_arrow_down</i>
          <i class="material-icons no-seleccionable " *ngIf="foroAbrir">keyboard_arrow_up</i>
        </div>
      </div>
      <div class="contentCabeceraProyecto" *ngIf="foroAbrir">
        <ng-container *ngIf="NuevoForo">

          <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
            <div class="tipoIndicacionTitleForo col-12 col-md-9 col-lg-10">
              <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
              <div>Foro</div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
              <app-default-button  (ButtoclClick)="NuevoForo=!NuevoForo" [confs]="{color:'primary',titulo:'Volver'}"  [style]="'width: 100%;'"
                [style]="'margin-bottom: 0px !important;padding:0px 20px'" [icon]="''">
              </app-default-button>
            </div>
          </div>
          <app-curso-foro-proyecto-insert (volver)="RefrescarForo()"
          [IdPgeneral]="idPGeneral" [IdPprincipal]="idPGeneral" [IdPEspecificoPadre]="idPEspecifico" [IdPEspecificoHijo]="idPEspecifico" [Curso]="curso" [UrlArchivo]="UrlArchivo">
        </app-curso-foro-proyecto-insert>
        </ng-container>
        <ng-container *ngIf="!NuevoForo">
          <ng-container *ngIf="!ContenidoForo">

            <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
              <div class="tipoIndicacionTitleForo col-12 col-md-8 col-lg-9">
                <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
                <div>Foro</div>
              </div>
              <div class="col-12 col-md-4 col-lg-3">
                <app-default-button  (ButtoclClick)="NuevoForo=!NuevoForo" [confs]="{color:'primary',titulo:NuevoForo==false?'Ingresar consulta':'Volver'}"  [style]="'width: 100%;'"
                [style]="'margin-bottom: 0px !important;padding:0px 20px'" [icon]="''">
              </app-default-button>
              </div>
            </div>
            <div style="font-weight: 600;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 5px;
            margin-top: 20px;
            margin-bottom: 10px;">Todas las consultas</div>
            <div *ngIf="foro.length==0">
              Aun no hay consultas registradas
            </div>
            <div *ngIf="foro.length!=0">
              <div class="contentForo">

                <ng-container  *ngFor="let item of foro;let i=index">

                <div class="foro" *ngIf="(pagina-1)*4<=i && (pagina)*4>i">

                  <div style="display: flex;align-items: center;justify-content: flex-start;">
                    <img [src]="item.urlAvatar" alt="{{item.urlAvatar}}" style="width: 40px; height: 40px;    margin-right: 10px;">
                    <div>
                      <div class="titleForo" (click)="ContenidoForo=!ContenidoForo && IdForo=item.id" >{{item.titulo}}></div>
                      <div class="subTitleForo">{{item.nombres}}</div>
                    </div>
                  </div>
                  <div style="display: flex;justify-content: end;align-items: center;    min-width: 40px;">
                    <img src="../../../../assets/icons/respuestas-foro-28.svg" alt="Respuesta Foro" style="width: 20px; height: 20px;    margin-right: 10px;">
                    <div class="NRespuestas">{{item.respuestas}}</div>
                  </div>
                </div>
                </ng-container>
              </div>
              <div  class="paginatorForo">
                <i class="material-icons paginaForo" (click)="minusPage()" >keyboard_arrow_left</i>
                <ng-container *ngFor="let pag of paginacion">
                  <div (click)="page(pag)" class="paginaForo"   [ngClass]="{'pagActive': pag === pagina}" *ngIf="paginaCeil>=(pag/5) && (paginaCeil-1)<=(pag/5)">
                    {{pag}}
                  </div>
                </ng-container>
                <i class="material-icons paginaForo" (click)="plusPage()">keyboard_arrow_right</i>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="ContenidoForo">
            <div class="row" style="align-items: center;width: 100%;margin-left: 0px;">
              <div class="tipoIndicacionTitleForo col-6 col-md-9 col-lg-10">
                <img class="ImgIndicacionesContent" src="../../../../assets/icons/foro-naranja.svg">
                <div>Foro</div>
              </div>
              <div class="col-6 col-md-3 col-lg-2">
                <app-default-button  (ButtoclClick)="NuevoForo=!NuevoForo && ContenidoForo=!ContenidoForo" [confs]="{color:'primary',titulo:'Volver'}"  [style]="'width: 100%;'"
                [style]="'margin-bottom: 0px !important;padding:0px 20px'" [icon]="''">
              </app-default-button>
              </div>
            </div>
            <app-curso-foro-proyecto-contenido (volver)="RefrescarForo()"
                  [IdPregunta]="IdForo" [IdPgeneral]="idPGeneral" [IdPprincipal]="IdPprincipal" [IdPEspecificoPadre]="IdPEspecificoPadre" [IdPEspecificoHijo]="IdPEspecificoHijo">
            </app-curso-foro-proyecto-contenido>
          </ng-container>
        </ng-container>
      </div>
    </div> -->
  </div>

</ng-container>
