.linea{
    margin-top: 25px;
    background-color: black !important;
    
}

.Select {
    background: #d9e2f9 
  }

.borde{
    border-color: #b5b5b5;
    border-radius: 5px;
    border-width:1px;
    border-style: solid;  
}
.borde-recto-buttom{
    border-color: #b5b5b5;
    border-radius: 5px 5px 0px 0px;
    border-width:1px;
    border-style: solid;  
    
}

.borde-p{
    border-color: black;
    border-radius: 10px ;
    border-width:1px;
    border-style: none;  
    width: auto;
    background-color: #afca0a;
    color: whitesmoke;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    padding: 5px 3px;
  
}

.borde-recto-buttom-top{
    border-top: 1px solid #b5b5b5 ; 
    border-bottom: 1px solid  #b5b5b5; 
}
.contenedorTra{
    overflow-y: scroll;
    overflow-x: hidden;
}