<div  >
    <div class="row">
        <div class="col-md-5">
            <h1>Ofertas Laborales</h1>
        </div>
        <div class="col-md-7">
            <hr size="6px" color="black" class="linea"> 
        </div>
    </div>
    <br>
    <div class="row" *ngIf="listaConvocatorias.length>0">
        <div class="col-md-6">
            <div class="borde">
                <div class="row" style=" padding-left: 10px; padding-right: 11px;">
                    <div class="col-md-12 borde-recto-buttom" style="border-bottom: 1px solid #b5b5b5;background: #033dab;color:whitesmoke">
                        <p style="margin: 10px;"><strong>{{listaConvocatorias.length}}</strong> Ofertas laborales</p>
                    </div>
                </div>
                <div class="contenedorTra" style="max-height: 600px !important;">
                    <ng-container *ngFor="let item of listaConvocatorias">
                        <div class="borde-recto-buttom-top" (click)="mostrarConvocatoria(item)" 
                        [ngClass]="{'Select':item.isSelect==true}" style="cursor: pointer;" style="background-color: whitesmoke;">
                            <div style="padding: 20px;">
                                <p><strong>{{item.nombre}}</strong></p>
                                <ng-container *ngIf="item.informacionAdicional">
                                    <div [innerHtml]="item.informacionAdicional"></div>
                                </ng-container>
                                <br>
                                <div class="row">
                                    <div class="col-md-6" style="justify-content: left;display: flex;justify-content: flex-start;">
                                        <ng-container *ngIf="item.modalidadTrabajo!=null">
                                         <p class="borde-p"><strong style="padding:8px 5px">{{item.modalidadTrabajo}}</strong></p>
                                        </ng-container>
                                    </div>
                                    <div class="col-md-6" style="justify-content: right;display: flex;justify-content: flex-end;">
                                        <p style="padding-top:5px"><strong >Fecha Fin: </strong>{{item.fechaFin|date: 'dd/MM/yy'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 borde" style="padding-right: 0px;padding-left: 0px;" >
            <div style="height: 600px !important;max-height: 600px !important;" class="contenedorTra">
                <div style="padding: 20px;" *ngIf="dataTemp!=null">
                    <p><strong>{{dataTemp.nombre}}</strong></p>
                    <div class="row">
                        <div class="col-md-6" style="justify-content: left;display: flex;justify-content: flex-start;min-width: 267px;">
                            <ng-container *ngIf="dataTemp.tipoJornada!=null">
                             <p class="borde-p"style="min-width: 167px !important;"><strong style="padding:8px">Tiempo {{dataTemp.tipoJornada}}</strong></p>
                            </ng-container>
                            <ng-container *ngIf="dataTemp.montoRemBruta!=null && dataTemp.visualizarRem!=null && dataTemp.visualizarRem==true " >
                                <div style="padding-left: 10px;">
                                    <p class="borde-p" style="min-width: 100px !important;"><strong style="padding:8px">{{dataTemp.simboloRemMoneda}} {{dataTemp.montoRemBruta |number : '1.0-2' }}</strong></p>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-md-6" style="justify-content: right;display: flex;justify-content: flex-end;">
                            <p style="padding-top:5px"><strong >Cierre de Oferta: </strong>{{dataTemp.fechaFin|date: 'dd/MM/yy'}}</p>
                        </div>
                    </div>
                    <div style="word-wrap: break-word;">
                        <div [innerHtml]="dataTemp.cuerpoConvocatoria"></div>
                    </div>
                    
                    <br>
                    
                    <div style="justify-content: center;display: flex;" *ngIf="dataTemp.isPostulado==false">
                        <button mat-raised-button style="background-color: #fb9754;color:whitesmoke" (click)="postular()"><strong>Postularme</strong></button>
                    </div>
                    <div style="justify-content: center;display: flex;" *ngIf="dataTemp.isPostulado==true">
                        <button mat-raised-button style="background-color: #fb9754;color:whitesmoke" (click)="redireccionarAMisPostulaciones()"><strong>Ver mis Postulaciones</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
