<!-- holax -->
<div style="background: #f4f4f4">
  <div class="container">
    <div class="row" style="padding: 20px 90px 20px 20px !important">
      <div class="col-12">
        <div class="titleCronograma">Confirmación de Pago</div>
        <div class="titleCronogramaCurso">{{ NombreCursoPago }}</div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="!CargandoOpenPay && resultVisa != undefined">
  <div class="container" >
    <div class="row rowpaddAv" style="justify-content: center">
      <div
        class="col-12 col-md-10 col-lg-8"
        *ngIf="resultVisa.estadoOperacion != 'Processed'"
      >
        <ng-container *ngIf="resultVisa.estadoOperacion == 'Pending'">
          <div>
            <img
              [src]="'../../../assets/icons/iconcharge/' + imgAc"
              alt="Procesando"
              *ngIf="imgAc != ''"
            />
          </div>
          <div class="titleResultPago">
            <div>Procesando pago</div>
          </div>
          <div style="margin-top: 15px; font-size: 15px">
            Te agradecemos por tu paciencia, en este momento estamos procesando
            tu pago
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            [
              'No Process',
              'Declinado',
              'Processed-',
              'ERROR',
              'No Processed',
              'Declined'
            ].includes(resultVisa.estadoOperacion)
          "
        >
          <div class="titleResultPago">
            <img
              style="margin-right: 10px"
              src="../../../assets/icons/denegado-error-rojo.svg"
              alt="Operación denegada"
            />
            <div>Pago Rechazado</div>
          </div>
          <div class="textResultPago" style="text-align: justify">
            <div
              *ngIf="resultVisa.mensajeTransaccion"
              style="text-align: center; color: #e24c4d"
            >
              <p>Hubo un problema al procesar tu pago.</p>
              <p>
                <strong>Descripción:</strong>
                {{ resultVisa.mensajeTransaccion }}
              </p>
            </div>
            <p style="text-align: center">
              Asegúrate de que tu tarjeta tenga saldo suficiente para completar
              tu pago e inténtalo nuevamente.
            </p>
          </div>
          <div class="col-12" style="display: flex; justify-content: center">
            <app-default-button
              [confs]="{ color: 'primary', titulo: 'Ver estado de cuenta' }"
              [style]="'font-size:13px;border-radius:15px'"
              [ruta]="ruta"
            ></app-default-button>
          </div>
        </ng-container>
      </div>
      <div
        class="col-12 col-md-10 col-lg-8"
        *ngIf="resultVisa.estadoOperacion == 'Processed'"
      >
        <div
          class="titleResultPago"
          style="justify-content: center; margin-bottom: 1rem"
        >
          <img
            src="../../../assets/icons/positivo-hecho-20.svg"
            alt=""
            style="height: 2.5rem; width: 2.5rem; margin-right: 10px"
          />
          <div>¡Pago exitoso!</div>
        </div>
        <div class="contentCardPago">
          <div class="cardPago">
            <div class="row" style="align-items: center; padding: 0px 10vw">
              <div class="col-12 col-md-6 col-lg-6"><b>Monto:</b></div>
              <div
                class="col-12 col-md-6 col-lg-6 itemValueCardPago"
                *ngIf="tipoRespuesta == 'AF' && resultOpenPay != undefined"
              >
                {{ resultVisa.monedaCorreo }}
                {{ resultOpenPay.cuotaTotal | formatoMilesDecimales }}
              </div>
              <ng-container
                *ngIf="
                  resultVisa.listaCuota != null &&
                  resultVisa.listaCuota.length > 0
                "
              >
                <div class="col-12 col-md-6 col-lg-6"><b>Concepto:</b></div>
                <div
                  class="col-12 col-md-6 col-lg-6 itemValueCardPago"
                >
                  {{ resultOpenPay.nombre }}
                </div>
              </ng-container>
              <ng-container
                *ngIf="
                  resultVisa.listaCuota == null ||
                  resultVisa.listaCuota.length == 0
                "
              >
                <div class="col-12 col-md-6 col-lg-6"><b>Concepto:</b></div>
                <div class="col-12 col-md-6 col-lg-6 itemValueCardPago">
                  <div>Matrícula</div>
                </div>
              </ng-container>
              <div class="col-12 col-md-6 col-lg-6">
                <b>Código de transacción:</b>
              </div>
              <div class="col-12 col-md-6 col-lg-6 itemValueCardPago">
                {{ resultVisa.codigoHash }}
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <b>Fecha de transacción:</b>
              </div>
              <div class="col-12 col-md-6 col-lg-6 itemValueCardPago">
                {{ resultVisa.fechaTransaccion | date : "dd/MM/yyyy" }}
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <b>Hora de transacción:</b>
              </div>
              <div class="col-12 col-md-6 col-lg-6 itemValueCardPago">
                {{ resultVisa.fechaTransaccion | date : "hh:mm a" }}
              </div>
              <ng-container>
                <div class="col-12 col-md-6 col-lg-6">
                  <b>Pago recurrente:</b>
                </div>
                <div class="col-12 col-md-6 col-lg-6 itemValueCardPago">
                  Activado
                </div>
              </ng-container>
            </div>
          </div>
          <div
            *ngIf="RutaCargada"
            class="row mt-2"
            style="justify-content: center; text-align: center"
          >
            <div class="button-container-Pagos">
              <button
                [routerLink]="ruta"
                class="btn btn-primary m-2 responsive-button-Pagos"
              >
                Ver estado de cuenta
              </button>
              <button
                [routerLink]="rutaCursos"
                class="btn btn-primary m-2 responsive-button-Pagos"
              >
                Ir a mi curso
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="CargandoOpenPay">
  <div
    class="row"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 15rem;
    "
  >
    <div class="col-12" style="display: flex; justify-content: center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col-12">
      ¡No cierres la ventana! Estamos procesando tu pago.
    </div>
  </div>
</ng-container>
