.img-certificado-carrera{

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.card-certificado-carrera{
  cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    border: solid 1px #efefef;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px ;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #efefef;
    font-size: 14px;
    justify-content: center;
    font-weight: 600;
}
