
<div class="table-resposive">
  <table style="width: 100%;">
    <tr>
      <th style="width: 30px;">N°</th>
      <th style="min-width: 200px;">Titulo</th>
      <th style="min-width: 180px;">Fecha Entrega</th>
      <th style="min-width: 180px;">Fecha Publicación</th>
      <th style="width:150px;text-align: center;">Acciones</th>
      <!-- <th style="min-width: 180px;">Metas pronosticadas 2021</th> -->
    </tr>
    <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <tr class="example-custom-placeholder" *cdkDragPlaceholder></tr>
      <tr class="example-box" *ngFor="let item of cuestionarios;let i=index" cdkDrag>
        <td>{{item.orden}}</td>
        <td>{{item.titulo}}</td>
        <td>{{item.fechaEntrega | date:'dd-MM-yyyy hh:mm a'}}</td>
        <td>
          <div *ngIf="item.fechaPublicacion!=null">
            {{item.fechaPublicacion | date:'dd-MM-yyyy hh:mm a'}}
          </div>
          <div *ngIf="item.fechaPublicacion==null">
            Sin Publicar
          </div>
        </td>
        <td>
          <div class="accionesTema">
            <div class="edidtarNaranja" (click)="OnEdit.emit(i)"></div>
            <div class="eliminarNaranja" (click)="OnDelete.emit(i)"></div>
            <div *ngIf="item.fechaPublicacion==null" class="verSinPublicar" (click)="PublicarTarea(item.id)"></div>
            <div *ngIf="item.fechaPublicacion!=null" class="verPublicado"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
