.TipoAyuda{
  margin-top: 40px;
  background-color: #F4F4F4;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.ImgAyudaContent{
  height: 30px !important;
}
.AyudaContent{
  text-align: left;
  border-radius: 2px;
  font-weight: bold;

}
