.foroTitle{
  color: #033DAB;
  font-weight: bold;
  font-size: 18px;
  font-weight: 600;
}
.foroTitleComentario{
  border-bottom: 1px solid #cacaca;
  font-size: 17px;
  margin: 40px 0px;
  text-align: right;

}
.foroTitleRespuesta{
  border-bottom: 1px solid #cacaca;
  font-size: 17px;
  margin: 40px 0px;
}

