<mat-toolbar color="primary">
  <img src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg" alt="" width="160px">

  <div class="div-icon">
    <mat-icon (click)="OnClick.emit()">menu</mat-icon>
  </div>
  <div class="row space-bet">
    <nav>
      <div class="nav-buttons">
        <app-button [Url]="''" [tipo]="2">
          <ng-container contenidoTag>
            Inicio
          </ng-container>
        </app-button>
        <ng-container *ngFor="let item of expandibles">
          <app-button *ngIf="item.estatus" [dataUrl]="item.data" [tipo]="3">
            <ng-container contenidodata>
              {{item.Nombre}}
            </ng-container>
          </app-button>
        </ng-container>

        <app-button [Url]="''" [tipo]="2">
          <ng-container contenidoTag>
            BS Campus
          </ng-container>
        </app-button>
      </div>
      <div class="botones_login">

        <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso" (Cambio)="ChangePais($event)"></app-select>

        <app-button [Url]="'/AulaVirtual/Cuenta'" [tipo]="4" [color]="'white'" [background]="'#FCA534'"
          [border]="'solid 1px #895800'">
          <ng-container contenidoButton>
            Ingresar
          </ng-container>
        </app-button>
        <app-button [Url]="''" [tipo]="4" [color]="'white'" [background]="'transparent'" [border]="'solid 1px white'">
          <ng-container contenidoButton>
            registrate
          </ng-container>
        </app-button>

      </div>
    </nav>
    <!-- <div class="navContainer">
            <div class="col-2">
            </div>
          </div> -->
  </div>
</mat-toolbar>
