<mat-toolbar color="primary">
  <img src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg" alt=""  [routerLink]="'/'" style="cursor: pointer;" width="160px">

  <div class="div-icon">
    <mat-icon (click)="OnClick.emit()">menu</mat-icon>
  </div>
  <div class="row space-bet">
    <nav>
      <div class="nav-buttons">
        <app-button [Url]="''" [tipo]="2">
          <ng-container contenidoTag>
            Inicio
          </ng-container>
        </app-button>
        <ng-container *ngFor="let item of expandibles">
          <app-button *ngIf="item.estatus" [dataUrl]="item.data" [tipo]="3">
            <ng-container contenidodata>
              {{item.Nombre}}
            </ng-container>
          </app-button>
        </ng-container>

        <app-button [Url]="'/bs-campus'" [tipo]="2">
          <ng-container contenidoTag>
            BS Campus
          </ng-container>
        </app-button>
      </div>
      <div class="botones_login">

        <div *ngIf="token" style="    flex-direction: column; display: flex;justify-content: end;align-items: end;">
          <app-alumno-mat-button [nombres]="Alumno.nombres+' '+Alumno.apellidos" [user]="Alumno.email">
            <ng-container contenidodata>
              <img [src]="urlAvatar" style="width: auto;height: 25px;margin-right: 10px; margin-top: -5px;" alt="">
              <div>{{Alumno.nombres}}</div>
            </ng-container>
          </app-alumno-mat-button>
        </div>
        <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso"  (Cambio)="ChangePais($event)" [token]="token" *ngIf="!token"></app-select>

        <app-button [Url]="'/login'" [tipo]="4" [color]="'white'" [background]="'#FCA534'"
          [border]="'solid 1px #895800'" *ngIf="!token">
          <ng-container contenidoButton>
            Ingresar
          </ng-container>
        </app-button>

      </div>
    </nav>
    <div class="subnav">
      <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso"  (Cambio)="ChangePais($event)" [token]="token" *ngIf="token"></app-select>
    </div>
    <!-- <div class="navContainer">
            <div class="col-2">
            </div>
          </div> -->
  </div>
</mat-toolbar>
