<div class="contentChat" >
  <div class="headerChatAula" *ngIf="nombreasesorglobal!=''">
    <div class="imgAsesor">
      <img [src]="'https://proceso-pago.bsginstitute.com/img-web/chatV2/'+nombreAsesorSplit[0]+'-'+nombreAsesorSplit[1]+'.png'" alt="">
      <div class="nombreAsesor">
        <ng-container *ngIf="estadoLogueo=='false'">
          Chatea en linea con {{nombreAsesorSplit[0]}} {{nombreAsesorSplit[1]}}
        </ng-container>
        <ng-container *ngIf="estadoLogueo!='false'">
          <div class="textoAsesor" *ngIf="estadoLogueo!='false'">Soy {{nombreAsesorSplit[0]}} , {{mensajeStateAsesor}}</div>
        </ng-container>
      </div>
      <div class="stateAsesor" [ngClass]="{'OnConected': stateAsesor==true}">

      </div>
    </div>
  </div>
  <ng-container *ngIf="estadoLogueo=='false';else login">
    <app-form-chat (SaveForm)="actualizarDatosAlumno($event)" [IdPGeneral]="idProgramageneral" [IdPespecificoPrograma]="IdPespecificoPrograma"></app-form-chat>
  </ng-container>

  <ng-template #login>
    <ng-container *ngIf="stateAsesor">
      <div #contenidoMsj class="contentChatMsj" (click)="marcarChatAgentecomoleido()">
        <div class="mensajeDefecto">Chat iniciado</div>
        <div class="mensajeDefecto">{{nombreAsesorSplit[0]}} {{nombreAsesorSplit[1]}} se unió al Chat</div>

        <ng-container *ngFor="let item of mensajesAnteriore;let i = index">
            <div  [ngClass]="{'visitanteMsj': item.IdRemitente=='visitante','asesorMsj':item.IdRemitente=='asesor'}">
              <div class="cntnmsj">
                <div class="remitente">{{item.NombreRemitente.split(' ')[0]}}</div>
                <div class="msj" [innerHtml]="item.Mensaje | safeHtml"></div>
                <ng-container *ngIf="item.IdRemitente=='visitante'">
                  <ng-container  *ngIf="(mensajesAnteriore.length-i)>=NroMensajesSinLeer">
                    <div class="statemsjleido">
                      <i class="material-icons" style="right: 4px;
                      z-index: 3;">check</i>
                      <i class="material-icons" style="right: 1px;
                      z-index: 4;">check</i>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="(mensajesAnteriore.length-i)<NroMensajesSinLeer">
                    <div class="statemsjnoleido">
                      <i class="material-icons" style="right: 4px;
                      z-index: 3;">check</i>
                      <i class="material-icons" style="right: 1px;
                      z-index: 4;">check</i>
                    </div>
                  </ng-container>
                </ng-container>

              </div>
            </div>
        </ng-container>

      </div>
      <div class="footerChatAula" (click)="marcarChatAgentecomoleido()">
        <input class="chat-box-textinput" [ngClass]="{'inputActive':inputActive}" (keyup.enter)="enviarmsj()" (focus)="inputActive=true"
          (focusout)="inputActive=false" placeholder="Escribe tu mensaje aquí " [(ngModel)]="chatBox">
          <i class="material-icons" (click)="enviarmsj()">send</i>
          <i class="material-icons addfile" (click)="fileInput.click()">attach_file</i>
        <input  #fileInput type="file" style="display:none;" accept="image/png, image/gif, image/jpeg" (change)="AgregarArchivoChatSoporte($event)">
      </div>
    </ng-container>
    <ng-container *ngIf="!stateAsesor">
      <ng-container *ngIf="msjEnviado!=''">
        <div style="padding: 20px;">
          {{msjEnviado}}
        </div>
      </ng-container>
      <ng-container *ngIf="msjEnviado==''">
        <textarea placeholder="Tu Mensaje" [(ngModel)]="chatBox" cols="30" rows="4" style="    width: 90%;
        margin: 5%;padding: 10px;" (keyup.enter)="enviarmsj()"></textarea>
        <div style="    width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;">
          <app-default-button  (click)="crearChatOffline()" [confs]="{color:'primary',titulo:'Enviar'}" [style]="'padding:0px 30px;margin:0px '"
          ></app-default-button>
        </div>
      </ng-container>

    </ng-container>
  </ng-template>
</div>
