.tabVerticalses {
  flex-direction: row !important;
}
.tabVerticalses .mat-tab-header {
  border-bottom: none !important;
  margin-top: 50px;
}
.tabVerticalses .mat-tab-header .mat-tab-header-pagination {
  display: none !important;
}
.tabVerticalses .mat-tab-header .mat-tab-label-container {
  border-right: 2px solid #d2d2d2;
  overflow: overlay;
  max-height: 500px;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
  flex-direction: column !important;
  opacity: 1;
  max-width: 180px;
  //border-right: 2px solid #d2d2d2;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label {
  justify-content: flex-start;
  opacity: 1 !important;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0px !important;
  height: auto !important;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label:hover {
  background: #f4f4f4;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content {
  width: 100%;
}

.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-ink-bar {
  height: 100%;
  left: 98% !important;
  display: none;
}
.tabVerticalses .mat-tab-body-wrapper {
  flex: 1 1 auto !important;
}
.tabVerticalses .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
  overflow: hidden;
}
.tabVerticalses
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active {
    background: rgb(242 246 254);
  box-shadow: inset 5px 0px 0 rgb(51 144 255);
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels {
  flex-direction: column !important;
  opacity: 1;
  max-width: 290px;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label {
  justify-content: flex-start;
  opacity: 1 !important;
  margin-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  min-width: 0px;
}
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content{
    width: 100%;
  }
.tabVerticalses
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label
  .mat-tab-label-content
  .contentHeaderM {
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 10px 10px;
  flex-wrap: wrap;
  cursor: pointer;
  .titleMatr {
    color: #616161;
    word-break: break-word;
    white-space: normal;
    width: calc( 100% - 65px);
    text-align: left;
    margin-left: 10px;
  }

  .iconMat {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: center;
  }

  .iconVideoFinal {
    background-image: url("../../../assets/icons/positivo-hecho-20.svg");
  }
  .iconVideo {
    background-image: url("../../../assets/icons/videos-29.svg");
  }

  .iconcapitulo {
    background-image: url("../../../assets/icons/sesiones-gris-43.svg");
  }

  .iconencuesta {
    background-image: url("../../../assets/icons/sesiones-gris-43.svg");
  }

  .iconsesion {
    background-image: url("../../../assets/icons/sesiones-gris-43.svg");
  }

  .icontarea {
    background-image: url("../../../assets/icons/sesiones-gris-43.svg");
  }

  .icontareacalificar {
    background-image: url("../../../assets/icons/sesiones-gris-43.svg");
  }
}
.tabVerticalses
  mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label-active
  .mat-tab-label-content
  .contentHeaderM {
  color: #0684f3 !important;
  font-weight: 600;
  text-decoration: auto;

  .titleMatr {
    color: #0684f3 !important;
    text-decoration: underline;
  }
  .iconcapitulo {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .iconencuesta {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .iconsesion {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .icontarea {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .icontareacalificar {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

}
.ActiveChil {
  color: #0684f3 !important;
  font-weight: 600;

  .titleMatr{
    color: #0684f3 !important;
    text-decoration: underline;
  }
  .iconcapitulo {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .iconencuesta {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .iconsesion {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .icontarea {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }

  .icontareacalificar {
    background-image: url("../../../assets/icons/sesiones-azul-43.svg") !important;
  }
}
.estructuraSubCapitulos{
  padding-left: 20px !important;
  img{
    width: 15px;
    margin-right: 5px;
    margin-top: 5px;
  }
}
.estructuraSubSesiones{
  padding-left: 20px !important;
  img{
    width: 15px;
    margin-right: 5px;
    margin-top: 5px;
  }
}
.hidetab{
  height: 0px;
  padding: 0px !important;
  margin: 0px;
}
.tipoIndicacionTitle {
  display: flex;
  justify-content: flex-start;
  background: #f2f6ff;
  padding: 5px 10px;
}
.tipoIndicacionTitle img {
  width: 20px;
  margin-right: 20px;
}
.tipoIndicacionTitle div {
  font-size: 18px;
  color: #505050;
}

.cursoTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
