<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="border-top: solid 3px #f4f4f4"></div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12" style="position: relative;">
      <ng-container *ngIf="estructuraCapitulo!=undefined">
        <div class="openClose2" [ngClass]="{'reverse2':!hide}" (click)="hide=!hide">
        <!-- [ngStyle]="{'width':estructuraCapitulo.contineSubSesion==false?'52px':'62px'}"> -->
          <i class="material-icons">layers</i>
        </div>
      </ng-container>
      <mat-tab-group class="tabVerticalses" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <ng-container *ngIf="estructuraCapitulo!=undefined">

          <ng-container *ngFor="let item of estructuraCapitulo.registroEstructuraCursoCapitulo;let i=index">

            <mat-tab disabled>
              <ng-template mat-tab-label>
                <div  class="contentHeaderM" [ngClass]="{'ActiveChil':item.opened==true}" (click)="changeCapitulo(i)">
                  <div class="iconMat"
                  [matTooltip]="'Capitulo '+item.numeroCapitulo+': '+item.nombreCapitulo"
                  matTooltipPosition="after"><i class="material-icons">collections_bookmark</i></div>
                  <ng-container *ngIf="!hide">
                    <div class="titleMatr" style="font-weight: bold;">Capitulo {{item.numeroCapitulo}}: {{item.nombreCapitulo}}</div>
                    <i *ngIf="item.opened==true" class="material-icons">keyboard_arrow_up</i>
                    <i *ngIf="item.opened==false" class="material-icons">keyboard_arrow_down</i>
                  </ng-container>

                </div>
              </ng-template>
              <div class="pad-resp">
                <ng-template matTabContent>
                </ng-template>
              </div>
            </mat-tab>

            <!-- encuesta incial -->
            <ng-container
              *ngIf="item.registroEstructuraCursoEncuesta!=undefined && item.registroEstructuraCursoEncuesta!=null">
              <ng-container *ngFor="let Encuesta of item.registroEstructuraCursoEncuesta;let e=index">
                <ng-container *ngIf="Encuesta.tipoExamen=='Encuesta' && Encuesta.nombreEncuesta=='Encuesta Inicial'">

                  <mat-tab >
                    <ng-template mat-tab-label>
                      <div  class="contentHeaderM estructuraSubCapitulos" (click)="changeTab(3,0,i,e,0)" [ngClass]="{'hidetab':item.opened==false}">

                        <div class="iconMat"
                        [matTooltip]="Encuesta.nombreEncuesta"
                        matTooltipPosition="after"><i class="material-icons">sentiment_satisfied_alt</i></div>
                        <div class="titleMatr" *ngIf="!hide">{{Encuesta.nombreEncuesta}}</div>
                      </div>
                    </ng-template>
                    <div class="pad-resp">
                        <app-sesion-encuesta [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo" [idEncuesta]="Encuesta.idEncuesta"
                        [charge]="Encuesta.charge" [habilitado]="true"
                        (next)="siguiente(3,i,e,-1)" (prev)="anterior(3,i,e,-1)"></app-sesion-encuesta>
                    </div>
                  </mat-tab>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- sesiones y subsesiones -->


            <!--sin subsesion-->
            <ng-container *ngIf="estructuraCapitulo.contineSubSesion==false">
              <ng-container *ngFor="let sesion of item.registroEstructuraCursoSesion;let s=index">
                <mat-tab [disabled]="!sesion.habilitado">
                  <ng-template mat-tab-label>
                    <div (click)="changeTab(1,sesion.numeroSesion,i,s,-1)" class="contentHeaderM estructuraSubCapitulos"
                      [ngClass]="{'hidetab':item.opened==false}">
                      <div *ngIf="sesion.VideoFinish==true" class="iconMat iconVideoFinal"
                      [matTooltip]="sesion.nombreSesion"
                      matTooltipPosition="after"></div>
                      <div *ngIf="sesion.VideoFinish!=true" class="iconMat iconVideo"
                      [matTooltip]="sesion.nombreSesion"
                      matTooltipPosition="after"></div>
                      <div *ngIf="!hide" class="titleMatr">{{sesion.nombreSesion}}</div>

                      <div *ngIf="!hide"
                        style="width: 100%;font-size: 10px;color: #cdcdcd;display: flex;    align-items: flex-end;margin-top: 5px;   padding-left: 15px;">
                        <i class="material-icons" style="margin-right:5px ;">access_time</i>
                        <div style="font-size: 12px;">({{sesion.tiempoVideo/60 | number:'0.0-0'}} minutos)</div>
                      </div>
                    </div>
                  </ng-template>
                  <div class="pad-resp">

                      <app-sesion-video [OrdenSeccion]="sesion.ordenSeccion" [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo"
                        [charge]="sesion.charge" [idSesion]="sesion.numeroSesion" [nombreSesion]="sesion.nombreSesion"
                        [habilitado]="sesion.habilitado" [nextChapter]="sesion.nextChapter"
                        (next)="siguiente(1,i,s,-1)" (prev)="anterior(1,i,s,-1)"></app-sesion-video>
                  </div>
                </mat-tab>
              </ng-container>
            </ng-container>
            <!--con subsesion-->
            <ng-container *ngIf="estructuraCapitulo.contineSubSesion==true">
              <ng-container *ngFor="let sesion of item.registroEstructuraCursoSesion;let s=index">
                <mat-tab disabled>
                  <ng-template mat-tab-label>
                    <div  class="contentHeaderM estructuraSubCapitulos" (click)="changeSesion(i,s)"
                      [ngClass]="{'ActiveChil':sesion.opened==true,'hidetab':item.opened==false}">
                      <div class="iconMat"
                      [matTooltip]="'Sesión '+sesion.numeroSesion+': '+sesion.nombreSesion"
                      matTooltipPosition="after"><i class="material-icons">filter_none</i></div>
                      <ng-container *ngIf="!hide">
                        <div class="titleMatr">Sesión {{sesion.numeroSesion}}: {{sesion.nombreSesion}}</div>
                        <i *ngIf="sesion.opened==true" class="material-icons">keyboard_arrow_up</i>
                        <i *ngIf="sesion.opened==false" class="material-icons">keyboard_arrow_down</i>
                      </ng-container>
                    </div>
                  </ng-template>
                </mat-tab>
                <ng-container *ngFor="let subsesion of sesion.registroEstructuraCursoSubSesion;let ss=index">
                  <mat-tab [disabled]="!subsesion.habilitado">
                    <ng-template mat-tab-label>
                      <div (click)="changeTab(1,subsesion.numeroSubSesion,i,s,ss)" class="contentHeaderM estructuraSubSesiones"
                        [ngClass]="{'hidetab':item.opened==false || sesion.opened==false}">
                        <div *ngIf="subsesion.VideoFinish==true" class="iconMat iconVideoFinal"
                        [matTooltip]="subsesion.nombreSubSesion"
                        matTooltipPosition="after"></div>
                        <div *ngIf="subsesion.VideoFinish!=true" class="iconMat iconVideo"
                        [matTooltip]="subsesion.nombreSubSesion"
                        matTooltipPosition="after"></div>
                        <div *ngIf="!hide" class="titleMatr">{{subsesion.nombreSubSesion}}</div>

                        <div *ngIf="!hide"
                          style="width: 100%;font-size: 10px;color: #cdcdcd;display: flex;    align-items: flex-end;margin-top: 5px; padding-left: 20px;">
                          <i class="material-icons" style="margin-right:5px ;">access_time</i>
                          <div style="font-size: 12px;">({{subsesion.tiempoVideo/60 | number:'0.0-0'}} minutos)</div>
                        </div>
                      </div>
                    </ng-template>
                    <div class="pad-resp">

                      <app-sesion-video [OrdenSeccion]="subsesion.ordenSeccion" [json]="json" [idCapitulo]="item.numeroCapitulo" [charge]="subsesion.charge"
                        [idSesion]="subsesion.numeroSubSesion" [NombreCapitulo]="item.nombreCapitulo" [nombreSesion]="subsesion.nombreSubSesion"
                        [habilitado]="subsesion.habilitado" [nextChapter]="subsesion.nextChapter"
                        (next)="siguiente(1,i,s,ss)" (prev)="anterior(1,i,s,ss)"></app-sesion-video>
                    </div>
                  </mat-tab>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- tareas -->
            <ng-container
              *ngIf="item.registroEstructuraCursoTarea!=undefined && item.registroEstructuraCursoTarea!=null">
              <ng-container *ngFor="let tarea of item.registroEstructuraCursoTarea;let t=index">

                <mat-tab [disabled]="!tarea.habilitado">
                  <ng-template mat-tab-label>
                    <div  class="contentHeaderM estructuraSubCapitulos" (click)="changeTab(2,0,i,t,0)" [ngClass]="{'hidetab':item.opened==false}">
                      <div class="iconMat"
                      [matTooltip]="tarea.tarea"
                      matTooltipPosition="after"><i class="material-icons">edit_note</i></div>
                      <div *ngIf="!hide" class="titleMatr">{{tarea.tarea}}</div>
                    </div>
                  </ng-template>
                  <div class="pad-resp">
                      <app-sesion-tarea [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo" [idtarea]="tarea.idTarea"
                      [charge]="tarea.charge" [habilitado]="tarea.habilitado"
                      (next)="siguiente(2,i,t,-1)" (prev)="anterior(2,i,t,-1)"></app-sesion-tarea>
                  </div>
                </mat-tab>
              </ng-container>
            </ng-container>

            <!-- tareas calificar-->
            <ng-container
              *ngIf="item.registroCursoTareaCalificar!=undefined && item.registroCursoTareaCalificar!=null">
              <ng-container *ngFor="let tareaC of item.registroCursoTareaCalificar;let t=index">

                <mat-tab [disabled]="!tareaC.habilitado">
                  <ng-template mat-tab-label>
                    <div class="contentHeaderM estructuraSubCapitulos" (click)="changeTab(4,0,i,t,0)" [ngClass]="{'hidetab':item.opened==false}">

                      <div class="iconMat"
                      [matTooltip]="tareaC.tarea"
                      matTooltipPosition="after"><i class="material-icons">fact_check</i></div>
                      <div *ngIf="!hide" class="titleMatr">Actividad: Calificar {{tareaC.tarea}}</div>
                    </div>
                  </ng-template>
                  <div class="pad-resp">
                      <app-sesion-tarea-calificar [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo" [idtarea]="tareaC.idEvaluacion"
                      [charge]="tareaC.charge" [id]="tareaC.id" [habilitado]="tareaC.habilitado"
                      (next)="siguiente(4,i,t,-1)" (prev)="anterior(4,i,t,-1)"></app-sesion-tarea-calificar>
                  </div>
                </mat-tab>
              </ng-container>
            </ng-container>
            <!-- encuestas finales -->
            <ng-container
              *ngIf="item.registroEstructuraCursoEncuesta!=undefined && item.registroEstructuraCursoEncuesta!=null">
              <ng-container *ngFor="let Encuesta of item.registroEstructuraCursoEncuesta;let e=index">
                <ng-container *ngIf="Encuesta.tipoExamen=='Encuesta' && Encuesta.nombreEncuesta=='Encuesta Intermedia'">

                  <mat-tab [disabled]="!Encuesta.habilitado">
                    <ng-template mat-tab-label>
                      <div  class="contentHeaderM estructuraSubCapitulos" (click)="changeTab(3,0,i,e,0)" [ngClass]="{'hidetab':item.opened==false}">

                        <div class="iconMat"
                        [matTooltip]="Encuesta.nombreEncuesta"
                        matTooltipPosition="after"><i class="material-icons">sentiment_satisfied_alt</i></div>
                        <div *ngIf="!hide" class="titleMatr">{{Encuesta.nombreEncuesta}}</div>
                      </div>
                    </ng-template>
                    <div class="pad-resp">

                        <app-sesion-encuesta [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo" [idEncuesta]="Encuesta.idEncuesta"
                        [charge]="Encuesta.charge" [habilitado]="Encuesta.habilitado"
                        (next)="siguiente(3,i,e,-1)"  (prev)="anterior(3,i,e,-1)"></app-sesion-encuesta>
                    </div>
                  </mat-tab>
                </ng-container>
                <ng-container *ngIf="Encuesta.tipoExamen=='Encuesta' && Encuesta.nombreEncuesta=='Encuesta Final'">

                  <mat-tab [disabled]="!Encuesta.habilitado">
                    <ng-template mat-tab-label>
                      <div  class="contentHeaderM estructuraSubCapitulos" (click)="changeTab(3,0,i,e,0)" [ngClass]="{'hidetab':item.opened==false}">

                        <div class="iconMat"
                        [matTooltip]="Encuesta.nombreEncuesta"
                        matTooltipPosition="after"><i class="material-icons">sentiment_satisfied_alt</i></div>
                        <div *ngIf="!hide" class="titleMatr">{{Encuesta.nombreEncuesta}}</div>
                      </div>
                    </ng-template>
                    <div class="pad-resp">

                        <app-sesion-encuesta [json]="json" [idCapitulo]="item.numeroCapitulo" [NombreCapitulo]="item.nombreCapitulo" [idEncuesta]="Encuesta.idEncuesta"
                        [charge]="Encuesta.charge" [habilitado]="Encuesta.habilitado"
                        (next)="siguiente(3,i,e,-1)" (prev)="anterior(3,i,e,-1)"></app-sesion-encuesta>
                    </div>
                  </mat-tab>
                </ng-container>

              </ng-container>
            </ng-container>

          </ng-container>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</div>
