<div class="container">
  <div class="row">
    <div class="col-12 row">
      <div class="col-12 col-md-12 col-lg-12 titlePagoTarjeta">Confirma tu compra</div>
      <div class="col-12 col-md-12 col-lg-12 inputPagoVisa">
        <div class="subtitlePagoVisa">Pago realizado por</div>
        <ng-container *ngIf="resultVisa!=undefined">
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>Nombres</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.registroAlumno.nombre" disabled matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>Apellidos</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.registroAlumno.apellido" disabled matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="disabledInput" [floatLabel]="'always'" style="width: 100%;">
            <mat-label>E-mail</mat-label>
            <input type="text" style="color: #878787;" [value]="resultVisa.registroAlumno.correo" disabled matInput />
          </mat-form-field>
          <ng-container *ngIf="jsonSave.Comprobante!=false">
            <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Razón Social</mat-label>
              <input type="text" [(ngModel)]="jsonSave.RazonSocial" placeholder="Razón Social" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
              <mat-label>Número Tributario</mat-label>
              <input type="text" [(ngModel)]="jsonSave.CodigoTributario" placeholder="Número Tributario" matInput />
            </mat-form-field>
          </ng-container>
        </ng-container>
        <form ngNoForm id="wompi" style="text-align: center;margin-top: 30px;" (click)="closeModal()">
        </form>
        <div id="pagoviss"></div>
        <div style="    width: 100%;
        font-size: 12px;
        color: #b2b2b2;
        padding: 20px;">
          * El monto a cargar sera el cual se detalla arriba en la moneda del programa, el tipo de cambio dependerá del banco que usted utilice.
        </div>
      </div>
    </div>
  </div>
</div>
