
<div class="container" *ngIf="resultProceso!=undefined">
    <div class="row rowpaddAv" style="justify-content: center;">
      <div class="col-12 col-md-10 col-lg-8" *ngIf="resultProceso.estadoOperacion!='Processed'">
        <ng-container >
          <div class="titleResultPago">
            <img style="margin-right: 10px;" src="../../../assets/icons/denegado-error-rojo.svg" alt="">
            <div *ngIf="tipoRespuesta!='AF'">No se realizó el pago</div>
            <div *ngIf="tipoRespuesta=='AF'">No se realizó la afiliación</div>
          </div>
          <div class="textResultPago">
            <ng-container *ngIf="tipoRespuesta!='AF'">
              No hemos podido procesar su pago, debido a un error con su entidad bancaria o al rechazo de la compra.
            </ng-container>
            <ng-container *ngIf="tipoRespuesta=='AF'">
              No hemos podido procesar su afiliación, debido a un error con su entidad bancaria o al rechazo de la compra.
            </ng-container>
            <div class="textC">Si tiene alguna consulta adicional, escriba un correo a: <a
                href="mailto:matriculas@bsginstitute.com">matriculas@bsginstitute.com</a></div>
          </div>
        </ng-container>
         <ng-container *ngIf="resultProceso.tipoPago=='Organico'">
            <app-default-button [confs]="{color:'primary',titulo:'Volver'}" [style]="'margin-top:40px;padding: 0px 40px;'"
                [ruta]="" ></app-default-button>
          </ng-container>
           <ng-container *ngIf="resultProceso.tipoPago=='Cronograma'">
            <div class="col-12 col-md-10 col-lg-10">
                <app-default-button [confs]="{color:'primary',titulo:'Volver'}" [style]="'margin-top:40px;padding: 0px 40px;'"
                [ruta]="ruta"></app-default-button>
              </div>
           </ng-container>

      </div>
      <div class="col-12 col-md-12 col-lg-12" *ngIf="resultProceso.estadoOperacion=='Processed'">
        <div class="titleResultPago" style="justify-content: center;margin-bottom: 1rem;">
          <img src="../../../assets/icons/positivo-hecho-20.svg" alt="" style="height: 2.5rem;width: 2.5rem;margin-right:10px;">
          <div>¡Pago exitoso!</div>
        </div>
        <div class="SubTitulo" *ngIf="resultProceso.tipoPago=='Organico'"
        style="margin-top: 5px;font-size: 14px;justify-content: center;display: flex;">
          {{resultProceso.datoAlumno.nombre}}, tu compra ha sido realizada con exito.
        </div>
        <div class="SubTitulo" *ngIf="resultProceso.tipoPago=='Cronograma' && tipoRespuesta!='AF'"
        style="margin-top: 5px;font-size: 14px;justify-content: center;display: flex;">
          {{resultProceso.registroAlumno.nombre}}, tu compra ha sido realizada con exito.
        </div>
        <div class="SubTitulo"  *ngIf="resultProceso.tipoPago=='Cronograma' && tipoRespuesta=='AF'"
        style="margin-top: 5px;font-size: 14px;justify-content: center;display: flex;">
          {{resultProceso.registroAlumno.nombre}}, tu pago y afiliación a pagos recurrentes se ha realizado con éxito.
        </div>
        <div class="contentCardPago">
          <div class="row" style="justify-content: center; display: flex;">
            <div style="width: 60vw;">
              <div style="margin: 20px 0px;">Detalle de tu pago:</div>
            </div>
          </div>
          <div class="row" style="justify-content: center; display: flex;">
            <div class="cardPago">
              <div class="row" style="align-items: center; padding: 0px 5vw" *ngIf="resultProceso.tipoPago=='Organico'">
                <div class="col-12 col-md-5 col-lg-4"><b>Nro. de Compra:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.identificadorTransaccion}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Monto:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.montoTotal}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Moneda:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.monedaCorreo}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Nombres y Apellidos:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.datoAlumno.nombre}}
                    {{resultProceso.datoAlumno.apellido}}</div>
                <ng-container *ngIf="resultProceso.nombrePrograma!=null">
                  <div class="col-12 col-md-5 col-lg-4"><b>Programa:</b></div>
                  <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.nombrePrograma}}</div>
                </ng-container>
                <div class="col-12 col-md-5 col-lg-4"><b>Fecha de transacción:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.fechaTransaccion | date:'dd-MM-yyyy'}}
                </div>
                <div class="col-12 col-md-5 col-lg-4"><b>Hora de transacción:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.fechaTransaccion | date:'hh:mm'}}</div>
              </div>
              <div class="row" style="align-items: center;padding: 0px 5vw" *ngIf="resultProceso.tipoPago=='Cronograma'">
                  <div class="col-12 col-md-5 col-lg-4"><b>Nro. de Compra:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.identificadorTransaccion}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Monto:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.montoTotal}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Moneda:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.monedaCorreo}}</div>
                <div class="col-12 col-md-5 col-lg-4"><b>Nombres y Apellidos:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.registroAlumno.nombre}}
                    {{resultProceso.registroAlumno.apellido}}</div>
                <ng-container *ngIf="resultProceso.nombrePrograma!=null">
                  <div class="col-12 col-md-5 col-lg-4"><b>Programa:</b></div>
                  <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.nombrePrograma}}</div>
                </ng-container>
                <ng-container *ngIf="resultProceso.listaCuota!=null && resultProceso.listaCuota.length>0">
                  <div class="col-12 col-md-5 col-lg-4"><b>Razón:</b></div>
                  <div class="col-12 col-md-7 col-lg-8 itemValueCardPago" *ngIf="tipoRespuesta!='AF'">
                    <div *ngFor="let item of resultProceso.listaCuota">
                      {{item.nombre}}
                    </div>
                  </div>
                  <div class="col-12 col-md-7 col-lg-8 itemValueCardPago" *ngIf="tipoRespuesta=='AF'">
                    <div *ngFor="let item of resultProceso.listaCuota ; index as i" >
                      <ng-container *ngIf="i==0">
                        {{item.nombre}}
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <div class="col-12 col-md-5 col-lg-4"><b>Fecha de transacción:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.fechaTransaccion | date:'dd-MM-yyyy'}}
                </div>
                <div class="col-12 col-md-5 col-lg-4"><b>Hora de transacción:</b></div>
                <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">{{resultProceso.fechaTransaccion | date:'hh:mm'}}</div>
                <ng-container *ngIf="tipoRespuesta=='AF'">
                  <div class="col-12 col-md-5 col-lg-4"><b>Pago recurrente:</b></div>
                  <div class="col-12 col-md-7 col-lg-8 itemValueCardPago">Activado</div>
                </ng-container>
            </div>
            </div>
          </div>
        </div>

        <div *ngIf="RutaCargada!=false" class="row mt-2" style="justify-content: center;text-align: center;">
          <div class="button-container-Pagos">
            <button [routerLink]="ruta" class="btn btn-primary m-2 responsive-button-Pagos">
              Ver estado de cuenta
            </button>

            <button  [routerLink]="rutaCursos" class="btn btn-primary m-2 responsive-button-Pagos">
              Ir a mi curso
            </button>
          </div>
        </div>
    </div>
  </div>
</div>




