
.flagcardExamenCarrera {
  display: flex;
  align-items: center;
  .textoFlag {
    width: fit-content;
    background: rgb(255, 207, 0);
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
  }
  #player {
    position: relative;
    width: 22px;
    height: 22px;
  }

  #inner {
    transform: rotate(45deg);
    background-color: #ffcf00;
    width: 22px;
    height: 22px;
    left: -7px;
    position: relative;
    border-radius: 2px;
  }

  #outer {
    position: absolute;
    width: 22px;
    height: 22px;
    overflow: hidden;
  }
  .trianglearrow {
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #ffcf00;
  }
}

.TimePrevCuestionario{
  display: flex;
  color: #f8893f;
  font-size: 25px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  .imgTimePrev{
    background-image: url(../../../assets/icons/icono-cronometro-naranja.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    margin-right: 10px;
  }
  .MinutosTiempo{
    color: black;
    margin: 0px 5px;
    font-size: 35px;
  }
}
.TimeCronometer{
  padding: 0px 10px;
  background: white;
  border-radius: 7px;
  top: 0px;
  right: -130px;
  z-index: 1000;
  width: 180px;
}
.cardExamenCarrera{
  align-items: center;
    background: #bef4ff;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.contentcardExamenCarrera{
  margin-bottom:20px;
}
.titlecardExamenCarrera{
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}
.textcardExamenCarrera{
  font-size: 14px;
}
.CardPreguntas{
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #d6d6d6;
}
.headerCardPreguntas{
  padding: 15px 20px;
  background: #f2f2f2;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;
}
.contentCardPreguntas{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.boxPregunta{
  width: calc( 10% - 10px );
  margin: 5px;
  border: solid 1px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.preguntaSeleccionada{
  border-color: #158bf2;
  color: #158bf2;
}
.preguntarespondida{
  background: #158bf2;
    border-color: #158bf2;
    color: white;
}
.PreguntasExamenCarrera{
  margin-top: 40px;
}
.pregunta{
  .titulopregunta{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  .puintosPregunta{
    display: flex;
    min-width: 90px;
    padding: 7px 5px;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    height: fit-content;
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
  }
  .subtitulopregunta{
    font-size: 13px;
    margin: 10px 0px;
  }
  .Alternativas{
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    font-size: 13px;
    .icono{
      font-size: 13px !important;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

.buttonsEnvioCarreraDatos{
  margin: 50px;
    display: flex;
    justify-content: space-evenly;
}
.radioFormRpta{
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 18px;
}
.InputsExamenSuficiencia {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.InputsExamenSuficiencia
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix {
  padding: 0.4em 0px;
}
.InputsExamenSuficiencia .titlePerfil {
  border-bottom: 1px solid #cacaca;
  font-size: 25px;
  margin: 40px 0px;
}
.InputsExamenSuficiencia
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  input {
  height: 20px;
}
.InputsExamenSuficiencia
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper {
  top: -1.5em;
}
.InputsExamenSuficiencia
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper{
    padding: 0px;
}
.InputsExamenSuficiencia
  > .mat-focused
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper
  .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}
.InputsExamenSuficiencia
  > .mat-form-field-should-float
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper
  .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}
.InputsExamenSuficiencia.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
.InputsExamenSuficiencia.mat-input-underline {
  background-color: #ff0000; /* replace this color with your accent color hex code */
}
:root {
  --main-bg-color: white;
}
.InputsExamenSuficiencia
  .mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > .mat-form-field-outline {
  .mat-form-field-outline-start {
    background-color: var(--main-bg-color);
  }
  .mat-form-field-outline-gap {
    background-color: var(--main-bg-color);
  }
  .mat-form-field-outline-end {
    background-color: var(--main-bg-color);
  }
}
.InputsExamenSuficiencia
.mat-form-field.mat-form-field-appearance-outline
> div.mat-form-field-wrapper
> div.mat-form-field-subscript-wrapper{
  height: auto;
      position: relative;
      margin: 0px;
      font-size: 10px;
      margin-top: 2px;
      padding-bottom: 1px;
}
.contenidoExamenCarreraModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
}
.imgExamenCarreraModal{
  width: 40px;
    height: 40px;
    background-image: url(../../../assets/icons/icono-check-circulo-verde.svg);
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.titleExamenCarreraModal{
  font-size: 16px;
  font-weight: 600;
}
.textoExamenCarreraModal{
  font-size: 16px;
  margin-bottom: 20px;
}
