.ButtonScroll{
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  .circ{
    display: flex;
    background: #ff8800;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
